/* Styles specific to admin pages/forms */

/* Config Task List */
#crm-container td.tasklist a {
  font-weight: bold;
}

#crm-container table.selector td.tasklist {
  border-right: 1px solid #dddddd;
  width: 20%;
}

#crm-container td.tasklist a:link {
  color: #ff0105;
}

#crm-container td.tasklist a:visited {
  color: green;
}

/* Class for successful upgrade */
.crm-container .upgrade-success {
  background-color: #00cc00;
  color: white;
}

/* Extension management */

.crm-container .extension-upgradable {
  background-color: #ffffcc !important;
}

.crm-container .extension-installed {
  background-color: #ddffdd !important;
}

.crm-container .extension-missing {
  color: #e43d2b !important;
}

#crm-container .crm-extensions-upgrade {
  background: #ffb;
  border: 1px solid #000;
  text-align: center;
}

.crm-container .crm-extensions-version {
  white-space: nowrap;
}
.crm-container .crm-extensions-stage {
  margin-left: 5px;
}

.crm-container .crm-extensions-stage.fa-flask,
.crm-container .crm-extensions-stage.fa-warning {
  color: #eba12d;
}

.crm-container .crm-extensions-stage.fa-check-circle,
.crm-container .crm-extensions-stage.fa-trophy {
  color: #00994d;
}

/* Navigation Menu Editor */
/* reduce the default hover/clicked background colors to tints for more downstream compatibility */
.crm-container .navigation-tree .jstree-hovered {
  background: #ffffff50;
}
.crm-container .navigation-tree .jstree-clicked {
  background: #beebff50;
}

@media screen and (min-width: 480px) {
  #crm-container .admin-section-items {
    column-count: 2;
    column-gap: 1em;
  }
  #crm-container .admin-section-items dl {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    margin: 0 1em;
  }
  #crm-container .admin-section-items dt {
    font-weight: bold;
  }
}
