/* Styles specific to admin pages/forms */

/* Config Task List */
#crm-container td.tasklist a {
  font-weight: bold;
}

#crm-container table.selector td.tasklist {
  border-right: 1px solid #DDDDDD;
  width: 20%;
}

#crm-container td.tasklist a:link {
  color: #FF0105;
}

#crm-container td.tasklist a:visited {
  color: green;
}

/* Class for successful upgrade */
.crm-container .upgrade-success {
  background-color: #00CC00;
  color: white;
}

/* Extension management */

.crm-container .extension-upgradable {
  background-color: #FFFFCC !important;
}

.crm-container .extension-installed {
  background-color: #DDFFDD !important;
}

.crm-container .extension-missing {
  color: #E43D2B !important;
}

#crm-container .crm-extensions-upgrade {
  background: #ffb;
  border: 1px solid #000;
  text-align: center;
}
