.crmMailing input[name=subject] {
  width: 30em;
}
.crmMailing select, .crmMailing input[type=text] {
  width: 40em;
}
.crmMailing textarea {
  margin: 0.5em;
  width: 95%;
  height: 20em;
}

.crmMailing-recip-est {
  background: #ee8;
  font-size: small;
  padding: 0.33em;
  margin: 0 0 0 0.5em;
  width: 9em;
  text-align: center;
}

span.crmMailing-include {
  color: #060;
}
span.crmMailing-exclude {
  color: #600;
  text-decoration: line-through;
}

.crmMailing input[name=preview_test_email], .crmMailing-preview select[name=preview_test_group] {
  width: 80%;
}

.crmMailing .preview-popup, .crmMailing .preview-contact, .crmMailing .preview-group {
  width: 30%;
  height: 4.5em;
  margin: 0.5em;
  text-align: center;
  vertical-align: middle;
  float: left;
}
.crmMailing .preview-popup, .crmMailing .preview-contact {
  border-right: 1px solid black;
}
.crmMailing .preview-group, .crmMailing .preview-contact {
}

.crmMailing .crmMailing-schedule-outer {
  width: 98%
}
.crmMailing .crmMailing-schedule-inner {
  width: 40em;
  text-align: left;
  margin: auto;
}

/* Odd: These placeholder directives break if combined */
input[name=preview_test_email]:-moz-placeholder {
  text-align: center;
}
input[name=preview_test_email]::-moz-placeholder {
  text-align: center;
}
input[name=preview_test_email]::-webkit-input-placeholder  {
  text-align: center;
}
input[name=preview_test_email]:-ms-input-placeholder {
  text-align: center;
}
.crmMailing-active {
}
.crmMailing-inactive {
  text-decoration: line-through;
}
a.crmMailing-submit-button div {
  color: black;
  background: #bfb;
  border: 1px solid #8a8;
  padding: 1em;
  margin: 1em;
  width: 15em;
}
a.crmMailing-submit-button div:hover {
  background: #afa;
  border: 1px solid #7a7;
}
a.crmMailing-submit-button:hover {
  text-decoration: none;
}
a.crmMailing-submit-button.disabled div {
  color: black;
  background: #aaa;
  border: 1px solid #8a8;
  padding: 1em;
  margin: 1em;
  width: 15em;
}
a.crmMailing-submit-button.disabled div:hover {
  background: #aaa;
  border: 1px solid #7a7;
}

.crm-container .crm-form-block label {
  font-size: 13px;
}

.crm-container .ui-widget-content {
  background: none;
}

