.crmMailing2 input[name=subject] {
  width: 30em;
}
.crmMailing2 select, .crmMailing2 input[type=text] {
  width: 40em;
}
.crmMailing2 textarea {
  margin: 0.5em;
  width: 95%;
  height: 20em;
}

.crmMailing2-recip-est {
  background: #ee8;
  font-size: small;
  padding: 0.33em;
  margin: 0 0 0 0.5em;
  width: 9em;
  text-align: center;
}

span.crmMailing2-include {
  color: #060;
}
span.crmMailing2-exclude {
  color: #600;
  text-decoration: line-through;
}

.crmMailing2 input[name=preview_test_email], .crmMailing2-preview select[name=preview_test_group] {
  width: 80%;
}

.crmMailing2 .preview-popup, .crmMailing2 .preview-contact, .crmMailing2 .preview-group {
  width: 30%;
  height: 4.5em;
  margin: 0.5em;
  text-align: center;
  vertical-align: middle;
  float: left;
}
.crmMailing2 .preview-popup, .crmMailing2 .preview-contact {
  border-right: 1px solid black;
}
.crmMailing2 .preview-group, .crmMailing2 .preview-contact {
}

/* Odd: These placeholder directives break if combined */
input[name=preview_test_email]:-moz-placeholder {
  text-align: center;
}
input[name=preview_test_email]::-moz-placeholder {
  text-align: center;
}
input[name=preview_test_email]::-webkit-input-placeholder  {
  text-align: center;
}
input[name=preview_test_email]:-ms-input-placeholder {
  text-align: center;
}
.crmMailing2-active {
}
.crmMailing2-inactive {
  text-decoration: line-through;
}
