/* Styles specific to Backdrop CMS */

/* Make status messages work with Backdrop styles */
.crm-container :not(.crm-footer) .messages.status {
  background-color: #e9eebc;
  padding: 0.9em 0.625em 1em 3.438em;
  border: none;
}

.crm-container :not(.crm-footer) .messages.status .crm-i {
  font-size: 1.5rem;
  color: #fff;
  background-color: #cfde56;
  position: absolute;
  padding: .4rem;
  left: 0;
  top: 0;
  box-sizing: border-box;
}

@media only screen and (min-width:34em) {
  .crm-container :not(.crm-footer) .messages.status {
    padding-left: 4.375em;
  }

  .crm-container :not(.crm-footer) .messages.status .crm-i {
    font-size: 1.75rem;
    padding: .5rem;
  }
}

/* Backdrop main navigation icon */
#admin-bar #admin-bar-menu > li > .dropdown > li > a.civicrm {
  background: transparent url(../i/logo_sm.png) 5% center no-repeat;
  background-size: 16px;
}

/* Fix title bar icons in crm-popups*/
.crm-container.ui-dialog .ui-dialog-titlebar-close .ui-icon.fa-print::before,
.crm-container.ui-dialog .ui-dialog-titlebar-close .ui-icon.fa-print::after,
.crm-container.ui-dialog .ui-dialog-titlebar-close .ui-icon.fa-compress::before,
.crm-container.ui-dialog .ui-dialog-titlebar-close .ui-icon.fa-compress::after,
.crm-container.ui-dialog .ui-dialog-titlebar-close .ui-icon.fa-expand::before,
.crm-container.ui-dialog .ui-dialog-titlebar-close .ui-icon.fa-expand::after {
  transform: none;
  background: none;
}

.crm-container.ui-dialog .ui-dialog-titlebar-close .ui-icon.fa-expand::before {
  content: "\f065";
}

.crm-container.ui-dialog .ui-dialog-titlebar-close .ui-icon.fa-print::before {
  content: "\f02f";
}

.crm-container.ui-dialog .ui-dialog-titlebar-close .ui-icon.fa-compress::before {
  content: "\f066";
}

/* Resets details/summary appearance for accordions */

.crm-container details {
  border: 0 solid transparent;
  background-color: inherit;
  padding: 0;
  margin: inherit;
}
.crm-container details summary span {
  color: inherit;
  font-size: inherit;
}
