#civicrm-dashboard > .crm-flex-box {
  min-height: 200px;
  column-gap: 10px;
}

#civicrm-dashboard > .crm-flex-box > .crm-flex-2 {
  min-width: 300px;
}
#civicrm-dashboard > .crm-flex-box > .crm-flex-3 {
  min-width: 450px;
}

.crm-container .crm-dashlet {
  margin-bottom: 10px;
  box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.2);
  border-radius: 3px;
}

.crm-container .crm-dashlet-content {
  background-color: #ffffff;
  padding: 0.5em;
  overflow-x: auto;
  min-height: 10em;
}

crm-dashlet[is-fullscreen=true] > .crm-dashlet-content {
  height: calc(100% - 1em);
}

.crm-container .ui-sortable-helper.crm-dashlet {
  box-shadow: 1px 1px 8px 3px rgba(0,0,0,0.5);
}

.crm-container .crm-dashlet-header {
  background-color: #5d677b;
  display: block;
  padding: 5px 0;
}

.crm-container .crm-dashlet-header h3 {
  background: transparent;
  cursor: move;
  margin: 0 50px 0 0;
  padding: 0;
  color: #fcfcfc;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.crm-container .crm-dashlet-header a {
  font-size: 14px;
  padding: 0 6px;
  float: right;
  cursor: pointer;
  color: #fcfcfc;
  opacity: .7;
}
.crm-container .crm-dashlet-header a.crm-dashlet-collapse {
  float: left;
}

.crm-container .crm-dashlet-header:hover .crm-i {
  opacity: 1;
}

fieldset.crm-inactive-dashlet-fieldset {
  border: 0 none;
}

fieldset.crm-inactive-dashlet-fieldset > div {
  background-color: lightgray;
  padding: 8px;
}

fieldset.crm-inactive-dashlet-fieldset legend {
  background-color: #eee;
  display: block;
  top: 4px;
}

.crm-container .crm-inactive-dashlet {
  display: inline-block;
  width: 230px;
  height: 70px;
  margin: 10px;
  box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.2);
  background-color: #eee;
}
.crm-container .crm-inactive-dashlet .crm-dashlet-header h3 {
  font-size: 100%;
  padding-left: 5px;
}

#civicrm-dashboard .ui-sortable-placeholder {
  border: 2px dashed grey;
  visibility: visible !important;
  width: 226px;
  height: 66px !important;
  vertical-align: bottom;
}

#civicrm-dashboard .ui-sortable-placeholder * {
  visibility: hidden;
}
