@media (min-width: $breakMin) {

  body.crm-menubar-over-cms-menu.crm-menubar-visible {
    padding-top: $menubarHeight;
  }

  body.crm-menubar-over-cms-menu.crm-menubar-visible.crm-menubar-wrapped {
    padding-top: calc($menubarHeight * 2);
  }

  body.crm-menubar-below-cms-menu.crm-menubar-visible {
    margin-top: $menubarHeight;
  }

  body.crm-menubar-below-cms-menu.crm-menubar-visible.crm-menubar-wrapped {
    margin-top: calc($menubarHeight * 2);
  }
}

@media (max-width: $breakMax) {

  body #civicrm-menu-nav {
    position: absolute;
  }

  body #civicrm-menu-nav .crm-menubar-toggle-btn {
    margin-top: 3px;
    margin-left: 6px;
  }
}

/* Joomla 4 */

body.admin.com_civicrm.layout-default #crm-qsearch label {
  color: #fff;
}

@media (min-width: $breakMin) {

  body.crm-menubar-below-cms-menu.crm-menubar-visible.layout-default {
    margin-top: 0;
  }

  body.crm-menubar-below-cms-menu.layout-default > #civicrm-menu-nav #civicrm-menu {
    top: calc($menubarHeight + 26px);
    z-index: 10000;
    position: absolute;
    border-top: 1px solid #aaa;
  }

  body.crm-menubar-below-cms-menu.layout-default #header {
    margin-bottom: calc($menubarHeight + 1px);
  }

  body.crm-menubar-below-cms-menu.crm-menubar-wrapped.layout-default #header {
    margin-bottom: 81px;
  }
}

@media (max-width: $breakMin) {

  body.admin.com_civicrm.layout-default #civicrm-menu-nav {
    background: #1b1b1b;
    height: $menubarHeight;
    border-top: 1px solid #aaa;
  }

  body.admin.com_civicrm.layout-default .breadcrumb {
    margin-top: 2.5rem;
  }
}
