#toolbar-tray-civicrm {
  display: none;
}

body.crm-menubar-visible.crm-menubar-over-cms-menu,
body.crm-menubar-visible.crm-menubar-below-cms-menu {
  margin-left: 0 !important;
}

nav#civicrm-menu-nav .crm-menubar-toggle-btn {
  margin: 0;
  height: 38px;
}
nav#civicrm-menu-nav .crm-menubar-toggle-btn span.crm-menu-logo {
  top: 10px;
}

@media (min-width: $breakMin) {

  body.crm-menubar-visible.crm-menubar-over-cms-menu #toolbar-administration {
    display: none;
  }

  body.crm-menubar-visible.crm-menubar-over-cms-menu {
    padding-top: var(--crm-menubar-height) !important;
  }
  body.crm-menubar-visible.crm-menubar-over-cms-menu.crm-menubar-wrapped {
    padding-top: calc(var(--crm-menubar-height) * 2) !important;
  }
  /* The Drupal menu is 40px tall so we add that to our menubar height */
  body.crm-menubar-visible.crm-menubar-below-cms-menu {
    padding-top: calc(var(--crm-menubar-height) + 40px) !important;
  }
  body.crm-menubar-visible.crm-menubar-below-cms-menu.crm-menubar-wrapped {
    padding-top: calc(var(--crm-menubar-height) * 2 + 40px) !important;
  }

  body.crm-menubar-below-cms-menu > #civicrm-menu-nav ul#civicrm-menu {
    z-index: 1000;
    top: 40px;
  }

}

@media (max-width: 609px) {
  nav#civicrm-menu-nav {
    position: absolute;
  }
}
