/* Styles specific to search forms and search results */

.crm-container div#searchForm {
  height: auto;
  width: 100%;
}

.crm-container div#searchForm table.form-layout {
  border-spacing: 0;
}

.crm-container div#searchForm table.form-layout td {
  padding: 4px;
  border: 1px solid #DDDDDD;
}

/* top submit button on advanced search */
.adv-search-top-submit span.crm-button {
  float: right !important;
}

/* alpha filter styles */
#crm-container #alpha-filter ul {
  border-collapse: collapse;
  padding: 0;
  list-style-type: none;
  margin: 3px;
  height: auto;
  width: auto;
}

.crm-container div#alpha-filter {
  background-color: #CDE8FE;
  margin: 4px 0 5px;
  padding: 2px;
  text-align: left;
}

.crm-container #alpha-filter li {
  background-color: transparent;
  background-image: none;
  border: none;
  color: #AAAAAA;
  display: inline;
  font-size: 15px;
  font-weight: normal;
  height: auto;
  margin: 0 1px;
  padding: 2px 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.crm-container #alpha-filter a {
  border-bottom: 1px dotted #2A71B4;
  color: #2A71B4;
  font-weight: normal;
}
