body {
    font-family:Verdana,sans-serif;
    font-size: .95em;
}

#crm-container td#sidebar-left {
  background-color: #F6F6F6;
  border-right: 1px solid #aaa;
  width: 200px;
}

#crm-container td#main-content {
  padding-left: 10px;
}

#crm-container table#content {
  border: 1px solid #aaa;
  margin-top: 25px;
}

#crm-container ul.indented {
  padding:0 0 0.25em 1em;
}

#main-content {
  min-width: 900px;
}

h2 {
  font-size:160%;
  line-height:130%;
}

h1, h2, h3, h4, h5, h6 {
  font-family:Helvetica,Arial,sans-serif;
  font-weight:normal;
}

img, a img {
  border:medium none;
}

#crm-container div#recently-viewed {
  background-color: #F6F6F6;
  border:1px solid #aaa;
}

.crm_blocktitle {
  font-size:75%;
}

div.cmDiv {
  opacity: .9;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90); /* For IE8 and earlier */
  shadow
}

.clickMenu {
  font-family: Arial, Helvetica, Tahoma, sans-serif;
}
