<div class="btn-group" ng-if=":: row.display_name.raw">
  <button type="button" ng-click="$ctrl.loadAfforms(); row.openAfformMenu = true;" class="btn btn-xs dropdown-toggle btn-primary-outline" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ $ctrl.afforms ? (row.afform_count === 1 ? ts('1 Form') : ts('%1 Forms', {1: row.afform_count})) : ts('Forms...') }}
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" ng-if=":: row.openAfformMenu">
    <li ng-repeat="display_name in row.display_name.raw" ng-if="::$ctrl.afformAdminEnabled">
      <a target="_blank" href="{{:: $ctrl.afformPath + '#/create/search/' + row.name.raw + '.' + display_name }}">
        <i class="fa fa-plus"></i> {{:: ts('Create form for %1', {1: row.display_label.raw[$index]}) }}
      </a>
    </li>
    <li class="divider" role="separator" ng-if="::$ctrl.afformAdminEnabled"></li>
    <li ng-if="!row.afform_count" class="disabled">
      <a href>
        <i ng-if="!$ctrl.afforms" class="crm-i fa-spinner fa-spin"></i>
        <em ng-if="$ctrl.afforms && !$ctrl.afforms[row.name.raw]">{{:: ts('None Found') }}</em>
      </a>
    </li>
    <li ng-if="$ctrl.afforms" ng-repeat="afform in $ctrl.afforms[row.name.raw]" title="{{:: $ctrl.afformAdminEnabled ? ts('Edit form') : '' }}">
      <a target="_blank" ng-href="{{:: afform.link }}">
        <i class="crm-i {{:: $ctrl.afformAdminEnabled ? 'fa-pencil-square-o' : 'fa-list-alt' }}"></i>
        {{:: afform.title }}
      </a>
    </li>
  </ul>
</div>
