<div id="bootstrap-theme" class="crm-search">
  <h1 crm-page-title>{{:: ts('Saved Searches') }}</h1>

  <!-- Tabs based on the has_base filter -->
  <ul class="nav nav-tabs">
    <li ng-repeat="tab in $ctrl.tabs" role="presentation" ng-class="{active: $ctrl.tab === tab.name}">
      <a href ng-click="$ctrl.tab = tab.name"><i class="crm-i {{:: tab.icon }}"></i>
        {{:: tab.title }}
        <span class="badge">{{ tab.rowCount }}</span>
      </a>
    </li>
  </ul>

  <div ng-repeat="tab in $ctrl.tabs" ng-show="$ctrl.tab === tab.name">
    <div class="form-inline">
      <input class="form-control" type="search" ng-model="tab.filters.label" placeholder="{{:: ts('Filter by label...') }}">
      <input class="form-control" type="search" ng-if="tab.name === 'custom'" ng-model="tab.filters['created_id.display_name,modified_id.display_name']" placeholder="{{:: ts('Filter by author...') }}">
      <span ng-if="tab.name === 'packaged'">
        <input class="form-control" ng-model="tab.filters.base_module" ng-list crm-ui-select="{multiple: true, data: $ctrl.modules, placeholder: ts('Filter by package...')}">
      </span>
      <input class="form-control collapsible-optgroups" ng-model="tab.filters.api_entity" ng-list crm-ui-select="{multiple: true, data: $ctrl.entitySelect, placeholder: ts('Filter by entity...')}">
      <span ng-if="$ctrl.getTags().results.length">
        <input class="form-control" ng-model="tab.filters.tags" ng-list crm-ui-select="{multiple: true, data: $ctrl.getTags, placeholder: ts('Filter by tags...')}">
      </span>
      <a class="btn btn-primary pull-right" ng-if="tab.name === 'custom'" href="#/create/Contact/">
        <i class="crm-i fa-plus"></i>
        {{:: ts('New Search') }}
      </a>
    </div>
    <crm-search-admin-search-listing filters="tab.filters" tab-count="tab.rowCount"></crm-search-admin-search-listing>
  </div>
</div>
