<div id="bootstrap-theme" class="crm-search">
  <h1 crm-page-title>{{:: ts('Saved Searches') }}</h1>

  <!-- Tabs based on the has_base filter -->
  <ul class="nav nav-tabs">
    <li role="presentation" ng-class="{active: !$ctrl.filters.has_base}">
      <a href ng-click="$ctrl.setHasBaseFilter(false)"><i class="crm-i fa-search-plus"></i>
        {{:: ts('Custom Searches') }}
        <span class="badge">{{ $ctrl.totals.no_base }}</span>
      </a>
    </li>
    <li role="presentation" ng-class="{active: $ctrl.filters.has_base}">
      <a href ng-click="$ctrl.setHasBaseFilter(true)"><i class="crm-i fa-gift"></i>
        {{:: ts('Packaged Searches') }}
        <span class="badge">{{ $ctrl.totals.has_base }}</span>
      </a>
    </li>
  </ul>

  <!-- Other filters -->
  <div class="form-inline">
    <input class="form-control" type="search" ng-model="$ctrl.filters.label" placeholder="{{:: ts('Filter by label...') }}">
    <input class="form-control" type="search" ng-show="!$ctrl.filters.has_base" ng-model="$ctrl.filters['created_id.display_name,modified_id.display_name']" placeholder="{{:: ts('Filter by author...') }}">
    <span ng-if="$ctrl.filters.has_base">
      <input class="form-control" ng-model="$ctrl.filters.base_module" ng-list crm-ui-select="{multiple: true, data: $ctrl.modules, placeholder: ts('Filter by package...')}">
    </span>
    <input class="form-control collapsible-optgroups" ng-model="$ctrl.filters.api_entity" ng-list crm-ui-select="{multiple: true, data: $ctrl.entitySelect, placeholder: ts('Filter by entity...')}">
    <span ng-if="$ctrl.getTags().results.length">
      <input class="form-control" ng-model="$ctrl.filters.tags" ng-list crm-ui-select="{multiple: true, data: $ctrl.getTags, placeholder: ts('Filter by tags...')}">
    </span>
    <a class="btn btn-primary pull-right" href="#/create/Contact/">
      <i class="crm-i fa-plus"></i>
      {{:: ts('New Search') }}
    </a>
  </div>
  <div ng-include="'~/crmSearchDisplayTable/crmSearchDisplayTable.html'"></div>
</div>
