<div crm-ui-accordion crm-title="ts('Debug')" crm-collapsed="true">
  <pre>{{mailing|json}}</pre>
</div>

<div ng-show="isSubmitted()">
  {{ts('This mailing has been submitted.')}}
</div>

<form name="crmMailing" novalidate ng-hide="isSubmitted()" crm-autosave="save()" crm-autosave-model="mailing" crm-autosave-if="true">
  <div class="crm-block crm-form-block crmMailing">

    <div crm-mailing-block-summary crm-mailing="mailing"/>
    <div crm-mailing-block-mailing crm-mailing="mailing"/>

    <div crm-ui-accordion crm-title="ts('HTML')">
      <div crm-mailing-body-html crm-mailing="mailing"/>
    </div>
    <div crm-ui-accordion crm-title="ts('Plain Text')" crm-collapsed='true'>
      <div crm-mailing-body-text crm-mailing="mailing"/>
    </div>
    <span ng-model="placeholder" crm-ui-validate="mailing.body_html || mailing.body_text"></span>
    <div crm-ui-accordion id="tab-header" crm-title="ts('Header and Footer')" crm-collapsed='true'>
      <div crm-mailing-block-header-footer crm-mailing="mailing"/>
    </div>
    <div crm-ui-accordion id="tab-attachment" crm-title="ts('Attachments')" crm-collapsed='true'>
      <div crm-attachments="attachments"/>
    </div>
    <div crm-ui-accordion id="tab-pub" crm-title="ts('Publication')" crm-collapsed='true'>
      <div crm-mailing-block-publication crm-mailing="mailing"/>
    </div>
    <div crm-ui-accordion id="tab-response" crm-title="ts('Responses')" crm-collapsed='true'>
      <div crm-mailing-block-responses crm-mailing="mailing"/>
    </div>
    <div crm-ui-accordion id="tab-tracking" crm-title="ts('Tracking')" crm-collapsed='true'>
      <div crm-mailing-block-tracking crm-mailing="mailing"/>
    </div>
    <div crm-ui-accordion crm-title="ts('Preview')">
      <div crm-mailing-block-preview crm-mailing="mailing" on-preview="previewMailing(mailing, preview.mode)" on-send="sendTest(mailing, attachments, preview.recipient)" />
    </div>
    <div crm-ui-accordion id="tab-schedule" crm-title="ts('Schedule')">
      <div crm-mailing-block-schedule crm-mailing="mailing"/>
    </div>

    <button ng-disabled="block.check()" ng-click="submit()">{{ts('Submit Mailing')}}</button>
    <button ng-disabled="block.check()" ng-click="save()">{{ts('Save Draft')}}</button>
    <button ng-disabled="block.check()" crm-confirm="{title:ts('Delete Draft?'), message:ts('Are you sure you want to delete the draft mailing?')}" on-yes="delete()">{{ts('Delete Draft')}}</button>
  </div>
</form>
