<!--
Controller: MailCtrl
Required vars: groupNamesList 
MailingGroup api needs to be improved to bind the chosen groups
-->

<br>
<select chsgroup multiple ng-model="incGroup">
	<option ng-repeat="grp in groupNamesList| filter: isGrp" value="{{grp.id}} civicrm_group include" > {{grp.title}} </option>
	<option ng-repeat="grp in groupNamesList| filter: isGrp" value="{{grp.id}} civicrm_group exclude" > {{grp.title}} </option>
	<option ng-repeat="ml in mailList| filter:isCompMail" value="{{ml.id}} civicrm_mailing include" > {{ml.name}} </option>
	<option ng-repeat="ml in mailList| filter:isCompMail" value="{{ml.id}} civicrm_mailing exclude" > {{ml.name}} </option>
</select>
<br> <br>


<!--<a class="crm-add-entity crm-hover-button" href="/siddhant/drupal-7.27/civicrm/profile/create?reset=1&context=dialog&gid=4">
<span class="icon Individual-profile-icon"></span>
New Individual
</a>-->
