<div class="crm-block" ng-form="subform" crm-ui-id-scope>
  <div class="crm-group">
    <div crm-ui-field="subform.visibility" crm-title="ts('Mailing Visibility')">
      <select
        crm-ui-id="subform.visibility"
        name="visibility"
        ui-jq="select2"
        ui-options="{dropdownAutoWidth : true}"
        ng-model="mailing.visibility"
        ng-options="v.value as v.label for v in crmMailingConst.visibility"
        required
        >
      </select>
    </div>
  </div>
</div>
