<!--
Controller: EditMailingCtrl
Required vars: mailing
-->
<div>
  <div class="crm-block" ng-form="reviewForm" crm-ui-id-scope>
    <div class="crm-group">
      <div crm-ui-field crm-title="ts('Mailing Name')">
        {{mailing.name}}
      </div>
      <div crm-ui-field crm-title="ts('Recipients')">
        <div ng-controller="EditRecipCtrl">
          <div><a class="crm-hover-button action-item" ng-click="previewRecipients()">{{getRecipientsEstimate()}} <span class="icon ui-icon-newwin"></span></a></div>
          <div ng-show="getIncludesAsString()">
            (<strong>{{ts('Include:')}}</strong> {{getIncludesAsString()}})
          </div>
          <div ng-show="getExcludesAsString()">
            (<strong>{{ts('Exclude:')}}</strong> <s>{{getExcludesAsString()}}</s>)
          </div>
        </div>
      </div>
      <div crm-ui-field crm-title="ts('Content')">
        <div ng-controller="PreviewMailingCtrl">
          <span ng-show="mailing.body_html"><a class="crm-hover-button action-item" ng-click="previewHtml()">{{ts('HTML')}} <span class="icon ui-icon-newwin"></span></a></span>
          <span ng-show="mailing.body_text"><a class="crm-hover-button action-item" ng-click="previewText()">{{ts('Plain Text')}} <span class="icon ui-icon-newwin"></span></a></span>
          <!-- TODO: attachments -->
        </div>
      </div>
      <div crm-ui-field crm-title="ts('Attachments')" ng-show="attachments.files.length > 0 || attachments.uploader.queue.length > 0">
        <div ng-repeat="file in attachments.files">
          <a ng-href="{{file.url}}" target="_blank">{{file.name}}</a>
        </div>
        <div ng-repeat="item in attachments.uploader.queue">
          {{item.file.name}}
        </div>
      </div>
      <div crm-ui-field crm-title="ts('Tracking')">
        <span crm-mailing-review-bool crm-on="mailing.url_tracking=='1'" crm-title="ts('Click Throughs')"></span>
        <span crm-mailing-review-bool crm-on="mailing.open_tracking=='1'" crm-title="ts('Opens')"></span>
      </div>
      <div crm-ui-field crm-title="ts('Responding')">
        <div>
          <span crm-mailing-review-bool crm-on="mailing.override_verp=='0'" crm-title="ts('Track Replies')"></span>
          <span crm-mailing-review-bool crm-on="mailing.override_verp=='0' && mailing.forward_replies=='1'" crm-title="ts('Forward Replies')"></span>
        </div>
        <div ng-controller="PreviewComponentCtrl">
          <span ng-show="mailing.override_verp == '0' && mailing.auto_responder"><a class="crm-hover-button action-item" ng-click="previewComponent(ts('Auto-Respond'), mailing.reply_id)">{{ts('Auto-Respond')}} <span class="icon ui-icon-newwin"></span></a></span>
          <span><a class="crm-hover-button action-item" ng-click="previewComponent(ts('Opt-out'), mailing.optout_id)">{{ts('Opt-out')}} <span class="icon ui-icon-newwin"></span></a></span>
          <span><a class="crm-hover-button action-item" ng-click="previewComponent(ts('Resubscribe'), mailing.resubscribe_id)">{{ts('Resubscribe')}} <span class="icon ui-icon-newwin"></span></a></span>
          <span><a class="crm-hover-button action-item" ng-click="previewComponent(ts('Unsubscribe'), mailing.unsubscribe_id)">{{ts('Unsubscribe')}} <span class="icon ui-icon-newwin"></span></a></span>
        </div>
      </div>
      <div crm-ui-field crm-title="ts('Publication')">
        {{mailing.visibility}}
      </div>
    </div>
  </div>
</div>
