<?xml version="1.0" encoding="UTF-8"?>
<Settings>
  <!--
  DEPRECATED

  The settings in this document should be migrated to the conventional settings framework, which allows
  a greater variety of configuration-management practices (e.g. web-based config, API access, file overrides).
  -->

  <!-- List the group whose members should appear as contacts on all Manage Case screens.
     Only one group name is supported for now.
     It needs to match the name column in the civicrm_group table (not the title), so avoid using space characters. -->
  <group name="Case_Resources" />

  <!-- Set this to 1 if you want case activity emails to be redacted -->
  <!-- SEE ALSO: Setting "civicaseRedactActivityEmail" -->
  <RedactActivityEmail>0</RedactActivityEmail>

  <!-- Set this to 1 if you want to allow multiple clients to be associated with a single case -->
  <!-- SEE ALSO: Setting "civicaseAllowMultipleClients" -->
  <AllowMultipleCaseClients>0</AllowMultipleCaseClients>

  <!-- Set this to 1 if you want to have activity types on Manage Case
  screen sorted in XML file order, default is alphabetical -->
  <!-- SEE ALSO: Setting "civicaseNaturalActivityTypeSort" -->
  <NaturalActivityTypeSort>0</NaturalActivityTypeSort>

  <!-- Add activity types which should NOT be editable here with editable = 0 -->
  <ActivityTypes>
    <ActivityType>
          <name>Change Case Status</name>
       <editable>0</editable>
        </ActivityType>
    <ActivityType>
          <name>Change Case Start Date</name>
       <editable>0</editable>
        </ActivityType>
  </ActivityTypes>
</Settings>
