<div class="crm-block" ng-form="setupForm" crm-ui-id-scope>
  <div class="crm-group">
    <div id="help" ng-if="fields.help">
      {{ts('A/B testing allows you to send two test mailings to a random subset of your recipients. After collecting and
      comparing metrics, the more successful mailing will be sent to the remaining recipients.')}}
    </div>
    <div crm-ui-field="setupForm.abName" crm-title="ts('Name')" ng-if="fields.abName">
      <input
        crm-ui-id="setupForm.abName"
        name="abName"
        ng-model="abtest.ab.name"
        class="crm-form-text"
        placeholder="A/B Test Name"
        required/>
    </div>
    <div crm-ui-field="setupForm.campaign" crm-title="ts('Campaign')" ng-show="crmMailingConst.campNames.length > 0"
         ng-if="fields.campaign">
      <select
        crm-ui-id="setupForm.campaign"
        name="campaign"
        ui-jq="select2"
        ui-options="{dropdownAutoWidth : true, allowClear: true, placeholder: ts('Select Campaign')}"
        ng-model="mailing.campaign_id"
        ng-options="campaign.id as campaign.name for campaign in crmMailingConst.campNames|orderBy:'name'"
        >
        <option value=""></option>
      </select>
    </div>
    <div crm-ui-field crm-title="ts('Test Type')" ng-if="fields.testing_criteria">
      <div ng-repeat="criteria in crmMailingABCriteria.getAll()">
        <label>
          <input name="testing_critiria" ng-model="abtest.ab.testing_criteria_id" type="radio"
                 value="{{criteria.value}}" required/>
          {{criteria.label}}
        </label>
      </div>
    </div>
    <div crm-ui-field="setupForm.recipients" crm-title="ts('Recipients')" ng-if="fields.recipients">
      <div ng-controller="EditRecipCtrl">
        <div style="float: right;">
          <div class='crmMailing2-recip-est'>
            <a href="" ng-click="previewRecipients()">{{getRecipientsEstimate()}}</a>
          </div>
          <div>
            <input
              name='dedupe_email'
              type='checkbox'
              ng-model='abtest.mailings.a.dedupe_email'
              ng-true-value="1"
              ng-false-value="0"
              id="recipients-dedupe-email"/>
            <label for="recipients-dedupe-email">
              {{ts('Dedupe')}}
            </label>
          </div>
        </div>
        <select
          crm-mailing-recipients
          crm-mailing="abtest.mailings.a"
          crm-avail-groups="crmMailingConst.groupNames | filter:{visibility:'Public pages'}"
          crm-avail-mailings="crmMailingConst.civiMails | filter:{is_completed:1}"
          name="recipients"
          crm-ui-id="setupForm.recipients"
          required
          multiple>
        </select>
      </div>
    </div>
    <div crm-ui-field crm-title="ts('Distribution')" ng-if="fields.group_percentage">
      <div crm-mailing-ab-slider ng-model="abtest.ab.group_percentage"></div>
    </div>

  </div>
</div>
