<ul class="crm-checkbox-list" ng-if="$ctrl.getDefn().data_type !== 'Boolean'" title="{{:: ts('Set default value') }}">
  <li ng-repeat="opt in $ctrl.getOptions()" >
    <input type="checkbox" ng-checked="defaultValueContains(opt.id)" ng-click="toggleDefaultValueItem(opt.id)" >
    <label>{{ opt.label }}</label>
  </li>
</ul>
<div class="form-inline" ng-if="$ctrl.getDefn().data_type === 'Boolean'">
  <input type="checkbox" ng-checked="defaultValueContains(true)" ng-click="toggleDefaultValueItem(true) ">
  <label class="af-gui-node-title" ng-if="$ctrl.node.defn.label != false">{{:: $ctrl.getDefn().label }}
  <span class="crm-marker" title="{{:: ts('Required') }}" ng-if="getProp('required')">*</span>
  </label>
</div>
