<div class="form-inline" ng-class="getProp('input_style')">
  <div class="form-group" ng-repeat="i in $ctrl.getRangeElements('Select')">
    <span class="af-field-range-sep" ng-if="i">-</span>
    <div class="input-group">
      <input autocomplete="off" class="form-control" placeholder="{{:: ts('Select') }}" title="{{:: ts('Click to add placeholder text') }}" ng-model="getSet('input_attrs.placeholder' + i)" ng-model-options="$ctrl.editor.debounceWithGetterSetter" type="text" />
      <div class="input-group-btn" af-gui-menu>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="crm-i fa-caret-down" role="img" aria-hidden="true"></i></button>
        <ul class="dropdown-menu" ng-if="menu.open" title="{{:: ts('Set default value') }}">
          <li class="disabled">
            <a><strong>{{:: ts('Default Value:') }}</strong></a>
          </li>
          <li ng-repeat="opt in $ctrl.getOptions()" >
            <a href ng-click="toggleDefaultValueItem(opt.id); $event.stopPropagation(); $event.target.blur();">
              <i class="crm-i fa-{{defaultValueContains(opt.id) ? 'check-' : ''}}circle-o" role="img" aria-hidden="true"></i>
              {{ opt.label }}
            </a>
          </li>
          <li ng-if="$ctrl.isDateSelect()" class="af-gui-field-dynamic-date-default">
            <form class="form-inline" ng-click="$event.stopPropagation()" title="{{:: ts('Any number of days, weeks, months or years ending today') }}">
              <a href ng-click="$ctrl.toggleDynamicDateDefault(); $event.stopPropagation(); $event.target.blur();">
                <i class="crm-i fa-{{ $ctrl.defaultDateType() === 'ending' ? 'check-' : '' }}circle-o" role="img" aria-hidden="true"></i>
                {{:: ts('Last') }}
              </a>
              <input class="form-control input-sm" type="number" min="1" step="1" size="3" ng-model="$ctrl.defaultEndingNumber" ng-model-options="{getterSetter: true}">
              <select class="form-control input-sm" ng-model="$ctrl.defaultEndingUnit" ng-model-options="{getterSetter: true}">
                <option value="day">{{ $ctrl.defaultEndingNumber() !== 1 ? ts('Days') : ts('Day') }}</option>
                <option value="week">{{ $ctrl.defaultEndingNumber() !== 1 ? ts('Weeks') : ts('Week') }}</option>
                <option value="month">{{ $ctrl.defaultEndingNumber() !== 1 ? ts('Months') : ts('Month') }}</option>
                <option value="quarter">{{ $ctrl.defaultEndingNumber() !== 1 ? ts('Quarters') : ts('Quarter') }}</option>
                <option value="year">{{ $ctrl.defaultEndingNumber() !== 1 ? ts('Years') : ts('Year') }}</option>
              </select>
              <span>{{:: ts('including today') }}</span>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div ng-if="getProp('search_range') && $ctrl.getDefn().input_type === 'Date'" class="form-group" ng-include="'~/afGuiEditor/inputType/Date.html'"></div>
</div>
