<div class="af-gui-field-select-in-dropdown form-inline" ng-click="$event.stopPropagation()">
  <select class="form-control" ng-model="getSetBorderStyle" ng-model-options="{getterSetter: true}">
    <option value="">{{:: ts('No border') }}</option>
    <option value="solid">{{:: ts('Solid') }}</option>
    <option value="dotted">{{:: ts('Dotted') }}</option>
    <option value="dashed">{{:: ts('Dashed') }}</option>
    <option value="double">{{:: ts('Double') }}</option>
    <option value="groove">{{:: ts('Groove') }}</option>
    <option value="ridge">{{:: ts('Ridge') }}</option>
    <option value="inset">{{:: ts('Inset') }}</option>
    <option value="outset">{{:: ts('Outset') }}</option>
  </select>
  <select class="form-control" ng-if="getSetBorderStyle()" ng-model="getSetBorderWidth" ng-model-options="{getterSetter: true}">
    <option ng-repeat="num in ['1px', '2px', '3px', '4px', '5px', '6px', '7px', '8px', '9px']" value="{{ num }}">{{ num }}</option>
  </select>
  <input type="color" class="form-control" ng-if="getSetBorderStyle()" ng-model="getSetBorderColor" ng-model-options="{getterSetter: true}"/>
</div>
