<div ng-repeat-start="(rowIndex, row) in $ctrl.results" ng-if="row.groupHeader !== undefined" ng-include="'~/crmSearchDisplayGrid/crmSearchDisplayGridHeader.html'" class="crm-search-display-grid-header-item"></div>
<div ng-repeat-end data-entity-id="{{:: row.key }}" class="crm-search-display-griditem {{ row.cssClass }}">
  <div ng-repeat="(colIndex, colData) in row.columns" title="{{:: colData.title }}" class="{{:: $ctrl.getFieldClass(colIndex, colData) }}">
    <label ng-if=":: colData.label">
      {{:: colData.label }}
    </label>
    <span ng-include=":: $ctrl.getFieldTemplate(colIndex, colData)"></span>
  </div>
</div>
