/* Style rules for Form Builder Admin
   Forked on 29 July 24. Called on Form Builder front-end
   Status: not currently loading */

.af-api4-action-running {
    cursor: not-allowed;
    color: var(--crm-c-darkest);
}
a.af-api4-action-idle {
    cursor: pointer;
} 
.af-container.af-layout-cols {
    display: flex;
    flex-wrap: wrap;
    gap: var(--crm-m);
}
.af-container.af-layout-cols > * {
    flex: 1;
}
.af-container.af-layout-inline > * {
    display: inline-block;
    vertical-align: top;
}
.af-container.af-layout-cols > .af-title {
    flex: 0 0 100%;
  }
.af-container.af-layout-inline > .af-title {
    display: block;
    width: 100%;
} 
.afform-directive,
af-form {
    display: block;
    position: relative;
}
#bootstrap-theme .input-group .crm-af-field {
    display: inline-block;
}  
#bootstrap-theme .input-group .afform-search-operator {
    width: 6rem;
}  
[af-repeat-item] {
    position: relative;
}
#bootstrap-theme [af-repeat-item] .af-repeat-remove-btn {
    min-width: 30px;
    position: absolute;
    top: 0;
    right: 0;
}
  
/* Card style */
.af-container-style-pane {
    background-color: var(--crm-form-block-background);
    border-radius: var(--crm-form-block-border-radius);
    box-shadow: var(--crm-form-block-box-shadow);
    position: relative;
    padding: var(--crm-form-block-padding);
    padding-top: 50px !important;
}
.af-container-style-pane > .af-title {
    background-color: var(--crm-c-background5);
    color: var(--crm-c-light-text);
    border-radius: var(--crm-form-block-border-radius) var(--crm-form-block-border-radius) 0 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: var(--crm-m) var(--crm-r);
}

/* Admin edit links */
.afform-directive .af-admin-edit-form-link {
    position: absolute !important;
    right: 0;
    top: 0;
    opacity: .5;
}
.afform-directive .af-admin-edit-form-link.open,
.afform-directive:hover .af-admin-edit-form-link {
    opacity: 1;
}
