:root {
  --crm-c-dkblue-01: #050b0d;
  --crm-c-dkblue-02: #0c191e;
  --crm-c-dkblue-03: #1a292f;
  --crm-c-dkblue-04: #1e323b;
  --crm-c-dkblue-08: #2ea4ff;
  --crm-c-background: var(--crm-c-dkblue-02);
  --crm-dash-tabs-bg: var(--crm-c-dkblue-03);
  --crm-dash-tab-count-bg: var(--crm-c-blue-darker);
  --crm-c-page-background: var(--crm-c-dkblue-01);
  --crm-c-code-background: var(--crm-c-dkblue-04);
  --crm-dashlet-bg: var(--crm-c-dkblue-02);
  --crm-c-green: #335417;
  --crm-c-link: var(--crm-c-dkblue-08);
  --crm-c-link-hover: color-mix(in srgb, white, var(--crm-c-dkblue-08) 70%);
  --crm-dash-header-col: var(--crm-c-blue-light);
  --crm-dash-tab-bg-hover: var(--crm-c-dkblue-02);
  --crm-dash-panel-bg: var(--crm-c-dkblue-02);
  --crm-dash-block-bg: var(--crm-c-dkblue-03);
  --crm-dash-summary-row-bg: transparent;
  --crm-dash-label-bg: transparent;
  --crm-c-text: var(--crm-c-blue-overlay2);
  --crm-tabs-bg: var(--crm-dkblue-01);
  --crm-tabs-border: var(--crm-dkblue-01);
  --crm-c-drag-background: var(--crm-c-dkblue-04);
  --crm-tab-bg-active: var(--crm-c-dkblue-02);
  --crm-tab-bg-hover: var(--crm-c-dkblue-02);
  --crm-tab-bg: transparent;
  --crm-alert-background-help: var(--crm-c-dkblue-03);
  --crm-alert-background-warning: #383124;
  --crm-input-background: var(--crm-c-blue-darker);
  --crm-inline-edit-bg: var(--crm-c-dkblue-01);
  --crm-input-color: var(--crm-c-blue); /* text */
  --crm-alert-background-info: var(--crm-c-blue-darker);
  --crm-alert-text-info: var(--crm-c-blue-light);
  --crm-expand-body-bg: var(--crm-c-dkblue-03);
  --crm-expand-header-color: var(--crm-c-blue-light);
  --crm-expand-header-bg: var(--crm-c-dkblue-03);
  --crm-c-divider: var(--crm-c-dkblue-03);
  --crm-table-odd-row: var(--crm-c-dkblue-02);
  --crm-table-even-row: var(--crm-c-dkblue-01);
  --crm-table-odd-hover: var(--crm-c-dkblue-03);
  --crm-table-even-hover: var(--crm-c-dkblue-02);
  --crm-c-background2: var(--crm-c-dkblue-02);
  --crm-c-background3: var(--crm-c-dkblue-02);
  --crm-c-background4: var(--crm-c-dkblue-01);
  --crm-panel-background: var(--crm-c-dkblue-02);
  --crm-form-block-background: var(--crm-c-dkblue-02);
  --crm-notify-background: var(--crm-c-dkblue-02);
  --crm-expand-header-bg-active: var(--crm-c-dkblue-04);
  --crm-checkbox-list-col: var(--crm-input-label-color);
  --crm-checkbox-list-bg: var(--crm-c-dkblue-01);
  --crm-checkbox-list-bg2: var(--crm-c-dkblue-02);
  --crm-input-description: var(--crm-input-label-color);
  --crm-c-warning-text: black;
  --crm-filter-bg: var(--crm-c-dkblue-02);
}

.crm-container div.crm-summary-row div.crm-label {
  --crm-c-blue-darker: var(--crm-c-blue);
}

/* todo variablize this */
.crm-container .ui-tabs:not(#mainTabContainer) {
  background: var(--crm-c-dkblue-01);
  --crm-tabs-border: solid 4px var(--crm-c-dkblue-01);
}

.crm-container .crm-accordion-bold>summary:is(:hover,
:focus) {
  background-color: var(--crm-c-dkblue-01);
}

/* Get rid of the ugly black overlay during loading */
@keyframes aahblockoverlay-dark {
  0% {
    background-color: var(--crm-c-dkblue-01);
  }

  50% {
    background-color: var(--crm-c-dkblue-03);
  }

  100% {
    background-color: var(--crm-c-dkblue-01);
  }
}

.crm-container .blockUI.blockOverlay {
  animation: aahblockoverlay-dark 10s infinite;
}

.crm-container .crm-dashlet-content {
  background: var(--crm-c-dkblue-00) !important;
}
.crm-container .crm-dashlet-header {
  background: var(--crm-c-dkblue-01) !important;
}
.crm-container summary {
  background: var(--crm-c-dkblue-03);
  color: var(--crm-expand-header-color);
}
.crm-container details {
  background-color: var(--crm-c-dkblue-02);
}
.standalone-errors {
  background: #3e0a01;
}
/* .crm-container .crm-search-nav-tabs { border-color: var(--crm-c-dkblue-01); } */

/* override standalone.css */
#login-form {
  --crm-big-input: 100%;
}
/* Override _fixes.scss */
.crm-container del,
.crm-container .ui-icons_deleted,
.crm-container table.caseSelector td.status-urgent,
.crm-container .font-red,
.crm-container .status-removed,
.crm-container .status-overdue,
.crm-container .status-fatal,
.crm-container .status-hold,
.crm-container .status-past,
.crm-contact-deceased,
.crm-container .status-warning {
  --crm-c-alert: var(--crm-c-red);
}
#civicrm-footer a,
nav.breadcrumb a {
  --crm-c-link: var(--crm-c-dkblue-08);
  --crm-c-link-hover: var(--crm-c-blue);
}

/* eg. Frontend theme selection */
.select2-drop.select2-drop-active.crm-container .select2-results > li {
  --crm-c-blue-dark: var(--crm-c-blue);
}
