<fieldset ng-include="'~/crmSearchAdmin/crmSearchAdminDisplaySort.html'"></fieldset>
<fieldset>
  <div class="form-inline">
    <div class="checkbox-inline form-control">
      <label>
        <input type="checkbox" ng-checked="$ctrl.display.settings.limit" ng-click="$ctrl.parent.toggleLimit()">
        <span>{{:: ts('Limit Results') }}</span>
      </label>
      <input id="crm-search-admin-display-limit" ng-if="$ctrl.display.settings.limit" type="number" min="1" step="1" class="form-control" ng-model="$ctrl.display.settings.limit">
    </div>
    <div class="checkbox-inline form-control">
      <label ng-class="{disabled: !$ctrl.display.settings.limit}">
        <input type="checkbox" ng-model="$ctrl.display.settings.pager" ng-disabled="!$ctrl.display.settings.limit">
        <span>{{:: ts('Use Pager') }}</span>
      </label>
    </div>
    <div class="checkbox-inline form-control">
      <label>
        <input type="checkbox" ng-model="$ctrl.display.settings.actions">
        <span>{{:: ts('Enable Actions') }}</span>
      </label>
    </div>
  </div>
</fieldset>
<fieldset class="crm-search-admin-edit-columns-wrapper">
  <legend>
    {{:: ts('Columns') }}
    <div ng-include="'~/crmSearchAdmin/displays/common/addColMenu.html'" class="btn-group btn-group-xs"></div>
  </legend>
  <div class="crm-search-admin-edit-columns" ng-model="$ctrl.display.settings.columns" ui-sortable="$ctrl.parent.sortableOptions">
    <fieldset ng-repeat="col in $ctrl.display.settings.columns" class="crm-draggable">
      <legend><i class="crm-i fa-arrows crm-search-move-icon"></i> {{ $ctrl.parent.getColLabel(col) }}</legend>
      <div class="form-inline crm-search-admin-flex-row">
        <label for="crm-search-admin-edit-col-{{ $index }}">{{:: ts('Header') }}</label>
        <input id="crm-search-admin-edit-col-{{ $index }}" class="form-control crm-flex-1" type="text" ng-model="col.label" >
        <button type="button" class="btn-xs" ng-click="$ctrl.parent.removeCol($index)" title="{{:: ts('Remove') }}">
          <i class="crm-i fa-ban"></i>
        </button>
      </div>
      <div class="form-inline">
        <label>{{:: ts('Alignment') }}</label>
        <select ng-model="col.alignment" class="form-control">
          <option value="">{{:: ts('Left') }}</option>
          <option value="text-center">{{:: ts('Center') }}</option>
          <option value="text-right">{{:: ts('Right') }}</option>
        </select>
      </div>
      <div ng-include="'~/crmSearchAdmin/displays/colType/' + col.type + '.html'"></div>
    </fieldset>
  </div>
</fieldset>
