<div class="crm-search-display crm-search-display-tree {{:: $ctrl.settings.classes.join(' ') }}">
  <div class="alert alert-info crm-search-display-description" ng-if="$ctrl.settings.description">{{:: $ctrl.settings.description }}</div>
  <div class="form-inline">
    <div class="btn-group" ng-include="'~/crmSearchDisplay/SearchButton.html'" ng-if="$ctrl.settings.button"></div>
    <span ng-if="$ctrl.settings.headerCount" ng-include="'~/crmSearchDisplay/ResultCount.html'"></span>
    <div class="form-group pull-right" ng-include="'~/crmSearchDisplay/toolbar.html'" ng-if="$ctrl.toolbar"></div>
  </div>
  <ul ng-if="$ctrl.loading" ng-include="'~/crmSearchDisplayTree/crmSearchDisplayTreeLoading.html'"></ul>
  <crm-search-display-tree-branch ng-if="!$ctrl.loading" items="$ctrl.tree" parent-key="null"></crm-search-display-tree-branch>
</div>
