/* CSS for ChartKit Admin panel */

.crm-chart-kit-admin,
.crm-chart-kit-admin-columns,
.crm-chart-kit-admin-presentation {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  gap: 1rem;
}

@media (max-width: 40rem) {

  .crm-chart-kit-admin,
  .crm-chart-kit-admin-columns,
  .crm-chart-kit-admin-presentation {
    flex-direction: column;
  }
}

.crm-chart-kit-admin input {
  max-width: 40rem;
}
.crm-chart-kit-admin .select2-container {
  /* fix select2 collapsing boxes in RiverLea */
  width: var(--crm-input-width)!important;
}

.crm-chart-kit-admin input[type='color'] {
  min-width: 3rem;
}

.crm-chart-kit-admin-chart-type {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
}

.crm-chart-kit-admin-chart-type label {
  padding: 2rem;
  border: 1px solid;
}
