.af-api4-action-running {
  cursor: not-allowed;
  color: black;
}
a.af-api4-action-idle {
  cursor: pointer;
}

.af-container.af-layout-cols {
  display: flex;
  flex-wrap: wrap;
}
.af-container.af-layout-cols > * {
  flex: 1;
}
.af-container.af-layout-inline > * {
  display: inline-block;
  margin-right: .5em;
  vertical-align: top;
}
.af-container.af-layout-cols > .af-title {
  flex: 0 0 100%;
}
.af-container.af-layout-inline > .af-title {
  display: block;
  width: 100%;
}

.afform-directive,
af-form {
  display: block;
  position: relative;
}

#bootstrap-theme .input-group .crm-af-field {
  display: inline-block;
}

#bootstrap-theme .input-group .afform-search-operator {
  width: 6rem;
}

[af-repeat-item] {
  position: relative;
}
#bootstrap-theme [af-repeat-item] .af-repeat-remove-btn {
  min-width: 30px;
  position: absolute;
  top: 0;
  right: 0;
}

/* Card style */
#bootstrap-theme .af-container-style-pane {
  background-color: white;
  border-radius: 4px;
  box-shadow: 1px 2px 8px 1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 5px;
}
#bootstrap-theme .af-container-style-pane > .af-title {
  background-color: #70716b;
  color: white;
  padding: 5px;
  border-radius: 4px 4px 0 0;
  position: relative;
  top: -5px;
  left: -5px;
  width: calc(100% + 10px);
  margin-top: 0;
  margin-bottom: 10px;
}

/* Admin edit links */
.afform-directive .af-admin-edit-form-link {
  position: absolute !important;
  right: 0;
  top: 0;
  opacity: .5;
}
.afform-directive .af-admin-edit-form-link.open,
.afform-directive:hover .af-admin-edit-form-link {
  opacity: 1;
}

/* Tabs */
#bootstrap-theme .crm-tabset {
  display: block;
  padding: 10px;
}
