.af-api4-action-running {
  cursor: not-allowed;
  color: black;
}
a.af-api4-action-idle {
  cursor: pointer;
}

.af-container.af-layout-cols {
  display: flex;
  flex-wrap: wrap;
}
.af-container.af-layout-cols > * {
  flex: 1;
}
.af-container.af-layout-inline > * {
  display: inline-block;
  margin-right: .5em;
  vertical-align: top;
}
.af-container.af-layout-cols > .af-title {
  flex: 0 0 100%;
}
.af-container.af-layout-inline > .af-title {
  display: block;
  width: 100%;
}

.afform-directive,
af-form {
  display: block;
  position: relative;
}

#bootstrap-theme .input-group .crm-af-field {
  display: inline-block;
}

#bootstrap-theme .input-group .afform-search-operator {
  width: 6rem;
}

[af-repeat-item] {
  position: relative;
}
#bootstrap-theme [af-repeat-item] .af-repeat-remove-btn {
  min-width: 30px;
  position: absolute;
  top: 0;
  right: 0;
}

/* Card style */
#bootstrap-theme .af-container-style-pane {
  background-color: white;
  border-radius: 4px;
  box-shadow: 1px 2px 8px 1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 5px;
}
#bootstrap-theme .af-container-style-pane > .af-title {
  background-color: #70716b;
  color: white;
  padding: 5px;
  border-radius: 4px 4px 0 0;
  position: relative;
  top: -5px;
  left: -5px;
  width: calc(100% + 10px);
  margin-top: 0;
  margin-bottom: 10px;
}

/* Admin edit links */
.afform-directive .af-admin-edit-form-link {
  position: absolute !important;
  right: 0;
  top: 0;
  opacity: .5;
}
.afform-directive .af-admin-edit-form-link.open,
.afform-directive:hover .af-admin-edit-form-link {
  opacity: 1;
}

/* Tabs */
#bootstrap-theme .crm-tabset {
  display: block;
  padding: 10px;
}

/* Toggle buttons */

.af-field-type-toggle .crm-af-field,
.af-gui-field-input-type-toggle .crm-af-field {
  flex-flow: row nowrap;
  grid-gap: 0.5rem;

  & label {
    align-self: center;
  }

  & input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    font-size: inherit;
    width: 2.75em!important;
    height: 1.35em!important;
    box-sizing: content-box;
    border-radius: 1em;
    vertical-align: text-bottom;
    color: inherit;
    border: 2px solid var(#919297);
    background-color: var(#adaeb3)!important;
  }

  & input[type="checkbox"]::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    box-sizing: border-box;
    width: 1.25em!important;
    height: 1.25em!important;
    margin: 0 0.1em;
    border: 1px solid;
    border-radius: 50%;
    background: #fff;
  }
  & input[type="checkbox"]:checked {
    border: 2px solid var(#133f51)!important;
    background-color: var(#20576f)!important;
  }
  & input[type="checkbox"]:checked::before {
    left: 1.2em;
  }
  & input[type="checkbox"]:disabled {
    opacity: 0.4;
  }
}
