<div class="af-gui-bar" ng-if="node['#tag'] !== 'af-form'" ng-click="selectEntity()" >
  <span ng-if="block.getNodeType(node) == 'fieldset'">{{ editor.getEntity(entityName).label }}</span>
  <span>{{ node['#tag'] }}</span>
  <div class="form-inline pull-right">
    <div class="btn-group btn-group-xs" role="group">
      <button type="button" class="btn btn-default" ng-class="{active: opt === getLayout()}" ng-repeat="(opt, label) in layouts" ng-click="setLayout(opt)" title="{{ label }}">
        <i class="af-gui-layout-icon {{ opt }}" ></i>
      </button>
    </div>
    <select ng-model="node['#tag']" title="{{ ts('Block type') }}">
      <option ng-repeat="(opt, label) in tags" value="{{ opt }}">{{ label }}</option>
    </select>
    <button type="button" class="btn btn-default btn-xs dropdown-toggle af-gui-add-block-button" data-toggle="dropdown" title="{{ ts('Add block') }}">
      <span><i class="crm-i fa-plus"></i></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href ng-click="addBlock('div.af-block')">{{ ts('Add block') }}</a></li>
      <li><a href ng-click="addBlock('p.af-text')">{{ ts('Add text box') }}</a></li>
      <li><a href ng-click="addBlock('button.af-button.btn-primary', {'crm-icon': 'fa-check', 'ng-click': 'modelListCtrl.submit()'})">{{ ts('Add button') }}</a></li>
      <li><a href ng-click="block.removeBlock(node)"><span class="text-danger">{{ ts('Delete this block') }}</span></a></li>
    </ul>
  </div>
</div>
<div class="af-gui-bar" ng-if="node['#tag'] === 'af-form'" >
  <div class="form-inline pull-right">
    <button type="button" class="btn  btn-default btn-sm dropdown-toggle af-gui-add-canvas-button" data-toggle="dropdown" title="{{ ts('Add block') }}">
      <span>Add <i class="crm-i fa-plus"></i></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href ng-click="addBlock('div.af-block')">{{ ts('Add block') }}</a></li>
      <li><a href ng-click="addBlock('p.af-text')">{{ ts('Add text box') }}</a></li>
      <li><a href ng-click="addBlock('button.af-button.btn-primary', {'crm-icon': 'fa-check', 'ng-click': 'modelListCtrl.submit()'})">{{ ts('Add button') }}</a></li>
      <li role="separator" class="divider"></li>
      <li ng-repeat="entity in editor.scope.entities">
        <a href ng-click="addBlock('fieldset.af-block', {'af-fieldset': entity.name})">{{ ts('Fieldset for %1', {1: entity.label}) }}</a>
      </li>
    </ul>
  </div>
</div>
<div ui-sortable="{handle: '.af-gui-bar', connectWith: '[ui-sortable]', cancel: 'input,textarea,button,select,option,a'}" ng-model="node['#children']" class="af-gui-layout {{ getLayout() }}">
  <div ng-repeat="item in node['#children']" ng-show="block.getNodeType(item)">
    <div ng-switch="block.getNodeType(item)">
      <div ng-switch-when="fieldset" af-gui-block="item" class="af-gui-element af-gui-block af-gui-fieldset" ng-class="{'af-entity-selected': isSelectedFieldset(item['af-fieldset'])}" entity-name="item['af-fieldset']" data-entity="{{ item['af-fieldset'] }}" />
      <div ng-switch-when="block" af-gui-block="item" class="af-gui-element af-gui-block" entity-name="entityName" />
      <div ng-switch-when="field" af-gui-field="item" class="af-gui-element af-gui-field" entity-name="entityName" />
      <div ng-switch-when="text" af-gui-text="item" class="af-gui-element af-gui-text" />
      <div ng-switch-when="button" af-gui-button="item" class="af-gui-element af-gui-button" />
    </div>
  </div>
</div>
