<li><a href ng-click="addBlock('div.af-block')">{{ ts('Add block') }}</a></li>
<li><a href ng-click="addBlock('p.af-text')">{{ ts('Add text box') }}</a></li>
<li><a href ng-click="addBlock('div.af-markup', {'#markup': false})">{{ ts('Add rich content') }}</a></li>
<li><a href ng-click="addBlock('button.af-button.btn-primary', {'crm-icon': 'fa-check', 'ng-click': 'modelListCtrl.submit()'})">{{ ts('Add button') }}</a></li>
<li role="separator" class="divider"></li>
<li af-gui-menu-item-border="node"></li>
<li af-gui-menu-item-background="node"></li>
<li role="separator" class="divider"></li>
<li><a href ng-click="block.removeBlock(node)"><span class="text-danger">{{ ts('Delete this block') }}</span></a></li>
