<li><a href ng-click="addElement('div.af-container')">{{ ts('Add container') }}</a></li>
<li><a href ng-click="addElement('p.af-text')">{{ ts('Add text box') }}</a></li>
<li><a href ng-click="addElement('div.af-markup', {'#markup': false})">{{ ts('Add rich content') }}</a></li>
<li><a href ng-click="addElement('button.af-button.btn-primary', {'crm-icon': 'fa-check', 'ng-click': 'afform.submit()'})">{{ ts('Add button') }}</a></li>
<li role="separator" class="divider"></li>
<li ng-repeat="entity in editor.scope.entities">
  <a href ng-click="addElement('fieldset.af-container', {'af-fieldset': entity.name})">{{ ts('Fieldset for %1', {1: entity.label}) }}</a>
</li>
