<div>
  <a href ng-click="editor.removeEntity(selectedEntity)" class="btn btn-sm btn-danger pull-right">
    <i class="crm-i fa-trash"></i>
  </a>

  <fieldset>
    <legend>{{ ts('Values') }}</legend>
    <div class="form-inline" ng-if="entity.data" ng-repeat="(fieldName, value) in entity.data">
      <label>{{ editor.getField(entity.type, fieldName).title }}:</label>
      <input class="form-control" af-gui-field-value="editor.getField(entity.type, fieldName)" ng-model="entity.data[fieldName]" />
      <a href class="pull-right" ng-click="removeValue(entity, fieldName)">
        <i class="crm-i fa-times"></i>
      </a>
    </div>
    <div class="form-inline">
      <input class="form-control" ng-model="controls.addValue" crm-ui-select="{data: valuesFields}" placeholder="Add value" />
    </div>
  </fieldset>

  <fieldset>
    <legend>{{ ts('Fields') }}</legend>
    <div class="af-gui-field-select-list" ui-sortable="{update: rebuildFieldList, items: '> div:not(.disabled)', connectWith: '[data-entity=' + selectedEntity + '] [ui-sortable]'}" ng-model="fieldList[selectedEntity]">
      <div ng-repeat="field in fieldList[selectedEntity]" ng-class="{disabled: fieldInUse(selectedEntity, field.name)}">
        {{ field.defn.title }}
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>{{ ts('Options') }}</legend>
  </fieldset>

</div>
