<div>
  <a href ng-click="removeEntity(selectedEntity)" class="btn btn-sm btn-danger pull-right">
    <i class="crm-i fa-trash"></i>
  </a>

  <fieldset>
    <legend>{{ ts('Values') }}</legend>
    <div class="form-inline" ng-if="entity.data" ng-repeat="(fieldName, value) in entity.data">
      <label>{{ getField(entity.type, fieldName).title }}:</label>
      <input class="form-control" af-gui-field-value="getField(entity.type, fieldName)" ng-model="entity.data[fieldName]" />
      <a href class="pull-right" ng-click="removeValue(entity, fieldName)">
        <i class="crm-i fa-times"></i>
      </a>
    </div>
    <div class="form-inline">
      <input class="form-control" ng-model="controls.addValue" crm-ui-select="{data: valuesFields}" placeholder="Add value" />
    </div>
  </fieldset>

  <fieldset>
    <legend>{{ ts('Fields') }}</legend>
    <ul class="crm-checkbox-list">
      <li ng-repeat="(key, spec) in meta.fields[entity.type]" >
        <input type="checkbox" id="field-{{ selectedEntity + '-' + key }}" />
        <label for="field-{{ selectedEntity + '-' + key }}">{{ spec.title }}</label>
      </li>
    </ul>
  </fieldset>

  <fieldset>
    <legend>{{ ts('Options') }}</legend>
  </fieldset>

</div>
