<li ng-if="!node['af-fieldset'] && !block.layout"><a href ng-click="saveBlock()">{{ ts('Save as block') }}</a></li>
<li ng-if="!node['af-fieldset'] && !block.layout" role="separator" class="divider"></li>
<li ng-if="tags[node['#tag']]">
  <div class="af-gui-field-select-in-dropdown form-inline" ng-click="$event.stopPropagation()">
    {{ ts('Element:') }}
    <select class="form-control" ng-model="node['#tag']" title="{{ ts('Container type') }}">
      <option ng-repeat="(opt, label) in tags" value="{{ opt }}">{{ label }}</option>
    </select>
  </div>
</li>
<li ng-if="isRepeatable()" ng-click="$event.stopPropagation()">
  <div class="af-gui-field-select-in-dropdown form-inline">
    <label ng-click="toggleRepeat()">
      <i class="crm-i fa-{{ node['af-repeat'] || node['af-repeat'] === '' ? 'check-' : '' }}square-o"></i>
      {{ ts('Repeat') }}
    </label>
    <span ng-style="{visibility: node['af-repeat'] || node['af-repeat'] === '' ? 'visible' : 'hidden'}">
      <input type="number" class="form-control" ng-model="getSetMin" ng-model-options="{getterSetter: true}" placeholder="{{ ts('min') }}" min="0" step="1" />
      - <input type="number" class="form-control" ng-model="getSetMax" ng-model-options="{getterSetter: true}" placeholder="{{ ts('max') }}" min="2" step="1" />
    </span>
  </div>
</li>
<li ng-click="$event.stopPropagation()" ng-if="!block">
  <div class="af-gui-field-select-in-dropdown form-inline">
    {{ ts('Layout:') }}
    <div class="btn-group btn-group-sm" role="group">
      <button type="button" class="btn btn-default" ng-class="{active: opt === getLayout()}" ng-repeat="(opt, label) in layouts" ng-click="setLayout(opt)" title="{{ label }}">
        <i class="af-gui-layout-icon {{ opt }}"></i>
      </button>
    </div>
  </div>
</li>
<li af-gui-menu-item-border="node"></li>
<li af-gui-menu-item-background="node"></li>
<li role="separator" class="divider"></li>
<li><a href ng-click="parentContainer.removeElement(node)"><span class="text-danger">{{ !block ? ts('Delete this container') : ts('Delete this block') }}</span></a></li>
