<div class="af-gui-bar" ng-if="node['#tag'] !== 'af-form'" ng-click="selectEntity()" >
  <span ng-if="container.getNodeType(node) == 'fieldset'">{{ editor.getEntity(entityName).label }}</span>
  <span>{{ node['#tag'] }}</span>
  <div class="form-inline pull-right" af-gui-menu>
    <div class="btn-group btn-group-xs" role="group">
      <button type="button" class="btn btn-default" ng-class="{active: opt === getLayout()}" ng-repeat="(opt, label) in layouts" ng-click="setLayout(opt)" title="{{ label }}">
        <i class="af-gui-layout-icon {{ opt }}" ></i>
      </button>
    </div>
    <select ng-model="node['#tag']" title="{{ ts('Container type') }}">
      <option ng-repeat="(opt, label) in tags" value="{{ opt }}">{{ label }}</option>
    </select>
    <button type="button" class="btn btn-default btn-xs dropdown-toggle af-gui-add-element-button" data-toggle="dropdown" title="{{ ts('Add Element') }}">
      <span><i class="crm-i fa-plus"></i></span>
    </button>
    <ul class="dropdown-menu" ng-if="menu.open" ng-include="'~/afGuiEditor/container-menu.html'"></ul>
  </div>
</div>
<div class="af-gui-bar" ng-if="node['#tag'] === 'af-form'" >
  <div class="form-inline pull-right" af-gui-menu>
    <button type="button" class="btn  btn-default btn-sm dropdown-toggle af-gui-add-canvas-button" data-toggle="dropdown" title="{{ ts('Add Element') }}">
      <span>Add <i class="crm-i fa-plus"></i></span>
    </button>
    <ul class="dropdown-menu" ng-if="menu.open" ng-include="'~/afGuiEditor/canvas-menu.html'"></ul>
  </div>
</div>
<div ui-sortable="{handle: '.af-gui-bar', update: onDrop, connectWith: '[ui-sortable]', cancel: 'input,textarea,button,select,option,a'}" ng-model="node['#children']" class="af-gui-layout {{ getLayout() }}">
  <div ng-repeat="item in node['#children']" >
    <div ng-switch="container.getNodeType(item)">
      <div ng-switch-when="fieldset" af-gui-container="item" style="{{ item.style }}" class="af-gui-container af-gui-fieldset af-gui-container-type-{{ item['#tag'] }}" ng-class="{'af-entity-selected': isSelectedFieldset(item['af-fieldset'])}" entity-name="item['af-fieldset']" data-entity="{{ item['af-fieldset'] }}" />
      <div ng-switch-when="container" af-gui-container="item" style="{{ item.style }}" class="af-gui-container af-gui-container-type-{{ item['#tag'] }}" entity-name="entityName" />
      <div ng-switch-when="field" af-gui-field="item" entity-name="entityName" />
      <div ng-switch-when="text" af-gui-text="item" class="af-gui-element af-gui-text" />
      <div ng-switch-when="markup" af-gui-markup="item" class="af-gui-markup" />
      <div ng-switch-when="button" af-gui-button="item" class="af-gui-element af-gui-button" />
    </div>
  </div>
</div>
