<li><a href ng-click="addElement('div.af-container')">{{ ts('Add container') }}</a></li>
<li><a href ng-click="addElement('p.af-text')">{{ ts('Add text box') }}</a></li>
<li><a href ng-click="addElement('div.af-markup', {'#markup': false})">{{ ts('Add rich content') }}</a></li>
<li><a href ng-click="addElement('button.af-button.btn-primary', {'crm-icon': 'fa-check', 'ng-click': 'afform.submit()'})">{{ ts('Add button') }}</a></li>
<li role="separator" class="divider"></li>
<li af-gui-menu-item-border="node"></li>
<li af-gui-menu-item-background="node"></li>
<li role="separator" class="divider"></li>
<li><a href ng-click="container.removeElement(node)"><span class="text-danger">{{ ts('Delete this container') }}</span></a></li>
