<div>
  <a href ng-click="editor.removeEntity(entity.name)" class="btn btn-sm btn-danger-outline pull-right">
    <i class="crm-i fa-trash"></i>
  </a>

  <fieldset class="af-gui-entity-values">
    <legend>{{ ts('Values') }}</legend>
    <div class="form-inline" ng-if="entity.data" ng-repeat="(fieldName, value) in entity.data">
      <label>{{ editor.getField(entity.type, fieldName).title }}:</label>
      <input class="form-control" af-gui-field-value="editor.getField(entity.type, fieldName)" ng-model="entity.data[fieldName]" />
      <a href class="pull-right" ng-click="removeValue(entity, fieldName)">
        <i class="crm-i fa-times"></i>
      </a>
    </div>
    <div class="form-inline">
      <input class="form-control" ng-model="controls.addValue" crm-ui-select="{data: valuesFields}" placeholder="Add value" />
    </div>
  </fieldset>

  <fieldset class="af-gui-entity-fields">
    <legend>{{ ts('Fields') }}</legend>
    <div class="af-gui-field-search form-inline">
      <input ng-model="controls.fieldSearch" class="form-control" type="search" placeholder="&#xf002" title="{{ ts('Search fields') }}" />
      <a href ng-click="clearSearch()" ng-show="!!controls.fieldSearch" title="{{ ts('Clear search') }}">
        <i class="crm-i fa-times"></i>
      </a>
    </div>
    <div class="af-gui-field-select-list" ui-sortable="{update: rebuildFieldList, items: '&gt; div:not(.disabled)', connectWith: '[data-entity=' + entity.name + '] [ui-sortable]'}" ng-model="fieldList">
      <div ng-repeat="field in fieldList" ng-class="{disabled: fieldInUse(field.name)}">
        {{ editor.getField(entity.type, field.name).title }}
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>{{ ts('Options') }}</legend>
  </fieldset>

</div>
