<div af-gui-edit-options ng-if="editingOptions"></div>
<div ng-if="!editingOptions" class="af-gui-element af-gui-field" >
  <div class="af-gui-bar" title="{{ getEntity().label + ': ' + getDefn().title }}">
    <div class="form-inline pull-right">
      <div class="btn-group" af-gui-menu >
        <button type="button" class="btn btn-default btn-xs dropdown-toggle af-gui-add-block-button" data-toggle="dropdown" title="{{ ts('Configure') }}">
          <span><i class="crm-i fa-gear"></i></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" ng-if="menu.open">
          <li title="{{ ts('Field type') }}">
            <a href ng-click="$event.stopPropagation()" class="af-gui-field-select-in-dropdown">
              <select class="form-control" ng-model="getSet('input_type')" ng-model-options="{getterSetter: true}">
                <option ng-repeat="(type, label) in editor.meta.inputType" value="{{ type }}" ng-if="inputTypeCanBe(type)">{{ label }}</option>
              </select>
            </a>
          </li>
          <li title="{{ ts('Require this field') }}">
            <a href ng-click="toggleRequired(); $event.stopPropagation();">
              <i class="crm-i" ng-class="{'fa-square-o': !getProp('required'), 'fa-check-square-o': getProp('required')}"></i>
              {{ ts('Required') }}
            </a>
          </li>
          <li title="{{ ts('Show help text above this field') }}">
            <a href ng-click="toggleHelp('pre'); $event.stopPropagation();">
              <i class="crm-i" ng-class="{'fa-square-o': !propIsset('help_pre'), 'fa-check-square-o': propIsset('help_pre')}"></i>
              {{ ts('Pre help text') }}
            </a>
          </li>
          <li title="{{ ts('Show help text below this field') }}">
            <a href ng-click="toggleHelp('post'); $event.stopPropagation();">
              <i class="crm-i" ng-class="{'fa-square-o': !propIsset('help_post'), 'fa-check-square-o': propIsset('help_post')}"></i>
              {{ ts('Post help text') }}
            </a>
          </li>
          <li role="separator" class="divider" ng-if="hasOptions()"></li>
          <li title="{{ ts('Reset the option list for this field') }}" ng-if="hasOptions()" ng-click="$event.stopPropagation()">
            <a href ng-click="resetOptions()">
              <i class="crm-i fa-{{ node.defn.options ? '' : 'check-' }}circle-o"></i>
              {{ ts('Use default option list') }}
            </a>
          </li>
          <li title="{{ ts('Customize the option list for this field') }}" ng-if="hasOptions()">
            <a href ng-click="editOptions()">
              <i class="crm-i fa-{{ !node.defn.options ? '' : 'check-' }}circle-o"></i>
              {{ ts('Customize field options') }}
            </a>
          </li>
          <li role="separator" class="divider"></li>
          <li title="{{ ts('Remove field from form') }}">
            <a href ng-click="block.removeBlock(node)"><span class="text-danger">{{ ts('Delete this field') }}</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <label ng-class="{'af-gui-field-required': getProp('required')}" class="af-gui-node-title">
    <span af-gui-editable ng-model="node.defn.title" default-value="getDefn().title">{{ getProp('title') }}</span>
  </label>
  <div class="af-gui-field-help" ng-if="propIsset('help_pre')">
    <span af-gui-editable ng-model="node.defn.help_pre" default-value="getDefn().help_pre">{{ getProp('help_pre') }}</span>
  </div>
  <div class="af-gui-field-input af-gui-field-input-type-{{ getProp('input_type').toLowerCase() }}" ng-include="'~/afGuiEditor/inputType/' + getProp('input_type') + '.html'"></div>
  <div class="af-gui-field-help" ng-if="propIsset('help_post')">
    <span af-gui-editable ng-model="node.defn.help_post" default-value="getDefn().help_post">{{ getProp('help_post') }}</span>
  </div>
</div>

