<li>
  <div class="af-gui-field-select-in-dropdown" ng-click="$event.stopPropagation()">
    <label>{{ ts('Style:') }}</label>
    <select class="form-control" ng-model="node['#tag']" title="{{ ts('Text style') }}">
      <option ng-repeat="(opt, label) in tags" value="{{ opt }}">{{ label }}</option>
    </select>
  </div>
</li>
<li>
  <div class="af-gui-field-select-in-dropdown" ng-click="$event.stopPropagation()">
    <div class="btn-group btn-group-sm" role="group">
      <button type="button" class="btn btn-default" ng-class="{active: opt === getAlign()}" ng-repeat="(opt, label) in alignments" ng-click="setAlign(opt)" title="{{ label }}">
        <i class="crm-i fa-{{ opt.replace('text', 'align') }}" ></i>
      </button>
    </div>
  </div>
</li>
<li role="separator" class="divider"></li>
<li>
  <a href ng-click="block.removeBlock(node)"><span class="text-danger">{{ ts('Delete this text') }}</span></a>
</li>
