<div class="af-gui-bar">
  {{ node['#tag'] }}
  <select class="pull-right" ng-model="node['#tag']">
    <option ng-repeat="(opt, label) in tags" value="{{ opt }}">{{ label }}</option>
  </select>
  <div class="btn-group btn-group-xs pull-right" role="group">
    <button type="button" class="btn btn-default" ng-class="{active: opt === getAlign()}" ng-repeat="(opt, label) in alignments" ng-click="setAlign(opt)" title="{{ label }}">
      <i class="crm-i fa-{{ opt.replace('text', 'align') }}" ></i>
    </button>
  </div>
</div>
<p af-gui-editable ng-model="node['#children'][0]['#text']" class="{{ getAlign() + ' af-gui-text-' + node['#tag'] }}" >
  {{ node['#children'][0]['#text'] }}
</p>
