<button type="button" class="btn dropdown-toggle btn-default-outline" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  <i class="crm-i fa-plus"></i>
  {{:: ts('Add') }} <span class="caret"></span>
</button>
<ul class="dropdown-menu">
  <li ng-repeat="(type, col) in $ctrl.parent.colTypes">
    <a href ng-click="$ctrl.parent.addCol(type)"><i class="fa {{:: col.icon }}"></i> {{:: col.label }}</a>
  </li>
  <li class="divider" ng-show="$ctrl.parent.hiddenColumns.length"></li>
  <li ng-repeat="col in $ctrl.parent.hiddenColumns">
    <a href ng-click="$ctrl.parent.restoreCol($index)">
      {{:: $ctrl.parent.getFieldLabel(col.key) }}
    </a>
  </li>
</ul>
