<fieldset class="crm-search-admin-edit-columns crm-search-admin-unused-columns" ng-model="$ctrl.parent.hiddenColumns" ui-sortable="$ctrl.parent.sortableOptions">
  <legend>{{:: ts('Unused') }}</legend>
  <fieldset ng-repeat="col in $ctrl.parent.hiddenColumns" class="crm-draggable">
    <legend>{{ $ctrl.parent.getFieldLabel(col.key) }}</legend>
    <div class="form-inline">
      <button type="button" class="btn-xs pull-right" ng-click="$ctrl.parent.restoreCol($index)" title="{{:: ts('Show') }}">
        <i class="crm-i fa-undo"></i>
      </button>
    </div>
  </fieldset>
</fieldset>
