*~
*.bak
.use-civicrm-setup
/ext/
backdrop/
bower_components
CRM/Case/xml/configuration
CRM/Core/DAO/.listAll.php
CRM/Core/DAO/listAll.php
bin/setup.conf
civicrm-version.txt
civicrm.config.php
node_modules
settings_location.php
sql/case_sample.mysql
sql/civicrm.mysql
sql/civicrm_acl.??_??.mysql
sql/civicrm_acl.mysql
sql/civicrm_data.??_??.mysql
sql/civicrm_data.mysql
sql/civicrm_drop.mysql
sql/civicrm_navigation.mysql
sql/civicrm_sample.mysql
tests/phpunit/CiviTest/CiviSeleniumSettings.php
tests/phpunit/CiviTest/civicrm.settings.php
tools/stats/config.php
authors.txt
drupal/
WordPress
joomla
packages/
tests/output
tests/phpunit/CiviTest/civicrm.settings.local.php
tests/phpunit/CiviTest/truncate.xml
tools/scripts/releaser/releaser.conf
tools/tests/reports/logfile.tap
tools/tests/reports/testdox.html
tools/tests/reports/testdox.txt
l10n
vendor
civicrm.settings.php
sql/dummy_processor.mysql
distmaker/distmaker.conf
distmaker/out
/tmp
