*~
*.bak
packages/.channels
packages/.depdb
packages/.depdblock
packages/.filemap
packages/.lock
packages/.registry
packages/cache
packages/doc
packages/temp
packages/test
packages/git-footnote
packages/_ORIGINAL_
packages/SeleniumRC
packages/PHPUnit
packages/PhpDocumentor
packages/SymfonyComponents
packages/amavisd-new
settings_location.php
drupal
WordPress
joomla
tests
tools
xml
distmaker
.svn
bin/setup.sh
bin/setup.php4.sh
bin/setup.bat

