<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         convertDeprecationsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         stderr="true"
         beStrictAboutTestsThatDoNotTestAnything="false"
         bootstrap="tests/phpunit/CiviTest/bootstrap.php"
         cacheResult="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <testsuites>
    <testsuite name="api_v3_AllTests">
      <directory>./tests/phpunit/api</directory>
    </testsuite>
    <testsuite name="CRM_AllTests">
      <directory>./tests/phpunit/CRM</directory>
    </testsuite>
    <testsuite name="Civi_AllTests">
      <directory>./tests/phpunit/Civi</directory>
    </testsuite>
  </testsuites>
  <listeners>
    <listener class="Civi\Test\CiviTestListener">
      <arguments/>
    </listener>
  </listeners>
</phpunit>
