<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         beStrictAboutTestsThatDoNotTestAnything="false"
         bootstrap="tests/phpunit/CiviTest/bootstrap.php"
>
  <testsuites>
    <testsuite name="CiviCRM Test Suite">
      <directory>./tests/phpunit/</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist>
      <directory suffix=".php">./CRM</directory>
      <directory suffix=".php">./Civi</directory>
      <directory suffix=".php">./api</directory>
    </whitelist>
  </filter>
</phpunit>

