<span ng-form="snoozeOptions" crm-ui-id-scope style="display: inline">
    <span crm-ui-field="{name: 'snoozeOptions.until', title: ts('Snooze until')}" style="display: inline" >
        <input name="until" crm-ui-datepicker ng-model="status.snoozeOptions.until" style="display: inline" />
        <a crm-icon="fa-floppy-o" ng-click="snooze(status)" class="crm-hover-button" title="{{ts('Save Preference')}}"></a>
      <span>
</span>
 <!-- snooze options page, creates a box for picking a date you would like to snooze a status alert until -->
