<div class="crm-container">
  <div crm-ui-debug="statuses"></div>
  <div crm-ui-debug="preferences"></div>

  <form name="myForm" crm-ui-id-scope>

    <div class="help">
      <p>{{ts('Help messages will be displayed here')}}</p>
    </div>

    <div>
      <h1>Status Page</h1><br />
      <button ng-if="(path === '/status/hushed')" ng-click="navigator.redirect('#/status')">Return home</button>
      <button ng-if="(path === '/status')" ng-click="navigator.redirect('#/status/hushed')">Show snoozed and hushed</button>
    </div>
    <div id="crm-status-list" ng-repeat="status in statuses.values track by status.name" >
      <h3 class="crm-severity-{{status.severity}}">{{status.title}}
        <span class="status-snooze-options" ng-show="status.snoozeOptions.show" style="display: inline-block">
          <div crm-snooze-options style="display: inline"></div>
        </span>
          <a  ng-if="(path === '/status')"  ng-click="showSnoozeOptions(status)" ng-show="!status.snoozeOptions.show" class="crm-hover-button" crm-icon="fa-clock-o" title="{{ts('Snooze')}}"></a>
          <a ng-click="showSnoozeOptions(status)" ng-show="status.snoozeOptions.show" class="crm-hover-button" crm-icon="fa-times" style="display: inline" title="{{ts('Close')}}"></a>
          <a ng-if="(path === '/status')" ng-click="hush(status.name, status.severity)" class="crm-hover-button" crm-icon="fa-bell-slash-o" title="{{ts('Hush')}}"></a>
          <a ng-if="(path === '/status/hushed')" ng-click="unhush(status.name)" class="crm-hover-button" crm-icon="fa-bell-o" title="{{ts('Unhush And Unsnooze')}}"></a>
      </h3>
      <h4>
        <div class="crm-block">
          <div class="crm-group">
            <div class="crm-status-message-body" ng-bind-html="status.message | trusted"></div>
          </div>
        </div>
      </h4><br/>
    </div>

  </form>

</div>
