<div crm-ui-debug="options"></div>

<ng-form name="content_form">

  <div class="form-group">
    <label for="msgtpl_subject">
      {{:: ts('Subject') }} <span class="crm-marker">*</span>
    </label>
    <input
      ng-model="options.record.msg_title"
      class="form-control" id="msgtpl_subject"
      required
      title="{{:: ts('Required') }}"
      ng-disabled="options.disabled" />
  </div>

  <div crm-ui-accordion="{title: ts('HTML Content'), collapsed: false}">
    <!-- At time of writing, changes to disabled/readOnly don't propagate dynamically. So use separate widgets. -->
    <div ng-if="options.disabled"
      crm-monaco="{language: 'html', readOnly: true}"
      ng-model="options.record.msg_html">
    </div>
    <div ng-if="!options.disabled"
       crm-monaco="{language: 'html'}"
       ng-model="options.record.msg_html">
    </div>
  </div>

  <div crm-ui-accordion="{title: ts('Text Content'), collapsed: true}">
    <!-- At time of writing, changes to disabled/readOnly don't propagate dynamically. So use separate widgets. -->
    <div ng-if="options.disabled"
       crm-monaco="{language: 'smarty', readOnly: true}"
       ng-model="options.record.msg_text">
    </div>
    <div ng-if="!options.disabled"
       crm-monaco="{language: 'smarty'}"
       ng-model="options.record.msg_text">
    </div>
  </div>

</ng-form>
