/* Walbrook dark mode settings */

:root {
  --crm-c-text: #fff;
  --crm-c-link: var(--crm-c-amber);
  --crm-c-link-hover: var(--crm-c-amber-light);
  --crm-c-text-light: var(--crm-c-darkest);
  --crm-c-background: var(--crm-c-gray-900);
  --crm-c-page-background: var(--crm-c-darkest);
  --crm-c-code-background: var(--crm-c-background2);
  --crm-c-background2: var(--crm-c-gray-900);
  --crm-c-background3: var(--crm-c-gray-800);
  --crm-c-background4: var(--crm-c-gray-700);
  --crm-c-success: #58a458;
  --crm-red-alert: #b24b4f;
  --crm-c-alert: #ff899a;
  --crm-alert-background-danger: var(--crm-c-red);
  --crm-blue-info: #2c99a4;
  --crm-c-blue-dark: #043353;
  --crm-c-green-light: #468847;
  --crm-c-green: #55aa57;
  --crm-c-green-dark: #dff0d8;
  --crm-c-gray-700: #535252;
  --crm-c-gray-600: #67676a;
  --crm-c-gray-500: #6c6c6c;
  --crm-c-divider: 1px solid var(--crm-c-gray-500);
  /* And others */
  --crm-block-shadow: 0 3px 18px 0 rgb(0,0,0);
  --crm-popup-shadow: 0 3px 18px 0 rgb(0,0,0);
  --crm-heading-bg: var(--crm-c-blue-dark);
  --crm-dashlet-bg: var(--crm-c-background2);
  --crm-dashlet-header-bg: var(--crm-c-background3);
  --crm-expand-header-bg: var(--crm-c-blue-dark);
  --crm-expand-body-bg: var(--crm-c-background3);
  --crm-expand-body-border: 0;
  --crm-dash-header-bg: var(--crm-c-background4);
  --crm-dash-block-bg: var(--crm-c-background2);
  --crm-dash-label-bg: transparent;
  --crm-dash-tabs-bg: var(--crm-c-background3);
  --crm-dash-panel-bg: var(--crm-c-background2);
  --crm-dash-tab-bg-hover: var(--crm-c-background2);
  --crm-dropdown-bg: var(--crm-c-background);
  --crm-dropdown-2-bg: var(--crm-c-background);
  --crm-tabs-bg: var(--crm-c-background3);
  --crm-panel-border-col: var(--crm-c-gray-500);
  --crm-input-border-color: var(--crm-c-gray-500);
  --crm-table-odd-row: var(--crm-c-gray-800);
  --crm-table-odd-hover: var(--crm-c-gray-700);
  --crm-table-even-row: var(--crm-c-gray-700);
  --crm-table-even-hover: var(--crm-c-gray-600);
  --crm-alert-text-help: var(--crm-c-text-light);
  --crm-alert-text-warning: var(--crm-c-text-light);
  --crm-alert-background-info: var(--crm-c-blue-dark);
  --crm-alert-text-info: var(--crm-c-blue-light);
  --crm-c-inactive: var(--crm-c-gray-400);
  --crm-input-color: var(--crm-c-text);
  --crm-input-description: var(--crm-c-gray-300);
  --crm-checkbox-list-col: var(--crm-c-text-light);
  --crm-alert-text-help: var(--crm-c-text);
  --crm-dialog-header-border-col: transparent;
  --crm-dialog-header-bg: var(--crm-c-background2);
  --crm-dialog-body-bg: var(--crm-c-background2);
  --crm-notify-background: var(--crm-c-darkest);
  --crm-wizard-active-bg: var(--crm-c-dark-teal);
  --crm-form-block-background: var(--crm-c-background2);
  --crm-btn-cancel-bg: #9b3d4b;
  --crm-panel-border: 1px;
}
