<form name="crmMailing2">
  <div class="crm-block crm-form-block crmMailing2">

    <div crm-mailing-block-summary crm-mailing="mailing"/>
    <div crm-mailing-block-mailing crm-mailing="mailing"/>

    <div crm-ui-accordion crm-title="ts('HTML')">
      <div crm-mailing-body-html crm-mailing="mailing"/>
    </div>
    <div crm-ui-accordion crm-title="ts('Plain Text')" crm-collapsed='true'>
      <div crm-mailing-body-text crm-mailing="mailing"/>
    </div>
    <div crm-ui-accordion id="tab-header" crm-title="ts('Header and Footer')" crm-collapsed='true'>
      <div crm-mailing-block-header-footer crm-mailing="mailing"/>
    </div>
    <div crm-ui-accordion id="tab-attachment" crm-title="ts('Attachments')" crm-collapsed='true'>
      <div crm-attachments="attachments"/>
    </div>
    <div crm-ui-accordion id="tab-pub" crm-title="ts('Publication')" crm-collapsed='true'>
      <div crm-mailing-block-publication crm-mailing="mailing"/>
    </div>
    <div crm-ui-accordion id="tab-response" crm-title="ts('Responses')" crm-collapsed='true'>
      <div crm-mailing-block-responses crm-mailing="mailing"/>
    </div>
    <div crm-ui-accordion id="tab-tracking" crm-title="ts('Tracking')" crm-collapsed='true'>
      <div crm-mailing-block-tracking crm-mailing="mailing"/>
    </div>
    <div crm-ui-accordion crm-title="ts('Preview')">
      <div crm-mailing-block-preview crm-mailing="mailing"/>
    </div>
    <div crm-ui-accordion id="tab-schedule" crm-title="ts('Schedule')">
      <div crm-mailing-block-schedule crm-mailing="mailing"/>
    </div>

    <button ng-click="submit().then(leave)">{{ts('Submit Mailing')}}</button>
    <button ng-click="save().then(leave);">{{ts('Save Draft')}}</button>
    <button crm-confirm="{title:ts('Delete Draft?'), message:ts('Are you sure you want to delete the draft mailing?')}" on-yes="delete().then(leave)">{{ts('Delete Draft')}}</button>
  </div>
</form>
