<form name="crmMailing2">
  <div class="crm-block crm-form-block crmMailing2">

    <div crm-ui-wizard>

      <div crm-ui-wizard-step crm-title="ts('Setup')">
        <div ng-include="partialUrl('summary.html')" />
      </div>

      <div crm-ui-wizard-step crm-title="ts('Content')">
        <div ng-include="partialUrl('mailing.html')" />
        <div crm-ui-accordion crm-title="ts('HTML')">
          <div ng-include="partialUrl('field/body_html.html')" />
        </div>
        <div crm-ui-accordion crm-title="ts('Plain Text')" crm-collapsed='true'>
          <div ng-include="partialUrl('field/body_text.html')" />
        </div>
        <div crm-ui-accordion crm-title="ts('Header and Footer')" crm-collapsed="true">
          <div ng-include="partialUrl('headerFooter.html')" />
        </div>
        <div crm-ui-accordion crm-title="ts('Attachments')" crm-collapsed="true">
          <div
            ng-controller="CrmAttachmentsCtrl"
            ng-init="init(attachments)"
            ng-include="partialUrl('../crmAttachment/attachments.html')">
          </div>
        </div>
        <div crm-ui-accordion crm-title="ts('Preview')">
          <div ng-include="partialUrl('preview.html')" />
        </div>
      </div>

      <div crm-ui-wizard-step crm-title="ts('Options')">
        <div crm-ui-accordion crm-title="ts('Schedule')">
          <div ng-include="partialUrl('schedule.html')" />
        </div>

        <div crm-ui-accordion crm-title="ts('Responses')" crm-collapsed="true">
          <div ng-include="partialUrl('responses.html')" />
        </div>
        <div crm-ui-accordion crm-title="ts('Tracking')" crm-collapsed="true">
          <div ng-include="partialUrl('tracking.html')" />
        </div>
        <div crm-ui-accordion crm-title="ts('Publication')" crm-collapsed="true">
          <div ng-include="partialUrl('publication.html')" />
        </div>
      </div>

      <div crm-ui-wizard-step crm-title="ts('Review')">
        <div crm-ui-accordion crm-title="ts('Review')">
          <div ng-include="partialUrl('review.html')" />
        </div>
        <center>
          <a class="crmMailing2-submit-button" ng-click="submit().then(leave)"><div>{{ts('Submit Mailing')}}</div></a>
        </center>
      </div>

      <span crm-ui-wizard-buttons style="float:right;">
        <button crm-confirm="{title:ts('Delete Draft?'), message:ts('Are you sure you want to delete the draft mailing?')}" on-yes="delete().then(leave)">{{ts('Delete Draft')}}</button>
        <button ng-click="save().then(leave);">{{ts('Save Draft')}}</button>
      </span>
    </div>
  </div>
</form>
