<div crm-ui-accordion crm-title="ts('Debug')" crm-collapsed="true">
  <pre>{{mailing|json}}</pre>
</div>

<form name="crmMailing2" novalidate>
  <div class="crm-block crm-form-block crmMailing2">
    <div crm-ui-wizard>
      <div crm-ui-wizard-step crm-title="ts('Define Mailing')">
        <div crm-ui-accordion crm-title="ts('Summary')">
          <div crm-mailing-block-summary crm-mailing="mailing"/>
        </div>
        <div crm-ui-tab-set>
          <div crm-ui-tab id="tab-mailing" crm-title="ts('Mailing')">
            <div crm-mailing-block-mailing crm-mailing="mailing"/>
            <div crm-ui-accordion crm-title="ts('HTML')">
              <div crm-mailing-body-html crm-mailing="mailing"/>
            </div>
            <div crm-ui-accordion crm-title="ts('Plain Text')" crm-collapsed='true'>
              <div crm-mailing-body-text crm-mailing="mailing"/>
            </div>
          </div>
          <div crm-ui-tab id="tab-attachment" crm-title="ts('Attachments')">
            <div crm-attachments="attachments"/>
          </div>
          <div crm-ui-tab id="tab-header" crm-title="ts('Header and Footer')">
            <div crm-mailing-block-header-footer crm-mailing="mailing"/>
          </div>
          <div crm-ui-tab id="tab-pub" crm-title="ts('Publication')">
            <div crm-mailing-block-publication crm-mailing="mailing"/>
          </div>
          <div crm-ui-tab id="tab-response" crm-title="ts('Responses')">
            <div crm-mailing-block-responses crm-mailing="mailing"/>
          </div>
          <div crm-ui-tab id="tab-tracking" crm-title="ts('Tracking')">
            <div crm-mailing-block-tracking crm-mailing="mailing"/>
          </div>
        </div>
        <div crm-ui-accordion crm-title="ts('Preview')">
          <div crm-mailing-block-preview crm-mailing="mailing"/>
        </div>
      </div>
      <div crm-ui-wizard-step crm-title="ts('Review and Schedule')">
        <div crm-ui-accordion crm-title="ts('Review')">
          <div crm-mailing-block-review crm-mailing="mailing"/>
        </div>
        <div crm-ui-accordion crm-title="ts('Schedule')">
          <div crm-mailing-block-schedule crm-mailing="mailing"/>
        </div>
        <center>
          <a class="crmMailing2-submit-button" ng-click="submit().then(leave)">
            <div>{{ts('Submit Mailing')}}</div>
          </a>
        </center>
      </div>

      <span crm-ui-wizard-buttons style="float:right;">
        <button crm-confirm="{title:ts('Delete Draft?'), message:ts('Are you sure you want to delete the draft mailing?')}" on-yes="delete().then(leave)">{{ts('Delete Draft')}}</button>
        <button ng-click="save().then(leave)">{{ts('Save Draft')}}</button>
      </span>
    </div>
  </div>
</form>
