<!--
Controller: EditMailingCtrl
Required vars: mailing, crmMailingConst
-->
<div class="crm-block">
  <div class="crm-group">
    <div crm-ui-field="header_id" crm-title="ts('Mailing Header')">
      <select
        name="header_id"
        ui-jq="select2"
        ui-options="{dropdownAutoWidth : true, allowClear: true}"
        ng-model="mailing.header_id"
        ng-options="mc.id as mc.name for mc in crmMailingConst.headerfooterList | filter:{component_type: 'Header'}">
        <option value=""></option>
      </select>
    </div>
    <div crm-ui-field="footer_id" crm-title="ts('Mailing Footer')">
      <select
        name="footer_id"
        ui-jq="select2"
        ui-options="{dropdownAutoWidth : true, allowClear: true}"
        ng-model="mailing.footer_id"
        ng-options="mc.id as mc.name for mc in crmMailingConst.headerfooterList | filter:{component_type: 'Footer'}">
        <option value=""></option>
      </select>
    </div>
  </div>
</div>
