<!--
Controller: EditMailingCtrl
Required vars: mailing, crmMailingConst
FIXME: Don't hardcode table-based layout!
-->
<div class="crm-block" ng-form="subform" crm-ui-id-scope>
  <div class="crm-group">
    <div crm-ui-field="subform.mailingName" crm-title="ts('Mailing Name')">
      <div>
        <input
          crm-ui-id="subform.mailingName"
          type="text"
          class="crm-form-text"
          ng-model="mailing.name"
          placeholder="Mailing Name"
          required
          name="mailingName" />
      </div>
    </div>
    <div crm-ui-field="subform.campaign" crm-title="ts('Campaign')" ng-show="crmMailingConst.campNames.length > 0">
      <select
        crm-ui-id="subform.campaign"
        name="campaign"
        ui-jq="select2"
        ui-options="{dropdownAutoWidth : true, allowClear: true, placeholder: ts('Select Campaign')}"
        ng-model="mailing.campaign_id"
        ng-options="campaign.id as campaign.name for campaign in crmMailingConst.campNames|orderBy:'name'"
        >
        <option value=""></option>
      </select>
    </div>
  </div>
</div>
