<div ng-controller="CrmMailingABReportCtrl">
  <table>
    <thead>
    <tr>
      <th>{{ts('Details')}}</th>
      <th ng-repeat="am in getActiveMailings()" class="crm-mailing-ab-col">{{am.title}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-show="abtest.mailings.a.body_html || abtest.mailings.b.body_html">
      <td>{{ts('HTML')}}</td>
      <td ng-repeat="am in getActiveMailings()">
        <a class="crm-hover-button" ng-click="previewMailing(am.name,'html')" ng-show="am.mailing.body_html">{{ts('View')}}</a>
      </td>
    </tr>
    <tr ng-show="abtest.mailings.a.body_text || abtest.mailings.b.body_text">
      <td>{{ts('Text')}}</td>
      <td ng-repeat="am in getActiveMailings()">
        <a class="crm-hover-button" ng-click="previewMailing(am.name,'text')" ng-show="am.mailing.body_text">{{ts('View')}}</a>
      </td>
    </tr>
    <tr ng-repeat="statType in statTypes">
      <td>{{statType.title}}</td>
      <td ng-repeat="am in getActiveMailings()">
        <a class="crm-hover-button" ng-href="{{statUrl(am.mailing, statType, 'events')}}" title="{{statType.title}}">{{stats[am.name][statType.name] || ts('n/a')}}</a>
        <a class="crm-hover-button" ng-href="{{statUrl(am.mailing, statType, 'search')}}" title="{{ts('Search for contacts')}}" crm-icon="search"></a>
      </td>
    </tr>
    <tr ng-show="abtest.ab.status == 'Testing'">
      <td></td>
      <td ng-repeat="am in getActiveMailings()">
        <button ng-click="selectWinner(am.name)">{{ts('Select as Winner')}}</button>
      </td>
    </tr>
    </tbody>
  </table>

  <div crm-ui-tab-set>
    <div crm-ui-tab id="tab-opens" crm-title="ts('Opens (WIP)')">
      <div crm-mailing-ab-stats="{criteria: 'open', split_count: 5}" crm-abtest="abtest"></div>
    </div>
    <div crm-ui-tab id="tab-clicks" crm-title="ts('Total Clicks (WIP)')">
      <div crm-mailing-ab-stats="{criteria: 'total unique clicks', split_count: 5}" crm-abtest="abtest"></div>
    </div>
  </div>

</div>
