<div class="crm-chart-kit-heatmap-admin">

  <div ng-include="'~/crmChartKitAdmin/chartKitAdminColumns.html'"></div>

  <div class="crm-chart-kit-admin-presentation">

    <div ng-include="'~/crmChartKitAdmin/chartKitAdminCanvas.html'"></div>

    <fieldset>
      <legend>{{:: ts('Heat map options') }}</legend>
      <div class="form-inline">
        <label>{{:: ts('Color Min') }}</label>
        <input type="color" class="form-control" ng-model="$ctrl.display.settings.colorScaleMin">
      </div>
      <div class="form-inline">
        <label>{{:: ts('Color Max') }}</label>
        <input type="color" class="form-control" ng-model="$ctrl.display.settings.colorScaleMax">
      </div>

    </fieldset>

</div>
