<div crm-ui-debug="options"></div>

<ng-form name="contentForm" crm-ui-id-scope ng-init="accordions={msg_subject: true, msg_html: true, msg_text: false}">

  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="" ng-click="accordions.msg_subject = !accordions.msg_subject">{{::ts('Subject')}}</a>
      <input class="form-control pull-right crm-action-menu fa-code"
             tabindex="-1"
             style="z-index:1"
             crm-ui-select="{placeholder: ts('Token'), data: $ctrl.options.tokenList, width: '12em', dropdownAutoWidth: true}"
             on-crm-ui-select="$broadcast('insert:msg_subject', selection)"
             ng-show="accordions.msg_subject"
      />
      <div class="clearfix"></div>
    </div>
    <div class="panel-body" uib-collapse="!accordions.msg_subject">
      <div ng-model="$ctrl.options.record.msg_subject"
           crm-monaco="$ctrl.monacoOptions({language: 'smarty', crmHeightPct: 0.15})"
           crm-monaco-insert-rx="insert:msg_subject"
      ></div>
      <p class="help-block">{{::ts('The email subject is a single line. However, template codes may use multiple lines.')}}</p>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="" ng-click="accordions.msg_html = !accordions.msg_html">{{::ts('HTML Content')}}</a>
      <input class="form-control pull-right crm-action-menu fa-code"
             tabindex="-1"
             style="z-index:1"
             crm-ui-select="{placeholder: ts('Token'), data: $ctrl.options.tokenList, width: '12em', dropdownAutoWidth: true}"
             on-crm-ui-select="$broadcast('insert:msg_html', selection)"
             ng-show="accordions.msg_html"
      />
      &nbsp;
      <div class="btn-group btn-group-xs pull-right" role="toolbar" aria-label="{{::ts('HTML Content: Toolbar')}}" ng-show="accordions.msg_html">
        <button type="button" class="btn btn-default" title="{{::ts('Open large editor')}}" ng-click="$ctrl.openFull('msg_html', {language: 'html'})">
          <span class="fa fa-expand" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-default" title="{{::ts('Open preview')}}" ng-click="$ctrl.openPreview('msg_html')">
          <span class="fa fa-eye" aria-hidden="true"></span>
        </button>
        <!--<button type="button" class="btn btn-default" title="{{::ts('Insert token')}}" ng-click="$ctrl.insertToken('msg_html')" crm-icon="fa-plus">-->
        <!--  {{::ts('Token')}}-->
        <!--</button>-->
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="panel-body" uib-collapse="!accordions.msg_html">
      <div ng-model="$ctrl.options.record.msg_html"
           crm-monaco="$ctrl.monacoOptions({language: 'html', crmHeightPct: 0.5})"
           crm-monaco-insert-rx="insert:msg_html"
      ></div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="" ng-click="accordions.msg_text = !accordions.msg_text">{{::ts('Text Content')}}</a>
      <input class="form-control pull-right crm-action-menu fa-code"
             tabindex="-1"
             style="z-index:1"
             crm-ui-select="{placeholder: ts('Token'), data: $ctrl.options.tokenList, width: '12em', dropdownAutoWidth: true}"
             on-crm-ui-select="$broadcast('insert:msg_text', selection)"
             ng-show="accordions.msg_text"
      />
      &nbsp;
      <div class="btn-group btn-group-xs pull-right" role="toolbar" aria-label="{{::ts('Text Content: Toolbar')}}" ng-show="accordions.msg_text">
        <button type="button" class="btn btn-default" title="{{::ts('Open large editor')}}" ng-click="$ctrl.openFull('msg_text', {language: 'smarty'})">
          <span class="fa fa-expand" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-default" title="{{::ts('Open preview')}}" ng-click="$ctrl.openPreview('msg_text')">
          <span class="fa fa-eye" aria-hidden="true"></span>
        </button>
        <!--<button type="button" class="btn btn-default" title="{{::ts('Insert token')}}" ng-click="$ctrl.insertToken('msg_text')" crm-icon="fa-plus">-->
        <!--  {{::ts('Token')}}-->
        <!--</button>-->
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="panel-body" uib-collapse="!accordions.msg_text">
      <div ng-model="$ctrl.options.record.msg_text"
           crm-monaco="$ctrl.monacoOptions({language: 'smarty', crmHeightPct: 0.5})"
           crm-monaco-insert-rx="insert:msg_text"
      ></div>
    </div>
  </div>


</ng-form>
