<div id="bootstrap-theme" crm-dialog="previewMsgDlg" ng-controller="MsgtpluiGenericCtrl">

  <form name="previewMsgForm">

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <div class="navbar-brand">
            {{::model.title}}
          </div>
        </div>
        <div class="navbar-form navbar-right">
          <div class="form-group">
            <button crm-icon="fa-times" type="button" class="btn btn-default" ng-click="previewMsgDlg.close()">
              {{::ts('Close')}}
            </button>
          </div>
        </div>
      </div>
    </nav>

    <div class="well-sm">
      <div class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-2">{{::ts('Revision')}}</label>
          <div class="input-group col-sm-9">
            <select class="form-control" ng-options="item.id as item.label for item in model.revisions" ng-model="model.revisionId"></select>
            <div class="input-group-btn">
              <button class="btn btn-default" ng-click="model.cycle('revisionId', 'revisions', -1)">&#xab;</button>
              <button class="btn btn-default" ng-click="model.cycle('revisionId', 'revisions', +1)">&#xbb;</button>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2">{{::ts('Example')}}</label>
          <div class="input-group col-sm-9">
            <select class="form-control" ng-options="item.id as item.label for item in model.examples" ng-model="model.exampleId"></select>
            <div class="input-group-btn">
              <button class="btn btn-default" ng-click="model.cycle('exampleId', 'examples', -1)">&#xab;</button>
              <button class="btn btn-default" ng-click="model.cycle('exampleId', 'examples', +1)">&#xbb;</button>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2">{{::ts('Format')}}</label>
          <div class="input-group col-sm-9">
            <select class="form-control" ng-options="item.id as item.label for item in model.formats" ng-model="model.formatId"></select>
            <div class="input-group-btn">
              <button class="btn btn-default" ng-click="model.cycle('formatId', 'formats', -1)">&#xab;</button>
              <button class="btn btn-default" ng-click="model.cycle('formatId', 'formats', +1)">&#xbb;</button>
            </div>
          </div>
        </div>
      </div>

      <pre>Subject: {{model.revisions[model.revisionId].rec.msg_subject|json}}</pre>
      <pre>Body: {{model.revisions[model.revisionId].rec[model.formats[model.formatId].name]|json}}</pre>

    </div>
  </form>

</div>
