<div id="bootstrap-theme">
  <div crm-ui-debug="$ctrl.records"></div>

  <table>
    <thead>
    <tr>
      <th>{{ts('Title')}}</th>
      <th>{{ts('Locale')}}</th>
      <th>{{ts('Current')}}</th>
      <th>{{ts('Draft')}}</th>
      <th>{{ts('Translate')}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="msgtpl in $ctrl.records">
      <td>{{msgtpl.msg_title}}</td>
      <td>{{msgtpl['tx.language:label']}}</td>
      <td>
        <span ng-if="!msgtpl['tx.language'] || !!msgtpl.statuses.active">Current</span>
      </td>
      <td>
        <span ng-if="!!msgtpl.statuses.draft">Draft</span>
      </td>
      <td>
        <span ng-if="!msgtpl['tx.language']">Translate</span>
      </td>
    </tr>
    </tbody>
  </table>

</div>
