<div id="bootstrap-theme">
  <div crm-ui-debug="$ctrl"></div>

  <div class="form-inline">
    <label for="msgtpl-filter-text">{{:: ts('Filter') }}</label>
    <input class="form-control" type="search" id="msgtpl-filter-text" ng-model="$ctrl.filterText">
  </div>

  <table>
    <thead>
    <tr>
      <th>{{ts('Title')}}</th>
      <th>{{ts('Locale')}}</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="record in $ctrl.records | filter:$ctrl.filterText">
      <td>{{record.msg_title}}</td>
      <td>{{record['tx.language:label']}}</td>
      <td>
        <span ng-if="!record['tx.language'] || !!record.statuses.active">
          <a class="text-success" crm-icon="fa-file" ng-href="{{$ctrl.editUrl(record)}}">{{ts('Current')}}</a>
        </span>
        <span ng-if="!(!record['tx.language'] || !!record.statuses.active)">
          <span class="text-danger" crm-icon="fa-file">{{ts('Current')}}</span>
        </span>
      </td>
      <td>
        <span ng-if="!!record.statuses.draft">
          <a class="text-warning" crm-icon="fa-file" ng-href="{{$ctrl.editUrl(record, 'draft')}}">{{ts('Draft')}}</a>
        </span>
        <span ng-if="!record.statuses.draft">
          <span class="text-muted" crm-icon="fa-file">{{ts('Draft')}}</span>
        </span>
      </td>
      <td>
        <span ng-if="!record['tx.language']">
          <a class="" crm-icon="fa-plus" ng-click="crmUiAlert({title: 'Not implemented', text: '', type: 'error'})">{{ts('Translate')}}</a>
        </span>
      </td>
    </tr>
    </tbody>
  </table>

</div>
