<div
  af-api4="['Afform', 'get', {select: ['name','title','is_public','server_route', 'has_local', 'has_base'], orderBy: {name:'ASC'}}]"
  af-api4-ctrl="listCtrl">

  <div ng-if="apiData.result.length == 0">
    There are no forms! Tell Aristotle!
  </div>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Title</th>
        <th>Server Route</th>
        <th>Frontend?</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <tr ng-repeat="availForm in listCtrl.result">
      <td>
        <a ng-href="#!/?name={{availForm.name}}">{{availForm.name}}</a>
      </td>
      <td>{{availForm.title}}</td>
      <td>
        <a ng-if="availForm.server_route" ng-href="{{crmUrl(availForm.server_route)}}" target="_blank">
          <code>{{availForm.server_route}}</code>
        </a>
      </td>
      <td>{{availForm.is_public ? 'Frontend' : 'Backend'}}</td>
      <td>
        <!--<a ng-click="crmStatus({start: 'Reverting...', success: 'Reverted'}, crmApi4('Afform', 'revert', {where: [['name', '=', availForm.name]]}))">Revert</a>-->
        <a af-api4-action="['Afform', 'revert', {where: [['name','=', availForm.name]]}]"
           af-api4-start-msg="'Reverting...'"
           af-api4-success-msg="'Reverted'"
           af-api4-success="listCtrl.refresh()"
           class="btn btn-xs btn-default"
           ng-if="availForm.has_local && availForm.has_base"
          >Revert</a>
        <a af-api4-action="['Afform', 'revert', {where: [['name','=', availForm.name]]}]"
           af-api4-start-msg="'Deleting...'"
           af-api4-success-msg="'Deleted'"
           af-api4-success="listCtrl.refresh()"
           class="btn btn-xs btn-default"
           ng-if="availForm.has_local && !availForm.has_base"
        >Delete</a>
      </td>
    </tr>
    </tbody>
  </table>

</div>
