<table>
  <thead>
    <tr>
      <th class="crm-search-admin-icon-col"></th>
      <th class="crm-search-admin-icon-col">{{:: ts('Icon') }}</th>
      <th>{{:: ts('Text') }}</th>
      <th>{{:: ts('Link') }}</th>
      <th>{{:: ts('Style') }}</th>
      <th class="crm-search-admin-icon-col"></th>
    </tr>
  </thead>
  <tbody ui-sortable="$ctrl.sortableOptions" ng-model="$ctrl.group">
    <tr ng-repeat="item in $ctrl.group" class="bg-{{ item.style }}">
      <td class="crm-search-admin-icon-col">
        <i class="crm-i fa-arrows disabled"></i>
      </td>
      <td class="crm-search-admin-icon-col">
        <span class="crm-editable-enabled" ng-click="pickIcon($index)">
          <i class="{{ item.icon ? 'crm-i ' + item.icon : '' }}"></i>
        </span>
      </td>
      <td>
        <input type="text" class="form-control" ng-model="item.text">
      </td>
      <td class="form-inline">
        <select class="form-control crm-search-admin-select-path" ng-show="$ctrl.links.length">
          <option ng-repeat="link in $ctrl.links" value="{{ link.path }}" ng-selected="item.path === link.path">
            {{ link.title }}
          </option>
          <option value="civicrm/" ng-selected="item.path && !$ctrl.getLink(item.path)">
            {{ ts('Other...') }}
          </option>
        </select>
        <input class="form-control" type="text" ng-if="item.path && !$ctrl.getLink(item.path)" ng-model="item.path" ng-model-options="{updateOn: 'blur'}" />
        <crm-search-admin-token-select ng-if="item.path && !$ctrl.getLink(item.path)" api-entity="$ctrl.apiEntity" api-params="$ctrl.apiParams" model="item" field="path"></crm-search-admin-token-select>
      </td>
      <td class="form-inline">
        <select class="form-control" ng-model="item.style">
          <option ng-repeat="opt in $ctrl.styles" value="{{ opt.key }}">{{ opt.value }}</option>
        </select>
      </td>
      <td class="crm-search-admin-icon-col">
        <button ng-if="$ctrl.group.length > 1" type="button" class="btn btn-xs btn-danger-outline" ng-click="$ctrl.group.splice($index, 1)">
          <i class="crm-i fa-times"></i>
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="6" class="form-inline">
        <select class="form-control crm-search-admin-select-path" ng-show="$ctrl.links.length">
          <option value="">
            + {{:: ts('Add...') }}
          </option>
          <option ng-repeat="link in $ctrl.links" value="{{ link.path }}">
            {{ link.title }}
          </option>
          <option value="civicrm/">
            {{:: ts('Other...') }}
          </option>
        </select>
      </td>
    </tr>
  </tfoot>
</table>
