<div class="crm-accordion-wrapper ">
  <div class="crm-accordion-wrapper ">
    <div class="crm-accordion-header">HTML Format</div>
    <div class="crm-accordion-body">
      <br>
      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
      <input type="hidden" groupselect id= "htgroupcompose"  ></input><br><br>
      &nbsp &nbsp &nbsp &nbsp
      <textarea id = "body_html" ng-model="mailA.body_html" style="width: 600px; height: 300px;" required></textarea>
      <br> <br>
    </div>
  </div>

  <div class="crm-accordion-wrapper collapsed">
    <div class="crm-accordion-header">Plain Text</div>
    <div class="crm-accordion-body">
      <br>
      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
      <input type="hidden" groupselect id= "textgroupcompose"  ></input>
      <br> <br>
      &nbsp &nbsp &nbsp &nbsp
      <textarea id = "body_text" ng-model="mailA.body_text" style="width: 600px; height: 300px;" > </textarea>
      <br>
    </div>
  </div>
</div>