<table class="form-layout-compressed">
  <tbody>
  <tr>
    <td class="label">From E-mail Address A</td>
    <td>
      <select style="width: 200px" ng-model="mailA.from_email" ng-options="frm.email as frm.email for frm in eMailing" required>
        <option value="">-none-</option>
      </select>
    </td>
  </tr>
  <tr>
    <td class="label">From E-mail Address B</td>
    <td>
      <select style="width: 200px" ng-model="mailB.from_email" ng-options="frm.email as frm.email for frm in eMailing" required>
        <option value="">-none-</option>
      </select>
    </td>
  </tr>
  <tr>
    <td class="label">Reply to E-mail Address</td>
    <td>
      <select style="width: 200px" ng-model="mailA.replyto_email"
              ng-options="frm.email as frm.email for frm in eMailing" >
        <option value="">-none-</option>
      </select>
    </td>
  </tr>
  <tr>
    <td class="label">Mailing Subject</td>
    <td>
      <input id= "subfrom" placeholder="Enter Subject" name="subject" type="text" ng-model="mailA.subject" required>
    </td>
  </tr>
  <tr>
  <td class="label">Mailing Subject Token</td>
  <td>
    <input type="hidden" groupselect id= "subgroupfrom" ng-model="token" ></input>
  </td>
  </tr>
  <tr>
    <td class="label" style="color:red" ng-show="mailing_form.subject.$invalid">
      Mailing subject required.
    </td>
  </tr>
  <tr>
    <td class="label">Use Template</td>
    <td>
      <select ng-change="tmp(mailA.msg_template_id,3)" ng-model="mailA.msg_template_id"
              ng-options="mstemp.id as mstemp.msg_title for mstemp in tmpList" >
        <option value="">-none-</option>
      </select>
    </td>
  </tr>

  </tbody>
</table>

<br>

<div ng-include = "partialUrl('compose.html')"></div>
<div ng-include="partialUrl('headerfooter.html')"></div>