


<div>


    <div ui-jq="tabs" id="alltabs" >

        <ul>

            <li><a href="#tabs-1" ng-click="campaign_clicked()" >Campaign</a></li>
            <li><a href="#tabs-2" ng-click="compose_clicked()">Compose</a></li>
            <li><a href="#tabs-3" ng-click="rec_clicked()">Recipients and Winner Criteria</a> </li>
            <li><a href="#tabs-4" ng-click="preview_clicked()">Preview and Send</a></li>
        </ul>


        <div  id="tabs-1" >

            <form name="myForm" >

                <h3 style ="text-decoration:underline"> What would you like to test ?</h3><br><br>

                &nbsp <input type="radio" ng-model="template" ng-value="templates[0]">  Subject Lines <br/><br>
                &nbsp <input type="radio" ng-model="template" ng-value="templates[1]"> From Names <br/><br>
                &nbsp <input type="radio" ng-model="template" ng-value="templates[2]"> Two different Emails <br/><br>
                &nbsp <input type="submit" value=">> Compose"    id="campaignbutton" nexttab={{adi}} > <br>
            </form>
        </div>

        <div id="tabs-2"  >

            <form>
            <div  ng-include="template.url">

            </div>




            <button  id="campaignbutton" nexttab={{adi}} >Done</button><br>

            </form>

        </div>

        <div id="tabs-3">

                <form>
                    <h3 style="text-decoration: underline;">Select the groups you would like to add</h3><br>


                    &nbsp<select multiple id="e1" groupselect>
                        <option value="AL">Mumbai</option>
                        <option value="AL">Delhi</option>
                        <option value="AL">Madras</option>
                        <option value="AL">Kanpur</option>
                        <option value="WY">Kharagpur</option>
                    </select><br><br>

                    <h3 style="text-decoration: underline;">Select the size of your test group</h3><br>

                    &nbsp Percentage Selected - {{slide_value}}%

                    <div sliderbar id="trial" style="margin: 10px;"></div>

                    <h3 style="text-decoration: underline;">How will the winner be decided</h3><br>
                    &nbsp <input type="radio" ng-model="winner_criteria" value="Open"> Open <br/><br>
                    &nbsp <input type="radio" ng-model="winner_criteria" value="Total Unique Clicks"> Total Unique Clicks <br/><br>
                    &nbsp <input type="radio" ng-model="winner_criteria" value="Total Clicks on a particular link"> Total Clicks on a particular link <br/><br>

                    <h3 style="text-decoration: underline;">Do you want the A/B test to be automated </h3>
                    &nbsp<input  type="radio" ng-model="automated" value="Yes" ng-click="setifyes(1)" >Yes &nbsp
                    &nbsp<input type="radio" ng-model="automated" value="No" ng-click="setifyes(2)"> No <br/><br>

                    <tpmax ng-show="ifyes">

                        <h3> Please enter the confidence level at which a decision can be made</h3>
                        &nbsp &nbsp <input type="text" style="height: 20px; width: 25px;" ng-model="conf" numbar=99><br><br>


                        <h3>If the confidence level is not reached what do you want us to do?</h3>
                        &nbsp <input type="radio" ng-model="ifnot" value="Inform me"> Inform me  <br/><br>
                        &nbsp <input type="radio" ng-model="ifnot" value="Send Version A"> Send Version A <br/><br>
                        &nbsp <input type="radio" ng-model="ifnot" value="Send Version B"> Send Version B <br/><br>

                        <button id="closebutton" style="position: relative;left:200px;">Save & Close</button>

                    </tpmax>

                    <h3 style="text-decoration: underline;">Declare the winner in how much time?</h3><br>
                    &nbsp <input type="text" style="height: 20px; width: 15px;" ng-model="days" numbar=7> Days
                    &nbsp <input type="text" style="height: 20px; width: 15px;" ng-model="hours" numbar=23> Hours
                    &nbsp <input type="text" style="height: 20px; width: 15px;" ng-model="minutes" numbar=59> Minutes
                    <br>
                    <br>


                <button  value=">> Compose"   id="campaignbutton" nexttab={{adi}} >Next</button> <br>
                </form>
        </div>

        <div id="tabs-4">

            <h3 style="text-decoration: underline;">Details</h3><br>

            <table>
            <tr>
                <td>Test Criteria</td>
                <td>{{template.name}}</td>
            </tr>
             <tr>
                 <td>Groups Selected</td>
                 <td></td>
             </tr>
             <tr>
                 <td>Size of Test Group</td>
                 <td>{{slide_value}}</td>

             </tr>
                <tr>
                    <td>Winner Criteria</td>
                    <td>{{winner_criteria}}</td>
                </tr>
              <tr>
                  <td>Automated</td>
                  <td>{{automated}}</td>

              </tr>
               <tr ng-show="automated=='Yes'">
                   <td>Minum Confidence Level</td>
                <td>{{conf}}%</td>
               </tr>
                <tr ng-show="automated=='Yes'">
                    <td>If Level not Achieved</td>
                    <td>{{ifnot}}</td>
                </tr>
                <tr>
                    <td>Declare Winner in</td>
                    <td>{{days}} Days {{hours}} Hours {{minutes}} Minutes</td>

                </tr>


            </table>



            <button  value=">> Compose"   id="campaignbutton" nexttab={{adi}} >Submit & Send</button> <br>
        </div>
    </div>



</div>