<!--
Controller: CaseTypeListsCtrl
Required vars: caseTypes
-->
<div id="help">
  A Case Type describes a group of related tasks, interactions, or processes.
</div>

<table class="display">
  <thead>
  <tr>
    <th>Title</th>
    <th>Id</th>
    <th>Progress</th>

    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="ab in abmailList">
    <td>{{ab.id}}</td>
    <td>{{ab.id}}</td>
    <td>{{ab.id}}</td>
    <td><a class="action-item crm-hover-button" ng-href="#/mailing/abtesting/{{ab.id}}">Edit</a></td>
  </tr>
  </tbody>
</table>

<div class="crm-submit-buttons">
  <a ng-href="#/mailing/abtesting/new" class="button"><span><div class="icon add-icon"></div>New A/B Test</span></a>
</div>