<!--
Controller: ABListingCtrl
Required vars: mailingABList
-->
<div id="help">
  A/B Testing list
</div>

<div ng-show="!$.isEmptyObject(mailingABList)">
  <table class="display">
    <thead>
    <tr>
      <th>Title</th>
      <th>Id</th>
      <th></th>

      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="ab in mailingABList">
      <td>{{ab.name}}</td>
      <td>{{ab.id}}</td>
      <td><a class="action-item crm-hover-button" ng-href="#/mailing/abtesting/{{ab.id}}">Edit</a>&nbsp
      <a class="action-item crm-hover-button" ng-href="#/mailing/abtesting/report/{{ab.id}}">Results</a></td>

    </tr>
    </tbody>
  </table>
</div>

<div ng-show="$.isEmptyObject(mailingABList)" class="messages status no-popup">
  <div class="icon inform-icon"></div>
  You have no A/B mailings
</div>


<div class="crm-submit-buttons">
  <br>
  <a ng-href="#/mailing/abtesting/new" class="button"><span><div class="icon add-icon"></div>New A/B Test</span></a>
</div>