<form name="tab3Form" unsaved-warning-form>
  <div class="crm-block crm-form-block crmABTesting">
    <h3>Select the groups you would like to add</h3><br>
    &nbsp<br>
    <select multiple chsgroup required>
      <option id="1" ng-repeat="grp in groups" value="{{grp.id}} group include {{grp.title}}"> {{grp.title}}
      </option>
      <option ng-repeat="grp in groups" value="{{grp.id}} group exclude {{grp.title}}"> {{grp.title}}</option>
      <option ng-repeat="ml in mailList" value="{{ml.id}} mail include {{ml.title}}"> {{ml.name}}</option>
      <option ng-repeat="ml in mailList" value="{{ml.id}} mail exclude {{ml.title}}"> {{ml.name}}</option>
    </select>
    <br> <br><br><br>

    <h3>Select the size of your test group</h3><br>
    &nbsp Percentage Selected - {{currentABTest.group_percentage}}%

    <div sliderbar id="trial" style="margin: 10px;" required></div>

    <h3>How will the winner be decided</h3><br>
    &nbsp <input type="radio" ng-model="currentABTest.winner_criteria_id" value=1 name="cri" required> Open <br/><br>
    &nbsp <input type="radio" ng-model="currentABTest.winner_criteria_id" value=2 name="cri" checked="checked">
    Total Unique Clicks <br/><br>
    &nbsp <input type="radio" ng-model="currentABTest.winner_criteria_id" value=3 name="cri"> Total
    Clicks on a particular link <br/>
    &nbsp &nbsp &nbsp &nbsp<input type="text"  ng-show="currentABTest.winner_criteria_id==3" ng-model="currentABTest.acturl">
    <br>

    <h3>Declare the winner by when?</h3><br>
    <table>
      <tbody>
      <tr>
        <td class="label">Date</td>
        <td>
          <input type="text" chsdate ng-model="currentABTest.date" required>
        </td>
        <td class="label">Time</td>
        <td>
          <input type="text" placeholder="hh:mm" ng-model="currentABTest.time"  checktimeentry required>
        </td>
      </tr>
      </tbody>
    </table>

    <div id="help">
      Enter the time in the 12:32:45 format where 12 is the hour, 32 the minutes and 45 the seconds.
    </div>
    <br>
    <br>
    <div class="crm-submit-buttons">
      <span class="crm-button">
        <input type="submit" ng-click="tab3Form.$setPristine();update_abtest();" value="Previous" prevtab/>
      </span>
      <span class="crm-button">
        <input type="submit" ng-click="tab3Form.$setPristine();update_abtest();" ng-disabled="tab3Form.$invalid" value="Next" nexttab="{{tab_val}}"/>
      </span>
      <span class="crm-button">
        <input type="submit" ng-click="tab3Form.$setPristine(); goto('mailing/abtesting');" value="Cancel"/>
      </span>
    </div>
  </div>
</form>
