<!--
Controller: MailCtrl
Required vars: currentMailing
-->

<table class="form-layout-compressed">
    <tbody>
    <tr>
        <td>
            <h3 style ="text-decoration:underline"> Tracking</h3>
        </td>
    </tr>
    <tr>
        <td>
            <input type="checkbox" ng-model="currentMailing.url_tracking" ng-true-value="1" ng-false-value="0">&nbsp Track Click Throughs</input>
        </td>
    </tr>
    <tr>
        <td>
            <div id="help">
                Track the number of times recipients click each link in this mailing. NOTE: When this feature is enabled, all links in the message body will be automaticallly re-written to route through your CiviCRM server prior to redirecting to the target page.
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <input type="checkbox" ng-model="currentMailing.open_tracking" ng-true-value="1" ng-false-value="0">&nbsp Track Opens</input>
        </td>
    </tr>
    <tr>
        <td>
            <div id="help">
                Track the number of times recipients open this mailing in their email software.
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <h3 style ="text-decoration:underline">Responding</h3>
        </td>
    </tr>
    <tr>
        <td>
            <input type="checkbox" ng-model="trackreplies" ng-change= "reply()" ng-true-value="1" ng-false-value="0">&nbsp Track Replies</input>
        </td>
    </tr>
    <tr>
        <td>
            <div id="help">
                Recipients' replies are sent to a CiviMail specific address instead of the sender's address so they can be stored within CiviCRM.
            </div>
        </td>
    </tr>
    <tr ng-show= "trackr(trackreplies)">
        <td>
            <input type="checkbox" ng-model="currentMailing.forward_replies" ng-true-value="1" ng-false-value="0">&nbsp Forward Replies</input>
        </td>
    </tr>
    <tr ng-show= "trackr(trackreplies)">
        <td>
            <div id="help">
                If a recipient replies to this mailing, forward the reply to the FROM Email address specified for the mailing.
            </div>
        </td>
    </tr>
    <tr ng-show= "trackr(trackreplies)">
        <td>
            <input type="checkbox" ng-model="currentMailing.auto_responder" ng-true-value="1" ng-false-value="0">&nbsp Auto-Respond to Replies &nbsp &nbsp</input>
            <select ng-model="mailAutoResponder" ng-options="au.id as au.name for au in headerfooter| filter:isAuto">
                <option value="">-none-</option>
            </select>
        </td>
    </tr>
    <tr ng-show= "trackr(trackreplies)">
        <td>
            <div id="help">
                If a recipient replies to this mailing, send an automated reply using the selected message.
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <h3 style ="text-decoration:underline"> Online Publication</h3>
        </td>
    </tr>
</table>

<table class="form-layout-compressed">
    <tr>
        <td class="label">Mailing Visibility</td>
        <td>
            <select ng-model="currentMailing.visibility">
                <option value="Public Pages">Public Pages</option>
                <option value="User and User Admin Only">User and User Admin Only</option>
            </select>
        </td>
        </tbody>
</table>