<div>
  <div ui-jq="tabs">

      <ul>
          <li><a href="#tabs-21"><span>Email A</span></a></li>
          <li><a href="#tabs-22"><span>Email B</span></a></li>

      </ul>

      <div id="tabs-21">
          From Email Address : <input type="text"><br>
          Use Template : <input type="text"><br>
          Mail Subject: <input type="text"><br>

          <textarea rows="4" cols="50">

          </textarea>


      </div>
      <div id="tabs-22">
          From Email Address : <input type="text"><br>
          Use Template : <input type="text"><br>
          Mail Subject: <input type="text"><br>

          <textarea rows="4" cols="50">

          </textarea>


      </div>

  </div>


</div>