<div ui-jq="tabs">

<ul>
  <li><a href="#tabs-21"><span>Email A</span></a></li>
  <li><a href="#tabs-22"><span>Email B</span></a></li>
</ul>

<div id="tabs-21">
    <table class="form-layout-compressed">
      <tbody>
      <tr>
        <td class="label">From E-mail Address</td>
        <td>
          <select style="width: 200px" ng-model="mailA.from_email"
                  ng-options="frm.email as frm.email for frm in eMailing" >
            <option value="">-none-</option>
          </select>
        </td>
      </tr>
      <tr>
        <td class="label">Reply to E-mail Address</td>
        <td>
          <select style="width: 200px" ng-model="mailA.replyto_email"
                  ng-options="frm.email as frm.email for frm in eMailing">
            <option value="">-none-</option>
          </select>
        </td>
      </tr>
      <tr>
        <td class="label">Mailing Subject</td>
        <td>
          <input placeholder="Enter Subject" name="subject" id="twomaila" type="text" ng-model="mailA.subject" required>
        </td>
      </tr>
      <tr>
        <td class="label">Mailing Subject Token</td>
        <td>
          <input type="hidden" groupselect id= "subgrouptwoa"  ></input>
        </td>
      </tr>

      <tr>
        <td class="label" style="color:red" ng-show="mailing_form.subject.$invalid">
          Mailing subject required.
        </td>
      </tr>
      <tr>
        <td class="label">Use Template</td>
        <td>
          <select ng-change="tmp(mailA.msg_template_id,1)" ng-model="mailA.msg_template_id"
                  ng-options="mstemp.id as mstemp.msg_title for mstemp in tmpList">
            <option value="">-none-</option>
          </select>
        </td>
      </tr>
      </tbody>
    </table>

    <br>

    <div class="crm-accordion-wrapper ">
      <div class="crm-accordion-wrapper ">
        <div class="crm-accordion-header">HTML Format</div>
        <div class="crm-accordion-body">
          <br>
          &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
          &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
          &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
          <input type="hidden" groupselect id= "htgroupcomposetwoa"  ></input><br><br>

          &nbsp &nbsp &nbsp &nbsp
          <textarea  ng-model="mailA.body_html" id="twomailabody_html" style="width: 600px; height: 300px;" required></textarea>
          <br> <br>

        </div>
      </div>

      <div class="crm-accordion-wrapper collapsed">
        <div class="crm-accordion-header">Plain Text</div>
        <div class="crm-accordion-body">
          <br>
          &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
          &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
          &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
          <input type="hidden" groupselect id= "textgroupcomposetwoa"  ></input><br><br>

          &nbsp &nbsp &nbsp &nbsp
          <textarea ng-model="mailA.body_text" id="twomailabody_text" style="width: 600px; height: 300px;"></textarea>
          <br>
        </div>
      </div>

      <table ng-show="false">
        <tr>
          <td>
            <input type="checkbox">&nbsp Save Template</input>
        </tr>
      </table>

    </div>

    <div class="crm-accordion-wrapper collapsed">
      <div class="crm-accordion-header">Header and Footer</div>
      <div class="crm-accordion-body">
        <table>
          <tr>
            <td class="label">Mailing Header</td>
            <td>
              <select ng-model="mailA.header_id" ng-options="hf.id as hf.name for hf in headerfooter| filter:isHeader">
                <option value="">-none-</option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="label">Mailing Footer</td>
            <td>
              <select ng-model="mailA.footer_id" ng-options="f.id as f.name for f in headerfooter| filter:isFooter">
                <option value="">-none-</option>
              </select>
            </td>
          </tr>
        </table>
      </div>
    </div>
</div>

<!-- ---------------------------------------- ######## ------------------------------------------  -->

<div id="tabs-22">
    <table class="form-layout-compressed">
      <tbody>
      <tr>
        <td class="label">From E-mail Address</td>
        <td>
          <select style="width: 200px" ng-model="mailB.from_email"
                  ng-options="frm.email as frm.email for frm in eMailing">
            <option value="">-none-</option>
          </select>
        </td>
      </tr>
      <tr>
        <td class="label">Reply to E-mail Address</td>
        <td>
          <select style="width: 200px" ng-model="mailB.replyto_email"
                  ng-options="frm.email as frm.email for frm in eMailing">
            <option value="">-none-</option>
          </select>
        </td>
      </tr>
      <tr>
        <td class="label">Mailing Subject</td>
        <td>
          <input placeholder="Enter Subject" id = "twomailb" name="subject" type="text" ng-model="mailB.subject"/>
        </td>
      </tr>
      <tr>
        <td class="label">Mailing Subject Token</td>
        <td>
          <input type="hidden" groupselect id= "subgrouptwob"  ></input>
        </td>
      </tr>
      <tr>
        <td class="label" style="color:red" ng-show="mailing_form.subject.$invalid">
          Mailing subject required.
        </td>
      </tr>
      <tr>
        <td class="label">Use Template</td>
        <td>
          <select ng-change="tmp(mailB.msg_template_id,2)" ng-model="mailB.msg_template_id"
                  ng-options="mstemp.id as mstemp.msg_title for mstemp in tmpList">
            <option value="">-none-</option>
          </select>
        </td>
      </tr>
      </tbody>
    </table>
    <br>

    <div class="crm-accordion-wrapper ">
      <div class="crm-accordion-wrapper ">
        <div class="crm-accordion-header">HTML Format</div>
        <div class="crm-accordion-body">
          <br>
          &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
          &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
          &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
          <input type="hidden" groupselect id= "htgroupcomposetwob"  ></input><br><br>
          &nbsp &nbsp &nbsp &nbsp
          <textarea id="twomailbbody_html"   ng-model="mailB.body_html" style="width: 600px; height: 300px;"></textarea>
          <br> <br>
        </div>
      </div>

      <div class="crm-accordion-wrapper collapsed">
        <div class="crm-accordion-header">Plain Text</div>
        <div class="crm-accordion-body">
          <br>
          &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
          &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
          &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
          <input type="hidden" groupselect id= "textgroupcomposetwob"  ></input><br><br>
          &nbsp &nbsp &nbsp &nbsp
          <textarea ng-model="mailB.body_text" id = "twomailbbody_text" style="width: 600px; height: 300px;"></textarea>
          <br>
        </div>
      </div>

      <table ng-show="false">
        <tr>
          <td>
            <input type="checkbox">&nbsp Save Template</input>
        </tr>
      </table>
    </div>

    <div class="crm-accordion-wrapper collapsed">
      <div class="crm-accordion-header">Header and Footer</div>
      <div class="crm-accordion-body">
        <body>
        <table>
          <tr>
            <td class="label">Mailing Header</td>
            <td>
              <select ng-model="mailB.header_id" ng-options="hf.id as hf.name for hf in headerfooter| filter:isHeader">
                <option value="">-none-</option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="label">Mailing Footer</td>
            <td>
              <select ng-model="mailB.footer_id" ng-options="f.id as f.name for f in headerfooter| filter:isFooter">
                <option value="">-none-</option>
              </select>
            </td>
          </tr>
        </table>
        </body>
      </div>
    </div>
  </div>
</div>
</div>



