<form name="crmSearchDisplayEditableForm">
  <crm-search-input class="form-inline" field="$ctrl.field" ng-model="$ctrl.value"></crm-search-input>
  <div class="form-inline crm-search-display-editable-buttons">
    <button type="submit" ng-disabled="!crmSearchDisplayEditableForm.$valid" ng-click="$ctrl.save()" class="btn btn-xs btn-success">
      <i class="crm-i fa-check"></i>
    </button>
    <button type="button" ng-click="$ctrl.cancel()" class="btn btn-xs btn-danger">
      <i class="crm-i fa-times"></i>
    </button>
  </div>
</form>
