<form name="crmSearchDisplayEditableForm">
  <crm-search-input class="form-inline" field="$ctrl.field" ng-model="$ctrl.display.editValues[$ctrl.colKey]"></crm-search-input>
  <div class="form-inline crm-search-display-editable-buttons" ng-if="!$ctrl.isFullRowMode">
    <button type="submit" ng-disabled="!crmSearchDisplayEditableForm.$valid" ng-click="$ctrl.save()" class="btn btn-xs btn-success">
      <span class="sr-only">{{:: ts('Save') }}</span>
      <i class="crm-i fa-check"></i>
    </button>
    <button type="button" ng-click="$ctrl.cancel()" class="btn btn-xs btn-danger">
      <span class="sr-only">{{:: ts('Cancel') }}</span>
      <i class="crm-i fa-times"></i>
    </button>
  </div>
</form>
