<div id="civicrm-dashboard" ng-class="{'crm-dashboard-editing': $ctrl.showInactive}">
  <details class="crm-inactive-dashlet-fieldset crm-accordion-light">
    <summary>
      {{ ts('1 Available Dashlet', {plural: '%count Available Dashlets', count: $ctrl.inactive.length}) }}
      <input ng-if="$ctrl.showInactive" class="crm-form-text" ng-model="$ctrl.filterInactive" type="search" placeholder="{{:: ts('Filter by title...') }}" onclick="event.stopPropagation()">
    </summary>
    <div ng-if="$ctrl.showInactive" class="crm-accordion-body">
      <p class="help">
        {{:: ts('Drag and drop dashlets to add them to your dashboard. Changes are automatically saved.') }}
        <a crm-ui-help="hs({id: 'dash_configure', title: ts('Dashboard Configuration')})"></a>
      </p>
      <div class="crm-dashboard-droppable" ui-sortable="$ctrl.sortableOptions" ng-model="$ctrl.inactive">
        <div ng-repeat="dashlet in $ctrl.inactive" class="crm-inactive-dashlet" ng-show="$ctrl.filterApplies(dashlet)">
          <crm-inactive-dashlet dashlet="dashlet" delete="$ctrl.deleteDashlet($index)"></crm-inactive-dashlet>
        </div>
      </div>
    </div>
  </details>
  <div class="crm-flex-box">
    <div ng-repeat="(colIndex, column) in $ctrl.columns" class="crm-flex-{{2 + colIndex}} crm-dashboard-droppable" ng-model="column" ui-sortable="$ctrl.sortableOptions">
      <div ng-repeat="dashlet in column" class="crm-dashlet">
        <crm-dashlet dashlet="dashlet" remove="$ctrl.removeDashlet(colIndex, $index)" fullscreen="$ctrl.showFullscreen(dashlet)" ng-if="$ctrl.fullscreenDashlet !== dashlet.name"></crm-dashlet>
      </div>
    </div>
  </div>
</div>
