<div id="bootstrap-theme" class="crm-search">
  <h1 crm-page-title>{{:: ts('Search for %1', {1: $ctrl.entityTitle}) }}</h1>

  <!--This warning will show if bootstrap is unavailable. Normally it will be hidden by the bootstrap .collapse class.-->
  <div class="messages warning no-popup collapse">
    <p>
      <i class="crm-i fa-exclamation-triangle" aria-hidden="true"></i>
      <strong>{{:: ts('Bootstrap theme not found.') }}</strong>
    </p>
    <p>{{:: ts('This screen may not work correctly without a bootstrap-based theme such as Shoreditch installed.') }}</p>
  </div>

  <form>
    <div class="navbar-form clearfix">
      <div class="form-group pull-right">
        <button class="btn btn-default" ng-disabled="$ctrl.saved" ng-click="$ctrl.save()">
          {{ $ctrl.saved ? ts('Saved') : ts('Save') }}
        </button>
      </div>
    </div>
    <div class="crm-flex-box">
      <ul class="nav nav-pills nav-stacked" ng-include="'~/searchAdmin/tabs.html'"></ul>
      <div class="crm-flex-4" ng-switch="controls.tab">
        <div ng-switch-when="compose">
          <div ng-include="'~/searchAdmin/compose/criteria.html'"></div>
          <div ng-include="'~/searchAdmin/compose/controls.html'"></div>
          <div ng-include="'~/searchAdmin/compose/debug.html'" ng-if="$ctrl.debug"></div>
          <div ng-include="'~/searchAdmin/compose/results.html'" class="crm-search-results"></div>
          <div ng-include="'~/searchAdmin/compose/pager.html'"></div>
        </div>
        <div ng-switch-when="group">
        </div>
        <div ng-switch-default>
        </div>
      </div>
    </div>
  </form>
</div>
