<li role="presentation" ng-class="{active: controls.tab === 'compose'}">
  <a href ng-click="controls.tab = 'compose'">
    <i class="crm-i fa-gears"></i>
    {{ ts('Compose Search') }}
  </a>
</li>
<li role="presentation" ng-class="{active: controls.tab === 'group'}">
  <a href ng-click="controls.tab = 'group'">
    <i class="crm-i fa-users"></i>
    {{ ts('Smart Group: %1') }}
  </a>
</li>
<li role="presentation" ng-repeat="display in $ctrl.savedSearch.displays" ng-class="{active: controls.tab === ('display_' + $index)}">
  <a href ng-click="controls.tab = ('display_' + $index)">
    <i class="crm-i {{ $ctrl.displayTypes[display.type].icon }}"></i>
    {{ $ctrl.displayTypes[display.type].label }}
  </a>
</li>
<li role="presentation">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="crm-i fa-plus"></i> {{ ts('Add Display') }} <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li ng-repeat="type in $ctrl.displayTypes" >
      <a href ng-click="$ctrl.addDisplay(type.name)">{{ type.label }}</a>
    </li>
  </ul>
</li>
