<select
  ng-if="$ctrl.savedSets.length"
  ng-model="$ctrl.getSetFilterSet"
  ng-model-options="{getterSetter: true}"
  >
  <option value="">- {{:: ts('Saved filters') }} - </option>
  <option ng-repeat="filterSet in $ctrl.savedSets" value="{{:: filterSet.id }}">
    {{:: filterSet.label }}
  </option>
</select>

<div class="crm-buttons">
  <button
    ng-if="$ctrl.savedSets.length"
    type="button"
    class="btn btn-secondary"
    crm-icon="fa-gear"
    ng-click="$ctrl.manageDialog.open()"
    >
    {{:: ts('Manage') }}
  </button>

  <button
    ng-if="$ctrl.updateDialog.canOpen()"
    type="button"
    class="btn btn-secondary"
    crm-icon="fa-save"
    ng-click="$ctrl.updateDialog.open()"
    >
    {{:: ts('Save changes') }}
  </button>

  <button
    type="button"
    class="btn btn-primary"
    crm-icon="fa-plus"
    ng-click="$ctrl.saveDialog.open()"
    ng-disabled="!$ctrl.saveDialog.canOpen()"
    >
    {{ $ctrl.savedSets.length ? ts('Save new') : ts('Save filters') }}
  </button>
</div>

<dialog class="af-filter-sets-new">
  <div ng-show="$ctrl.saveDialog.inProgress" class="crm-loading-spinner">
    <div class="sr-only">{{:: ts('Saving...') }}</div>
  </div>
  <div ng-show="!$ctrl.saveDialog.inProgress">
    <label for="newFilterSetLabel">{{:: ts('Name') }}</label>
    <input id="newFilterSetLabel" ng-model="$ctrl.saveDialog.label" />

    <dl>
      <div ng-repeat="(key, value) in $ctrl.renderFilterSetValues($ctrl.getCurrentFilterValues())">
        <dt>{{:: key }}</dt><dd>{{ value }}</dd>
      </div>
    </dl>

    <div class="crm-buttons">
      <button
        type="button"
        class="btn btn-warning"
        crm-icon="fa-times"
        ng-click="$ctrl.saveDialog.close()"
        >
        {{:: ts('Close') }}
      </button>
      <button
        type="button"
        class="btn btn-primary"
        crm-icon="fa-save"
        ng-click="$ctrl.saveDialog.save()"
        ng-disabled="!$ctrl.saveDialog.canSave()"
        >
        {{:: ts('Save') }}
      </button>

    </div>
  </div>
</dialog>

<dialog class="af-filter-set-update">
  <div ng-show="$ctrl.updateDialog.inProgress" class="crm-loading-spinner">
    <div class="sr-only">{{:: ts('Saving...') }}</div>
  </div>
  <div ng-show="!$ctrl.updateDialog.inProgress">
    <h2>{{ ts('Updating %1', {1: $ctrl.updateDialog.oldLabel }) }}</h2>
    <label for="updateFilterSetLabel">{{:: ts('Name') }}</label>
    <input id="updateFilterSetLabel" ng-model="$ctrl.updateDialog.newLabel" />

    <!-- TODO: highlight changes -->
    <div class="af-container af-layout-cols">
      <div class="af-filter-set-before">
        <h3>{{:: ts('Before') }}</h3>
        <dl>
          <div ng-repeat="(key, value) in $ctrl.renderFilterSetValues($ctrl.updateDialog.oldValues)">
            <dt>{{:: key }}</dt><dd>{{ value }}</dd>
          </div>
        </dl>
      </div>

      <div class="af-filter-set-after">
        <h3>{{:: ts('After') }}</h3>
        <dl>
          <div ng-repeat="(key, value) in $ctrl.renderFilterSetValues($ctrl.getCurrentFilterValues())">
            <dt>{{:: key }}</dt><dd>{{ value }}</dd>
          </div>
        </dl>
      </div>
    </div>

    <div class="crm-buttons">
      <button
        type="button"
        class="btn btn-warning"
        crm-icon="fa-times"
        ng-click="$ctrl.updateDialog.close()"
        >
        {{:: ts('Close') }}
      </button>
      <button
        type="button"
        class="btn btn-primary"
        crm-icon="fa-save"
        ng-click="$ctrl.updateDialog.update()"
        ng-disabled="!$ctrl.updateDialog.canUpdate()"
        >
        {{:: ts('Save changes') }}
      </button>

    </div>
  </div>
</dialog>

<dialog class="af-filter-sets-manage">
  <div ng-if="!$ctrl.savedSets.length" class="status status-warning">
    {{:: ts('No filter sets have been created for this form.')}}
  </div>

  <ul ng-if="$ctrl.savedSets.length">
    <li ng-repeat="filterSet in $ctrl.savedSets" class="af-filter-set-manage">

      <details class="crm-accordion-wrapper">

      <summary class="crm-accordion-header">
        {{:: filterSet.label }}
        <span class="af-filter-set-description">
          {{::
            ts('Created %1 by %2', {
              1: filterSet.created_date,
              2: (filterSet['created_by.display_name'] ? filterSet['created_by.display_name'] : 'UNKNOWN')
            })
          }}
        </span>
      </summary>

      <div class="crm-accordion-body">
        <dl>
          <div ng-repeat="(key, value) in $ctrl.renderFilterSetValues(filterSet.filters)">
            <dt>{{:: key }}</dt><dd>{{ value }}</dd>
          </div>
        </dl>
        <button
          type="button"
          class="btn btn-primary btn-xs"
          crm-icon="fa-eye"
          ng-click="$ctrl.manageDialog.close() || $ctrl.applyFilterSet(filterSet.id)"
          >
          View
        </button>
        <button
          type="button"
          class="btn btn-danger btn-xs"
          crm-icon="fa-trash"
          ng-click="$ctrl.manageDialog.deleteItem(filterSet)"
          >
          Delete
        </button>
      </div>
      </details>
    </li>

  </ul>

  <div class="crm-buttons">
    <button
      type="button"
      class="btn btn-warning"
      crm-icon="fa-times"
      ng-click="$ctrl.manageDialog.close()"
      >
      {{:: ts('Close') }}
    </button>
  </div>

</dialog>