<form name="tab4Form" unsaved-warning-form>
  <div class="crm-block crm-form-block crmABTesting">
    <h3>Details</h3><br>
    <table>
      <tr>
        <td>Test Criteria</td>
        <td>{{sparestuff.template.name}}</td>
      </tr>
      <tr>
        <td>Groups Included</td>
        <td>{{sparestuff.ingrps}}</td>
      </tr>
      <tr>
        <td>Groups Excluded</td>
        <td>{{sparestuff.excgrps}}</td>
      </tr>
      <tr>
        <td>Size of Test Group</td>
        <td>{{currentABTest.group_percentage}}</td>
      </tr>
      <tr>
        <td>Winner Criteria</td>
        <td>{{sparestuff.winnercriteria}}</td>
      </tr>
      <tr>
        <td>Declare Winner By</td>
        <td>Date: {{currentABTest.date}} &nbsp; Time: {{currentABTest.time}}</td>
      </tr>
    </table>
    <span class="crm-button">
      <input type="button" value="Preview Mail" ng-click="pre()">
    </span>
    <br><br>
    <div ng-show="preview" id="prevmail">
      <div ui-jq="tabs" id="settings">
        <ul>
          <li>
            <a href="#frag1"><span>Mail A</span></a>
          </li>
          <li>
            <a href="#frag2"><span>Mail B</span></a>
          </li>
        </ul>
        <div id="frag1" ng-bind-html="deliberatelyTrustDangerousSnippeta();"></div>
        <div id="frag2" ng-bind-html="deliberatelyTrustDangerousSnippetb();"></div>
      </div>
    </div>
    <span class="crm-button">
      <input type="button" value="Send Test Emails" ng-click="sendTestMailing();">
    </span>
    <br><br>

    <div ng-show="sendtest" id="sendtest">
      Email-id : &nbsp<input placeholder = "abcd@civicrm.org" type="text" ng-model="sparestuff.emailadd">
    </div>

    <h3>When to Start</h3><br>

    <div>
      <label>
        <input type="radio" name="Start" ng-model="start" value="now" ng-checked="true"> Now &nbsp
      </label>
      <label>
        <input type="radio" name="Start" ng-model="start" value="later"> Later
      </label>
      <div ng-show="start=='later'">
      &nbsp &nbsp <input type="text" class="dateplugin"  ng-model="send_date" datepick >
      &nbsp &nbsp Time :<input type="text" placeholder="hh:mm" ng-model="currentABTest.latertime"  checktimeentry >
      </div>
    </div>

    <br><br>

    <div class="crm-submit-buttons">
      <span class="crm-button">
        <input type="submit" ng-click="tab4Form.$setPristine();" value="Previous" prevtab/>
      </span>
      <span class="crm-button">
        <input type="submit" ng-click="tab4Form.$setPristine();  startabtest(); goto('abtest');" value="Submit & Send"/>
      </span>
      <span class="crm-button">
        <input type="submit" ng-click="tab4Form.$setPristine(); goto('abtest');" value="Cancel"/>
      </span>
    </div>
  </div>
</form>

