/* HackneyBrook dark mode settings */
:root {
  --crm-c-text: #fff;
  --crm-c-link: #f5c929;
  --crm-c-link-hover: #f2d465;
  --crm-c-layer0-bg: var(--crm-c-gray-900);
  --crm-c-container-bg: var(--crm-c-gray-900);
  --crm-c-layer1-bg: var(--crm-c-gray-800);
  --crm-c-layer2-bg: var(--crm-c-gray-700);
  --crm-c-primary: var(--crm-c-container-bg);
  --crm-c-primary-text: var(--crm-c-text);
  --crm-c-secondary: var(--crm-c-layer1-bg);
  --crm-c-inactive: var(--crm-c-gray-400);
  --crm-c-amber: #993b00;
  --crm-c-red: #b3001b;
  --crm-c-red-dark: #a11b1f;
  --crm-c-red-light: #f1b6bd;
  --crm-c-teal: #a3ebe6;
  --crm-c-gray-900: #2a2a2a;
  --crm-c-gray-800: #3b3b3b;
  --crm-c-gray-700: #535252;
  --crm-c-gray-600: #67676a;
  --crm-c-gray-500: #6c6c6c;
  --crm-c-gray-300: #e1dfdf;
  --crm-c-gray-200: #bdbdbd;
  --crm-c-divider: 1px solid var(--crm-c-gray-500);
  --crm-checkbox-list-bg: #665800;
/* Emphasis colours */
  --crm-alert-success-bg: var(--crm-c-success);
  --crm-alert-success-text: var(--crm-c-success-text);
  --crm-alert-success-border: color-mix(in srgb, var(--crm-alert-success-bg) 90%,#fff 10%);
  --crm-alert-warning-bg: var(--crm-c-warning);
  --crm-alert-warning-border: color-mix(in srgb, var(--crm-alert-warning-bg) 90%,#fff 10%);
  --crm-alert-danger-border: color-mix(in srgb, var(--crm-alert-danger-bg) 90%,#fff 10%);
  --crm-c-danger-on-page-bg: var(--crm-c-danger-light);
  --crm-alert-info-bg: var(--crm-c-info);
  --crm-alert-info-text: var(--crm-c-success-text);
  --crm-alert-info-border: color-mix(in srgb, var(--crm-alert-info-bg) 90%,#fff 10%);
  --crm-c-info-on-page-bg: var(--crm-c-info-light);
  --crm-c-primary-on-page-bg: var(--crm-c-gray-300);
  --crm-c-secondary-on-page-bg: #cdcdcd;
/* And others */
  --crm-c-focus: #00a3a5;
  --crm-btn-icon-bg: var(--crm-c-gray-700);
  --crm-block-shadow: 0;
  --crm-popup-shadow: 0 3px 18px 0 rgb(0,0,0);
  --crm-heading-bg: #354b55;
  --crm-heading-col: var(--crm-c-text-light);
  --crm-dashlet-bg: var(--crm-c-layer1-bg);
  --crm-dashlet-header-bg: var(--crm-c-layer2-bg);
  --crm-dashlet-tabs-border: 0;
  --crm-btn-border: 1px solid var(--crm-c-gray-500);
  --crm-expand-header-bg: var(--crm-c-layer2-bg);
  --crm-expand-header-bg-active: var(--crm-c-gray-600);
  --crm-expand-body-bg: var(--crm-c-layer1-bg);
  --crm-expand-body-border: 0;
  --crm-dash-header-bg: transparent;
  --crm-dash-tab-bg-hover: var(--crm-c-layer1-bg);
  --crm-dash-block-bg: var(--crm-c-layer1-bg);
  --crm-dash-summary-row-bg: var(--crm-c-container-bg);
  --crm-dropdown-bg: var(--crm-c-layer1-bg);
  --crm-dropdown-2-bg: var(--crm-c-layer1-bg);
  --crm-tabs-bg: var(--crm-c-layer2-bg);
  --crm-tab-bg-active: var(--crm-c-layer1-bg);
  --crm-panel-border-col: var(--crm-c-gray-500);
  --crm-input-border-color: var(--crm-c-gray-500);
  --crm-table-row-bg: var(--crm-c-layer1-bg);
  --crm-table-row-border: 1px solid var(--crm-c-gray-200);
  --crm-table-row-hover: var(--crm-c-layer2-bg);
  --crm-input-color: var(--crm-c-text);
  --crm-input-description: var(--crm-c-gray-300);
  --crm-dialog-header-border-col: transparent;
  --crm-dialog-header-bg: var(--crm-c-layer1-bg);
  --crm-dialog-body-bg: var(--crm-c-layer1-bg);
  --crm-notify-bg: var(--crm-c-darkest);
  --crm-notify-col: var(--crm-c-text);
  --crm-wizard-active-bg: var(--crm-c-blue-dark);
  --crm-c-code-bg: var(--crm-c-layer1-bg);
  --crm-filter-item-bg: var(--crm-c-layer1-bg);
  --crm-icon-danger-color: var(--crm-notify-danger);
  --crm-icon-success-color: var(--crm-notify-success);
  --crm-icon-warning-color: var(--crm-notify-warning);
}
