#afGuiEditor {
  display: flex;
}

#afGuiEditor .panel.panel-default {
  /*margin-bottom: 0;*/
}

#afGuiEditor #afGuiEditor-palette {
  flex: 1;
  margin-right: 5px;
}

#afGuiEditor #afGuiEditor-canvas {
  flex: 1.5;
  margin-left: 5px;
}

#afGuiEditor-canvas .panel-body {
  padding-top: 5px;
}

#afGuiEditor #afGuiEditor-palette-tabs li {
  top: 1px;
}

#afGuiEditor #afGuiEditor-palette-tabs li > a {
  padding: 10px 15px;
  font-size: 12px;
}

#afGuiEditor #afGuiEditor-palette-tabs .dropdown-menu {
  max-height: 500px;
  overflow-y: auto;
}

#afGuiEditor .crm-editable-enabled,
#afGuiEditor-palette-tabs > li > a > span {
  display: inline-block;
  padding: 0 4px !important;
  border: 2px solid transparent !important;
}
#afGuiEditor .crm-editable-enabled:hover:not(:focus) {
  border: 2px dashed grey !important;
}
#afGuiEditor .crm-editable-enabled:before,
#afGuiEditor .crm-editable-enabled:after {
  content: '';
  display: none;
}

#afGuiEditor-palette-config .af-gui-entity-values .form-inline {
  margin-bottom: 10px;
}

#afGuiEditor-palette-config .form-inline label {
  min-width: 110px;
}

#afGuiEditor input[type=search]::placeholder {
  font-family: FontAwesome;
  text-align: right;
}
#afGuiEditor input[type=search]:-ms-input-placeholder {
  font-family: FontAwesome;
  text-align: right;
}
#afGuiEditor input[type=search]::-ms-input-placeholder {
  font-family: FontAwesome;
  text-align: right;
}

#afGuiEditor .af-gui-bar {
  height: 22px;
  width: 100%;
  opacity: 0;
  transition: opacity 1s 2s;
  position:relative;
}
#afGuiEditor [ui-sortable] .af-gui-bar {
  cursor: move;
  background-color: #efefef;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 15px;
}
#afGuiEditor-canvas:hover .af-gui-bar {
  opacity: 1;
  transition: opacity .2s;
}
#afGuiEditor-canvas .panel-body > div > .af-gui-bar {
  top: -5px;
}

#afGuiEditor .af-gui-bar .btn.active {
  background-color: #b3b3b3;
}

#afGuiEditor .af-gui-element {
  position: relative;
  padding: 22px 3px 3px;
  min-height: 40px;
}

#afGuiEditor .af-gui-block {
  border: 2px dashed transparent;
}

#afGuiEditor .af-gui-block:hover {
  border: 2px dashed #757575;
}

#afGuiEditor #afGuiEditor-canvas .af-entity-selected {
  border: 2px dashed #0071bd;
}
#afGuiEditor #afGuiEditor-canvas .af-entity-selected > .af-gui-bar {
  background-color: #0071bd;
  opacity: 1;
  transition: opacity 0s;
}
#afGuiEditor #afGuiEditor-canvas .af-entity-selected > .af-gui-bar > span {
  color: white;
}

#afGuiEditor .af-gui-entity-fields legend {
  margin-bottom: 0 !important;
}

#afGuiEditor [ui-sortable] {
  min-height: 25px;
}

#afGuiEditor .af-gui-field-select-list {
  max-height: 280px;
  overflow-y: auto;
}

#afGuiEditor .af-gui-field-select-list > div {
  cursor: move;
  padding-left:15px;
  position: relative;
}
#afGuiEditor .af-gui-field-select-list > div.disabled {
  cursor: auto;
}
#afGuiEditor .af-gui-field-select-list > div:not(.disabled):hover {
  background-color: #efefef;
}
/* grip handle */
#afGuiEditor [ui-sortable] .af-gui-bar:before,
#afGuiEditor .af-gui-field-select-list > div:not(.disabled):hover:before {
  background-size: cover;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSIjODg4Ij48L3JlY3Q+Cjwvc3ZnPg==");
  width: 10px;
  height: 15px;
  content: ' ';
  display: block;
  position: absolute;
  left: 4px;
  top: 5px;
}
#afGuiEditor #afGuiEditor-canvas .af-gui-add-canvas-button {
  border: 2px dashed #0071bd;
  color: #0071bd;
  padding-top: 2px;
  padding-bottom: 2px;
}
#afGuiEditor .af-gui-add-block-button span {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 2px dashed #0071bd;
  color: #0071bd;
}
#afGuiEditor .af-gui-add-block-button span i {
  position: relative;
  top: -3px;
}

#afGuiEditor .af-gui-layout-icon {
  width: 12px;
  height: 11px;
  display: block;
  background-image: url('../images/icons.png');
  background-repeat: no-repeat;
  margin: 4px 1px;
}
#afGuiEditor .af-gui-layout-icon.af-layout-cols {
  background-position: -12px 0;
}
#afGuiEditor .af-gui-layout-icon.af-layout-rows {
  background-position: -24px 0;
}

#afGuiEditor .af-gui-layout.af-layout-cols {
  display: flex;
}
#afGuiEditor .af-gui-layout.af-layout-cols > div {
  flex: 1;
}
#afGuiEditor .af-gui-layout.af-layout-inline > div {
  display: inline-block;
  width: 300px;
}

#afGuiEditor-canvas .panel-heading .btn-group {
  position: relative;
  top: -8px;
}
