#afGuiEditor-main {
  display: flex;
}

#afGuiEditor-main .panel.panel-default {
  margin-bottom: 0;
}

#afGuiEditor-main #afGuiEditor-palette {
  flex: 1;
  margin-right: 5px;
  box-shadow: 0 3px 18px 0 rgba(48,40,40,0.25);
}

#afGuiEditor-main #afGuiEditor-canvas {
  flex: 1;
  margin-left: 5px;
}

#afGuiEditor-main #afGuiEditor-palette-tabs {
  width: 110px;
  position: absolute;
  left: 0;
  top: 0;
}

#afGuiEditor-main #afGuiEditor-palette-tabs li > a {
  padding: 10px 15px;
  font-size: 12px;
}

#afGuiEditor-main #afGuiEditor-palette-tabs .dropdown-menu {
  max-height: 500px;
  overflow-y: auto;
}

#afGuiEditor-main #afGuiEditor-palette-config {
  margin-left: 110px;
  box-shadow: none;
}
