<div class="crm-section">
  <div class="label">
    <label>{{widgetData.label}}:</label>
  </div>
  <div class="content">checkbox
<!--    <div class="crm-field-wrapper" ng-repeat="(key, option) in field.options">
      <% var elementClass = 'crm-form-' + elementType; %>
      <% var elementID = elementName + '_' + item.value; %>
      <input class="<%= elementClass %>" id="<%= elementID %>" name="<%= elementName %>" type="<%= elementType %>" value="<%= item.value %>"/>
      <label for="<%= elementID %>"><%= item.label %></label>
    </div>-->
  </div>
</div>