:root {
/* Colour names */
/* Practical colours, e.g. text, link '--crm-c-' */
  --crm-c-text: var(--crm-c-text-light);
  --crm-border-color: var(--crm-c-gray-500);
/* Backgrounds, '--crm-c-X-bg' */
  --crm-c-code-bg: var(--crm-c-layer1-bg);
  --crm-c-layer1-bg: var(--crm-c-gray-800);
  --crm-c-layer2-bg: var(--crm-c-gray-700);
/* Emphasis colours, e.g. warning, danger, info '--crm-c-' */
  --crm-c-primary-on-page-bg: var(--crm-c-gray-300);
  --crm-c-secondary-on-page-bg: #cdcdcd;
  --crm-c-success-on-page-bg: var(--crm-c-success-light);
  --crm-c-warning-on-page-bg: var(--crm-c-warning-light);
  --crm-c-danger-on-page-bg: var(--crm-c-danger-light);
  --crm-c-info-on-page-bg: var(--crm-c-info-light);
/* Shadows */
  --crm-shadow-popup: 0 3px 18px 0 rgb(0,0,0);
/* Sizes */
/* Type */
  --crm-heading-col: var(--crm-c-text-light);
/* Mouse events */
/* Buttons '--crm-btn-' */
/* Tables '--crm-table-' */
  --crm-table-row-alternate-bg: #fff;
/* Panels '--crm-panel-' */
/* Accordions '--crm-accordion-' and '--crm-accordion2-' for .crm-accrdion-light */
  --crm-accordion-body-bg: var(--crm-c-layer1-bg);
/* Alerts '--crm-alert' */
  --crm-alert-danger-bg: var(--crm-c-danger);
  --crm-alert-danger-text: var(--crm-c-danger-text);
  --crm-alert-danger-border: color-mix(in srgb, var(--crm-alert-danger-bg) 90%,#fff 10%);
  --crm-alert-info-bg: var(--crm-c-info);
  --crm-alert-info-border: color-mix(in srgb, var(--crm-alert-info-bg) 90%,#fff 10%);
  --crm-alert-info-text: var(--crm-c-success-text);
  --crm-alert-success-bg: var(--crm-c-success);
  --crm-alert-success-border: color-mix(in srgb, var(--crm-alert-success-bg) 90%,#fff 10%);
  --crm-alert-success-text: var(--crm-c-success-text);
  --crm-alert-warning-bg: var(--crm-c-warning);
  --crm-alert-warning-border: color-mix(in srgb, var(--crm-alert-warning-bg) 90%,#fff 10%);
/* Form '--crm-form-' '--crm-input-' '--crm-inline-' '--crm-fieldset-' '--crm-checkbox' */
  --crm-input-description: var(--crm-c-gray-300);
/* Tabs '--crm-tabs' */
  --crm-tabs-bg: var(--crm-c-layer2-bg);
/* Contact layout '--crm-contact-' */
  --crm-contact-label-bg: transparent;
/* Dialog '--crm-dialog-' */
  --crm-dialog-header-border-col: transparent;
/* Dashlet for main dashboard '--crm-dashlet-' */
/* Button dropdowns '--crm-dropdown-' */
/* Notifications '--crm-notify-' */
/* Icons '--crm-icon-' */
/* Wizard '--crm-wizard-' */
/* Alpha filter '--crm-filter-' */
/* Frontend '--crm-f- */
}
