/* CSS hacks to accommodate quirks and inconsistencies in the markup.
   The end goal would be to remove these once the markup is
   consistent, and another  */

/******************
    ACCORDIONS
    From Civi 5.72 these are only needed for extensions
*******************/

/* Reset */

.crm-container .widget-content .crm-accordion-wrapper.collapsed .crm-accordion-header,
.crm-container .widget-content .crm-accordion-header,
.crm-container .crm-accordion-inner .crm-accordion-header, 
.crm-container .crm-accordion-wrapper .crm-master-accordion-header, 
.crm-container .crm-collapsible .collapsible-title,
.crm-container .collapsed .crm-accordion-header,
.crm-container .crm-accordion-header{
	background-image: none;
	text-indent: 0;
}
.crm-container div.collapsed .crm-accordion-body,
.crm-container div.crm-collapsible.collapsed .collapsible-title+*,
.crm-container tr.hiddenElement {
	display: none;
}
.accordion.ui-accordion.ui-widget.ui-helper-reset {
	border: 0 solid transparent;
	box-shadow: var(--crm-block-shadow);
}

/* Expand/collapse icons */

.crm-container .crm-accordion-header::before, 
details.af-collapsible > .af-title::before,
.crm-dashlet-header .crm-dashlet-collapse.fa-caret-down::before,
.crm-dashlet-header .crm-dashlet-collapse.fa-caret-right::before,
.crm-container .crm-master-accordion-header:before,
.crm-container .expanded::before,
.crm-container a.collapsed::before,
.crm-container a.crm-expand-row:not(.expanded)::before,
.crm-container .civicrm-community-messages .crm-collapsible .collapsible-title::before,
.crm-container .show-children.collapsed::before {
	font-size: var(--crm-font-size);
	font-style: normal;
	text-rendering: auto;
	text-indent: inherit;
	font-family: FontAwesome;
	color: var(--crm-expand-icon-color);
    margin-right: var(--crm-expand-icon-spacing);
	display: inline-block;
	transform-origin: center center;
	content: var(--crm-expand-icon);
	cursor: var(--crm-hover-clickable);
}
.crm-container .collapsed .collapsible-title::before,
.crm-container .collapsed .crm-accordion-header::before, 
.crm-accordion-wrapper.collapsed .crm-master-accordion-header:before,
.crm-dashlet-header .crm-dashlet-collapse.fa-caret-right::before,
details.af-collapsible.af-collapsed > .af-title::before, 
.crm-container a.collapsed:not(.expanded)::before,
.crm-container a.crm-expand-row::before,
.crm-container .civicrm-community-messages .crm-collapsible.collapsed .collapsible-title::before {
    transform: none;
	transform-origin: center center;
	transition: var(--crm-expand-transition);
}
.crm-container .crm-accordion-header::before, 
details.af-collapsible[open] > .af-title::before,
.crm-dashlet-header .crm-dashlet-collapse.fa-caret-down::before,
.crm-container .crm-master-accordion-header:before,
.crm-container a.collapsed::before,
.crm-container a.expanded::before,
.crm-container a.crm-expand-row.expanded::before,
.crm-container .civicrm-community-messages .crm-collapsible .collapsible-title::before,
.crm-container .show-children.expanded::before {
	content: var(--crm-expand-icon);
	transform: var(--crm-expand-transform);
	transform-origin: center center;
	transition: var(--crm-expand-transition);
	float: left;
}
.crm-container a.crm-expand-row:not(.expanded)::before,
.crm-container a.crm-expand-row.expanded::before {
	margin-right: 0;
}
a.crm-expand-row:hover,a.crm-expand-row:focus {
	text-decoration: none;
	color: inherit;
}

/* Header */

.crm-container .crm-accordion-header,
.crm-container .crm-collapsible .collapsible-title,
.af-collapsible > summary.af-title,
.crm-container span.collapsed:not(.show-children) {
	cursor: var(--crm-hover-clickable);
	padding: var(--crm-expand-header-padding);
	border-radius: var(--crm-roundness) var(--crm-roundness) 0 0;
	background-color: var(--crm-expand-header-bg);
	font-weight: var(--crm-expand-header-weight);
	color: var(--crm-expand-header-color);
} 
.crm-container .crm-accordion-wrapper.collapsed .crm-accordion-header,
/* .af-collapsible.af-collapsed > .af-title, */
.crm-container .crm-collapsible.collapsed .collapsible-title {
	border-radius: var(--crm-roundness);
}
.crm-container .widget-content .crm-accordion-header,
.crm-container .crm-accordion-inner .crm-accordion-header,
.crm-container .crm-collapsible .collapsible-title{
	background-color: transparent;
	color: var(--crm-c-text);
	font-size: var(--crm-font-size);
}
.crm-accordion-wrapper .crm-accordion-header.active,
.crm-accordion-wrapper .crm-accordion-wrapper.collapsed:hover,
.crm-accordion-wrapper .crm-accordion-wrapper.collapsed:focus,
.crm-accordion-wrapper .crm-accordion-header:hover,
.crm-accordion-wrapper .crm-accordion-header.active:hover {
	background-color: var(--crm-expand-header-bg-active);
}
.crm-container .crm-accordion-wrapper .crm-master-accordion-header {
	background-color: var(--crm-expand-header2-bg);
	font-weight: var(--crm-expand-header2-weight);
	color: var(--crm-expand-header2-color);
}
.crm-container .crm-accordion-wrapper .crm-master-accordion-header:hover,
.crm-container .crm-accordion-wrapper .crm-master-accordion-header:focus {
	background-color: var(--crm-expand-header2-bg);
}
/* Body */

.crm-container .crm-accordion-wrapper .crm-accordion-body {
	border-radius: 0 0 var(--crm-roundness) var(--crm-roundness);
	border: var(--crm-expand-body-border);
	padding: var(--crm-expand-body-padding);
	background-color: var(--crm-expand-body-bg);
	box-shadow: var(--crm-expand-body-box-shadow);
	animation: crm-details-show .3s ease-in-out;
}
.crm-container .widget-content .crm-accordion-body,
.crm-container .crm-collapsible .crm-summary-block {
	padding: var(--crm-expand-body-padding);
}
.crm-container .crm-master-accordion-header + .crm-accordion-body {
	border: var(--crm-expand-body2-border);
	background-color: var(--crm-expand-body2-bg);
}
.crm-container summary label {
	color: inherit;
	font-size: inherit;
}
.crm-container details table.dataTable {
	width: 100% !important; /* dev/user-interface/-/issues/73 */
	box-sizing: border-box;
}

/******************
    ALERTS
*******************/

.crm-container del, 
.crm-container .ui-icons_deleted, 
.crm-container table.caseSelector td.status-urgent, 
.crm-container .font-red, 
.crm-container .status-removed, 
.crm-container .status-overdue, 
.crm-container .status-fatal, 
.crm-container .status-hold, 
.crm-container .status-past, 
.crm-contact-deceased, 
.crm-container .status-warning {
	color: var(--crm-c-alert);
}
.crm-container .alert.alert-info.font-red { /* for when an info alert wants to be a danger alert! */
	background-color: var(--crm-alert-background-danger);
	border-color: var(--crm-alert-border-danger);
}

/******************
    BUTTONS
	  For buttons not using .crm-button or .btn or <button>
*******************/

/* .crm-container a.button,
.crm-container button, */
.crm-container .ui-button:not(.ui-button-icon-only) {
	display: inline-block;
	text-align: var(--crm-btn-align);
	white-space: nowrap;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: var(--crm-btn-border);
	padding: var(--crm-btn-padding-block) var(--crm-btn-padding-inline);
	font-size: var(--crm-font-size);
	border-radius: var(--crm-btn-radius);
	user-select: none;
	margin-bottom: 0;
	background-color: var(--crm-c-primary);
	color: var(--crm-c-primary-text); /* Somewhere this needs to be !important but removing for now */
	line-height: 1.5;
	display: flex;
	/* align-items: center; */
	height: var(--crm-btn-height);
	width: fit-content;
	gap: var(--crm-btn-icon-spacing); /* last four lines centre icons */
}
.crm-container .ui-button:hover,
.crm-container .ui-button:focus {
    background: var(--crm-c-primary-hover);
	color: var(--crm-c-primary-text);
	text-decoration: none;
}
.crm-button > input[type="button"],
.crm-button > input[type="submit"] {
    background: transparent;
    color: inherit;
    padding: 0;
	border: 0;
}
.crm-container a.button {
    background: var(--crm-c-secondary);
    color: var(--crm-c-secondary-text);
	border: var(--crm-btn-border);
    font-weight: normal;
	text-decoration: none;
	line-height: inherit;
}
.crm-container a.button span {
	display: flex;
	align-items: center;
	justify-content: center;
}
.crm-container a.button:hover,
.crm-container a.button:focus {
    background: var(--crm-c-secondary-hover);
	color: var(--crm-c-secondary-text);
}
.crm-actions-ribbon a.button,
.crm-container .action-link a.button {
    background: var(--crm-c-primary);
    color: var(--crm-c-primary-text);
    font-weight: normal;
	text-decoration: none;
}
.crm-container .crm-actions-ribbon a.button:not(.delete):hover,
.crm-container .crm-actions-ribbon a.button:not(.delete):focus,
.crm-container .action-link a.button:hover,
.crm-container .action-link a.button:focus {
    background: var(--crm-c-primary-hover);
	text-decoration: none;
}
.crm-config-backend-form-block > div { /* makes cleanup cache buttons flow inline */
	display: flex;
	gap: var(--crm-flex-gap);
}

/* Icon alignment */

.crm-container .ui-button-icon-space {
    display: none;
}

/* Small buttons */

.crm-container .btn-xs,
.crm-container button.dropdown-toggle.btn-xs,
.crm-container .crm-accordion-header a.crm-hover-button,
.crm-container .crm-form-date-wrapper a.crm-hover-button, 
.crm-container .btn-group-xs > .btn, 
body[class*="page-civicrm-report-"] #report-tab-order-by-elements #optionFieldLink.btn-group-xs > .form-link, 
.crm-container .crm-search-form-block.btn-group-xs > a, 
.crm-container .crm-search-form-block.btn-group-xs > span, 
.page-civicrm-admin.page-civicrm-a .crmCaseType .btn-group-xs > .crm-button, 
.page-civicrm-a.page-civicrm-a .crmCaseType .btn-group-xs > .crm-button, 
.crm-container #crm-submit-buttons .btn-group-xs > button.crm-form-submit, 
.crm-container .btn-group-xs > button.crm-button.crm-form-submit, 
.crm-container .btn-group-xs > .crm-hover-button, 
.crm-container .ui-dialog-buttonset .btn-group-xs > .ui-button, .crm-container .btn-group-xs > a.button, 
.crm-container .btn-group-xs > input[type="button"] {
    padding: var(--crm-xs) var(--crm-s);
    font-size: var(--crm-small-font-size);
    border-radius: var(--crm-roundness);
	height: auto;
} 
.crm-container .btn-group-xs button {
    padding: var(--crm-xs) var(--crm-s);
    font-size: var(--crm-small-font-size);
}
/* select all 'checkbox' on table th */
.crm-container button.btn:has(.fa-square-o) {
	padding-inline: 0;
	border-right: 0;
}
.crm-container i.ui-icon.fa-square-o {
	margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/******************
	FORM
	Inline labels/inputs with a 17% width?
*******************/

@media (min-width: 480px) {
	.crm-container .crm-section .label {
		float: left;
		width: 17%;
		text-align: right;
	}
	.crm-container .crm-section .content {
		margin-left: 19%;
	}
}

/******************
	TABS
*******************/

.afadmin-list .nav-tabs + .form-inline + table,
.afadmin-list > .form-inline,
crm-search-admin-search-listing .crm-search-display.crm-search-display-table {
    border: 1px solid var(--crm-tab-border-col);
    border-top: 0 solid transparent;
    border-radius: 0 0 var(--crm-roundness) var(--crm-roundness);
	background: var(--crm-tab-bg-active);
}
.crm-search > .ng-scope > .form-inline {
    border: 1px solid var(--crm-tab-border-col);
	border-radius: 0;
	border-width: 0 1px 0 1px;;
}
.afadmin-list > .form-inline {
	border-radius: 0;
	border-bottom: 0;
}
.afadmin-list .nav-tabs + .form-inline,
.crm-search-nav-tabs ~ .ng-scope > .form-inline {
    padding: var(--crm-r);
	background: var(--crm-tab-bg-active);
}
.crm-container .ui-tabs ul.crm-extensions-tabs-list a em {
	display: none;
}
#crm-status-list {
	box-shadow: var(--crm-block-shadow);
}

/******************
    PAGES
*******************/

/* Contacts - New */

.CRM_Contact_Form_Contact > .crm-form-block > details,
.CRM_Contact_Form_Contact > .crm-form-block > div > details {
	margin-inline: calc(-1 * var(--crm-form-block-padding));
	padding-inline: var(--crm-expand-2-body-padding);
	margin-bottom: var(--crm-expand-2-body-padding);
}
.crm-container .crm-add-address-wrapper {
	height: auto;
}

/* Tag mgmt page */

#mainTabContainer #tagtree {
	max-height: 100%;
	overflow: inherit;
}
.crm-container .tag-tree-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: var(--crm-m) 0;
}
.crm-container .tag-tree-wrapper div.tag-tree {
    width: auto;
}
.crm-container .tag-tree-wrapper div.tag-info {
    width: auto;
    position: relative;
    background: var(--crm-c-background);
    border: 0 solid transparent;
    box-shadow: var(--crm-block-shadow);
    padding: var(--crm-padding-reg);
    font-family: var(--crm-font);
    border-radius: var(--crm-roundness);
    top: 0;
}
.crm-container .tag-tree-wrapper div.tag-info .tdl {
    font-weight: var(--crm-bold-weight);
    font-family: var(--crm-font-bold);
    color: var(--crm-c-text);
}
.crm-container .tag-tree-wrapper div.tag-info .crm-submit-buttons {
    margin: var(--crm-m) 0 0;
    padding: 0;
}
.crm-container .tag-tree-wrapper .tag-tree a.crm-tag-item {
    font-size: var(--crm-r);
    font-family: var(--crm-font);
    height: auto;
    padding: var(--crm-padding-small);
    border-radius: var(--crm-btn-radius);
}
@media (max-width: 768px) {
    .crm-container .tag-tree-wrapper {
        display: block;
    }  
}
/* Dedupe change usage */
.crm-container label:has(.dedupe-rules-dialog-desc) input {
	float: left;
	margin: var(--crm-s) var(--crm-m) 0 0;
}
.crm-container .dedupe-rules-dialog-desc {
	font-weight: normal;
	font-family: var(--crm-font);
}
/* CiviContribute dashboard */

.crm-container #ContributionCharts #mainTabContainer {
    box-shadow: var(--crm-block-shadow);
}
.crm-container #ContributionCharts .ui-tabs-nav {
	align-items: center;
	gap: 1px; /* to handle white space in markup */
}
.crm-container #ContributionCharts .ui-tabs-nav .float-right td {
	padding: 0 var(--crm-s);
}
#ContributionCharts ul.ui-tabs-nav li.crm-tab-button {
	padding: var(--crm-tab-padding);
	border-radius: var(--crm-tab-roundness);
}
#ContributionCharts ul.ui-tabs-nav li.crm-tab-button a {
	padding: 0;
}
#ContributionCharts ul.ui-tabs-nav .float-right {
	margin-left: auto;
}
#ContributionCharts ul.ui-tabs-nav .float-right table,
#ContributionCharts ul.ui-tabs-nav .float-right table tr {
	background: none;
	margin: 0;
	border: 0 solid transparent;
	box-shadow: none;
}
#ContributionCharts #chartData {
	padding: var(--crm-padding-reg);
	box-shadow: none;
	background: var(--crm-tab-bg-active);
}
/* Include profile (contribtuion page and events  */
.crm-contribution-contributionpage-custom-form-block-custom_pre_id td.html-adjust > div > div,
.crm-contribution-contributionpage-custom-form-block-custom_post_id td.html-adjust > div > div,
.crm-event-manage-registration-form-block-custom_pre_id td > div > div,
.crm-event-manage-registration-form-block-custom_post_id td > div > div {
	display: flex;
	gap: var(--crm-s);
}
/* Event dashboard */
.CRM_Event_Form_Search .button {
	float: left;
	margin-right: var(--crm-m);
}
#crm-event-dashboard-heading + div a,
.CRM_Event_Form_SearchEvent .crm-content-block .float-right a {
	display: flex;
	padding: 0 0 var(--crm-m) 0;
	gap: var(--crm-m);
	align-items: center;
}
/* Dedupe page */
#browseValues_Individual > div:last-of-type,
#browseValues_Household > div:last-of-type,
#browseValues_Organization > div:last-of-type {
	float: none !important; /* overwrites inline 'float' that breaks page wrapper */
	display: flex;
	justify-content: flex-end;
	padding: 0 0 var(--crm-l) 0;
}

/* New mailing */
.crm-container .crmMailing-preview {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.crm-container .crmMailing-preview .preview-popup,
.crm-container .crmMailing-preview .preview-contact,
.crm-container .crmMailing-preview .preview-group {
	display: flex;
	flex-direction: column;
	height: auto;
	align-items: center;
	gap: var(--crm-m);
	width: 100%;
}
.crmMailing .preview-popup, .crmMailing .preview-contact {
	border-right: 1px solid var(--crm-c-divider);
}
.crm-container .crmMailing-preview .clear {
	display: none;
}
/* CiviCase  */
.crm-container .crm-case-dashboard-switch-view-buttons {
	margin-left: auto;
	display: flex;
}
.crm-container .crm-case-caseview-form-block table#searchOptions {
	width: auto !important;
}
.crm-case-form-block h3,
.crm-case-caseview-form-block h3 {
	background: transparent;
	padding: 0;
}
.crm-case-activity-form-block-followup_activity_type_id .crm-form-date-wrapper {
	display: inline-block;
}
.crm-case-activity-form-block table.form-layout-compressed {
	width: 100%;
}
.crm-case-form-block-medium_id td.view-value label {
	width: auto;
}
/* API3 explorer */

#api-generated caption {
	font-weight: var(--crm-bold-weight);
	font-family: var(--crm-font-bold);
}
#api-generated tr td:first-of-type {
	width: var(--crm-input-label-width);
} 
/* Display Preferences */

tr.crm-preferences-display-form-block-contact_edit_options td:has(table) {
	padding: 0;
}

tr.crm-preferences-display-form-block-contact_edit_options td table {
	width: auto !important;
}
/******************
    SEARCH
*******************/

.crm-container div#searchForm table.form-layout {
	background: transparent;
	box-shadow: none;
}
/* Advanced Search */
.crm-container .adv-search-top-submit {
	display: flex;
	float: right;
	gap: 1rem;
	align-items: center;
}
.crm-container .form-layout td:has(#_qf_Advanced_refresh-bottom) {
	display: flex;
	gap: var(--crm-m);
	align-items: center;
}
.crm-container .adv-search-top-submit .crm-submit-buttons,
.crm-container .form-layout td:has(#_qf_Advanced_refresh-bottom) .crm-submit-buttons {
	padding: 0;
}
/* Full Text */
#searchForm table.form-layout-compressed td {
	padding: var(--crm-padding-reg);
}
/* Case */
.crm-case_search-accordion .crm-accordion-body .form-layout > tbody:first-child,
.crm-case_search-accordion .crm-accordion-body .form-layout > tbody:first-child > tr,
.crm-case_search-accordion .crm-accordion-body .form-layout > tbody:first-child > tr > td {
	display: block;
}
.crm-case_search-accordion .crm-accordion-body .form-layout > tbody:first-child > tr:nth-of-type(1) > td:nth-of-type(2) {
	display: none !important;
}
.crm-case_search-accordion .crm-accordion-body .form-layout > tbody:first-child > tr #s2id_case_status_id {
	margin-bottom: var(--crm-r1);
}
.crm-case_search-accordion .crm-accordion-body .form-layout > tbody:first-child > tr:nth-of-type(1) > td:nth-of-type(1) label {
	display: block;
}
.crm-case_search-accordion .crm-accordion-body .form-layout > tbody:first-child > tr:nth-of-type(1) > td:nth-of-type(1) label + input {
	margin-left: -0.6rem;
}

/* Member */
.page-civicrm-member-search .CRM_Member_Form_Search .crm-accordion-body tr:last-child td {
	padding-top: var(--crm-r);
}
/* Find Participants */
.crm-container div#searchForm table.form-layout td {
	border: 0 solid transparent;
}
/* Custom searches */
.crm-container > #crm-main-content-wrapper > fieldset {
	display: grid;
	background: var(--crm-c-background);
	border: 0 solid transparent;
	box-shadow: var(--crm-block-shadow);
	padding: var(--crm-padding-reg);
	gap: var(--crm-m);
	margin-bottom: var(--crm-r);
}
.crm-container > #crm-main-content-wrapper > fieldset > * {
	margin: 0;
}
					
/******************
	PADDING FIXES
*******************/

/* General */
.crm-container .crm-form-block .crm-form-block {
	padding: var(--crm-form-block-padding);
	margin-bottom: var(--crm-r);
}
/* Save as template text on new email form */
.crm-container #editMessageDetails {
	padding: var(--crm-padding-reg);
}
/* Contact dashboard page */
.crm-contact-page {
    padding: 0;
}
#mainTabContainer .form-group.pull-right  > .btn-group {
    margin-bottom: var(--crm-m2);
}
/* Contact dashboard page */
.crm-actions-ribbon .crm-next-action,
.crm-actions-ribbon .crm-previous-action {
    margin-left: auto;
}
.crm-container .view-contact-groups .description {
	margin: var(--crm-r) 0;
}
/* Contacts - new */
.CRM_Contact_Form_Contact > .crm-form-block .crm-submit-buttons:first-of-type {
	margin-bottom: var(--crm-padding-reg);
	padding: 0;
}
.CRM_Contact_Form_Contact > .crm-form-block .crm-submit-buttons:last-of-type {
	margin-top: var(--crm-padding-reg);
	padding: 0;
}
/* Imports */
.crm-form-block.ui-iconmport-mapfield-form-block .help,
.crm-form-block.ui-iconmport-preview-form-block .help,
.crm-activity-import-preview-form-block .help {
	background-color: transparent;
	border: 0;
}
/* Manage groups */
.crm-group-search-form-block details table,
.crm-group-search-form-block details table tr {
	border: 0 solid transparent;
}
/* Group contents / contact listing */
.crm-container .crm-form-block #searchForm .crm-form-block {
	padding: 0;
	margin-bottom: 0;
}
.crm-search-form .crm-submit-buttons {
	padding: 0 0 var(--crm-m);
}
.crm-search-form .crm-search-form-block {
	margin-bottom: var(--crm-r);
}
/* Dedupe exceptions */
details + .crm-content-block:has(.dataTables_wrapper) {
	margin-top: var(--crm-r);
}
/* Contribution page edit/create */
.crm-container .crm-premium-settings-accordion {
	margin-bottom: var(--crm-padding-reg);
}
/* Personal Campaign pages */
.CRM_PCP_Form_PCP .messages.status {
	margin: var(--crm-padding-reg) 0;
}
/* Manage cases */
.crm-container table.report.case-summary {
	margin-top: var(--crm-padding-reg);
	width: 100%;
}
.crm-container table.report.case-summary table.form-layout-compressed {
	box-shadow: none;
	border: 0;
	margin: 0;
	width: 100%;
}
.crm-container .case-control-panel,
.crm-container .crm-case-filter-upcoming {
	padding-bottom: var(--crm-padding-reg);
}

/******************
	RESPONSIVE
*******************/

/* Contact dashboard */

@media (max-width: 768px) {
	.crm-container div.contact_panel {
		display: block;
	}
}

/******************
	AFFORM layouts
*******************/

/* padding fixes */

.crm-container .af-layout-inline ~ .btn-group.pull-right {
	margin: var(--crm-padding-reg) 0;
}
/* .crm-container .crm-search-display-table  .form-inline {
	display: flex;
	gap: var(--crm-padding-reg);
} */
.crm-container .crm-search-display-table .form-inline .form-group.pull-right {
	margin-left: auto;
}

/* CiviCampaign dashboard */

.crm-container #tab-campaigns,
.crm-container #tab-surveys,
.crm-container #tab-petitions {
	padding: var(--crm-tab-padding)
}

/******************
	COMMON EXTENSIONS
*******************/

/* Contact Dashboard Editor */

.crm-contact-summary-edit-layout {
	grid-column: 1 / span 5;
	text-align: right;
}
.crm-contact-summary-edit-layout a.crm-hover-button {
	background: var(--crm-c-primary);
	color: var(--crm-c-primary-text) !important;
	padding: var(--crm-btn-padding-block) var(--crm-btn-padding-inline);
	line-height: var(--crm-btn-height);
}
.crm-contact-summary-edit-layout a.crm-hover-button:hover {
	background: var(--crm-c-primary-hover);
	color: var(--crm-c-primary-text) !important;
	padding: var(--crm-btn-padding-block) var(--crm-btn-padding-inline);
}
#contactLayoutEditor .panel-heading .btn {
	padding: var(--crm-btn-padding-block) var(--crm-btn-padding-inline);
}


/* Mosaico (all importants vs the extension css) */

.crm-mosaico-wizard .crm_wizard__body .form-group {
	max-width: 100% !important;
}
.crm-mosaico-page .from-group .btn {
	padding: var(--crm-padding-small);
	height: auto;
}
.crm-mosaico-page .select2-container {
	min-width: var(--crm-big-input);
}
.mosaico-templates-wrapper {
	margin: 0 !important;
}
.mosaico-templates-wrapper .form-inline {
	padding: var(--crm-padding-reg) 0 0 var(--crm-padding-reg);
}
.crm-mosaico-modal-panel {
	margin: 0 !important;
}
.modal-dialog:has(.crm-mosaico-page) {
	width: 100% !important;
}
.ui-widget-content.modal-dialog .crm-mosaico-page .panel {
	border: 0;
}
.ui-widget-content.modal-dialog .crm-mosaico-page .panel .tab-pane {
	border: 1px solid var(--crm-tab-border-col);
	border-top: 0;
	padding: var(--crm-tab-padding);
	background-color: var(--crm-tab-bg-active);
	border-radius: 0 0 var(--crm-tab-roundness) var(--crm-tab-roundness);
}
.select2-drop.select2-drop-active.crm-container {
    max-width: var(--crm-huge-input); /* Mosaico fix - https://lab.civicrm.org/extensions/riverlea/-/issues/23 */
}

/******************
	CORE EXTENSIONS
*******************/

.af-container.af-layout-cols { /* vs afCore */
	column-gap: var(--crm-m);
}

/******************
	FONT AWESOME 6 - Icon Picker fix
	ref https://lab.civicrm.org/extensions/riverlea/-/issues/28
*******************/

.ui-icon.fa-envelope-o,.ui-icon.fa-star-o,.ui-icon.fa-trash-o,.ui-icon.fa-file-o,.ui-icon.fa-clock-o,.ui-icon.fa-arrow-circle-o-up,.ui-icon.fa-play-circle-o,.ui-icon.fa-list-alt,.ui-icon.fa-picture-o,.ui-icon.fa-photo,.ui-icon.fa-image,.ui-icon.fa-pencil-square-o,.ui-icon.fa-edit,.ui-icon.fa-check-square-o,.ui-icon.fa-times-circle-o,.ui-icon.fa-check-circle-o,.ui-icon.fa-eye,.ui-icon.fa-eye-slash,.ui-icon.fa-thumbs-o-up,.ui-icon.fa-thumbs-o-down,.ui-icon.fa-heart-o,.ui-icon.fa-lemon-o,.ui-icon.fa-square-o,.ui-icon.fa-bookmark-o,.ui-icon.fa-credit-card,.ui-icon.fa-hdd-o,.ui-icon.fa-hand-o-right,.ui-icon.fa-hand-o-left,.ui-icon.fa-hand-o-up,.ui-icon.fa-hand-o-down,.ui-icon.fa-files-o,.ui-icon.fa-floppy-o,.ui-icon.fa-save,.ui-icon.fa-comment-o,.ui-icon.fa-comments-o,.ui-icon.fa-lightbulb-o,.ui-icon.fa-bell-o,.ui-icon.fa-file-text-o,.ui-icon.fa-hospital-o,.ui-icon.fa-circle-o,.ui-icon.fa-folder-o,.ui-icon.fa-folder-open-o,.ui-icon.fa-smile-o,.ui-icon.fa-frown-o,.ui-icon.fa-meh-o,.ui-icon.fa-keyboard-o,.ui-icon.fa-flag-o,.ui-icon.fa-star-half-o,.ui-icon.fa-star-half-empty,.ui-icon.fa-star-half-full,.ui-icon.fa-calendar-o,.ui-icon.fa-minus-square-o,.ui-icon.fa-compass,.ui-icon.fa-caret-square-o-down,.ui-icon.fa-toggle-down,.ui-icon.fa-caret-square-o-up,.ui-icon.fa-toggle-up,.ui-icon.fa-caret-square-o-right,.ui-icon.fa-toggle-right,.ui-icon.fa-sun-o,.ui-icon.fa-moon-o,.ui-icon.fa-arrow-circle-o-right,.ui-icon.fa-arrow-circle-o-left,.ui-icon.fa-toggle-left,.ui-icon.fa-dot-circle-o,.ui-icon.fa-plus-square-o,.ui-icon.fa-file-pdf-o,.ui-icon.fa-file-word-o,.ui-icon.fa-file-excel-o,.ui-icon.fa-file-powerpoint-o,.ui-icon.fa-file-image-o,.ui-icon.fa-file-photo-o,.ui-icon.fa-file-picture-o,.ui-icon.fa-file-archive-o,.ui-icon.fa-file-zip-o,.ui-icon.fa-file-audio-o,.ui-icon.fa-file-sound-o,.ui-icon.fa-file-video-o,.ui-icon.fa-file-movie-o,.ui-icon.fa-file-code-o,.ui-icon.fa-paper-plane-o,.ui-icon.fa-send-o,.ui-icon.fa-circle-thin,.ui-icon.fa-futbol-o,.ui-icon.fa-soccer-ball-o,.ui-icon.fa-newspaper-o,.ui-icon.fa-bell-slash-o,.ui-icon.fa-copyright,.ui-icon.fa-cc,.ui-icon.fa-diamond,.ui-icon.fa-object-group,.ui-icon.fa-object-ungroup,.ui-icon.fa-sticky-note-o,.ui-icon.fa-hand-rock-o,.ui-icon.fa-hand-grab-o,.ui-icon.fa-hand-paper-o,.ui-icon.fa-hand-stop-o,.ui-icon.fa-hand-scissors-o,.ui-icon.fa-hand-lizard-o,.ui-icon.fa-hand-spock-o,.ui-icon.fa-hand-pointer-o,.ui-icon.fa-hand-peace-o,.ui-icon.fa-registered,.ui-icon.fa-calendar-plus-o,.ui-icon.fa-calendar-minus-o,.ui-icon.fa-calendar-times-o,.ui-icon.fa-calendar-check-o,.ui-icon.fa-map-o,.ui-icon.fa-commenting-o,.ui-icon.fa-pause-circle-o,.ui-icon.fa-stop-circle-o,.ui-icon.fa-question-circle-o,.ui-icon.fa-handshake-o,.ui-icon.fa-envelope-open-o,.ui-icon.fa-address-book-o,.ui-icon.fa-address-card-o,.ui-icon.fa-vcard-o,.ui-icon.fa-user-circle-o,.ui-icon.fa-user-o,.ui-icon.fa-id-badge,.ui-icon.fa-id-card-o,.ui-icon.fa-drivers-license-o,.ui-icon.fa-window-maximize,.ui-icon.fa-window-restore,.ui-icon.fa-window-close-o,.ui-icon.fa-times-rectangle-o,.ui-icon.fa-snowflake-o,.ui-icon.fa-clone,.ui-icon.fa-caret-square-o-left,.ui-icon.fa-building-o,.ui-icon.fa-arrow-circle-o-down {
    font-family: "Font Awesome 6 Free";
    font-weight: 400;
  }
  .ui-icon.fa-twitter-square,.ui-icon.fa-facebook-square,.ui-icon.fa-linkedin-square,.ui-icon.fa-github-square,.ui-icon.fa-twitter,.ui-icon.fa-facebook,.ui-icon.fa-facebook-f,.ui-icon.fa-github,.ui-icon.fa-pinterest,.ui-icon.fa-pinterest-square,.ui-icon.fa-google-plus-square,.ui-icon.fa-google-plus,.ui-icon.fa-linkedin,.ui-icon.fa-github-alt,.ui-icon.fa-maxcdn,.ui-icon.fa-html5,.ui-icon.fa-css3,.ui-icon.fa-btc,.ui-icon.fa-bitcoin,.ui-icon.fa-youtube-square,.ui-icon.fa-youtube,.ui-icon.fa-xing,.ui-icon.fa-xing-square,.ui-icon.fa-youtube-play,.ui-icon.fa-dropbox,.ui-icon.fa-stack-overflow,.ui-icon.fa-instagram,.ui-icon.fa-flickr,.ui-icon.fa-adn,.ui-icon.fa-bitbucket,.ui-icon.fa-bitbucket-square,.ui-icon.fa-tumblr,.ui-icon.fa-tumblr-square,.ui-icon.fa-apple,.ui-icon.fa-windows,.ui-icon.fa-android,.ui-icon.fa-linux,.ui-icon.fa-dribbble,.ui-icon.fa-skype,.ui-icon.fa-foursquare,.ui-icon.fa-trello,.ui-icon.fa-gratipay,.ui-icon.fa-gittip,.ui-icon.fa-vk,.ui-icon.fa-weibo,.ui-icon.fa-renren,.ui-icon.fa-pagelines,.ui-icon.fa-stack-exchange,.ui-icon.fa-vimeo-square,.ui-icon.fa-slack,.ui-icon.fa-wordpress,.ui-icon.fa-openid,.ui-icon.fa-yahoo,.ui-icon.fa-google,.ui-icon.fa-reddit,.ui-icon.fa-reddit-square,.ui-icon.fa-stumbleupon-circle,.ui-icon.fa-stumbleupon,.ui-icon.fa-delicious,.ui-icon.fa-digg,.ui-icon.fa-pied-piper-pp,.ui-icon.fa-pied-piper-alt,.ui-icon.fa-drupal,.ui-icon.fa-joomla,.ui-icon.fa-behance,.ui-icon.fa-behance-square,.ui-icon.fa-steam,.ui-icon.fa-steam-square,.ui-icon.fa-spotify,.ui-icon.fa-deviantart,.ui-icon.fa-soundcloud,.ui-icon.fa-vine,.ui-icon.fa-codepen,.ui-icon.fa-jsfiddle,.ui-icon.fa-rebel,.ui-icon.fa-ra,.ui-icon.fa-resistance,.ui-icon.fa-empire,.ui-icon.fa-ge,.ui-icon.fa-git-square,.ui-icon.fa-git,.ui-icon.fa-hacker-news,.ui-icon.fa-y-combinator-square,.ui-icon.fa-yc-square,.ui-icon.fa-tencent-weibo,.ui-icon.fa-qq,.ui-icon.fa-weixin,.ui-icon.fa-wechat,.ui-icon.fa-slideshare,.ui-icon.fa-twitch,.ui-icon.fa-yelp,.ui-icon.fa-paypal,.ui-icon.fa-google-wallet,.ui-icon.fa-cc-visa,.ui-icon.fa-cc-mastercard,.ui-icon.fa-cc-discover,.ui-icon.fa-cc-amex,.ui-icon.fa-cc-paypal,.ui-icon.fa-cc-stripe,.ui-icon.fa-lastfm,.ui-icon.fa-lastfm-square,.ui-icon.fa-ioxhost,.ui-icon.fa-angellist,.ui-icon.fa-buysellads,.ui-icon.fa-connectdevelop,.ui-icon.fa-dashcube,.ui-icon.fa-forumbee,.ui-icon.fa-leanpub,.ui-icon.fa-sellsy,.ui-icon.fa-shirtsinbulk,.ui-icon.fa-simplybuilt,.ui-icon.fa-skyatlas,.ui-icon.fa-facebook-official,.ui-icon.fa-pinterest-p,.ui-icon.fa-whatsapp,.ui-icon.fa-viacoin,.ui-icon.fa-medium,.ui-icon.fa-y-combinator,.ui-icon.fa-yc,.ui-icon.fa-optin-monster,.ui-icon.fa-opencart,.ui-icon.fa-expeditedssl,.ui-icon.fa-cc-jcb,.ui-icon.fa-cc-diners-club,.ui-icon.fa-creative-commons,.ui-icon.fa-gg,.ui-icon.fa-gg-circle,.ui-icon.fa-odnoklassniki,.ui-icon.fa-odnoklassniki-square,.ui-icon.fa-get-pocket,.ui-icon.fa-wikipedia-w,.ui-icon.fa-safari,.ui-icon.fa-chrome,.ui-icon.fa-firefox,.ui-icon.fa-opera,.ui-icon.fa-internet-explorer,.ui-icon.fa-contao,.ui-icon.fa-500px,.ui-icon.fa-amazon,.ui-icon.fa-houzz,.ui-icon.fa-vimeo,.ui-icon.fa-black-tie,.ui-icon.fa-fonticons,.ui-icon.fa-reddit-alien,.ui-icon.fa-edge,.ui-icon.fa-codiepie,.ui-icon.fa-modx,.ui-icon.fa-fort-awesome,.ui-icon.fa-usb,.ui-icon.fa-product-hunt,.ui-icon.fa-mixcloud,.ui-icon.fa-scribd,.ui-icon.fa-bluetooth,.ui-icon.fa-bluetooth-b,.ui-icon.fa-gitlab,.ui-icon.fa-wpbeginner,.ui-icon.fa-wpforms,.ui-icon.fa-envira,.ui-icon.fa-wheelchair-alt,.ui-icon.fa-glide,.ui-icon.fa-glide-g,.ui-icon.fa-viadeo,.ui-icon.fa-viadeo-square,.ui-icon.fa-snapchat,.ui-icon.fa-snapchat-ghost,.ui-icon.fa-snapchat-square,.ui-icon.fa-pied-piper,.ui-icon.fa-first-order,.ui-icon.fa-yoast,.ui-icon.fa-themeisle,.ui-icon.fa-google-plus-official,.ui-icon.fa-google-plus-circle,.ui-icon.fa-font-awesome,.ui-icon.fa-fa,.ui-icon.fa-linode,.ui-icon.fa-quora,.ui-icon.fa-free-code-camp,.ui-icon.fa-telegram,.ui-icon.fa-bandcamp,.ui-icon.fa-grav,.ui-icon.fa-etsy,.ui-icon.fa-imdb,.ui-icon.fa-ravelry,.ui-icon.fa-eercast,.ui-icon.fa-superpowers,.ui-icon.fa-wpexplorer,.ui-icon.fa-meetup {
    font-family: "Font Awesome 6 Brands";
    font-weight: 400;
  }
  .ui-icon.fa-glass:before { content: "\f000"; }
  .ui-icon.fa-envelope-o:before { content: "\f0e0"; }
  .ui-icon.fa-star-o:before { content: "\f005"; }
  .ui-icon.fa-remove:before { content: "\f00d"; }
  .ui-icon.fa-close:before { content: "\f00d"; }
  .ui-icon.fa-gear:before { content: "\f013"; }
  .ui-icon.fa-trash-o:before { content: "\f2ed"; }
  .ui-icon.fa-home:before { content: "\f015"; }
  .ui-icon.fa-file-o:before { content: "\f15b"; }
  .ui-icon.fa-clock-o:before { content: "\f017"; }
  .ui-icon.fa-arrow-circle-o-down:before { content: "\f358"; }
  .ui-icon.fa-arrow-circle-o-up:before { content: "\f35b"; }
  .ui-icon.fa-play-circle-o:before { content: "\f144"; }
  .ui-icon.fa-repeat:before { content: "\f01e"; }
  .ui-icon.fa-rotate-right:before { content: "\f01e"; }
  .ui-icon.fa-refresh:before { content: "\f021"; }
  .ui-icon.fa-list-alt:before { content: "\f022"; }
  .ui-icon.fa-dedent:before { content: "\f03b"; }
  .ui-icon.fa-video-camera:before { content: "\f03d"; }
  .ui-icon.fa-picture-o:before { content: "\f03e"; }
  .ui-icon.fa-photo:before { content: "\f03e"; }
  .ui-icon.fa-image:before { content: "\f03e"; }
  .ui-icon.fa-map-marker:before { content: "\f3c5"; }
  .ui-icon.fa-pencil-square-o:before { content: "\f044"; }
  .ui-icon.fa-edit:before { content: "\f044"; }
  .ui-icon.fa-share-square-o:before { content: "\f14d"; }
  .ui-icon.fa-check-square-o:before { content: "\f14a"; }
  .ui-icon.fa-arrows:before { content: "\f0b2"; }
  .ui-icon.fa-times-circle-o:before { content: "\f057"; }
  .ui-icon.fa-check-circle-o:before { content: "\f058"; }
  .ui-icon.fa-mail-forward:before { content: "\f064"; }
  .ui-icon.fa-expand:before { content: "\f424"; }
  .ui-icon.fa-compress:before { content: "\f422"; }
  .ui-icon.fa-warning:before { content: "\f071"; }
  .ui-icon.fa-calendar:before { content: "\f073"; }
  .ui-icon.fa-arrows-v:before { content: "\f338"; }
  .ui-icon.fa-arrows-h:before { content: "\f337"; }
  .ui-icon.fa-bar-chart:before { content: "\e0e3"; }
  .ui-icon.fa-bar-chart-o:before { content: "\e0e3"; }
  .ui-icon.fa-twitter-square:before { content: "\f081"; }
  .ui-icon.fa-facebook-square:before { content: "\f082"; }
  .ui-icon.fa-gears:before { content: "\f085"; }
  .ui-icon.fa-thumbs-o-up:before { content: "\f164"; }
  .ui-icon.fa-thumbs-o-down:before { content: "\f165"; }
  .ui-icon.fa-heart-o:before { content: "\f004"; }
  .ui-icon.fa-sign-out:before { content: "\f2f5"; }
  .ui-icon.fa-linkedin-square:before { content: "\f08c"; }
  .ui-icon.fa-thumb-tack:before { content: "\f08d"; }
  .ui-icon.fa-external-link:before { content: "\f35d"; }
  .ui-icon.fa-sign-in:before { content: "\f2f6"; }
  .ui-icon.fa-github-square:before { content: "\f092"; }
  .ui-icon.fa-lemon-o:before { content: "\f094"; }
  .ui-icon.fa-square-o:before { content: "\f0c8"; }
  .ui-icon.fa-bookmark-o:before { content: "\f02e"; }
  .ui-icon.fa-facebook:before { content: "\f39e"; }
  .ui-icon.fa-facebook-f:before { content: "\f39e"; }
  .ui-icon.fa-feed:before { content: "\f09e"; }
  .ui-icon.fa-hdd-o:before { content: "\f0a0"; }
  .ui-icon.fa-hand-o-right:before { content: "\f0a4"; }
  .ui-icon.fa-hand-o-left:before { content: "\f0a5"; }
  .ui-icon.fa-hand-o-up:before { content: "\f0a6"; }
  .ui-icon.fa-hand-o-down:before { content: "\f0a7"; }
  .ui-icon.fa-globe:before { content: "\f57d"; }
  .ui-icon.fa-tasks:before { content: "\f828"; }
  .ui-icon.fa-arrows-alt:before { content: "\f31e"; }
  .ui-icon.fa-group:before { content: "\f0c0"; }
  .ui-icon.fa-chain:before { content: "\f0c1"; }
  .ui-icon.fa-cut:before { content: "\f0c4"; }
  .ui-icon.fa-files-o:before { content: "\f0c5"; }
  .ui-icon.fa-floppy-o:before { content: "\f0c7"; }
  .ui-icon.fa-save:before { content: "\f0c7"; }
  .ui-icon.fa-navicon:before { content: "\f0c9"; }
  .ui-icon.fa-reorder:before { content: "\f0c9"; }
  .ui-icon.fa-magic:before { content: "\e2ca"; }
  .ui-icon.fa-pinterest-square:before { content: "\f0d3"; }
  .ui-icon.fa-google-plus-square:before { content: "\f0d4"; }
  .ui-icon.fa-google-plus:before { content: "\f0d5"; }
  .ui-icon.fa-money:before { content: "\f3d1"; }
  .ui-icon.fa-unsorted:before { content: "\f0dc"; }
  .ui-icon.fa-sort-desc:before { content: "\f0dd"; }
  .ui-icon.fa-sort-asc:before { content: "\f0de"; }
  .ui-icon.fa-linkedin:before { content: "\f0e1"; }
  .ui-icon.fa-rotate-left:before { content: "\f0e2"; }
  .ui-icon.fa-legal:before { content: "\f0e3"; }
  .ui-icon.fa-tachometer:before { content: "\f625"; }
  .ui-icon.fa-dashboard:before { content: "\f625"; }
  .ui-icon.fa-comment-o:before { content: "\f075"; }
  .ui-icon.fa-comments-o:before { content: "\f086"; }
  .ui-icon.fa-flash:before { content: "\f0e7"; }
  .ui-icon.fa-clipboard:before { content: "\f0ea"; }
  .ui-icon.fa-lightbulb-o:before { content: "\f0eb"; }
  .ui-icon.fa-exchange:before { content: "\f362"; }
  .ui-icon.fa-cloud-download:before { content: "\f0ed"; }
  .ui-icon.fa-cloud-upload:before { content: "\f0ee"; }
  .ui-icon.fa-bell-o:before { content: "\f0f3"; }
  .ui-icon.fa-cutlery:before { content: "\f2e7"; }
  .ui-icon.fa-file-text-o:before { content: "\f15c"; }
  .ui-icon.fa-building-o:before { content: "\f1ad"; }
  .ui-icon.fa-hospital-o:before { content: "\f0f8"; }
  .ui-icon.fa-tablet:before { content: "\f3fa"; }
  .ui-icon.fa-mobile:before { content: "\f3cd"; }
  .ui-icon.fa-mobile-phone:before { content: "\f3cd"; }
  .ui-icon.fa-circle-o:before { content: "\f111"; }
  .ui-icon.fa-mail-reply:before { content: "\f3e5"; }
  .ui-icon.fa-folder-o:before { content: "\f07b"; }
  .ui-icon.fa-folder-open-o:before { content: "\f07c"; }
  .ui-icon.fa-smile-o:before { content: "\f118"; }
  .ui-icon.fa-frown-o:before { content: "\f119"; }
  .ui-icon.fa-meh-o:before { content: "\f11a"; }
  .ui-icon.fa-keyboard-o:before { content: "\f11c"; }
  .ui-icon.fa-flag-o:before { content: "\f024"; }
  .ui-icon.fa-mail-reply-all:before { content: "\f122"; }
  .ui-icon.fa-star-half-o:before { content: "\f5c0"; }
  .ui-icon.fa-star-half-empty:before { content: "\f5c0"; }
  .ui-icon.fa-star-half-full:before { content: "\f5c0"; }
  .ui-icon.fa-code-fork:before { content: "\f126"; }
  .ui-icon.fa-chain-broken:before { content: "\f127"; }
  .ui-icon.fa-unlink:before { content: "\f127"; }
  .ui-icon.fa-calendar-o:before { content: "\f133"; }
  .ui-icon.fa-unlock-alt:before { content: "\f09c"; }
  .ui-icon.fa-minus-square-o:before { content: "\f146"; }
  .ui-icon.fa-level-up:before { content: "\f3bf"; }
  .ui-icon.fa-level-down:before { content: "\f3be"; }
  .ui-icon.fa-pencil-square:before { content: "\f14b"; }
  .ui-icon.fa-external-link-square:before { content: "\f360"; }
  .ui-icon.fa-caret-square-o-down:before { content: "\f150"; }
  .ui-icon.fa-toggle-down:before { content: "\f150"; }
  .ui-icon.fa-caret-square-o-up:before { content: "\f151"; }
  .ui-icon.fa-toggle-up:before { content: "\f151"; }
  .ui-icon.fa-caret-square-o-right:before { content: "\f152"; }
  .ui-icon.fa-toggle-right:before { content: "\f152"; }
  .ui-icon.fa-eur:before { content: "\f153"; }
  .ui-icon.fa-euro:before { content: "\f153"; }
  .ui-icon.fa-gbp:before { content: "\f154"; }
  .ui-icon.fa-usd:before { content: "\24"; }
  .ui-icon.fa-dollar:before { content: "\24"; }
  .ui-icon.fa-inr:before { content: "\e1bc"; }
  .ui-icon.fa-rupee:before { content: "\e1bc"; }
  .ui-icon.fa-jpy:before { content: "\f157"; }
  .ui-icon.fa-cny:before { content: "\f157"; }
  .ui-icon.fa-rmb:before { content: "\f157"; }
  .ui-icon.fa-yen:before { content: "\f157"; }
  .ui-icon.fa-rub:before { content: "\f158"; }
  .ui-icon.fa-ruble:before { content: "\f158"; }
  .ui-icon.fa-rouble:before { content: "\f158"; }
  .ui-icon.fa-krw:before { content: "\f159"; }
  .ui-icon.fa-won:before { content: "\f159"; }
  .ui-icon.fa-bitcoin:before { content: "\f15a"; }
  .ui-icon.fa-file-text:before { content: "\f15c"; }
  .ui-icon.fa-sort-alpha-asc:before { content: "\f15d"; }
  .ui-icon.fa-sort-alpha-desc:before { content: "\f881"; }
  .ui-icon.fa-sort-amount-asc:before { content: "\f884"; }
  .ui-icon.fa-sort-amount-desc:before { content: "\f160"; }
  .ui-icon.fa-sort-numeric-asc:before { content: "\f162"; }
  .ui-icon.fa-sort-numeric-desc:before { content: "\f886"; }
  .ui-icon.fa-youtube-square:before { content: "\f431"; }
  .ui-icon.fa-xing-square:before { content: "\f169"; }
  .ui-icon.fa-youtube-play:before { content: "\f167"; }
  .ui-icon.fa-bitbucket-square:before { content: "\f171"; }
  .ui-icon.fa-tumblr-square:before { content: "\f174"; }
  .ui-icon.fa-long-arrow-down:before { content: "\f309"; }
  .ui-icon.fa-long-arrow-up:before { content: "\f30c"; }
  .ui-icon.fa-long-arrow-left:before { content: "\f30a"; }
  .ui-icon.fa-long-arrow-right:before { content: "\f30b"; }
  .ui-icon.fa-gittip:before { content: "\f184"; }
  .ui-icon.fa-sun-o:before { content: "\f185"; }
  .ui-icon.fa-moon-o:before { content: "\f186"; }
  .ui-icon.fa-arrow-circle-o-right:before { content: "\f35a"; }
  .ui-icon.fa-arrow-circle-o-left:before { content: "\f359"; }
  .ui-icon.fa-caret-square-o-left:before { content: "\f191"; }
  .ui-icon.fa-toggle-left:before { content: "\f191"; }
  .ui-icon.fa-dot-circle-o:before { content: "\f192"; }
  .ui-icon.fa-vimeo-square:before { content: "\f194"; }
  .ui-icon.fa-try:before { content: "\e2bb"; }
  .ui-icon.fa-turkish-lira:before { content: "\e2bb"; }
  .ui-icon.fa-plus-square-o:before { content: "\f0fe"; }
  .ui-icon.fa-institution:before { content: "\f19c"; }
  .ui-icon.fa-bank:before { content: "\f19c"; }
  .ui-icon.fa-mortar-board:before { content: "\f19d"; }
  .ui-icon.fa-reddit-square:before { content: "\f1a2"; }
  .ui-icon.fa-behance-square:before { content: "\f1b5"; }
  .ui-icon.fa-steam-square:before { content: "\f1b7"; }
  .ui-icon.fa-automobile:before { content: "\f1b9"; }
  .ui-icon.fa-cab:before { content: "\f1ba"; }
  .ui-icon.fa-file-pdf-o:before { content: "\f1c1"; }
  .ui-icon.fa-file-word-o:before { content: "\f1c2"; }
  .ui-icon.fa-file-excel-o:before { content: "\f1c3"; }  
  .ui-icon.fa-file-powerpoint-o:before { content: "\f1c4"; }
  .ui-icon.fa-file-image-o:before { content: "\f1c5"; }
  .ui-icon.fa-file-photo-o:before { content: "\f1c5"; }
  .ui-icon.fa-file-picture-o:before { content: "\f1c5"; }
  .ui-icon.fa-file-archive-o:before { content: "\f1c6"; }
  .ui-icon.fa-file-zip-o:before { content: "\f1c6"; }
  .ui-icon.fa-file-audio-o:before { content: "\f1c7"; }
  .ui-icon.fa-file-sound-o:before { content: "\f1c7"; }
  .ui-icon.fa-file-video-o:before { content: "\f1c8"; }
  .ui-icon.fa-file-movie-o:before { content: "\f1c8"; }
  .ui-icon.fa-file-code-o:before { content: "\f1c9"; }
  .ui-icon.fa-life-bouy:before { content: "\f1cd"; }
  .ui-icon.fa-life-buoy:before { content: "\f1cd"; }
  .ui-icon.fa-life-saver:before { content: "\f1cd"; }
  .ui-icon.fa-support:before { content: "\f1cd"; }
  .ui-icon.fa-circle-o-notch:before { content: "\f1ce"; }
  .ui-icon.fa-ra:before { content: "\f1d0"; }
  .ui-icon.fa-resistance:before { content: "\f1d0"; }
  .ui-icon.fa-ge:before { content: "\f1d1"; }
  .ui-icon.fa-git-square:before { content: "\f1d2"; }
  .ui-icon.fa-y-combinator-square:before { content: "\f1d4"; }
  .ui-icon.fa-yc-square:before { content: "\f1d4"; }
  .ui-icon.fa-wechat:before { content: "\f1d7"; }
  .ui-icon.fa-send:before { content: "\f1d8"; }
  .ui-icon.fa-paper-plane-o:before { content: "\f1d8"; }
  .ui-icon.fa-send-o:before { content: "\f1d8"; }
  .ui-icon.fa-circle-thin:before { content: "\f111"; }
  .ui-icon.fa-header:before { content: "\f1dc"; }
  .ui-icon.fa-futbol-o:before { content: "\f1e3"; }
  .ui-icon.fa-soccer-ball-o:before { content: "\f1e3"; }
  .ui-icon.fa-newspaper-o:before { content: "\f1ea"; }
  .ui-icon.fa-bell-slash-o:before { content: "\f1f6"; }
  .ui-icon.fa-trash:before { content: "\f2ed"; }
  .ui-icon.fa-eyedropper:before { content: "\f1fb"; }
  .ui-icon.fa-area-chart:before { content: "\f1fe"; }
  .ui-icon.fa-pie-chart:before { content: "\f200"; }
  .ui-icon.fa-line-chart:before { content: "\f201"; }
  .ui-icon.fa-lastfm-square:before { content: "\f203"; }
  .ui-icon.fa-cc:before { content: "\f20a"; }
  .ui-icon.fa-ils:before { content: "\f20b"; }
  .ui-icon.fa-shekel:before { content: "\f20b"; }
  .ui-icon.fa-sheqel:before { content: "\f20b"; }
  .ui-icon.fa-diamond:before { content: "\f3a5"; }
  .ui-icon.fa-transgender:before { content: "\f224"; }
  .ui-icon.fa-intersex:before { content: "\f224"; }
  .ui-icon.fa-transgender-alt:before { content: "\f225"; }
  .ui-icon.fa-facebook-official:before { content: "\f09a"; }
  .ui-icon.fa-hotel:before { content: "\f236"; }
  .ui-icon.fa-yc:before { content: "\f23b"; }
  .ui-icon.fa-battery-4:before { content: "\f240"; }
  .ui-icon.fa-battery:before { content: "\f240"; }
  .ui-icon.fa-battery-3:before { content: "\f241"; }
  .ui-icon.fa-battery-2:before { content: "\f242"; }
  .ui-icon.fa-battery-1:before { content: "\f243"; }
  .ui-icon.fa-battery-0:before { content: "\f244"; }
  .ui-icon.fa-sticky-note-o:before { content: "\f249"; }
  .ui-icon.fa-hourglass-o:before { content: "\f254"; }
  .ui-icon.fa-hourglass-1:before { content: "\f251"; }
  .ui-icon.fa-hourglass-2:before { content: "\f252"; }
  .ui-icon.fa-hourglass-3:before { content: "\f253"; }
  .ui-icon.fa-hand-rock-o:before { content: "\f255"; }
  .ui-icon.fa-hand-grab-o:before { content: "\f255"; }
  .ui-icon.fa-hand-paper-o:before { content: "\f256"; }
  .ui-icon.fa-hand-stop-o:before { content: "\f256"; }
  .ui-icon.fa-hand-scissors-o:before { content: "\f257"; }
  .ui-icon.fa-hand-lizard-o:before { content: "\f258"; }
  .ui-icon.fa-hand-spock-o:before { content: "\f259"; }
  .ui-icon.fa-hand-pointer-o:before { content: "\f25a"; }
  .ui-icon.fa-hand-peace-o:before { content: "\f25b"; }
  .ui-icon.fa-odnoklassniki-square:before { content: "\f264"; }
  .ui-icon.fa-television:before { content: "\f26c"; }
  .ui-icon.fa-calendar-plus-o:before { content: "\f271"; }
  .ui-icon.fa-calendar-minus-o:before { content: "\f272"; }
  .ui-icon.fa-calendar-times-o:before { content: "\f273"; }
  .ui-icon.fa-calendar-check-o:before { content: "\f274"; }
  .ui-icon.fa-map-o:before { content: "\f279"; }
  .ui-icon.fa-commenting:before { content: "\f4ad"; }
  .ui-icon.fa-commenting-o:before { content: "\f4ad"; }
  .ui-icon.fa-vimeo:before { content: "\f27d"; }
  .ui-icon.fa-credit-card-alt:before { content: "\f09d"; }
  .ui-icon.fa-pause-circle-o:before { content: "\f28b"; }
  .ui-icon.fa-stop-circle-o:before { content: "\f28d"; }
  .ui-icon.fa-wheelchair-alt:before { content: "\f368"; }
  .ui-icon.fa-question-circle-o:before { content: "\f059"; }
  .ui-icon.fa-volume-control-phone:before { content: "\f2a0"; }
  .ui-icon.fa-asl-interpreting:before { content: "\f2a3"; }
  .ui-icon.fa-deafness:before { content: "\f2a4"; }
  .ui-icon.fa-hard-of-hearing:before { content: "\f2a4"; }
  .ui-icon.fa-signing:before { content: "\f2a7"; }
  .ui-icon.fa-viadeo-square:before { content: "\f2aa"; }
  .ui-icon.fa-snapchat-ghost:before { content: "\f2ab"; }
  .ui-icon.fa-snapchat-square:before { content: "\f2ad"; }
  .ui-icon.fa-google-plus-official:before { content: "\f2b3"; }
  .ui-icon.fa-google-plus-circle:before { content: "\f2b3"; }
  .ui-icon.fa-fa:before { content: "\f2b4"; }  
  .ui-icon.fa-handshake-o:before { content: "\f2b5"; }
  .ui-icon.fa-envelope-open-o:before { content: "\f2b6"; }
  .ui-icon.fa-address-book-o:before { content: "\f2b9"; }
  .ui-icon.fa-vcard:before { content: "\f2bb"; }
  .ui-icon.fa-address-card-o:before { content: "\f2bb"; }
  .ui-icon.fa-vcard-o:before { content: "\f2bb"; }
  .ui-icon.fa-user-circle-o:before { content: "\f2bd"; }
  .ui-icon.fa-user-o:before { content: "\f007"; }
  .ui-icon.fa-drivers-license:before { content: "\f2c2"; }
  .ui-icon.fa-id-card-o:before { content: "\f2c2"; }
  .ui-icon.fa-drivers-license-o:before { content: "\f2c2"; }
  .ui-icon.fa-thermometer-4:before { content: "\f2c7"; }
  .ui-icon.fa-thermometer:before { content: "\f2c7"; }
  .ui-icon.fa-thermometer-3:before { content: "\f2c8"; }
  .ui-icon.fa-thermometer-2:before { content: "\f2c9"; }
  .ui-icon.fa-thermometer-1:before { content: "\f2ca"; }
  .ui-icon.fa-thermometer-0:before { content: "\f2cb"; }
  .ui-icon.fa-bathtub:before { content: "\f2cd"; }
  .ui-icon.fa-s15:before { content: "\f2cd"; }
  .ui-icon.fa-times-rectangle:before { content: "\f410"; }
  .ui-icon.fa-window-close-o:before { content: "\f410"; }
  .ui-icon.fa-times-rectangle-o:before { content: "\f410"; }
  .ui-icon.fa-eercast:before { content: "\f2da"; }
  .ui-icon.fa-snowflake-o:before { content: "\f2dc"; }