/* fonts that are packaged in Riverlea and can be used in streams
   NOTE: browsers shouldn't load these unless they are used by the stream */

/* Inter */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local('Inter-Regular'), local('Inter Regular'), local('Inter'), url('../../fonts/inter-v18-latin-regular.woff2') format("woff2");
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: local('Inter-Italic'), local('Inter Italic'), url('../../fonts/inter-v18-latin-italic.woff2') format("woff2");
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: local('Inter-Bold'), local('Inter Bold'), url('../../fonts/inter-v18-latin-600.woff2') format("woff2");
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: local('Inter-BoldItalic'), local('Inter BoldItalic'), url('../../fonts/inter-v18-latin-600.woff2') format("woff2");
}

/* Lato */
@font-face {
  font-family: 'Lato';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local('Lato-Regular'), local('Lato Regular'), local('Lato'), url('../../fonts/lato-v24-latin-regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Lato';
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  src: local('Lato-Italic'), local('Lato Italic'), url('../../fonts/lato-v24-latin-italic.woff2') format('woff2');
}
@font-face {
  font-family: 'Lato';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: local('Lato-Bold'), local('Lato Bold'), url('../../fonts/lato-v24-latin-700.woff2') format('woff2');
}
@font-face {
  font-family: 'Lato';
  font-display: swap;
  font-style: italic;
  font-weight: 700;
  src: local('Lato-BoldItalic'), local('Lato BoldItalic'), url('../../fonts/lato-v24-latin-700italic.woff2') format('woff2');
}
