/* civicrm-core/css/admin.css - branched on 7 Jun 24, updated 16 Jan 25.
   Styles specific to certain admin pages/forms
   Status: merged. */

/* Config Task List */
.crm-container td.tasklist a {
  font-weight: bold;
}
.crm-container table.selector td.tasklist {
  border-right: var(--crm-table-row-border);
  width: 20%;
}
.crm-container td.tasklist a:visited {
  color: var(--crm-c-success);
}

/* Class for successful upgrade */
.crm-container .upgrade-success {
  background-color: var(--crm-alert-success-bg);
  color: var(--crm-alert-success-text);
}

/* Extension management */
.crm-container #mainTabContainer:has(.crm-extensions-tabs-list) {
  box-shadow: var(--crm-block-shadow);
  margin-top: var(--crm-padding-reg);
}
.crm-container #extensions-main,
.crm-container #extensions-addnew.ui-tabs-panel {
  padding: 0;
  border-top: 0;
}
.crm-container #extensions-main table.dataTable,
.crm-container #extensions-addnew table.dataTable {
  box-shadow: none;
  border: 0 solid transparent;
}
.crm-container #extensions-main table.dataTable th,
.crm-container #extensions-addnew table.dataTable th {
  background-color: var(--crm-tab-bg-active);
  min-width: max-content;
  white-space: nowrap; /* prevents wrapping of sort icons with oversized descriptions */
}
.crm-container #extensions-main table.dataTable summary,
.crm-container #extensions-addnew table.dataTable summary {
  padding: 0;
  background-color: unset;
  color: var(--crm-c-text);
  font-weight: unset;
  font-family: var(--crm-font);
}
.crm-container #extensions table.dataTable summary a,
.crm-container #extensions-addnew table.dataTable summary a {
  color: var(--crm-c-link);
}
.crm-container #extensions table.dataTable a.crm-hover-button,
.crm-container #extensions-addnew table.dataTable a.crm-hover-button {
  padding: 0 var(--crm-m1);
}
.crm-container .disabled .crm-hover-button:hover,
.crm-container .disabled .crm-hover-button:focus {
  color: var(--crm-c-secondary-text);
}
.crm-container .extension-missing {
  color: var(--crm-c-warning);
}
.crm-container .crm-extensions-upgrade {
  background: var(--crm-alert-warning-bg);
  border: 1px solid var(--crm-alert-warning-border);
  padding: var(--crm-padding-small);
  border-radius: var(--crm-roundness);
  color: var(--crm-alert-warning-text);
}
.crm-container .crm-extensions-version {
  white-space: nowrap;
}
.crm-container .crm-extensions-stage {
  margin-left: var(--crm-s);
}
.crm-container .crm-extensions-stage.fa-flask,
.crm-container .crm-extensions-stage.fa-warning {
  color: var(--crm-notify-warning);
}
.crm-container .crm-extensions-stage.fa-check-circle,
.crm-container .crm-extensions-stage.fa-trophy {
  color: var(--crm-notify-success);
}

/* Navigation Menu Editor */
.crm-container .navigation-tree .jstree-hovered {
  background: #ffffff50;
}
.crm-container .navigation-tree .jstree-clicked {
  background: #beebff50;
}

@media screen and (min-width: 480px) {
  .crm-container .admin-section-items {
    column-count: 2;
    column-gap: var(--crm-padding-reg);
  }
  .crm-container .admin-section-items dl {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    margin: 0 var(--crm-padding-reg);
  }
  .crm-container .admin-section-items dt {
    font-weight: bold;
  }
}
