/* civicrm-core/css/admin.css - branched on 7 Jun 24, updated 16 Jan 25.
   Styles specific to certain admin pages/forms
   Status: merged. */

/* Config Task List */
.crm-container td.tasklist a {
  font-weight: bold;
}
.crm-container table.selector td.tasklist {
  border-right: var(--crm-table-row-border);
  width: 20%;
}
.crm-container td.tasklist a:visited {
  color: var(--crm-success-color);
}

/* Class for successful upgrade */
.crm-container .upgrade-success {
  background-color: var(--crm-alert-success-bg-color);
  color: var(--crm-alert-success-text-color);
}

/* Extension management */
.crm-container #mainTabContainer:has(.crm-extensions-tabs-list) {
  box-shadow: var(--crm-shadow-block);
  margin-top: var(--crm-padding-reg);
}
.crm-container #extensions-main,
.crm-container #extensions-addnew.ui-tabs-panel {
  padding: 0;
  border-top: 0;
}
.crm-container #extensions-main table.dataTable,
.crm-container #extensions-addnew table.dataTable {
  box-shadow: none;
  border: 0 solid transparent;
}
.crm-container #extensions-main table.dataTable th,
.crm-container #extensions-addnew table.dataTable th {
  background-color: var(--crm-tab-bg-active);
  min-width: max-content;
  white-space: nowrap; /* prevents wrapping of sort icons with oversized descriptions */
}
.crm-container #extensions-main table.dataTable summary,
.crm-container #extensions-addnew table.dataTable summary {
  padding: 0;
  background-color: unset;
  color: var(--crm-text-color);
  font-weight: unset;
  font-family: var(--crm-font);
}
.crm-container #extensions table.dataTable summary a,
.crm-container #extensions-addnew table.dataTable summary a {
  color: var(--crm-link-color);
}
.crm-container #extensions table.dataTable a.crm-hover-button,
.crm-container #extensions-addnew table.dataTable a.crm-hover-button {
  padding: 0 var(--crm-l-medium-1);
}
.crm-container .disabled .crm-hover-button:hover,
.crm-container .disabled .crm-hover-button:focus {
  color: var(--crm-secondary-text-color);
}
.crm-container .extension-missing {
  color: var(--crm-warning-color);
}
.crm-container .crm-extensions-upgrade {
  background: var(--crm-alert-warning-bg-color);
  border: 1px solid var(--crm-alert-warning-border-color);
  padding: var(--crm-padding-small);
  border-radius: var(--crm-l-radius);
  color: var(--crm-alert-warning-text-color);
}
.crm-container .crm-extensions-version {
  white-space: nowrap;
}
.crm-container .crm-extensions-stage {
  margin-left: var(--crm-l-small);
}
.crm-container .crm-extensions-stage.fa-flask,
.crm-container .crm-extensions-stage.fa-warning {
  color: var(--crm-notify-warning-color);
}
.crm-container .crm-extensions-stage.fa-check-circle,
.crm-container .crm-extensions-stage.fa-trophy {
  color: var(--crm-notify-success-color);
}
.crm-container .extension-installed {
  background: var(--crm-alert-success-bg-color);
  color: var(--crm-alert-success-text-color);
}
.crm-container .extension-installed summary {
  color: var(--crm-alert-success-text-color);
}
.crm-container table.dataTable.display tbody {
  --crm-striped-bg-color: var(--crm-table-row-bg-color);
}
.crm-container table.dataTable.display tbody tr:not(.disabled) {
  background-color: var(--crm-striped-bg-color) !important;
}
.crm-container table.dataTable.display tbody tr.even:not(.disabled) {
  --crm-striped-bg-color: color-mix(in srgb, var(--crm-table-row-bg-color) 100%, var(--crm-table-row-alternate-bg-color) var(--crm-table-row-alternate-mix));
}
.crm-container table.dataTable.display tbody tr.extension-installed {
  --crm-striped-bg-color: var(--crm-alert-success-bg-color);
}
.crm-container table.dataTable.display tbody tr.extension-installed.even {
  --crm-striped-bg-color: color-mix(in srgb, var(--crm-alert-success-bg-color) 100%, var(--crm-table-row-alternate-bg-color) var(--crm-table-row-alternate-mix));
}
.crm-container table.dataTable.display tbody tr:hover {
  --crm-striped-bg-color: var(--crm-table-row-hover-color);
}
.crm-container table.dataTable.display tbody tr.even:hover {
  --crm-striped-bg-color: color-mix(in srgb, var(--crm-table-row-hover-color) 100%, var(--crm-table-row-alternate-bg-color) var(--crm-table-row-alternate-mix));
}
.crm-container table.dataTable.display tbody tr > .sorting_1,
.crm-container table.dataTable.order-column.stripe tbody tr > .sorting_1 {
  background-color: color-mix(in srgb, var(--crm-striped-bg-color) 100%, var(--crm-table-row-alternate-bg-color)  6%) !important;
}

/* Navigation Menu Editor */
.crm-container .navigation-tree .jstree-hovered {
  background: #ffffff50;
}
.crm-container .navigation-tree .jstree-clicked {
  background: #beebff50;
}

@media screen and (min-width: 480px) {
  .crm-container .admin-section-items {
    column-count: 2;
    column-gap: var(--crm-padding-reg);
  }
  .crm-container .admin-section-items dl {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    margin: 0 var(--crm-padding-reg);
  }
  .crm-container .admin-section-items dt {
    font-weight: bold;
  }
}
