<div oauth-util-import="CRM.oauthUtil.providers" to="theProviders"></div>

<div ng-form="create" class="form-horizontal">
  <div class="form-group">
    <div class="crm-section">
      <div class="label"><label for="guid">{{ts('Client ID')}}<span class="crm-marker" title="{{ts('Required')}}">*</span></label></div>
      <div class="content"><input class="huge form-control" ng-model="options.client.guid" type="text" id="guid" required /></div>
    </div>
    <div class="crm-section" ng-if="theProviders[options.client.provider].options.url">
      <div class="label"><label for="url{{options.client.id}}">{{ts('URL')}}<span>*</span></label></div>
      <div class="content"><input class="huge form-control" ng-model="options.client.options.url" type="text" id="url{{options.client.id}}" required/></div>
    </div>
    <div class="crm-section" ng-if="theProviders[options.client.provider].options.realm">
      <div class="label"><label for="realm{{options.client.id}}">{{ts('Realm')}}<span>*</span></label></div>
      <div class="content"><input class="huge form-control" ng-model="options.client.options.realm" type="text" id="realm{{options.client.id}}" required/></div>
    </div>
    <div class="crm-section" ng-if="theProviders[options.client.provider].options.tenancy">
      <div class="label"><label for="tenant">{{ts('Tenant ID')}}</label></div>
      <div class="content"><input class="huge form-control" ng-model="options.client.tenant" type="text" id="tenant" />
      <p class="help-block">{{ts('Optional. Leave blank for consumer accounts. If you have a dedicated instance of Microsoft 365, and your application is not multi-tenancy, then enter your tenant ID here.')}}</p></div>
    </div>
    <div class="crm-section">
      <div class="label"><label for="secret">{{ts('Client Secret')}}</label></div>
      <div class="content"><input class="huge form-control" ng-model="options.client.secret" type="text" id="secret" /></div>
    </div>
  </div>
</div>
