<div oauth-util-import="CRM.oauthUtil.providers" to="theProviders"></div>

<div ng-form="create" class="form-horizontal">
  <div class="form-group">
    <div>
      <label for="guid">{{ts('Client ID')}}: <span class="crm-marker" title="{{ts('Required')}}">*</span></label>
      <input class="form-control" ng-model="options.client.guid" type="text" id="guid" required />
    </div>
    <div ng-if="theProviders[options.client.provider].options.tenancy">
      <label for="tenant">{{ts('Tenant ID')}}:</label>
      <input class="form-control" ng-model="options.client.tenant" type="text" id="tenant" />
      <div class="help-block">{{ts('Optional. Leave blank for consumer accounts. If you have a dedicated instance of Microsoft 365, and your application is not multi-tenancy, then enter your tenant ID here.')}}</div>
    </div>
    <div>
      <label for="secret">{{ts('Client Secret')}}: <span class="crm-marker" title="{{ts('Required')}}">*</span></label>
      <input class="form-control" ng-model="options.client.secret" type="text" id="secret" required />
    </div>
  </div>
</div>
