/* Style rules for Form Builder Admin
   Forked on 24 July 24. Called on Form Builder
   Status: merged */

/* List page */
.afadmin-list th[ng-click] {
    cursor: pointer;
}
.afadmin-list th i.fa-sort-desc,
.afadmin-list th i.fa-sort-asc {
    color: var(--crm-c-link);
}
.afadmin-list th:not(:hover) i.fa-sort {
    opacity: .5;
}
/* Editor */

#afGuiEditor {
    gap: var(--crm-r);
    height: 100% !important /* vs inline fixed height */;
}
#afGuiEditor .af-gui-columns {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--crm-r);
}
#afGuiEditor fieldset {
	min-width: 0;
	padding: 0;
	margin: 0;
	border: 0;
}
#afGuiEditor fieldset legend {
	padding: var(--crm-s) 0 0 0;
	border-bottom: 1px solid var(--crm-c-divider);
	width: 100%;
    margin-bottom: var(--crm-m);
}
#afGuiEditor hr {
    margin-block: var(--crm-m);
}
#afGuiEditor af-gui-container,
#afGuiEditor af-gui-markup,
#afGuiEditor af-gui-field,
#afGuiEditor .af-gui-block-label,
#afGuiEditor af-gui-edit-options {
    display: block;
}
#afGuiEditor [ui-sortable] .af-gui-bar:before,
#afGuiEditor .af-gui-entity-palette-select-list [ui-sortable] > div:not(.disabled):hover:before,
#afGuiEditor af-gui-edit-options.af-gui-content-editing-area [ui-sortable] li:before {
    background-size: cover;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSIjODg4Ij48L3JlY3Q+Cjwvc3ZnPg==");
    width: var(--crm-m);
    height: calc(100% - var(--crm-m));
    content: ' ';
    display: block;
    position: absolute;
    left: var(--crm-s);
    top: var(--crm-s);
}
/* Panel */

#afGuiEditor .panel,
#afGuiEditor-canvas-body {
    height: 100%;
}
#afGuiEditor .panel-heading {
	padding: var(--crm-m) var(--crm-m) 0;
	border-bottom: 1px solid var(--crm-c-divider);
    position: relative;
}
#afGuiEditor .panel-heading ul.nav-tabs {
    border-bottom: 0 none;
    margin-bottom: -1px;
}
#afGuiEditor .panel-heading ul.nav-tabs li {
    width: fit-content 
}
#afGuiEditor .panel-heading ul.nav-tabs li.fluid-width-tab {
    white-space: nowrap;
    overflow: hidden;
}
#afGuiEditor .panel-heading ul.nav-tabs li.active {
    max-width: 50%;
}
#afGuiEditor .panel-heading ul.nav-tabs li > a {
    padding: var(--crm-s1) var(--crm-m2);
    height: 100%;
}
#afGuiEditor .panel-heading .af-gui-canvas-control-buttons button {
	padding: 0; /* icon-only button */
}
#afGuiEditor .panel-body {
    padding: var(--crm-padding-reg);
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    border-top: none!important;
} 

/* Edit palette (left side) */

#afGuiEditor-palette input, 
#afGuiEditor-palette textarea, 
#afGuiEditor-palette select {
	width: 100%;
}
#afGuiEditor-palette input[type="checkbox"],
#afGuiEditor-palette input[type="radio"] {
	width: auto;
}
#afGuiEditor-palette .form-group label {
	width: 100%;
	display: block;
}
#afGuiEditor-palette .checkbox label {
	padding: 0;
}
#afGuiEditor-palette .input-group:has(#af_config_redirect) {
	display: grid;
	grid-template-columns: 1fr 250px;
}
#afGuiEditor-palette input.select2-input {
    min-width: 100%;
}
#afGuiEditor-palette #af_config_form_permission_operator {
	width: 60px;
}
#afGuiEditor-palette #s2id_af_config_form_permission {
	width: calc(100% - 66px) !important /* vs inline */;
}
 /* #afGuiEditor-palette input[type=number] {
    width: 6em;
} */
/* search kit settings */
#afGuiEditor-palette .af-gui-entity-values .form-inline {
    margin-bottom: var(--crm-m);
}
#afGuiEditor-palette .af-gui-entity-values .select2-container {
    width: 100% !important /* vs inline */;
    margin-bottom: var(--crm-s2);
}
#afGuiEditor-palette .af-gui-entity-values .input-group {
    width: 100%;
    display: flex;
}
#afGuiEditor-palette .af-gui-entity-values .input-group > span {
    width: 100%;
}
#afGuiEditor-palette .af-gui-entity-values .input-group .btn {
    height: calc(var(--crm-btn-height) + 4px);
}
#afGuiEditor-palette .af-gui-entity-palette legend {
    margin-bottom: 0;
    padding-bottom: 0;
	border-bottom: 0;
}
#afGuiEditor-palette .af-gui-entity-palette .input-group {
	margin-top: var(--crm-s);
}
#afGuiEditor-palette .af-gui-entity-palette [type="search"] {
	width: 100%;
	border-radius: var(--crm-roundness) var(--crm-roundness) 0 0;
	border-color: var(--crm-c-divider);
	padding: var(--crm-s2);
    font-weight: normal;
    position: relative;
	margin: 0;
	border-bottom: 0;
}
.af-gui-entity-palette-select-list {
	border: 1px solid var(--crm-c-divider);
	border-radius: 0 0 var(--crm-roundness) var(--crm-roundness);
	padding: 0 var(--crm-s) var(--crm-s);
    max-height: 400px;
    overflow-y: auto;
}
.af-gui-entity-palette-select-list [ui-sortable] > div {
    cursor: move;
    padding: var(--crm-xs) var(--crm-m) var(--crm-xs) var(--crm-r);
    position: relative;
}
.af-gui-entity-palette-select-list [ui-sortable] > div.disabled {
    cursor: auto;
}
.af-gui-entity-palette-select-list [ui-sortable] > div:not(.disabled):hover {
    background-color: var(--crm-c-background3);
}

/* Edit canvas (right side) */

#afGuiEditor-canvas .form-inline {
	padding: 0;
}
#afGuiEditor-canvas:not(.af-gui-menu-open) .af-gui-container:hover,
.af-gui-dragging #afGuiEditor .af-gui-container {
    border: 2px dashed var(--crm-c-gray-700);
}
#afGuiEditor-canvas .af-entity-selected {
    border: 2px dashed var(--crm-c-blue-dark);
}
#afGuiEditor-canvas .af-entity-selected > .af-gui-bar {
    background-color:  var(--crm-c-blue-dark);
    opacity: 1;
    transition: opacity 0s;
}
#afGuiEditor .af-gui-container {
    border: 2px solid var(--crm-c-background2);
    border-radius: var(--crm-roundness);
    position: relative;
    padding: var(--crm-m);
}
#afGuiEditor-canvas .af-gui-container-type-fieldset,
#afGuiEditor-canvas .af-gui-container,
#afGuiEditor-canvas .af-gui-markup,
#afGuiEditor-canvas .af-gui-text,
#afGuiEditor-canvas .af-gui-button {
	box-shadow: var(--crm-block-shadow) !important;
	margin-bottom: var(--crm-padding-small) !important;
}


/* Canvas gui bar */

#afGuiEditor-canvas .af-gui-bar {
	height: var(--crm-l);
    width: 100%;
	border-radius: var(--crm-roundness) var(--crm-roundness) 0 0;
    transition: opacity .2s;
    background-color: var(--crm-c-background2);
    padding: var(--crm-s) var(--crm-s) var(--crm-s) var(--crm-r2);
    position: inherit;
    cursor: move;
}
#afGuiEditor-canvas:not(.af-gui-menu-open) .af-gui-bar,
#afGuiEditor-canvas:not(.af-gui-menu-open) .af-gui-container-title span:empty {
    opacity: 0;
} 
#afGuiEditor:not(.af-gui-dragging *) #afGuiEditor-canvas:hover .af-gui-bar,
#afGuiEditor:not(.af-gui-dragging *) #afGuiEditor-canvas:hover .af-gui-container-title span:empty {
    opacity: 1;
    transition: opacity .2s;
}
#afGuiEditor #afGuiEditor-canvas .af-gui-dragtarget > .af-gui-bar,
#afGuiEditor #afGuiEditor-canvas .af-gui-dragtarget > .af-gui-container-title span:empty {
    background-color: #d7e6ff;
    opacity: 1;
    transition: opacity .1s;
}
/* Disable menu while dragging */
body.af-gui-dragging #civicrm-menu {
    pointer-events: none;
}
/* Disable scrollbars while dragging */
body.af-gui-dragging {
    overflow-x: hidden;
    overflow-y: hidden;
}
#afGuiEditor .af-gui-bar .btn.active {
    background-color: #b3b3b3;
}
#afGuiEditor .af-gui-bar > .form-inline > span {
    color: #696969;
    font-style: italic;
}
#afGuiEditor .af-gui-bar > .form-inline > select {
    height: 21px;
    min-height: 21px;
}
#afGuiEditor .af-gui-element {
    position: relative;
    padding: 0 3px 3px;
    display: block;
    min-height: 21px;
}
.af-layout-inline .af-gui-bar {
	margin: 0 -4px;
	width: calc(100% + 8px) !important;
}
af-gui-container > .af-gui-bar,
.af-gui-container-type-div > .af-gui-bar {
	margin: calc(-1 * var(--crm-m)) calc(-1 * var(--crm-m)) var(--crm-m) calc(-1 * var(--crm-m));
	width: calc(100% + var(--crm-r)) !important;
}

#afGuiEditor-canvas [ui-sortable] .af-gui-bar:has(~ .af-gui-field-input) {
	border-radius: var(--crm-roundness) var(--crm-roundness) 0 0;
}

#afGuiEditor .af-gui-node-title {
	position: absolute;
	top: 0;
}
#afGuiEditor .af-gui-node-title + * {
	padding-top: var(--crm-m);
}












#afGuiEditor .af-gui-container.af-gui-dragtarget {
    border: 2px solid var(--crm-c-blue-dark);
    box-shadow: 0 0 5px var(--crm-c-blue-dark);
}

#afGuiEditor .form-inline.af-gui-canvas-control-buttons {
    position: absolute;
    left: 48%;
}

#afGuiEditor .af-gui-remove-entity {
    position: absolute;
    right: 3px;
    top: 3px;
}
#afGuiEditor .crm-editable-enabled,
#afGuiEditor .panel-heading ul.nav-tabs li > a > span {
    display: inline-block;
    padding: 0 4px !important;
    border: 2px solid transparent !important;
    min-width: 21px;
}
#afGuiEditor .crm-editable-enabled:hover:not(:focus) {
    border: 2px dashed grey !important;
}/* Undo Shoreditch add-ons */
#afGuiEditor .crm-editable-enabled:before,
#afGuiEditor .crm-editable-enabled:after {
    content: '';
    display: none;
}



  /* Card style */
#afGuiEditor .af-gui-container.af-container-style-pane {
    box-shadow: 1px 2px 8px 1px rgb(0, 0, 0, .3);
    background: linear-gradient(to bottom, #f2f2f2 0 22px, transparent 22px 100%) no-repeat;
    border-radius: 4px;
}

#afGuiEditor .af-gui-search-display {
    border: 1px dotted gray;
    color: gray;
    padding: 3em;
    background-color: #f9f9f9;
}
#afGuiEditor .af-gui-container-type-fieldset {
    box-shadow: 0 0 5px #bbbbbb;
    margin-top: 20px;
    margin-bottom: 20px;
}
#afGuiEditor .af-gui-markup {
    padding: 22px 3px 3px;
    position: relative;
}
#afGuiEditor div.af-gui-markup-content {
    display: block;
    position: relative;
    padding: 0 !important;
}
#afGuiEditor .af-gui-markup-content-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#afGuiEditor .af-gui-markup-content:hover .af-gui-markup-content-overlay {
    background-color: rgba(255, 255, 255, .2);
}

/* Fix button colors when bar is highlighted */
#afGuiEditor #afGuiEditor-canvas .af-entity-selected > .af-gui-bar > .form-inline > .btn-group > .btn-group > button > span,
#afGuiEditor #afGuiEditor-canvas .af-entity-selected > .af-gui-bar > .form-inline > span,
#afGuiEditor #afGuiEditor-canvas .af-entity-selected > .af-gui-node-title {
    color: white;
}
#afGuiEditor #afGuiEditor-canvas .af-entity-selected > .af-gui-bar > .form-inline > .btn-group > .btn-group > button:hover > span,
#afGuiEditor #afGuiEditor-canvas .af-entity-selected > .af-gui-bar > .form-inline > .btn-group > .btn-group > button[aria-expanded=true] > span,
#afGuiEditor #afGuiEditor-canvas .af-entity-selected > .af-gui-bar > .form-inline > .btn-group > .btn-group > button:focus > span {
    color: var(--crm-c-blue-dark);
}

#afGuiEditor .ui-sortable-helper {
    height: 20px !important;
    opacity: .5;
    overflow: visible;
}
#afGuiEditor .ui-sortable-helper > * {
    background-color: #d5d5d5;
}
/* grip handle */

#afGuiEditor .af-gui-add-element-button {
    background-color: transparent;
}
#afGuiEditor .af-gui-add-element-button span {
    display: inline-block;
    width: 18px;
    height: 18px;
    color: var(--crm-c-blue-dark);
}

#afGuiEditor .af-gui-layout-icon {
    width: 12px;
    height: 11px;
    display: block;
    background-image: url('../images/icons.png');
    background-repeat: no-repeat;
    margin: 4px 1px;
}
#afGuiEditor .af-gui-layout-icon.af-layout-cols {
    background-position: -12px 0;
}
#afGuiEditor .af-gui-layout-icon.af-layout-rows {
    background-position: -24px 0;
}
#afGuiEditor .af-gui-layout.af-layout-cols {
    display: flex;
}
#afGuiEditor .af-gui-layout.af-layout-cols > div {
    flex: 1;
}
#afGuiEditor .af-gui-layout.af-layout-inline > div {
    display: inline-block;
    width: 300px;
    vertical-align: top;
}
#afGuiEditor .af-gui-button {
    padding-left: 15px;
}
#afGuiEditor #afGuiEditor-canvas-body .btn[disabled] {
    cursor: default;
    color: white;
}
#afGuiEditor .af-gui-button > .btn.disabled .crm-editable-enabled:hover:not(:focus) {
    border-color: #f4f4f4 !important;
}
#afGuiEditor .af-gui-button > .btn-default.disabled {
    background-color: lightgrey !important;
}
#afGuiEditor .af-gui-node-title {
    margin-left: 5px;
    margin-right: 20px;
    position: relative;
}
#afGuiEditor .af-gui-container-title {
    top: -21px;
}
#afGuiEditor .af-gui-container-title span:empty {
    font-weight: lighter;
}
#afGuiEditor .af-gui-field-required:after {
    content: '*';
    color: #cf3458;
    position: relative;
    left: -4px;
}
  /* For editing field placeholder text */
#afGuiEditor .af-gui-field-input input[type=text].form-control {
    color: #9a9a9a;
}
#afGuiEditor .af-gui-field-input-type-number input[type=text].form-control {
    background-image: url('../images/number.png');
    background-repeat: no-repeat;
    background-position: center right 6px;
}
#afGuiEditor .af-gui-field-input input.crm-form-date {
    width: 140px;
    margin-right: -2px;
}
#afGuiEditor .af-gui-field-input input.crm-form-time {
    width: 80px;
}
#afGuiEditor .af-gui-field-input-type-radio label.radio {
    font-weight: normal;
    margin-right: 10px;
}
#afGuiEditor .af-gui-field-input-type-radio label.radio input[type=radio] {
    margin: 0;
}
#afGuiEditor .af-gui-field-input-type-select .input-group-btn {
    position: initial;
}
#afGuiEditor .af-gui-field-input-type-chainselect .input-group .dropdown-toggle,
#afGuiEditor .af-gui-field-input-type-select .input-group .dropdown-toggle {
    padding: 3px 11px;
}
#afGuiEditor .af-gui-field-input-type-select .input-group .dropdown-menu {
    width: 100%;
    right: 0;
}
#afGuiEditor .input-group-addon {
    padding: 0;
}

#afGuiEditor .af-gui-text-legend {
    text-decoration: underline;
}
#afGuiEditor .af-gui-text-h1,
#afGuiEditor .af-gui-text-h2,
#afGuiEditor .af-gui-text-h3,
#afGuiEditor .af-gui-text-h4,
#afGuiEditor .af-gui-text-h5,
#afGuiEditor .af-gui-text-h6 {
    font-weight: var(--crm-bold-weight);
    font-family: var(--crm-font-bold);
}
#afGuiEditor .af-gui-field-help {
    font-style: italic;
}
#afGuiEditor.af-gui-editing-content {
    pointer-events: none;
    cursor: default;
}
#afGuiEditor.af-gui-editing-content .panel-heading,
#afGuiEditor.af-gui-editing-content .af-gui-element,
#afGuiEditor.af-gui-editing-content .af-gui-markup-content,
  .af-gui-editing-content #afGuiEditor-palette .panel-body > * {
    opacity: .5;
}
#afGuiEditor.af-gui-editing-content .af-gui-container {
    border: 2px solid transparent;
}
#afGuiEditor.af-gui-editing-content .af-gui-bar {
    visibility: hidden;
}
#afGuiEditor.af-gui-editing-content .af-gui-bar:before {
    background: none;
}
#afGuiEditor .af-gui-content-editing-area {
    pointer-events: auto;
    cursor: auto;
    padding-top: 35px;
    position: relative;
}
#afGuiEditor af-gui-edit-options.af-gui-content-editing-area {
    border: 2px solid #0071bd;
}
#afGuiEditor .af-gui-content-editing-area .af-gui-edit-options-bar {
    height: 30px;
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
    width: 100%;
    background-color: #f2f2f2;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 15px;
}
#afGuiEditor .af-gui-edit-options-bar .btn-group-sm {
    position: absolute;
    top: 0;
    right: 0;
}
#afGuiEditor af-gui-edit-options.af-gui-content-editing-area ul[ui-sortable] {
    padding: 5px 20px 0;
}
#afGuiEditor af-gui-edit-options.af-gui-content-editing-area ul[ui-sortable] li {
    list-style: none;
    padding-left: 15px;
    position: relative;
    background-color: #e7ecf1;
    cursor: move;
}
#afGuiEditor af-gui-edit-options.af-gui-content-editing-area ul[ui-sortable] li:nth-child(even) {
    background-color: #f2f2f2;
}
#afGuiEditor af-gui-edit-options.af-gui-content-editing-area ul[ui-sortable] li > div {
    width: calc(100% - 30px);
    display: inline-block;
}
#afGuiEditor af-gui-edit-options.af-gui-content-editing-area ul.af-gui-edit-options-deleted li > div {
    text-decoration: line-through;
}
#afGuiEditor af-gui-edit-options.af-gui-content-editing-area ul[ui-sortable] li .btn-xs {
    border: 0 none;
}
#afGuiEditor af-gui-edit-options.af-gui-content-editing-area h5 {
    margin-left: 20px;
}
#afGuiEditor .af-gui-dropzone {
    background-color: #e9eeff;
    border: 2px solid #0071bd;
    min-height: 30px;
}
/* Rules for Conditional dialog */
.af-gui-conditional-dialog fieldset {
    padding: 6px;
    border-top: 1px solid lightgrey;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}
.af-gui-conditional-dialog fieldset fieldset {
    padding-top: 0;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}
/* .af-gui-conditional-dialog fieldset legend {
    background-color: white;
    font-size: 13px;
    margin: 0;
    width: auto;
    border: 0 none;
    padding: 2px 5px;
    text-transform: none;
} */
.af-gui-conditional-dialog af-gui-clause > .btn-group {
    position: absolute;
    right: 0;
    top: 0;
}
.af-gui-conditional-dialog fieldset div.api4-input {
    margin-bottom: 10px;
}
.af-gui-conditional-dialog fieldset div.api4-input.ui-sortable-helper {
    background-color: rgba(255, 255, 255, .9);
}
.af-gui-conditional-dialog fieldset div.api4-input.ui-sortable-helper {
    background-color: rgba(255, 255, 255, .9);
}
.af-gui-conditional-dialog .api4-clause-fieldset fieldset {
    float: right;
    width: calc(100% - 58px);
    margin-top: -8px;
}
.af-gui-conditional-dialog .api4-clause-fieldset.api4-sorting fieldset .api4-clause-group-sortable {
    min-height: 3.5em;
}
.af-gui-conditional-dialog legend[ng-click] {
    cursor: pointer;
}
.af-gui-conditional-dialog .api4-input-group {
    display: inline-block;
}
 i.crm-i.af-gui-conditional-dialog-move-icon {
    opacity: .5;
}
 .crm-draggable:hover > i.crm-i.af-gui-conditional-dialog-move-icon,
 .crm-draggable:hover > * > i.crm-i.af-gui-conditional-dialog-move-icon {
    opacity: 1;
}
.af-gui-conditional-dialog .api4-clause-badge {
    width: 55px;
    display: inline-block;
    cursor: move;
}
.af-gui-conditional-dialog .api4-clause-badge .badge {
    opacity: .5;
    position: relative;
}
.af-gui-conditional-dialog .api4-clause-badge .caret {
    margin: 0;
}/* Icon only shown while dragging */
.af-gui-conditional-dialog .api4-clause-badge .crm-i {
    display: none;
    padding: 0 6px;
}
.af-gui-conditional-dialog .ui-sortable-helper .api4-clause-badge .badge span {
    display: none;
}
.af-gui-conditional-dialog .ui-sortable-helper .api4-clause-badge .crm-i {
    display: inline-block;
}
.af-gui-conditional-dialog .api4-operator {
    width: 110px;
}

/* RiverLea additions (not yet merged) */

/* Editor Palette */

/* AfEditor builder */

#afGuiEditor .dropdown-menu li .af-gui-field-select-in-dropdown {
	color: var(--crm-dropdown-col) !important;
}

#afGuiEditor .af-gui-container.af-container-style-pane {
	background: linear-gradient(to bottom, #f2f2f2 0 var(--crm-l), transparent var(--crm-l) 100%) no-repeat;
	border-radius: var(--crm-roundness);
}
#afGuiEditor .af-gui-content-editing-area .af-gui-edit-options-bar,
#afGuiEditor-canvas [ui-sortable] .af-gui-bar  {
	font-family: inherit !important /* vs afGuiEditor.css */;
	font-size: var(--crm-font-size) !important;
	padding: var(--crm-s);
}

.af-gui-edit-options-bar h4 {
	font-size: var(--crm-font-size) !important;
	margin: 0 !important;
}


#afGuiEditor-canvas .dropdown-toggle {
	padding: 1px;
}
#afGuiEditor-canvas .af-gui-canvas-control-buttons button.btn-default i.crm-i,
#afGuiEditor-canvas .dropdown-toggle i.crm-i {
	margin: 0;
	border: 0;
	padding: var(--crm-s);
}

#afGuiEditor .af-gui-element {
	padding: 0 var(--crm-s) var(--crm-s) !important;
	min-height: var(--crm-l) !important;
	background: var(--crm-c-background2);
	border-radius: var(--crm-roundness);
	margin-bottom: var(--crm-s2);
}
#afGuiEditor .af-gui-content-editing-area:has(.ng-hide) {
	padding-top: 0;
}
#afGuiEditor .af-gui-markup {
	padding: var(--crm-s) !important;
}
#afGuiEditor .dropdown-menu li .af-gui-field-select-in-dropdown {
	color: var(--crm-dropdown-col) !important;
}
#afGuiEditor .af-gui-layout.af-layout-cols {
	column-gap: var(--crm-r);
}
#afGuiEditor .af-gui-layout.af-layout-inline > div {
	margin-right: var(--crm-m);
}
.af-admin-edit-form-link .btn.dropdown-toggle { /* the cog icon to edit forms */
	background: transparent;
	color: var(--crm-c-text);
	height: unset;
	padding: 0 !important;
	border: 0;
}
.af-admin-edit-form-link .btn.dropdown-toggle i.crm-i {
	background: transparent;
	border: 0;
}


/* Dropdown buttons */

#afGuiEditor .af-gui-field-input-type-chainselect .input-group .dropdown-toggle, 
#afGuiEditor .af-gui-field-input-type-select .input-group .dropdown-toggle, 
#afGuiEditor-palette-config .af-gui-entity-palette .input-group .btn,
#afGuiEditor-canvas-body .af-gui-field-input .input-group .btn {
	padding: var(--crm-s) var(--crm-m1);
}
#afGuiEditor .dropdown-menu li {
    cursor: default;
}
#afGuiEditor .dropdown-menu li .af-gui-field-select-in-dropdown {
    padding: 2px 19px 2px 21px;
    clear: both;
    font-weight: 400;
    line-height: 1.5384615385;
    color: #4d4d69;
    white-space: nowrap;
}
#afGuiEditor .dropdown-menu li > * > label {
    font-weight: normal;
    cursor: pointer;
}
#afGuiEditor .dropdown-menu li .af-gui-field-select-in-dropdown > select {
    max-width: 120px;
    padding-left: 5px;
    padding-right: 5px;
}
#afGuiEditor li .af-gui-field-select-in-dropdown input[type=color] {
    width: 30px;
    padding: 2px 4px;
}
#afGuiEditor li .af-gui-field-select-in-dropdown input[type=number] {
    width: 50px;
    padding-right: 0;
}


/* various */

#afGuiEditor .ui-sortable-helper .af-gui-palette-item {
    height: 30px;
    width: 300px;
    border: 2px dashed #0071bd;
}