.crmMailing select,
.crmMailing input[type=text] {
  width: 36em;
}
.crmMailing textarea {
  height: 20em;
}
.crmMailing-recip-est {
  background: var(--crm-c-yellow-light);
  font-size: var(--crm-font-small-size);
  padding: var(--crm-padding-small);
  margin: 0 0 0 var(--crm-l-medium);
  width: var(--crm-input-width);
  text-align: center;
}
.crmMailing input.crm-form-date,
.crmMailing input[name=preview_test_email],
.crmMailing-preview select[name=preview_test_group] {
  width: var(--crm-input-width);
}
.crmMailing .crmMailing-preview {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.crm-container .crmMailing-preview .preview-popup,
.crm-container .crmMailing-preview .preview-contact,
.crm-container .crmMailing-preview .preview-group {
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
  gap: var(--crm-l-medium);
  width: 100%;
}
.crmMailing .preview-popup,
.crmMailing .preview-contact {
  border-right: var(--crm-border);
}
.crmMailing .preview-popup,
.crmMailing .preview-contact {
  text-align: center;
  border-right: var(--crm-border);
}
.crmMailing .crmMailing-schedule-inner {
  width: var(--crm-input-large-width);
  margin: auto;
}
input[name=preview_test_email]::placeholder {
  text-align: center;
}
.crmMailing-inactive {
  text-decoration: line-through;
}
.crm-container #crm-main-content-wrapper a.crmMailing-submit-button {
  margin-top: var(--crm-l-reg);
  font-size: var(--crm-l-reg-1);
}
.crm-container a.crmMailing-submit-button.disabled,
.crm-container a.crmMailing-submit-button.blocking {
  opacity: .6;
  cursor: default;
}
