.crm-mailing-ab-slider input[type="range"] {
  width: 100%;
}

.crm-mailing-ab-slider .slider-test input {
  accent-color: #5050b0;
}

.crm-mailing-ab-slider .slider-win input {
  accent-color: #259a25;
}

.crm-mailing-ab-stats .series {
  fill: none;
}

.crm-mailing-ab-stats .axis path,
.crm-mailing-ab-stats .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.crm-mailing-ab-col {
  width: 18em;
}

.crm-mailing-ab-table tbody tr:last-child td {
  padding-bottom: 2em;
}
