.crm-container details {
  background-color: unset;
  border-radius: var(--crm-accordion-radius);
  margin: var(--crm-accordion-gap);
}
.crm-container summary {
  display: list-item;
  list-style: none;
  cursor: var(--crm-link-hover-cursor);
  font-size: var(--crm-font-size);
  font-weight: var(--crm-accordion-header-weight);
  color: var(--crm-text-color);
  border-radius: var(--crm-accordion-radius);
  padding: var(--crm-accordion-header-padding);
}
.crm-container details .crm-accordion-body {
  padding: var(--crm-accordion-body-padding);
}
.crm-container details[open] > summary { /* open version of that */
  border-radius: var(--crm-accordion-radius) var(--crm-accordion-radius) 0 0;
}
.crm-container table summary { /* Makes summary match the size of the rest of the table it's in */
  font-size: inherit;
}
.crm-container summary::-webkit-details-marker { /* Safari fix to remove summary icon */
  display: none;
}
.crm-container details ~ details {
  margin: var(--crm-accordion-gap);
}
.crm-container details:has(input.crm-inline-error) summary,
.crm-container details:has(input.crm-inline-error) summary.active {
  background-color: var(--crm-alert-danger-bg-color);
  color: var(--crm-alert-danger-text-color);
  border-color: var(--crm-alert-danger-border-color);
}

/* Expand/collapse icons */
.crm-container details > summary::before {
  font-size: var(--crm-font-size);
  content: var(--crm-accordion-icon);
  color: var(--crm-accordion-icon-color);
  font-style: normal;
  line-height: 1.35;
  font-family: FontAwesome;
  text-rendering: auto;
  text-indent: inherit;
  margin-right: var(--crm-accordion-icon-spacing);
  display: inline-block;
  transform-origin: center center;
  transition: var(--crm-accordion-transition);
}
.crm-container details[open] > summary::before {
  transform: var(--crm-accordion-transform);
  transition: var(--crm-accordion-transition);
}

/* Style 1 'bold' */
.crm-container .crm-accordion-bold {
  background-color: var(--crm-accordion-body-bg-color);
}
.crm-container .crm-accordion-bold > summary {
  background-color: var(--crm-accordion-header-bg-color);
  color: var(--crm-accordion-header-color);
  border: var(--crm-accordion-header-border);
  border-width: var(--crm-accordion-header-border-width);
  font-weight: var(--crm-accordion-header-weight);
}
.crm-container .crm-accordion-bold > summary a {
  color: var(--crm-accordion-header-color);
}
.crm-container .crm-accordion-bold > summary.active,
.crm-container .crm-accordion-bold > summary:hover,
.crm-container .crm-accordion-bold > summary:focus { /* hover version of that */
  background-color: var(--crm-accordion-header-bg-active-color);
}
.crm-container .crm-accordion-bold > .crm-accordion-body {
  padding: var(--crm-accordion-body-padding);
  border: var(--crm-accordion-border);
  border-width: var(--crm-accordion-border-width);
  border-radius: 0 0 var(--crm-accordion-radius) var(--crm-accordion-radius);
  box-shadow: var(--crm-accordion-body-box-shadow);
}
.crm-container details.crm-accordion-bold:not( > summary) {
  border: var(--crm-accordion-border);
  padding: var(--crm-accordion-body-padding);
}

/* Style 2 'light' */
.crm-container .crm-accordion-light {
  background-color: var(--crm-accordion2-body-bg-color);
}
.crm-container .crm-accordion-light > summary {
  font-weight: var(--crm-accordion2-header-weight);
  background-color: var(--crm-accordion2-header-bg-color);
  color: var(--crm-accordion2-header-color);
  border: var(--crm-accordion2-header-border);
  border-width: var(--crm-accordion2-header-border-width);
  padding: var(--crm-accordion2-header-padding);
}
.crm-container .crm-accordion-light > summary.active,
.crm-container .crm-accordion-light > summary:hover,
.crm-container .crm-accordion-light > summary:focus { /* hover version of that */
  background-color: var(--crm-accordion2-header-bg-active-color);
}
.crm-container .crm-accordion-light > summary a {
  color: var(--crm-accordion2-header-color);
}
.crm-container .crm-accordion-light > .crm-accordion-body {
  padding: var(--crm-accordion2-body-padding);
  background: var(--crm-accordion2-body-bg-color);
  border: var(--crm-accordion2-border);
  border-width: var(--crm-accordion2-border-width);
  border-radius: 0 0 var(--crm-accordion-radius) var(--crm-accordion-radius);
}
.crm-container details.crm-accordion-light:not( > summary) {
  border: 0;
  padding: 0;
}

/* Style 3 'settings' */
.crm-container details.crm-accordion-settings summary {
  text-align: right;
}
.crm-container details.crm-accordion-settings summary::before {
  content: '\f013';
}
.crm-container details.crm-accordion-settings > .crm-accordion-body {
  padding: var(--crm-accordion2-header-padding);
}

/* Contact dashboard */
#contact-summary details,
#contact-summary .crm-accordion-light > summary,
#contact-summary .crm-accordion-light > summary.active,
#contact-summary .crm-accordion-light > summary:hover,
#contact-summary .crm-accordion-light > summary:focus,
#Contact .crm-accordion-light > summary,
#Contact .crm-accordion-light > summary:hover,
#Contact .crm-accordion-light > summary:focus {
  box-shadow: none;
  border: 0 solid transparent;
  background-color: transparent;
  color: var(--crm-text-color);
}
#contact-summary details .crm-summary-block {
  box-shadow: var(--crm-shadow-block);
  margin-bottom: 0;
}
#contact-summary summary {
  padding: var(--crm-l-medium) !important;
}
#contact-summary details .crm-accordion-body {
  box-shadow: none;
}
