/* Bootstrap Nav */

.crm-container .nav {
  padding-left: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  cursor: var(--crm-link-hover-cursor);
}
.crm-container .nav > li {
  position: relative;
  display: block;
}
.crm-container .nav > li > a {
  padding: var(--crm-l-medium) var(--crm-l-reg);
}
.crm-container .nav > li > a:is(:hover,:focus) {
  text-decoration: none;
  background-color: var(--crm-layer1-bg-color);
}
.crm-container .nav > li.disabled > a {
  color: var(--crm-inactive-color);
}
.crm-container .nav > li.disabled > a:is(:hover,:focus) {
  color: var(--crm-inactive-color);
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}
.crm-container .nav .open > :is(a,a:hover,a:focus) {
  background-color: var(--crm-layer1-bg-color);
  border-color: var(--crm-link-color);
}
.crm-container .nav .nav-divider {
  height: 1px;
  margin: var(--crm-l-medium) 0;
  overflow: hidden;
  background-color: var(--crm-border);
}
.crm-container .nav > li > a > img {
  max-width: none;
}
.crm-container .nav.nav-stacked {
  flex-direction: column;
}
.crm-container .nav.nav-pills {
  gap: var(--crm-flex-gap);
}
