/* Bootstrap Nav */

.crm-container .nav {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	display: flex;
    flex-wrap: wrap;
    cursor: var(--crm-hover-clickable);
}
.crm-container .nav > li {
	position: relative;
	display: block;
}
.crm-container .nav > li > a {
	padding: var(--crm-m) var(--crm-r);
}
.crm-container .nav > li > a:hover,
.crm-container .nav > li > a:focus {
	text-decoration: none;
	background-color: var(--crm-c-background2);
}
.crm-container .nav > li.disabled > a {
	color: var(--crm-c-inactive);
}
.crm-container .nav > li.disabled > a:hover,
.crm-container .nav > li.disabled > a:focus {
    color: var(--crm-c-inactive);
	text-decoration: none;
	cursor: not-allowed;
	background-color: transparent;
}
.crm-container .nav .open > a,
.crm-container .nav .open > a:hover,
.crm-container .nav .open > a:focus {
	background-color: var(--crm-c-background2);
	border-color: var(--crm-c-link);
}
.crm-container .nav .nav-divider {
	height: 1px;
	margin: var(--crm-m) 0;
	overflow: hidden;
	background-color: var(--crm-c-divider);
}
.crm-container .nav > li > a > img {
	max-width: none;
}
.crm-container .nav.nav-stacked {
    flex-direction: column;
}
#civicrm-menu-nav .crm-logo-sm {
	background: url('data:image/svg+xml,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 792 612" style="enable-background:new 0 0 792 612;" xml:space="preserve"><style type="text/css">.st0{fill:%23086287;}.st1{fill:%2381C459;}</style><g><g><path class="st0" d="M342.05,470.43C342.05,470.43,342.05,470.43,342.05,470.43c-20.72-0.4-28.62-24.34-29.45-27.07l-70.69-231.67c-4.16-13.61-3.21-24.56,2.83-32.55c3.9-5.16,11.67-11.25,26.56-10.96c5.45,0.1,9.72,1.07,10.19,1.17l235.37,54.83c15.13,3.52,24.43,10.66,27.64,21.21c5.09,16.72-9.08,32.57-10.72,34.32L369.09,456.41C360.25,465.89,351.15,470.61,342.05,470.43z M270.14,192.48c-4.21-0.08-5.58,1.07-5.84,1.44c-1.19,1.68-1.45,2.43,1.05,10.62l70.69,231.66c1.58,4.95,4.2,9.55,6.48,9.72l0,0c0.03,0,2.84-0.02,8.64-6.23l164.69-176.68c3.04-3.34,5.84-8.78,5.2-10.46c-0.46-1.19-2.35-2.75-9.76-4.48l-235.37-54.84l0,0C275.92,193.23,272.97,192.54,270.14,192.48z"/></g><g><path class="st1" d="M315.61,451.6c-7.61,2.82-15.56,3.37-21.8,1.34c0,0,0,0,0,0c-19.66-6.41-20.24-31.58-20.24-34.42l0.02-225.56l23.16,5.19L296.84,419c0.06,5.18,1.4,10.13,4.56,10.68l0,0c0.02,0.01,1.64,0.52,6.35-1.63L315.61,451.6z M329.71,415.68l190.44-110.19c3.87-2.3,8.39-5.74,8.01-8.48c-0.06-0.41-0.96-2.89-5.08-5.75l15.97-18.15c9.02,6.88,13.59,14.89,13.59,23.91c0,17.44-18.16,28.45-20.23,29.65L337.06,438.9L329.71,415.68z M500.93,278.76L313.77,169.87c0,0-4.67-2.98-7.36-3.86c-4-1.3-5.96,0.02-6.33,0.27c-1.12,0.75-1.48,1.34-1.95,6.84l-24.11-4.49c1.31-10.03,5.23-17.46,11.68-22.15c5.22-3.79,14.42-7.34,28.55-2.73c5.17,1.69,8.97,3.85,9.38,4.09l194.69,112.31L500.93,278.76z"/></g></g></svg>');
	background-repeat: no-repeat;
	background-size: cover;
	width: 2.25rem;
	height: 2.25rem;
	margin: 0;
	background-position: center center;
}
