<span ng-if="$ctrl.defn.display_format === 'file' && dataProvider.getFieldData()[$ctrl.fieldName].file_name">
  <a ng-if="dataProvider.getFieldData()[$ctrl.fieldName].url" ng-href="{{:: dataProvider.getFieldData()[$ctrl.fieldName].url }}">
    <i class="crm-i {{ dataProvider.getFieldData()[$ctrl.fieldName].icon }}"></i>
    {{ dataProvider.getFieldData()[$ctrl.fieldName].file_name }}
  </a>
  <span ng-if="!dataProvider.getFieldData()[$ctrl.fieldName].url">
    <i class="crm-i {{ dataProvider.getFieldData()[$ctrl.fieldName].icon }}"></i>
    {{ dataProvider.getFieldData()[$ctrl.fieldName].file_name }}
  </span>
</span>
<span ng-if="$ctrl.defn.display_format === 'html'" ng-bind-html="$ctrl.getDisplayValue(dataProvider.getFieldData()[$ctrl.fieldName])">
</span>
<span ng-if="$ctrl.defn.display_format === 'url'">
  <a ng-if="dataProvider.getFieldData()[$ctrl.fieldName]" ng-href="{{:: dataProvider.getFieldData()[$ctrl.fieldName] }}">
    {{ $ctrl.getDisplayValue(dataProvider.getFieldData()[$ctrl.fieldName]) }}
  </a>
</span>
<span ng-if="!$ctrl.defn.display_format">
  {{ $ctrl.getDisplayValue(dataProvider.getFieldData()[$ctrl.fieldName]) }}
</span>
