<input ng-if=":: !$ctrl.defn.search_range" class="form-control" type="email" ng-class="$ctrl.defn.input_style" ng-required="$ctrl.defn.required" ng-disabled="$ctrl.isDisabled()" id="{{:: fieldId }}" ng-model="getSetValue" ng-model-options="{getterSetter: true}" placeholder="{{:: $ctrl.defn.input_attrs.placeholder }}" >
<div ng-if=":: $ctrl.defn.search_range" class="form-inline" ng-class="$ctrl.defn.input_style">
  <input class="form-control" type="email" ng-disabled="$ctrl.isDisabled()" id="{{:: fieldId }}" ng-model="dataProvider.getFieldData()[$ctrl.fieldName]['>=']" placeholder="{{:: $ctrl.defn.input_attrs.placeholder }}" >
  <span class="af-field-range-sep">-</span>
  <input class="form-control" type="email" ng-disabled="$ctrl.isDisabled()" id="{{:: fieldId }}2" ng-model="dataProvider.getFieldData()[$ctrl.fieldName]['<=']" placeholder="{{:: $ctrl.defn.input_attrs.placeholder2 }}" >
</div>
