<label ng-repeat="opt in getOptions() track by opt.id" for="{{ fieldId + opt.id }}" ng-class="$ctrl.defn.input_style ? [$ctrl.defn.input_style, {'active': getSetValue() == opt.id}] : 'radio-inline'">
  <input class="crm-form-radio" id="{{ fieldId + opt.id }}" name="{{:: fieldId }}" type="radio" ng-model="getSetValue" ng-change="$ctrl.showCustomInput = 0" ng-required="$ctrl.defn.required" ng-model-options="{getterSetter: true}" ng-value="opt.id"  aria-label="{{opt.label}}" />
  {{:: opt.label }}
</label>
<label ng-if="$ctrl.defn.allowUserEnteredOption" for="{{ fieldId + '__other' }}" class="radio-inline">
  <input class="crm-form-radio" id="{{ fieldId + '__other' }}" name="{{:: fieldId }}" type="radio" ng-model="$ctrl.showCustomInput" aria-label="{{:: ts('Other') }}" ng-value="1" />
  {{:: ts('Other') }}
</label>
<input ng-show="$ctrl.showCustomInput" type="text" inputmode="{{ $ctrl.defn.input_attrs.inputmode }}" pattern="{{ $ctrl.defn.input_attrs.pattern }}" placeholder="{{ $ctrl.defn.input_attrs.placeholder }}"  title="{{ $ctrl.defn.input_attrs.title }}" ng-model="getSetValue" ng-required="$ctrl.defn.required" ng-model-options="{getterSetter: true}" />
<a ng-if="!$ctrl.defn.required" class="crm-hover-button" title="{{:: ts('Clear') }}" ng-show="!!dataProvider.getFieldData()[$ctrl.fieldName] || dataProvider.getFieldData()[$ctrl.fieldName] === false || dataProvider.getFieldData()[$ctrl.fieldName] === 0" ng-click="dataProvider.getFieldData()[$ctrl.fieldName] = null" aria-label="{{:: ts('Clear') }}">
  <i class="crm-i fa-times" role="img" aria-hidden="true"></i>
</a>