#bootstrap-theme.afadmin-list th[ng-click] {
  cursor: pointer;
}
#bootstrap-theme.afadmin-list th i.fa-sort-desc,
#bootstrap-theme.afadmin-list th i.fa-sort-asc {
  color: #1a5a82;
}
#bootstrap-theme.afadmin-list th:not(:hover) i.fa-sort {
  opacity: .5;
}

#afGuiEditor #afGuiEditor-palette {
  margin-right: 5px;
  height: 100%;
}

#afGuiEditor #afGuiEditor-canvas {
  margin-left: 5px;
  height: 100%;
}

#afGuiEditor fieldset legend {
  padding-top: 5px;
  font-size: 16px;
  margin-bottom: 5px !important;
}

#afGuiEditor-palette fieldset legend {
  height: 30px;
}

#afGuiEditor hr {
  margin-top: 15px;
  margin-bottom: 10px;
}

#afGuiEditor .panel {
  height: 100%;
}
#afGuiEditor .panel-heading {
  height: 44px;
  padding: 5px 10px 10px 10px;
  border-bottom: 1px solid #ddd;
  position: relative;
}
#afGuiEditor .panel-heading ul.nav-tabs {
  border-bottom: 0 none;
  padding: 0!important;
}
#afGuiEditor .panel-heading ul.nav-tabs li {
  top: 6px;
  margin: 0;
}
#afGuiEditor .panel-heading ul.nav-tabs li.fluid-width-tab {
  white-space: nowrap;
  overflow: hidden;
}
#afGuiEditor .panel-heading ul.nav-tabs li.active {
  max-width: 50%;
}
#afGuiEditor .panel-heading ul.nav-tabs li > a {
  padding: 5px 3px 5px 8px;
  height: 33px;
  font-size: 12px;
  margin: 0;
}
#afGuiEditor .form-inline.af-gui-canvas-control-buttons {
  position: absolute;
  left: 48%;
}

#afGuiEditor .panel-body {
  padding: 5px 12px;
  position: relative;
  height: calc(100% - 44px);
  overflow-y: scroll;
  overflow-x: hidden;
  border-top: none!important;
}

#afGuiEditor .af-gui-columns {
  position: relative;
}
#afGuiEditor .af-gui-columns > * {
  min-width: 200px;
}

#afGuiEditor .af-gui-remove-entity {
  position: absolute;
  right: 3px;
  top: 3px;
}

#afGuiEditor .crm-editable-enabled,
#afGuiEditor .panel-heading ul.nav-tabs li > a > span {
  display: inline-block;
  padding: 0 4px !important;
  border: 2px solid transparent !important;
  min-width: 21px;
}
#afGuiEditor .crm-editable-enabled:hover:not(:focus) {
  outline: 2px dashed grey !important;
}
/* Undo Shoreditch add-ons */
#afGuiEditor .crm-editable-enabled:before,
#afGuiEditor .crm-editable-enabled:after {
  content: '';
  display: none;
}

#afGuiEditor-palette-config .af-gui-entity-values .form-inline {
  margin-bottom: 10px;
}

#afGuiEditor-palette-config .af-gui-entity-palette [type=search] {
  width: 120px;
  padding: 3px 3px 3px 5px;
  height: 25px;
  font-weight: normal;
  position: relative;
  top: -3px;
  font-size: 12px;
}

#bootstrap-theme input[type=search]::placeholder {
  font-family: FontAwesome;
  text-align: right;
}
#bootstrap-theme input[type=search]:-ms-input-placeholder {
  font-family: FontAwesome;
  text-align: right;
}
#bootstrap-theme input[type=search]::-ms-input-placeholder {
  font-family: FontAwesome;
  text-align: right;
}

#afGuiEditor-canvas .af-gui-bar {
  height: 22px;
  width: 100%;
  transition: opacity .2s;
  position: relative;
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
}
#afGuiEditor-canvas:not(.af-gui-menu-open) .af-gui-bar,
#afGuiEditor-canvas:not(.af-gui-menu-open) .af-gui-container-title span:empty {
  opacity: 0;
}
#afGuiEditor-canvas [ui-sortable] .af-gui-bar {
  cursor: move;
  background-color: #f2f2f2;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 15px;
}
#afGuiEditor:not(.af-gui-dragging *) #afGuiEditor-canvas:hover .af-gui-bar,
#afGuiEditor:not(.af-gui-dragging *) #afGuiEditor-canvas:hover .af-gui-container-title span:empty {
  opacity: 1;
  transition: opacity .2s;
}
#afGuiEditor #afGuiEditor-canvas .af-gui-dragtarget > .af-gui-bar,
#afGuiEditor #afGuiEditor-canvas .af-gui-dragtarget > .af-gui-container-title span:empty {
  background-color: #d7e6ff;
  opacity: 1;
  transition: opacity .1s;
}

/* Disable menu while dragging */
body.af-gui-dragging #civicrm-menu {
  pointer-events: none;
}
/* Disable scrollbars while dragging */
body.af-gui-dragging {
  overflow-x: hidden;
  overflow-y: hidden;
}

#afGuiEditor .af-gui-bar .btn.active {
  background-color: #b3b3b3;
}

#afGuiEditor .af-gui-bar > .form-inline > span {
  color: #696969;
  font-style: italic;
}
#afGuiEditor .af-gui-bar > .form-inline > select {
  height: 21px;
  min-height: 21px;
}

#afGuiEditor .af-gui-element {
  position: relative;
  padding: 0 3px 3px;
  display: block;
  min-height: 21px;
}

#afGuiEditor .af-gui-container {
  outline: 2px dashed transparent;
  position: relative;
  padding: 22px 3px 3px;
  min-height: 40px;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* Card style */
#afGuiEditor .af-gui-container.af-container-style-pane {
  box-shadow: 1px 2px 8px 1px rgb(0, 0, 0, .3);
  background: linear-gradient(to bottom, #f2f2f2 0 22px, transparent 22px 100%) no-repeat;
  border-radius: 4px;
}

#afGuiEditor af-gui-container,
#afGuiEditor af-gui-markup,
#afGuiEditor af-gui-field,
#afGuiEditor .af-gui-block-label,
#afGuiEditor .af-gui-tabset,
#afGuiEditor af-gui-edit-options {
  display: block;
}

#afGuiEditor .af-gui-search-display {
  border: 1px dotted gray;
  color: gray;
  padding: 3em;
  background-color: #f9f9f9;
}

#afGuiEditor .af-gui-container-type-fieldset {
  box-shadow: 0 0 5px #bbbbbb;
  margin-top: 20px;
  margin-bottom: 20px;
}

#afGuiEditor-canvas:not(.af-gui-menu-open) .af-gui-container:hover,
.af-gui-dragging #afGuiEditor .af-gui-container {
  outline: 2px dashed #757575;
}
#afGuiEditor .af-gui-container.af-gui-dragtarget {
  border: 2px solid #0071bd;
  box-shadow: 0 0 5px #0071bd;
}

#afGuiEditor .af-gui-markup {
  padding: 22px 3px 3px;
  position: relative;
}

#afGuiEditor div.af-gui-markup-content {
  display: block;
  position: relative;
  padding: 0 !important;
}

#afGuiEditor .af-gui-markup-content-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#afGuiEditor .af-gui-markup-content:hover .af-gui-markup-content-overlay {
  background-color: rgba(255, 255, 255, .2);
}

#afGuiEditor #afGuiEditor-canvas .af-entity-selected {
  outline: 2px dashed #0071bd;
}
#afGuiEditor #afGuiEditor-canvas .af-entity-selected > .af-gui-bar {
  background-color: #0071bd;
  opacity: 1;
  transition: opacity 0s;
}
/* Fix button colors when bar is highlighted */
#afGuiEditor #afGuiEditor-canvas .af-entity-selected > .af-gui-bar > .form-inline > .btn-group > .btn-group > button > span,
#afGuiEditor #afGuiEditor-canvas .af-entity-selected > .af-gui-bar > .form-inline > span,
#afGuiEditor #afGuiEditor-canvas .af-entity-selected > .af-gui-node-title {
  color: white;
}
#afGuiEditor #afGuiEditor-canvas .af-entity-selected > .af-gui-bar > .form-inline > .btn-group > .btn-group > button:hover > span,
#afGuiEditor #afGuiEditor-canvas .af-entity-selected > .af-gui-bar > .form-inline > .btn-group > .btn-group > button[aria-expanded=true] > span,
#afGuiEditor #afGuiEditor-canvas .af-entity-selected > .af-gui-bar > .form-inline > .btn-group > .btn-group > button:focus > span {
  color: #0071bd;
}

#afGuiEditor-canvas [ui-sortable] {
  min-height: 60px;
  margin-top: 10px;
}

#afGuiEditor .ui-sortable-helper {
  height: 20px !important;
  opacity: .5;
  overflow: visible;
}
#afGuiEditor .ui-sortable-helper > * {
  background-color: #d5d5d5;
}
#afGuiEditor .ui-sortable-helper .af-gui-palette-item {
  height: 30px;
  width: 300px;
  outline: 2px dashed #0071bd;
}

#afGuiEditor .af-gui-entity-palette-select-list {
  max-height: 400px;
  overflow-y: auto;
}
#afGuiEditor .af-gui-entity-palette-select-list label {
  margin-top: 10px;
}
#afGuiEditor .af-gui-entity-palette-select-list [ui-sortable] > div {
  cursor: move;
  padding-left: 10px;
  position: relative;
}
#afGuiEditor .af-gui-entity-palette-select-list [ui-sortable] > div.disabled {
  cursor: auto;
}
#afGuiEditor .af-gui-entity-palette-select-list [ui-sortable] > div:not(.disabled):hover {
  background-color: #efefef;
}
/* grip handle */
#afGuiEditor [ui-sortable] .af-gui-bar:before,
#afGuiEditor .af-gui-entity-palette-select-list [ui-sortable] > div:not(.disabled):hover:before,
#afGuiEditor af-gui-edit-options.af-gui-content-editing-area [ui-sortable] li:before {
  background-size: cover;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSIjODg4Ij48L3JlY3Q+Cjwvc3ZnPg==");
  width: 10px;
  height: 15px;
  content: ' ';
  display: block;
  position: absolute;
  left: 4px;
  top: 5px;
}
#afGuiEditor .af-gui-add-element-button {
  background-color: transparent;
}
#afGuiEditor .af-gui-add-element-button span {
  display: inline-block;
  width: 18px;
  height: 18px;
  color: #0071bd;
}

#afGuiEditor #af_config_form_permission {
  width: calc(100% - 55px);
}
#afGuiEditor #af_config_form_permission_operator {
  width: 45px;
}

#afGuiEditor #afGuiEditor-palette input[type=number] {
  width: 6em;
}

#afGuiEditor .af-gui-layout-icon {
  width: 12px;
  height: 11px;
  display: block;
  background-image: url('../images/icons.png');
  background-repeat: no-repeat;
  margin: 4px 1px;
}
#afGuiEditor .af-gui-layout-icon.af-layout-cols {
  background-position: -12px 0;
}
#afGuiEditor .af-gui-layout-icon.af-layout-rows {
  background-position: -24px 0;
}

#afGuiEditor .af-gui-layout.af-layout-cols {
  display: flex;
}
#afGuiEditor .af-gui-layout.af-layout-cols > div {
  flex: 1;
}
#afGuiEditor .af-gui-layout.af-layout-inline > div {
  display: inline-block;
  width: 300px;
  vertical-align: top;
}

#afGuiEditor .af-gui-button {
  padding-left: 15px;
}

#afGuiEditor #afGuiEditor-canvas-body .btn[disabled] {
  cursor: default;
  color: white;
}
#afGuiEditor .af-gui-button > .btn.disabled .crm-editable-enabled:hover:not(:focus) {
  border-color: #f4f4f4 !important;
}

#afGuiEditor .af-gui-button > .btn-default.disabled {
  background-color: lightgrey !important;
}

#afGuiEditor .af-gui-node-title {
  margin-left: 5px;
  margin-right: 20px;
  position: relative;
}
#afGuiEditor .af-gui-container-title {
  top: -21px;
}
#afGuiEditor .af-gui-container-title span:empty {
  font-weight: lighter;
}

#afGuiEditor .af-gui-field-required:after {
  content: '*';
  color: #cf3458;
  position: relative;
  left: -4px;
}

#afGuiEditor ul.dropdown-menu {
  cursor: default;
}

#afGuiEditor .dropdown-menu li .af-gui-field-select-in-dropdown {
  padding: 2px 19px 2px 21px;
  clear: both;
  font-weight: 400;
  line-height: 1.5384615385;
  color: #4d4d69;
  white-space: nowrap;
}

#afGuiEditor .dropdown-menu li .checkbox-inline label {
  font-weight: normal;
}
#afGuiEditor .dropdown-menu li > * > label {
  font-weight: normal;
  cursor: pointer;
}

#afGuiEditor .dropdown-menu li .af-gui-field-select-in-dropdown > select {
  max-width: 120px;
  padding-left: 5px;
  padding-right: 5px;
}

#afGuiEditor li .af-gui-field-select-in-dropdown input[type=color] {
  width: 30px;
  padding: 2px 4px;
}

#afGuiEditor li .af-gui-field-select-in-dropdown input[type=number] {
  width: 50px;
  padding-right: 0;
}

/* For editing field placeholder text */
#afGuiEditor .af-gui-field-input input[type=text].form-control {
  color: #9a9a9a;
}

#afGuiEditor .af-gui-field-input-type-number input[type=text].form-control {
  background-image: url('../images/number.png');
  background-repeat: no-repeat;
  background-position: center right 6px;
}

#afGuiEditor .af-gui-field-input input.crm-form-date {
  width: 140px;
  margin-right: -2px;
}
#afGuiEditor .af-gui-field-input input.crm-form-time {
  width: 80px;
}

#afGuiEditor .af-gui-field-input-type-radio label.radio {
  font-weight: normal;
  margin-right: 10px;
}
#afGuiEditor .af-gui-field-input-type-radio label.radio input[type=radio] {
  margin: 0;
}
#afGuiEditor .af-gui-field-input-type-select .input-group-btn {
  position: initial;
}
#afGuiEditor .af-gui-field-input-type-chainselect .input-group .dropdown-toggle,
#afGuiEditor .af-gui-field-input-type-select .input-group .dropdown-toggle {
  padding: 3px 11px;
}
#afGuiEditor .af-gui-field-input-type-select .input-group .dropdown-menu {
  width: 100%;
  right: 0;
}

#afGuiEditor .input-group-addon {
  padding: 0;
}

#afGuiEditor .af-gui-text-h1 {
  font-weight: bolder;
  font-size: 16px;
}

#afGuiEditor .af-gui-text-h2 {
  font-weight: bold;
  font-size: 15px;
}

#afGuiEditor .af-gui-text-legend,
#afGuiEditor .af-gui-text-h3 {
  font-weight: bold;
  font-size: 14px;
}

#afGuiEditor .af-gui-text-legend {
  text-decoration: underline;
}

#afGuiEditor .af-gui-text-h4 {
  font-weight: bold;
}

#afGuiEditor .af-gui-text-h5 {
  font-weight: 600;
}

#afGuiEditor .af-gui-text-h6 {
  font-weight: 500;
}

#afGuiEditor .af-gui-field-help {
  font-style: italic;
}

#afGuiEditor.af-gui-editing-content {
  pointer-events: none;
  cursor: default;
}
#afGuiEditor.af-gui-editing-content .panel-heading,
#afGuiEditor.af-gui-editing-content .af-gui-element,
#afGuiEditor.af-gui-editing-content .af-gui-markup-content,
.af-gui-editing-content #afGuiEditor-palette .panel-body > * {
  opacity: .5;
}
#afGuiEditor.af-gui-editing-content .af-gui-container {
  border: 2px solid transparent;
}
#afGuiEditor.af-gui-editing-content .af-gui-bar {
  visibility: hidden;
}
#afGuiEditor.af-gui-editing-content .af-gui-bar:before {
  background: none;
}

#afGuiEditor .af-gui-content-editing-area {
  pointer-events: auto;
  cursor: auto;
  padding-top: 35px;
  position: relative;
}

#afGuiEditor af-gui-edit-options.af-gui-content-editing-area {
  border: 2px solid #0071bd;
}

#afGuiEditor .af-gui-content-editing-area .af-gui-edit-options-bar {
  height: 30px;
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  width: 100%;
  background-color: #f2f2f2;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 15px;
}
#afGuiEditor .af-gui-edit-options-bar .btn-group-sm {
  position: absolute;
  top: 0;
  right: 0;
}
#afGuiEditor af-gui-edit-options.af-gui-content-editing-area ul[ui-sortable] {
  padding: 5px 20px 0;
}
#afGuiEditor af-gui-edit-options.af-gui-content-editing-area ul[ui-sortable] li {
  list-style: none;
  padding-left: 15px;
  position: relative;
  background-color: #e7ecf1;
  cursor: move;
}
#afGuiEditor af-gui-edit-options.af-gui-content-editing-area ul[ui-sortable] li:nth-child(even) {
  background-color: #f2f2f2;
}
#afGuiEditor af-gui-edit-options.af-gui-content-editing-area ul[ui-sortable] li > div {
  width: calc(100% - 30px);
  display: inline-block;
}
#afGuiEditor af-gui-edit-options.af-gui-content-editing-area ul.af-gui-edit-options-deleted li > div {
  text-decoration: line-through;
}
#afGuiEditor af-gui-edit-options.af-gui-content-editing-area ul[ui-sortable] li .btn-xs {
  border: 0 none;
}
#afGuiEditor af-gui-edit-options.af-gui-content-editing-area h5 {
  margin-left: 20px;
}

#afGuiEditor .af-gui-dropzone {
  background-color: #e9eeff;
  border: 2px solid #0071bd;
  min-height: 30px;
}

/* Rules for Conditional dialog */
#bootstrap-theme.af-gui-conditional-dialog fieldset {
  padding: 6px;
  border-top: 1px solid lightgrey;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}

#bootstrap-theme.af-gui-conditional-dialog fieldset fieldset {
  padding-top: 0;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

#bootstrap-theme.af-gui-conditional-dialog fieldset legend {
  background-color: white;
  font-size: 13px;
  margin: 0;
  width: auto;
  border: 0 none;
  padding: 2px 5px;
  text-transform: none;
}

#bootstrap-theme.af-gui-conditional-dialog af-gui-clause > .btn-group {
  position: absolute;
  right: 0;
  top: 0;
}

#bootstrap-theme.af-gui-conditional-dialog fieldset div.api4-input {
  margin-bottom: 10px;
}

#bootstrap-theme.af-gui-conditional-dialog fieldset div.api4-input.ui-sortable-helper {
  background-color: rgba(255, 255, 255, .9);
}

#bootstrap-theme.af-gui-conditional-dialog fieldset div.api4-input.ui-sortable-helper {
  background-color: rgba(255, 255, 255, .9);
}

#bootstrap-theme.af-gui-conditional-dialog .api4-clause-fieldset fieldset {
  float: right;
  width: calc(100% - 58px);
  margin-top: -8px;
}

#bootstrap-theme.af-gui-conditional-dialog .api4-clause-fieldset.api4-sorting fieldset .api4-clause-group-sortable {
  min-height: 3.5em;
}

#bootstrap-theme.af-gui-conditional-dialog legend[ng-click] {
  cursor: pointer;
}

#bootstrap-theme.af-gui-conditional-dialog .api4-input-group {
  display: inline-block;
}

#bootstrap-theme i.crm-i.af-gui-conditional-dialog-move-icon {
  opacity: .5;
}
#bootstrap-theme .crm-draggable:hover > i.crm-i.af-gui-conditional-dialog-move-icon,
#bootstrap-theme .crm-draggable:hover > * > i.crm-i.af-gui-conditional-dialog-move-icon {
  opacity: 1;
}

#bootstrap-theme.af-gui-conditional-dialog .api4-clause-badge {
  width: 55px;
  display: inline-block;
  cursor: move;
}
#bootstrap-theme.af-gui-conditional-dialog .api4-clause-badge .badge {
  opacity: .5;
  position: relative;
}
#bootstrap-theme.af-gui-conditional-dialog .api4-clause-badge .caret {
  margin: 0;
}
/* Icon only shown while dragging */
#bootstrap-theme.af-gui-conditional-dialog .api4-clause-badge .crm-i {
  display: none;
  padding: 0 6px;
}
#bootstrap-theme.af-gui-conditional-dialog .ui-sortable-helper .api4-clause-badge .badge span {
  display: none;
}
#bootstrap-theme.af-gui-conditional-dialog .ui-sortable-helper .api4-clause-badge .crm-i {
  display: inline-block;
}

#bootstrap-theme.af-gui-conditional-dialog .api4-operator {
  width: 110px;
}
