<div class="crm-search-display crm-search-display-table">
  <div class="form-inline" ng-if="$ctrl.settings.actions">
    <crm-search-tasks entity="$ctrl.apiEntity" ids="$ctrl.selectedRows" refresh="$ctrl.getResults()"></crm-search-tasks>
  </div>
  <table>
    <thead>
      <tr>
        <th class="crm-search-result-select" ng-if=":: $ctrl.settings.actions">
          <input type="checkbox" ng-checked="$ctrl.allRowsSelected" ng-click="$ctrl.selectAllRows()" >
        </th>
        <th ng-repeat="col in $ctrl.settings.columns" ng-click="$ctrl.setSort(col, $event)" title="{{:: ts('Click to sort results (shift-click to sort by multiple).') }}">
          <i ng-if="col.type === 'field'" class="crm-i {{ $ctrl.getSort(col) }}"></i>
          <span>{{ col.label }}</span>
        </th>
      </tr>
    </thead>
    <tbody ng-include="'~/crmSearchDisplayTable/crmSearchDisplayTableBody.html'"></tbody>
  </table>
  <div ng-include="'~/crmSearchDisplay/Pager.html'"></div>
</div>
