<table class="{{:: $ctrl.settings.classes.join(' ') }}">
  <thead ng-if="$ctrl.settings.hideThead !== true">
    <tr>
      <th ng-class="{'crm-search-result-select': $ctrl.settings.actions}" ng-include="'~/crmSearchDisplayTable/crmSearchDisplayTaskHeader.html'" ng-if=":: $ctrl.hasExtraFirstColumn()">
        <span class="sr-only">{{:: ts('Bulk row actions')}}</span>
      </th>
      <th ng-repeat="col in $ctrl.columns" ng-if="col.enabled" ng-click="$ctrl.setSort(col, $event)" class="{{:: $ctrl.getHeaderClass(col) }}" title="{{:: $ctrl.isSortable(col) ? ts('Click to sort results (shift-click to sort by multiple).') : '' }}">
        <i ng-if=":: $ctrl.isSortable(col)" class="crm-i crm-search-table-column-sort-icon {{ $ctrl.getSort(col) }}" role="img" aria-hidden="true"></i>
        <span class="crm-search-display-table-column-label">{{:: col.label }}</span>
      </th>
    </tr>
    <tr class="crm-search-display-tally" ng-if="!$ctrl.loading && !$ctrl.settings.group_by && $ctrl.results.length && $ctrl.settings.tally && $ctrl.settings.tally.header" ng-include="'~/crmSearchDisplayTable/crmSearchDisplayTally.html'"></tr>
  </thead>
  <tbody ng-if="!$ctrl.settings.draggable" ng-include="'~/crmSearchDisplayTable/crmSearchDisplayTableBody.html'"></tbody>
  <tbody ng-if="$ctrl.settings.draggable" ng-include="'~/crmSearchDisplayTable/crmSearchDisplayTableBody.html'" ui-sortable="$ctrl.draggableOptions" ng-model="rows"></tbody>
  <tbody ng-if="!$ctrl.settings.group_by && $ctrl.settings.editableRow.create" ng-include="'~/crmSearchDisplayTable/crmSearchDisplayTableCreateNew.html'"></tbody>
  <tfoot ng-if="!$ctrl.settings.group_by && rows.length && $ctrl.settings.tally && $ctrl.settings.tally.footer !== false">
    <tr class="crm-search-display-tally" ng-include="'~/crmSearchDisplayTable/crmSearchDisplayTally.html'"></tr>
  </tfoot>
</table>
