<h2 ng-if="($ctrl.settings.header_tag || 'h4') === 'h2'" class="crm-search-display-grouped-header {{:: $ctrl.settings.header_classes }}">{{ group.value || ts('(none)') }}</h2>
<h3 ng-if="($ctrl.settings.header_tag || 'h4') === 'h3'" class="crm-search-display-grouped-header {{:: $ctrl.settings.header_classes }}">{{ group.value || ts('(none)') }}</h3>
<h4 ng-if="($ctrl.settings.header_tag || 'h4') === 'h4'" class="crm-search-display-grouped-header {{:: $ctrl.settings.header_classes }}">{{ group.value || ts('(none)') }}</h4>
<h5 ng-if="($ctrl.settings.header_tag || 'h4') === 'h5'" class="crm-search-display-grouped-header {{:: $ctrl.settings.header_classes }}">{{ group.value || ts('(none)') }}</h5>
<div ng-if="($ctrl.settings.header_tag || 'h4') === 'div'" class="crm-search-display-grouped-header {{:: $ctrl.settings.header_classes }}">{{ group.value || ts('(none)') }}</div>
