/*
    Name: Empty stream;
    Description: duplicate this to create a new stream;
    Riverlea version: 1.1.0;
*/

:root {

--crm-version: 'Empty, v' var(--crm-release);

/* Fonts *
--crm-system-fonts:;
--crm-font:;
--crm-font-bold:;
--crm-font-italic:;
--crm-font-bold-italic:;

/* Colour names *
--crm-c-darkest: #0a0a0a;
--crm-c-gray-900: #2f2f2e;
--crm-c-gray-800: #3e3e3e;
--crm-c-gray-700: #696969;
--crm-c-gray-600: #828388;
--crm-c-gray-500: #919297;
--crm-c-gray-400: #adaeb3;
--crm-c-gray-300: #c2c0c0;
--crm-c-gray-200: #d5d5d5;
--crm-c-gray-100: #e2e1e1;
--crm-c-gray-050: #eaeaea;
--crm-c-gray-025: #fbfafa;
--crm-c-blue: #bce8f1;
--crm-c-blue-light: #d9edf7;
--crm-c-blue-dark: #297292;
--crm-c-blue-darker: #215c76;
--crm-c-purple: #4d4d69;
--crm-c-purple-dark: #3e3e54;
--crm-c-green: #d6e9c6;
--crm-c-green-light: #dff0d8;
--crm-c-green-dark: #468847;
--crm-c-red: #eed3d7;
--crm-c-red-light: #f2dede;
--crm-c-red-dark: #b94a48 ;
--crm-c-amber: #dd5600;
--crm-c-amber-light: #fbf0e2;
--crm-c-yellow: #fcfc5a;
--crm-c-yellow-light: #ffffcc;
--crm-c-yellow-less-light: #fffdb2;
--crm-c-teal: #63c4b9;
--crm-c-dark-teal: #3e8079;

/* Practical colours *
--crm-c-text: #464354;
--crm-c-light-text: #fff;
--crm-c-dark-text: var(--crm-c-text);
--crm-c-link: var(--crm-c-blue-dark);
--crm-c-link-hover: var(--crm-c-blue-darker);
--crm-c-divider: 1px solid var(--crm-c-gray-300);
--crm-c-page-background: #fff; /* background to page body *
--crm-c-background: #f4f4ed; /* background to page header, often form block & dialog bg *
--crm-c-background2: var(--crm-c-gray-050); /* 2-5 = progressively darker backgrounds *
--crm-c-background3: var(--crm-c-gray-100);
--crm-c-background4: var(--crm-c-gray-200);
--crm-c-background5: var(--crm-c-gray-700);
--crm-c-drag-background: var(--crm-c-background3); /* background for drag/drop regions, select2 highlight *
--crm-c-code-background: var(--crm-c-background2); /* background for code regions *
--crm-c-primary: var(--crm-c-gray-700);
--crm-c-primary-hover: var(--crm-c-gray-800);
--crm-c-primary-text: var(--crm-c-light-text);
--crm-c-primary-hover-text: var(--crm-c-light-text);
--crm-c-secondary: #5d677b;
--crm-c-secondary-hover: #3e485b;
--crm-c-secondary-text: var(--crm-c-light-text);
--crm-c-secondary-hover-text: var(--crm-c-light-text);
--crm-c-success: var(--crm-c-green-dark);
--crm-c-success-text: var(--crm-c-light-text);
--crm-c-alert: var(--crm-c-red-dark);
--crm-c-alert-text: var(--crm-c-light-text);
--crm-c-warning: var(--crm-c-amber);
--crm-c-warning-text: var(--crm-c-light-text);
--crm-c-info: var(--crm-c-blue-dark);
--crm-c-info-text: var(--crm-c-light-text);
--crm-c-focus: var(--crm-c-blue-dark);
--crm-c-inactive: #696969;

/* Shadows *
--crm-block-shadow:;
--crm-popup-shadow: 0 3px 18px 0 rgba(48,40,40,.25);
--crm-bottom-shadow: 0 0 16px 1px rgba(0,0,0,.1);
--crm-body-inset:;

/* Sizes *
--crm-roundness: 0.25rem;
--crm-xs: 0.1rem;
--crm-xs1: 0.125rem;
--crm-xs2: 0.15rem;
--crm-s: 0.25rem;
--crm-s1: 0.275rem;
--crm-s2: 0.325rem;
--crm-s3: 0.375rem;
--crm-m: 0.5rem;
--crm-m1: 0.625rem;
--crm-m2: 0.75rem;
--crm-m3: 0.875rem;
--crm-r: 1rem;
--crm-r1: 1.125rem;
--crm-r2: 1.25rem;
--crm-r3: 1.375rem;
--crm-r4: 1.5rem;
--crm-l: 2rem;
--crm-xl: 3rem;
--crm-xxl: 4rem;
--crm-big-input: 15em;
--crm-huge-input: 25em;
--crm-padding-reg: var(--crm-r);
--crm-padding-small: var(--crm-s);
--crm-padding-inset: var(--crm-m);
--crm-page-padding: var(--crm-xl); /* Margin left/right *
--crm-page-width: 100%; /* Default that CMS can overwrite */

/* Type *
--crm-font-size: var(--crm-r);
--crm-small-font-size: var(--crm-m2);
--crm-type-line-height: 1.5;
--crm-link-decoration: none;
--crm-link-decoration-hover: underline;
--crm-heading-bg: var(--crm-c-blue-light);
--crm-heading-col: var(--crm-c-text);
--crm-heading-padding: var(--crm-s1) var(--crm-m1);
--crm-heading-margin: var(--crm-m) 0;
--crm-heading-radius: var(--crm-roundness);

/* Mouse events *
--crm-hover-clickable: pointer;

/* Buttons *
--crm-btn-box-shadow: none;
--crm-btn-border: 0 solid transparent;
--crm-btn-txt-transform: inherit;
--crm-btn-radius: 3px;
--crm-btn-padding-block: var(--crm-xs1); /* padding for top and bottom, one value *
--crm-btn-padding-inline: var(--crm-m1); /* padding for left and right, one value *
--crm-btn-small-padding: var(--crm-xs) var(--crm-s);
--crm-btn-large-padding: var(--crm-m) var(--crm-r);
--crm-btn-align: center;
--crm-btn-height: 28px;
--crm-btn-icon-spacing: var(--crm-s);
--crm-btn-icon-size: auto;
--crm-btn-cancel-bg: var(--crm-c-alert);
--crm-btn-cancel-text: var(--crm-c-alert-text);
--crm-btn-info-bg: var(--crm-c-info);
--crm-btn-info-text: var(--crm-c-info-text);
--crm-btn-warning-bg: var(--crm-c-warning);
--crm-btn-warning-text: var(--crm-c-warning-text);
--crm-btn-success-bg: var(--crm-c-success);
--crm-btn-success-text: var(--crm-c-success-text);
--crm-btn-alert-bg: var(--crm-c-alert);
--crm-btn-alert-text: var(--crm-c-alert-text);
--crm-btn-icon-bg: ; /* btn-icon-* supports distinct border/bg for icons. If applied, set btn-icon-padding to 0px to make the icon bg stretch to the button *
--crm-btn-icon-border: ;
--crm-btn-icon-padding: var(--crm-btn-padding-block);
--crm-btn-margin: 0; /* used to add padding block between multiple stacked buttons */

/* Tables *
--crm-table-outside-border: 1px solid var(--crm-c-background3);
--crm-table-background: var(--crm-c-page-background);
--crm-table-row-border: var(--crm-c-divider);
--crm-table-column-border: 0 solid transparent;
--crm-table-font-size: var(--crm-font-size);
--crm-table-padding: var(--crm-m);
--crm-table-header-border: 1px solid transparent;
--crm-table-header-bottom: 2px solid var(--crm-c-gray-300);
--crm-table-header-bg: var(--crm-c-page-background);
--crm-table-header-col: var(--crm-c-text);
--crm-table-header-txt: inherit;
--crm-table-even-row: var(--crm-c-background2);
--crm-table-even-hover: var(--crm-c-yellow-less-light);
--crm-table-odd-row: var(--crm-c-gray-025);
--crm-table-odd-hover: var(--crm-c-yellow-light);
--crm-table-sort-col: var(--crm-c-gray-300);
--crm-table-sort-float: left; /* 'left', 'right' or 'none' *
--crm-table-sort-active-col: var(--crm-c-link);
--crm-table-compressed-width: auto;
--crm-table-nested-padding: var(--crm-r) var(--crm-m);
--crm-table-nested-head-border: 0 solid transparent;
--crm-table-nested-border: var(--crm-c-divider);
--crm-table-inset-bg: var(--crm-c-background3);

/* Panels *
--crm-panel-shadow: var(--crm-block-shadow);
--crm-panel-background: var(--crm-c-page-background);
--crm-panel-border: var(--crm-c-divider);
--crm-panel-head-margin: 0px;

/* Accordions *
--crm-expand-icon: "\f0da"; /* unicode value for FontAwesome icon *
--crm-expand-icon-color: var(--text);
--crm-expand-icon-spacing: var(--crm-m);
--crm-expand-transform: rotate(90deg);
--crm-expand-transition: transform .3s;
--crm-expand-radius: var(--crm-roundness);
--crm-expand-gap: var(--crm-xs2) 0 0; /* space between multiple accordions */
/* .crm-accordion-bold *
--crm-expand-header-bg: var(--crm-c-secondary);
--crm-expand-header-bg-active: var(--crm-c-gray-900);
--crm-expand-header-color: var(--crm-c-light-text);
--crm-expand-header-padding: var(--crm-s) var(--crm-m);
--crm-expand-header-weight: bold;
--crm-expand-header-font: var(--crm-font-bold);
--crm-expand-header-border: var(--crm-c-divider);
--crm-expand-header-border-width: 0 0 1px 0;
--crm-expand-border: var(--crm-c-divider);
--crm-expand-border-width: 0 1px 1px 1px;
--crm-expand-body-bg:;
--crm-expand-body-box-shadow:;
--crm-expand-body-padding: var(--crm-padding-reg);
/* .crm-accordion-light *
--crm-expand2-header-bg:;
--crm-expand2-header-bg-active: var(--crm-c-background-2);
--crm-expand2-header-weight: normal;
--crm-expand2-header-font:;
--crm-expand2-header-color: var(--crm-c-text);
--crm-expand2-header-border:;
--crm-expand2-header-border-width: ;
--crm-expand2-header-padding: var(--crm-s) var(--crm-m);
--crm-expand2-border:;
--crm-expand2-border-width:;
--crm-expand2-body-bg:;
--crm-expand2-body-padding: var(--crm-s);

/* Alerts *
--crm-alert-padding: var(--crm-m) var(--crm-m2);
--crm-alert-margin: 0 0 var(--crm-m);
--crm-alert-border-width: 1px;
--crm-alert-background-help: var(--crm-c-green-light);
--crm-alert-border-help: var(--crm-c-green);
--crm-alert-text-help: var(--crm-c-green-dark);
--crm-alert-background-warning: var(--crm-c-yellow-light);
--crm-alert-border-warning: var(--crm-c-yellow);
--crm-alert-text-warning: var(--crm-c-text);
--crm-alert-background-info: var(--crm-c-blue-light);
--crm-alert-border-info: var(--crm-c-blue);
--crm-alert-text-info: var(--crm-c-blue-dark);
--crm-alert-background-danger: var(--crm-c-red-light);
--crm-alert-border-danger: var(--crm-c-red);
--crm-alert-text-danger: var(--crm-c-red-dark);

/* Form *
--crm-form-block-box-shadow: var(--crm-block-shadow);
--crm-form-block-background: var(--crm-c-background);
--crm-form-block-padding: var(--crm-m);
--crm-form-block-border-radius: var(--crm-roundness);
--crm-input-background: var(--crm-c-page-background);
--crm-input-background-image: linear-gradient(top, #eee 1%, #fff 15%);
--crm-input-color: var(--crm-c-text);
--crm-input-border-color: var(--crm-c-gray-400);
--crm-input-border-radius: 3px;
--crm-input-active-ani: border-color .15s ease-in-out 0s;
--crm-input-box-shadow: inset 0 1px 2px 0 rgba(0,0,0,.1);
--crm-input-padding: var(--crm-xs1) var(--crm-s2);
--crm-input-padding-large: var(--crm-s) var(--crm-m1);
--crm-input-height: var(--crm-l);
--crm-input-font-size: var(--crm-m3);
--crm-input-label-weight: bold;
--crm-input-label-font: var(--crm-font);
--crm-input-label-size: var(--crm-font-size);
--crm-input-label-width: var(--crm-big-input);
--crm-input-label-align: right;
--crm-input-label-color: var(--crm-c-text);
--crm-input-description: var(--crm-c-gray-700);
--crm-input-dropdown-icon: "\f107";
--crm-input-radio-color: var(--crm-c-focus);
--crm-form-select-bg: var(--crm-c-background2);
--crm-inline-edit-border: 0 solid transparent;
--crm-inline-edit-bg: var(--crm-c-background);
--crm-fieldset-border-color: var(--crm-c-gray-400);
--crm-fieldset-border: 1px 0 0 0;
--crm-fieldset-padding: var(--crm-padding-reg) var(--crm-padding-small);
--crm-checkbox-list-col: var(--crm-c-text);

/* Tabs *
--crm-tabs-bg: var(--crm-c-background4);
--crm-tabs-padding: var(--crm-s);
--crm-tabs-border: var(--crm-dash-border);
--crm-tabs-radius: var(--crm-roundness);
--crm-tabs-gap: var(--crm-s);
--crm-tab-bg: var(--crm-c-background2);
--crm-tab-bg-hover: var(--crm-c-background);
--crm-tab-bg-active: var(--crm-c-background);
--crm-tab-hang: 0; /* lip to extend tab flush with active region - set to 0 for no lip *
--crm-tab-padding: var(--crm-s3) var(--crm-m) var(--crm-s) var(--crm-m);
--crm-tab-col: var(--crm-c-text);
--crm-tab-weight: normal;
--crm-tab-font:;
--crm-tab-count-bg: var(--crm-c-info-text);
--crm-tab-count-col: var(--crm-c-info);
--crm-tab-roundness: var(--crm-roundness);
--crm-tab-border: var(--crm-c-divider);
--crm-tab-border-width: 0;
--crm-tab-border-active: 0 solid transparent;

/* Contact dashboard *
--crm-dash-border: var(--crm-tab-border);
--crm-dash-roundness: var(--crm-roundness);
--crm-dash-direction: flex; /* choose 'flex' for tabs at top, or 'grid' for tabs at side *
--crm-side-tabs-width: ;
--crm-dash-tabs-flow: row; /* choose 'row' for tabs at top, or 'column' for tabs at side *
--crm-dash-tabs-gap: var(--crm-tabs-gap);
--crm-dash-tabs-bg: var(--crm-tabs-bg);
--crm-dash-tabs-padding: var(--crm-tabs-padding);
--crm-dash-tabs-roundness: var(--crm-dash-roundness) var(--crm-dash-roundness) 0 0;
--crm-dash-tab-bg: var(--crm-tab-bg);
--crm-dash-tab-bg-hover: var(--crm-tab-bg-hover);
--crm-dash-tab-padding: var(--crm-s3) var(--crm-m2);
--crm-dash-tab-border: 0 solid transparent;
--crm-dash-tab-border-hover: 0 solid transparent;
--crm-dash-tab-border-width: 0; /* to remove border on one side for hanging tabs *
--crm-dash-tab-col: var(--crm-tab-col);
--crm-dash-tab-count-bg: rgba(0,0,0,0.1);
--crm-dash-tab-count-col: var(--crm-c-text);
--crm-dash-tab-width: 100%;
--crm-dash-tab-align: none;
--crm-dash-tab-hang: 0; /* lip to extend tab flush with active region - set to 0 for no lip *
--crm-dash-tab-radius: var(--crm-dash-roundness);
--crm-dash-icon-size: var(--crm-r);
--crm-dash-summary-row-bg: var(--crm-c-background);
--crm-dash-box-shadow: 0;
--crm-dash-heading-inset: ;
--crm-dash-panel-padding: var(--crm-m);
--crm-dash-panel-bg: #fff;
--crm-dash-panel-border: 0;
--crm-dash-panel-radius: 0 0 var(--crm-dash-roundness) var(--crm-dash-roundness);
--crm-dash-edit-border: 2px dashed var(--crm-c-gray-300);
--crm-dash-block-padding: 0;
--crm-dash-block-bg: ;
--crm-dash-block-radius: var(--crm-roundness);
--crm-dash-label-bg: var(--crm-c-background2);
--crm-dash-header-bg: var(--crm-c-page-background);
--crm-dash-header-bg2: transparent;
--crm-dash-header-col: var(--crm-c-text);
--crm-dash-header-size: var(--crm-r3);
--crm-dash-header-padding: 0 0 var(--crm-r) 0;
--crm-dash-image-size: 100px;
--crm-dash-image-radius: 200px;
--crm-dash-image-justify: space-between; /* choose from start (left), end (right), center, and space-between (spread out) *
--crm-dash-image-direction: row; /* choose from row and row-reverse to get the image on the right, column stacks it */

/* Dialog *
--crm-dialog-bg: var(--crm-c-page-background);
--crm-dialog-padding: var(--crm-s);
--crm-dialog-radius: var(--crm-roundness);
--crm-dialog-line:;
--crm-dialog-inner-shadow: var(--crm-bottom-shadow);
--crm-dialog-header-bg: var(--crm-c-secondary);
--crm-dialog-header-col: var(--crm-c-light-text);
--crm-dialog-header-size: var(--crm-r1);
--crm-dialog-header-padding: var(--crm-m1) var(--crm-r);
--crm-dialog-header-radius: var(--crm-dialog-radius);
--crm-dialog-header-border-col: transparent transparent var(--crm-c-gray-300) transparent; /* set a border color for each side of the header *
--crm-dialog-body-bg: var(--crm-c-background);
--crm-dialog-body-padding: var(--crm-m);

/* Dashlet *
--crm-dashlet-border:;
--crm-dashlet-bg: var(--crm-c-page-background);
--crm-dashlet-padding: var(--crm-s2);
--crm-dashlet-box-shadow: var(--crm-popup-shadow);
--crm-dashlet-dashlets-bg: var(--crm-c-background);
--crm-dashlet-header-bg: var(--crm-expand-header-bg);
--crm-dashlet-header-col: var(--crm-expand-header-color);
--crm-dashlet-header-border:;
--crm-dashlet-header-border-width:;
--crm-dashlet-header-font-size: var(--crm-font-size);
--crm-dashlet-header-padding: var(--crm-s);
--crm-dashlet-content-padding: var(--crm-dashlet-padding) 0;
--crm-dashlet-tabs-border:0;
--crm-dashlet-radius: var(--crm-roundness);

/* Button dropdowns *
--crm-dropdown-padding: var(--crm-s);
--crm-dropdown-radius: var(--crm-roundness);
--crm-dropdown-bg: var(--crm-c-secondary-hover);
--crm-dropdown-col: var(--crm-c-light-text);
--crm-dropdown-hover: var(--crm-c-text);
--crm-dropdown-hover-bg: var(--crm-c-page-background);
--crm-dropdown-border: 0;
--crm-dropdown-width: 180px;
--crm-dropdown-alert-bg: var(--crm-c-alert); /* for delete links in dropdowns *
--crm-dropdown-2-bg: var(--crm-c-secondary);
--crm-dropdown-2-col: var(--crm-c-text);
--crm-dropdown-2-padding: var(--crm-padding-small);

/* Notifications *
--crm-notify-background: rgba(0,0,0,0.85);
--crm-notify-padding: var(--crm-m2);
--crm-notify-col: var(--crm-c-light-text);
--crm-notify-accent-border: 2px 0 0 0; /* adds a border to one/several sides of the notification - set to 0 for none *
--crm-notify-radius: var(--crm-roundness);

/* Icons *
--crm-icon-alert: "\f06a";
--crm-icon-success: "\f058";
--crm-icon-info: "\f05a";
--crm-icon-close: "\f00d";
--crm-icon-sort: "\f0dc";
--crm-icon-sort-desc: "\f0dd";
--crm-icon-sort-asc: "\f0de";
--crm-icon-alert-color: inherit;
--crm-icon-success-color: inherit;
--crm-icon-warning-color: inherit;
--crm-icon-info-color: inherit;

/* Wizard *
--crm-wizard-width: fit-content;
--crm-wizard-margin: 0.5rem auto;
--crm-wizard-height: 30px;
--crm-wizard-radius: var(--crm-l);
--crm-wizard-angle: 0px;
--crm-wizard-active-col: var(--crm-c-light-text);
--crm-wizard-active-bg: var(--crm-c-link);
--crm-wizard-border: var(--crm-c-divider);
--crm-wizard-bg: var(--crm-c-page-background);

/* Alpha filter *
--crm-filter-bg: var(--crm-c-blue-light);
--crm-filter-padding: var(--crm-m);
--crm-filter-item-bg:  #fafafa;
--crm-filter-item-shadow: 0px 0px 3px rgba(0,0,0,0.1);
--crm-filter-spacing: start; /* choose 'space-between' to spread out evenly, or 'end' to right align. */

/* Frontend *
--crm-f-form-width:;
--crm-f-box-shadow: var(--crm-block-shadow);
--crm-f-fieldset-bg: var(--crm-c-background);
--crm-f-fieldset-padding: var(--crm-r);
--crm-f-fieldset-margin: 0 0 var(--crm-padding-reg) 0;
--crm-f-fieldset-border: 0;
--crm-f-legend-align: center;
--crm-f-legend-size: var(--crm-r3);
--crm-f-form-padding: var(--crm-padding-reg);
--crm-f-form-layout: block; /* 'grid' = inline, 'block' = stacked *
--crm-f-label-position: ;
--crm-f-label-align: left;
--crm-f-label-width: 200px;
--crm-f-label-weight: bold;
--crm-f-input-radius: var(--crm-roundness);
--crm-f-input-padding: var(--crm-r2) var(--crm-m2);
--crm-f-input-font-size: var(--crm-r1);
--crm-f-input-width: 300px;
--crm-f-form-focus-bg: var(--crm-c-green);
--crm-f-form-error-bg: var(--crm-c-red);
--crm-f-logo-height: 40px;
--crm-f-logo-align: center; /* left, right or center */
}