<div ng-controller="EditRecipCtrl" class="crm-mailing-recipients-row">
  <div style="float: right;">
    <div class="crmMailing-recip-est">
      <a href="" ng-click="previewRecipients()" title="{{ts('Preview a List of Recipients')}}">{{getRecipientsEstimate()}}</a>
    </div>
  </div>
  <input
    type="hidden"
    crm-mailing-recipients
    ng-model="mailing.recipients"
    crm-mandatory-groups="crmMailingConst.groupNames | filter:{is_hidden:1}"
    crm-ui-id="{{crmMailingBlockRecipients.id}}"
    name="{{crmMailingBlockRecipients.name}}"
    ng-required="true"/>
  <a crm-icon="fa-wrench" ng-click="editOptions(mailing)" class="crm-hover-button" title="{{ts('Edit Recipient Options')}}"></a>
</div>
