<div ng-controller="SaveMsgTemplateDialogCtrl">
  <p><em>{{ts('Save the current mailing as a template.')}}</em></p>

  <div ng-hide="!selected">
    <label for="saveopt-mode-update">
      <input type="radio" name="mode" ng-model="saveOpt.mode" value="update" id="saveopt-mode-update">
      {{ts('Update "%1"', {1: selected.msg_title})}}
    </label>
  </div>
  <div>
    <label type="radio" for="saveopt-mode-add">
      <input type="radio" name="mode" ng-model="saveOpt.mode" value="add" id="saveopt-mode-add">
      {{ts('Save as:')}}
    </label>
    <input type="text" ng-model="saveOpt.newTitle" ng-click="saveOpt.mode='add'" ng-change="saveOpt.mode='add'" />
  </div>
</div>
