<div id="bootstrap-theme" class="afadmin-list">
  <h1 crm-page-title>{{:: ts('Form Builder') }}</h1>

  <ul class="nav nav-tabs">
    <li role="presentation" ng-repeat="tab in $ctrl.tabs" ng-class="{active: tab.name === $ctrl.tab}">
      <a href ng-click="$ctrl.tab = tab.name; $ctrl.searchAfformList = ''"><i class="crm-i {{ tab.icon }}"></i> {{:: tab.plural }}</a>
    </li>
  </ul>

  <div class="form-inline">
    <label for="afform-list-filter">{{:: ts('Filter:') }}</label>
    <input class="form-control" type="search" id="afform-list-filter" ng-model="$ctrl.searchAfformList" placeholder="&#xf002">
    <div class="btn-group pull-right" ng-if="types[$ctrl.tab].options">
      <a ng-if="types[$ctrl.tab].default" href="{{ types[$ctrl.tab].default }}" class="btn btn-primary">
        {{ ts('New %1', {1: types[$ctrl.tab].label }) }}
      </a>
      <button ng-click="$ctrl.createLinks()" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span ng-class="{'sr-only': types[$ctrl.tab].default}">{{ ts('New %1', {1: types[$ctrl.tab].label }) }}</span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <input ng-if="types[$ctrl.tab].options.length" type="search" class="form-control" placeholder="&#xf002" ng-model="$ctrl.searchCreateLinks">
          <a href ng-if="!types[$ctrl.tab].options.length"><i class="crm-i fa-spinner fa-spin"></i></a>
        </li>
        <li ng-repeat="link in types[$ctrl.tab].options | filter:$ctrl.searchCreateLinks">
          <a href="{{ link.url }}">
            <i class="crm-i {{ link.icon }}"></i>
            {{ link.label }}
          </a>
        </li>
      </ul>
    </div>
  </div>

  <table>
    <thead>
    <tr>
      <th>{{:: ts('Title') }}</th>
      <th>{{:: ts('Name') }}</th>
      <th>{{:: ts('Page') }}</th>
      <th>{{:: ts('Style') }}</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="afform in $ctrl.afforms[$ctrl.tab] | filter:$ctrl.searchAfformList">
      <td>{{afform.title}}</td>
      <td>
        <code>{{afform.name}}</code>
      </td>
      <td>
        <a ng-if="afform.server_route" ng-href="{{ crmUrl(afform.server_route) }}" target="_blank">
          <code>{{afform.server_route}}</code>
        </a>
      </td>
      <td>{{afform.is_public ? ts('Frontend') : ts('Backend')}}</td>
      <td class="text-right">
        <a ng-if="afform.type !== 'system'" href="#/edit/{{ afform.name }}" class="btn btn-xs btn-primary">{{ ts('Edit') }}</a>
        <a ng-if="afform.type !== 'system'" href="#/clone/{{ afform.name }}" class="btn btn-xs btn-primary">{{ ts('Clone') }}</a>
        <a href ng-if="afform.has_local" class="btn btn-xs btn-danger" crm-confirm="{type: afform.has_base ? 'revert' : 'delete', obj: afform}" on-yes="$ctrl.revert(afform)">
          {{ afform.has_base ? ts('Revert') : ts('Delete') }}
        </a>
      </td>
    </tr>
    <tr ng-if="!$ctrl.afforms[$ctrl.tab] || $ctrl.afforms[$ctrl.tab].length === 0">
      <td colspan="9">
        <p class="messages status no-popup text-center">
          {{:: ts('None Found')}}
        </p>
      </td>
    </tr>
    </tbody>
  </table>
</div>
