/**
 * WordPress style status message boxes.
 *
 * Implements WordPress style status message boxes in the Wellow Brook theme for CiviCRM.
 *
 * @package CiviCRM
 */

/*
--------------------------------------------------------------------------------
WordPress style status message boxes.
--------------------------------------------------------------------------------
*/

.crm-container .messages
{
    margin: 1em 0 1em;
    border: none;
    font-weight: normal;
    border-radius: 0;
}

.crm-container .status,
.crm-container .form-layout-compressed td.status
{
    background: #fafafa;
    border-left: 4px solid #ffa500;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    padding: 12px;
}

.crm-container .messages
{
	margin: 1em 0 1em;
	border: none;
	font-weight: normal;
}

.crm-container .messages .msg-title
{
	font-weight: bold;
}

.crm-container .messages i.crm-i
{
	display: none;
}

.crm-container .messages p:first-child
{
	margin-top: 0;
}

.crm-container .messages p:last-child
{
	margin-bottom: 0;
}

.crm-container .messages table
{
	width: auto;
}

.crm-container .messages table td
{
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}

.crm-container .status,
.crm-container .form-layout-compressed td.status
{
	background: #fafafa;
	border-left: 4px solid #ffa500;
	box-shadow: 0 1px 1px 0 rgba( 0, 0, 0, 0.1 );
	padding: 12px;
}

.crm-container .status dl
{
	margin: 2px 5px;
}

.crm-container div.status dt
{
	clear: none;
	float: left;
	width: 20px;
}

.crm-container div.status dd
{
	margin-left: 0;
}

.crm-container div.status ul
{
	list-style: disc;
	margin: 0.2em 0 1em 1em;
}

.crm-container .help p, .crm-container .status p,
.crm-container .messages p,
.crm-container .alert p,
.crm-container .help li,
.crm-container .status li,
.crm-container .messages li,
.crm-container .alert li
{
	color: inherit;
}

.crm-container .status-pending
{
	color: green;
}

.crm-container .status-completed
{
	color: #000080;
}

.crm-container .crm-marker
{
	color: #8A1F11;
	font-weight: bold;
	margin-right: 5px;
}

.crm-container .crm-error,
.crm-container .crm-inline-error
{
	background: #FBE3E4 none repeat scroll 0 0;
	border: none;
	color: #8A1F11;
}

.crm-container .messages.crm-error
{
	border-left: 4px solid #dc3232;
	box-shadow: 0 1px 1px 0 rgba( 0, 0, 0, 0.1 );
	margin: 12px;
	padding: 10px 15px;
	line-height: 1.5;
}

.crm-container .messages.crm-error #errorList
{
	list-style: disc;
	margin-bottom: 0;
	margin-left: 1.4em;
}

.crm-container .messages.crm-error #errorList li:last-child
{
	margin-bottom: 0;
}

.crm-container .status.crm-ok
{
	border-color: #B0D730;
	background-color: #F1F8EB;
	color: #3E3E3E;
}



/* Page and form-level 'help' */
.crm-container .help,
.crm-container #help
{
	color: #3E3E3E;
	background: #fafafa;
	border-left: 4px solid #46b450;
	box-shadow: 0 1px 1px 0 rgba( 0, 0, 0, 0.1 );
	margin: 5px 0 15px 2px;
	padding: 10px 15px;
	line-height: 1.5;
    border-radius: 0;
}

.crm-container .help p
{
	margin: 4px;
}

.crm-container a.helpicon
{
    opacity: .8;
    text-decoration: none;
    color: #0073aa;
    vertical-align: middle;
}



/* Footer status *
.crm-container #civicrm-footer .status
{
	padding: 3px 4px 3px 6px;
	border: none;
	background: transparent;
	margin: 0 5px 0 3px;
	font-size: 80%;
}

.crm-container #civicrm-footer .status.crm-error
{
	background: #ea5a49;
}

.crm-container #civicrm-footer .status.crm-warning
{
	background: #eeb147;
}

.crm-container #civicrm-footer .status.crm-status-none,
.crm-container #civicrm-footer .status.crm-ok
{
	background: #2aaa67;
}

.crm-container #civicrm-footer .status a
{
	color: #fff;
	text-decoration: none;
}



/* Status Page */
#crm-status-list h3
{
	padding: 8px;
}

#crm-status-list .hush-menu button
{
	top: -3px;
	position: relative;
}



/*
--------------------------------------------------------------------------------
WordPress style notification popover.
--------------------------------------------------------------------------------
*/

#crm-notification-container
{
	top: 45px;
	right: 15px;
}
/*
#crm-notification-container div.ui-notify-message
{
	padding: 10px 10px 15px 15px;
	margin: 0 0 15px;
	color: #fff;
	max-height: 600px;
	overflow: auto;
}

#crm-notification-container div.ui-notify-message.success,
#crm-notification-container div.ui-notify-message.info
{
	border-left: 4px solid #46b450;
}

#crm-notification-container div.ui-notify-message.alert
{
	border-left: 4px solid #dc3232;
}

#crm-notification-container div.ui-notify-message.warning
{
	border-left: 4px solid #ffb900;
} */

.crm-container #crm-notification-container div.ui-notify-message.info h1::before,
.crm-container .messages.crm-empty-table::before
{
	display: none;
}

#crm-notification-container div.ui-notify-message h1
{
	font-size: 14px;
	margin: 0;
	padding: 4px 0;
	font-weight: bold;
}

#crm-notification-container div.ui-notify-message .notify-content
{
	margin-right: 5px;
	overflow-x: scroll;
}

#crm-notification-container div.ui-notify-message .notify-content ul.indented
{
	padding-left: 1em;
}

#crm-notification-container div.ui-notify-message .notify-content a.ui-button[role="button"]
{
	margin: 10px 0 0 3px;
}

#crm-notification-container div.ui-notify-message .notify-content a.ui-button[role="button"] .fa-undo
{
	margin-top: 1px;
}

#crm-notification-container div.ui-notify-message p
{
	margin: 0.4em 0;
	padding: 0;
	line-height: 18px;
}

#crm-notification-container div.ui-notify-message:last-child
{
	margin-bottom: 0;
}

/* #crm-notification-container div.ui-notify-message-style
{
	background: #fff;
	box-shadow: 0 3px 18px 0 rgba(48,40,40,0.25);
	color: #4d4d69;
	border-left: 4px solid #eee;
}

#crm-notification-container div.error.ui-notify-message-style
{
	border-left: 4px solid #d63638;
} */

.crm-container div.ui-notify-message-style a,
.crm-container div.ui-notify-message-style a:link
{
	text-decoration: underline;
}

.crm-container div.ui-notify-message-style a:hover,
.crm-container div.ui-notify-message-style a:focus
{
}

.crm-container div.ui-notify-message-style .ui-button .ui-button-text
{
	color: #edce5c;
	text-decoration: none;
}
/*
#crm-notification-container .ui-notify-message .ui-notify-close
{
	cursor: pointer;
}

#crm-notification-container .ui-notify-message a.ui-notify-cross
{
	font-weight: bold;
	text-shadow: 0 1px 1px #fff;
	color: #000;
	font-size: 18px;
	padding: 0;
}

#crm-notification-container .ui-notify-message .ui-notify-cross:hover,
#crm-notification-container .ui-notify-message .ui-notify-cross:focus
{
	color: #888;
}

#crm-notification-container .ui-notify-message a.ui-notify-cross.ui-notify-close
{
	width: 18px;
	height: 18px;
	overflow: hidden;
}

#crm-notification-container .ui-notify-message a.ui-notify-cross.ui-notify-close::before
{
	content: "\f158";
	font-family: 'dashicons';
	width: 18px;
	height: 18px;
	margin-left: 3px;
}*/

.crm-container div.ui-notify-message table,
.crm-container div.ui-notify-message tbody,
.crm-container div.ui-notify-message tr {
	border: 0 none;
}
.crm-container div.ui-notify-message table {
	margin: 10px 0;
}
.crm-container div.ui-notify-message td
{
	background: rgba(255,255,255,0.1);
	border: 1px solid #111;
}

.crm-container div.ui-notify-message th
{
	background: rgba(200,200,200,0.2);
	border: 1px solid #111;
}

.crm-container div.ui-notify-message table a.action-item {
	margin-right: 5px;
}

.crm-container div.ui-notify-message ul,
.crm-container div.ui-notify-message ol
{
	margin: 0.5em 0 1em 1em;
	padding: 0 0 0 0.5em;
}

.crm-container div.ui-notify-message ol
{
	list-style: decimal;
}

.crm-container div.ui-notify-message ul
{
	list-style: disc;
}

/*
.crm-container div.ui-notify-message div.icon,
.crm-status-icon {
	background: transparent url("../../../civicrm/civicrm/i/message-icons.png") no-repeat 0 0;
	width: 24px;
	height: 24px;
	margin-right: 6px;
}
.crm-container div.ui-notify-message.success div.icon,
.crm-status-icon.success {
	background-position: -24px 0;
}
.crm-container div.ui-notify-message.info div.icon,
.crm-status-icon.info {
	background-position: -48px 0;
}
.crm-container div.ui-notify-message.error div.icon,
.crm-status-icon.error {
	background-position: -72px 0;
}
.crm-container div.ui-notify-message.none div.icon {
	display: none;
}

#crm-notification-container .ui-notify-message .icon.ui-notify-close
{
	display: none;
}*/

span.crm-status-icon
{
	display: inline-block;
}
