/**
 * jQueryUI Tabs.
 *
 * Implements styles for jQueryUI Tabs in the Wellow Brook theme for CiviCRM.
 *
 * @package CiviCRM
 */

/* #crm-container #mainTabContainer,
#crm-container #secondaryTabContainer
{
    border: none;
    background: transparent;
} */

/* .crm-contact-page #mainTabContainer .crm-contact-tabs-list,
#crm-container #secondaryTabContainer .ui-tabs-nav
{
	position: relative;
	padding: 0;
	z-index: 1;
	border-bottom: none;
	border-radius: 0;
} */

/* .crm-contact-page #mainTabContainer .ui-tabs-nav.crm-contact-tabs-list li,
#crm-container #secondaryTabContainer .ui-tabs-nav li
{
	margin: 0;
	border: 1px solid #ccc;
	border-radius : 0;
	border-top-left-radius: var(--crm-roundness);
	border-top-right-radius: var(--crm-roundness);
	border-bottom-width: 0;
} */

/* .crm-contact-page #mainTabContainer .ui-tabs-nav.crm-contact-tabs-list li.ui-tabs-active,
#crm-container #secondaryTabContainer .ui-tabs-nav li.ui-tabs-active
{
	border: 1px solid #aaa;
	border-bottom-width: 0;
	background: var(--crm-c-light-text);
	padding-bottom: 1px;
	margin-bottom: -1px;
} */

/* Fix padding on secondary tabs */
.crm-container #secondaryTabContainer.ui-tabs ul.ui-tabs-nav a:not(.button)
{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

/* .crm-container .ui-tabs .ui-tabs-nav li a,
.crm-container .ui-tabs .ui-tabs-nav li a:hover,
.crm-container .ui-tabs .ui-tabs-nav li a:active
{
	outline: 0;
	box-shadow: none;
	text-decoration: none;
} */

.crm-contact-page #mainTabContainer .ui-tabs-nav.crm-contact-tabs-list li.ui-tabs-active a,
.crm-contact-page #mainTabContainer .ui-tabs-nav.crm-contact-tabs-list li:hover a,
.crm-contact-page #mainTabContainer .ui-tabs-nav.crm-contact-tabs-list li:focus a
{
	color: #1d2327;
}

.crm-contact-page #secondaryTabContainer .ui-tabs-nav li:not(.ui-tabs-active).ui-state-hover a,
.crm-contact-page #secondaryTabContainer .ui-tabs-nav li:not(.ui-tabs-active):hover a,
.crm-contact-page #secondaryTabContainer .ui-tabs-nav li:not(.ui-tabs-active):focus a
{
	color: #1d2327;
/* 	background: var(--crm-tab-bg); */
}

.crm-container li.crm-count-0 a.ui-tabs-anchor em
{
	display: none;
}

/* Make panels match tab style. */
#mainTabContainer .crm-contact-tabs-list ~ .ui-tabs-panel,
#secondaryTabContainer .ui-tabs-nav ~ .ui-tabs-panel
{
	min-height: 12em;
	background: var(--crm-c-light-text);
	border: var(--crm-tabs-panel-border);
	border-radius: 0;
}
