/**
 * Wellow Brook theme.
 *
 * Implements WordPress admin styles to CiviCRM.
 *
 * @package CiviCRM
 */



/*
--------------------------------------------------------------------------------
Stylesheet imports.
--------------------------------------------------------------------------------
*/

/* Quick customisable values used across the theme. */
@import url(_variables.css);

/* Resets and civi wide styles. */
@import url(../../../core/css/_base.css);

/* Selective resets and civi wide styles.
@import url(_base-reduced.css);

/* Not sure why this needs to be an import here. */
/* @import url(../../../core/css/_bootstrap.css); */

/* Components and utility classes. */
/* @import url(../../../core/css/_core.css); */

/* Individually import components. */
@import url(../../../core/css/components/_accordion.css);
@import url(../../../core/css/components/_alerts.css);
@import url(../../../core/css/components/_buttons.css);

/* @import url(../../../core/css/components/_form.css); */
@import url(../../../core/css/components/_icons.css);
@import url(../../../core/css/components/_nav.css);
@import url(../../../core/css/components/_tabs.css);
@import url(../../../core/css/components/_dropdowns.css);
@import url(../../../core/css/components/_tables.css);
@import url(../../../core/css/components/_dialogs.css);
@import url(../../../core/css/components/_page.css);
@import url(../../../core/css/components/_components.css);
@import url(../../../core/css/components/_front.css);

/* Deprecated-Civi handling, hacks/workarounds. one day this will go. */
@import url(../../../core/css/_fixes.css);

/* CSS for WordPress style status message boxes. */
@import url(_messages-wp.css);

/* CSS for WordPress style buttons. */
@import url(_buttons-wp.css);

/* CSS for WordPress style tabs. */
@import url(_tabs-wp.css);



/*
--------------------------------------------------------------------------------
Selection override.
--------------------------------------------------------------------------------
*/

/* This seems to be set to something weird, but I can't find out where. */
::selection
{
    color: inherit;
    background-color: lightblue;
}



/*
--------------------------------------------------------------------------------
WordPress content padding.
--------------------------------------------------------------------------------
*/

/* Use standard WordPress content padding.
SET WITH VARIABLE
body.wp-admin {
	--crm-page-padding: 12px 12px 0 0;
}


/*
--------------------------------------------------------------------------------
Breadcrumb.
--------------------------------------------------------------------------------
*/

/* Breadcrumb amends.
ADDED TO _CMS
.breadcrumb .crm-i
{
    font-size: smaller;
}


/*
--------------------------------------------------------------------------------
Headings.
--------------------------------------------------------------------------------
*/

/* Use standard WordPress heading vars.
ADDED TO _CMS
.crm-container .crm-title
{
    line-height: 1.1;
    margin-bottom: 8px;
}



/*
--------------------------------------------------------------------------------
Accordions.
--------------------------------------------------------------------------------
*/

/* Accordions with Discovery Tab *
.crm-dashlet .crm-accordion-bold,
.crm-container .crm-accordion-light
{
    margin-bottom: 1em;
    border-radius: 0;
}

.crm-container .crm-accordion-bold > summary,
.crm-container .crm-accordion-light > summary
{
    padding: var(--crm-m);
	line-height: 150%;
	font-weight: bold;
	border: 1px solid #e5e5e5;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
	background-color: #fafafa;
    border-radius: 0;
}

.crm-container .crm-accordion-bold summary:hover,
.crm-container .crm-accordion-light summary:hover
{
    background-color: #eee;
}

.crm-container details.crm-accordion-bold > .crm-accordion-body,
.crm-container details.crm-accordion-light > .crm-accordion-body
{
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 0;
    padding: 12px 8px 1px;
}

.crm-container .crm-accordion-bold[open] > summary,
.crm-container .crm-accordion-light[open] > summary
{
    border-radius: 0;
}
*/
.crm-form-block .crm-section
{
	padding: 0;
	margin: var(--crm-m) var(--crm-s);
}

.crm-search-form .crm-search-form-block
{
	margin-bottom: var(--crm-s);
}

.crm-container .crm-form-block #searchForm .crm-form-block
{
    padding: var(--crm-s);
	margin-bottom: var(--crm-s);
}



/*
--------------------------------------------------------------------------------
Pager.
--------------------------------------------------------------------------------
*/

/* Pager */
.crm-container .crm-pager
{
    border: none;
    background-color: #fafafa;
    position: relative;
    height: 44px;
    padding-top: 5px;
    margin-bottom: var(--crm-s);
}

.crm-container .element-right
{
    float: right;
    margin-right: 35px;
}

.crm-container .crm-pager-nav
{
    display: block;
    margin-top: 5px;
    padding-left: 5px;
}



/*
--------------------------------------------------------------------------------
Alpha Filter.
--------------------------------------------------------------------------------
*/

/* Alpha Filter */
#crm-container div#alpha-filter
{
	background: transparent;
	margin: var(--crm-s) 0;
}

#crm-container div#alpha-filter ul
{
	gap: 0.125rem;
	font-size: var(--crm-r);
}

#crm-container div#alpha-filter li
{
	color: #aaa;
	min-width: 1.5em;
	text-align: center;
}

#crm-container #alpha-filter ul a
{
	border: none;
	font-weight: normal;
	text-decoration: none;
	padding: 3px 7px;
	background: #fafafa;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
}



/*
--------------------------------------------------------------------------------
jQueryUI amends.
--------------------------------------------------------------------------------
*/

/* jQueryUI */
.crm-container .ui-button:hover,
.crm-container .ui-button:focus
{
    background: var(--crm-c-primary-hover);
    color: var(--crm-c-primary-text);
    color: #212121;
    text-decoration: none;
}

/* block-ui */
.crm-container .blockUI.blockOverlay
{
	background: url("../images/loading.gif") center center no-repeat white !important;
/* 	background: white !important; */
}




/*
--------------------------------------------------------------------------------
Table amends.
--------------------------------------------------------------------------------
*/

/* Tables */
.crm-container th,
.crm-container table thead.sticky th,
.crm-container table.dataTable thead th,
.crm-container tr.columnheader td
{
	vertical-align: middle;
}

.crm-container tr a.sorting,
.crm-container tr a.sorting_asc,
.crm-container tr a.sorting_desc,
.crm-container table.dataTable thead th.sorting,
.crm-container table.dataTable thead th.sorting_asc,
.crm-container table.dataTable thead th.sorting_desc
{
	line-height: 1;
}

/* Sticky table headers. */
.crm-container table thead.sticky .sticky-header
{
	background-color: #fff;
	margin-top: 0;
	height: 38px;
	border-bottom: 1px solid #aaa;
	z-index: 100;
}

.wp-toolbar body.crm-menubar-over-cms-menu .crm-container table thead.sticky .sticky-header
{
	top: 40px !important;
}

.wp-toolbar body.crm-menubar-below-cms-menu .crm-container table thead.sticky .sticky-header
{
	top: 72px !important;
}

/* Styles for Sorting Header */
.crm-container table thead th.sorting_asc,
.crm-container table thead th.sorting_desc,
.crm-container table .sticky th a.sort-ascending,
.crm-container table .sticky th a.sort-descending,
.crm-container table.caseSelector tr.columnheader th a.sort-ascending,
.crm-container table.caseSelector tr.columnheader th a.sort-descending
{
	background-color: #FFF;
}

/* Revert Dropdowns in lists to inline. */
.crm-container a.crm-hover-button.action-item,
.crm-container .crm-hover-button.btn-slide,
.crm-container .crm-submit-buttons .crm-hover-button
{
	display: inline;
	line-height: 2; /* Helps even out row heights. */
/* 	background: var(--crm-c-gray-050); */
}

/*
.crm-container .crm-hover-button,
.crm-container a.crm-hover-button,
.crm-container a.crm-hover-button.action-item,
.crm-container .crm-submit-buttons .crm-hover-button
{
}
 */



/*
--------------------------------------------------------------------------------
Select2 amends.
--------------------------------------------------------------------------------
*/

.select2-drop.select2-drop-active.crm-container
{
	background: #fff;
}

/* Select2 in tables */
.crm-container td > .select2-container
{
	margin-top: -2px;
}

.crm-container .big
{
    min-width: 15em; /* Ensures Select2 has a minimum width. */
}

.crm-container select.crm-form-select
{
	min-width: 7em;
}



/*
--------------------------------------------------------------------------------
Contact Summary Screen amends.
--------------------------------------------------------------------------------
*/

/* Contact Summary Screen */
.crm-container .crm-summary-contactname-block
{
	display: block;
}

/* .crm-container div.crm-inline-edit, */
.crm-container #contactname-block .crm-inline-edit
{
	display: block;
    border: 2px dashed transparent;
    background: none;
    position: relative;
    padding: 0;
    margin: 0 0 var(--crm-r) 0;
    overflow: visible;
}

.crm-container div.crm-inline-edit:hover,
.crm-container #contactname-block .crm-inline-edit:hover
{
    cursor: pointer;
    border: 2px dashed lightgrey;
}

.crm-container div.crm-inline-edit:hover
{
    cursor: pointer;
}

/*
.crm-container div.crm-inline-edit.form:hover,
#contactname-block .crm-inline-edit
{
    border: 2px dashed transparent;
}
 */

/* .crm-inline-edit-form div.crm-summary-row, */
.crm-container div.crm-inline-edit.form,
.crm-container #contactname-block .crm-inline-edit.form
{
	padding: 0.7rem;
	background: #fff;
	border: 2px dashed lightgrey;
	cursor: default;
}

.crm-container-snippet
{
/*     padding: 1em; */
/*     border: 2px dashed lightgrey; */
}

.crm-container table.crm-inline-edit-form td
{
	vertical-align: middle;
}

.crm-container .crm-summary-contactname-block
{
	min-height: auto;
}

.crm-container #crm-contactname-content .crm-summary-display_name
{
	padding: var(--crm-m) 0;
}

.crm-container .CRM_Contact_Form_Inline_ContactName div.crm-inline-edit-form
{
	padding: var(--crm-m);
	background-color: #fff;
}

.CRM_Contact_Form_Inline_ContactName button.crm-form-submit
{
    float: right;
}

/* Switch order of Previous and Next buttons. */
.crm-container .crm-actions-ribbon li.crm-previous-action
{
	order: 4;
}
.crm-container .crm-actions-ribbon li.crm-next-action
{
	order: 5;
}



/* Tabs on Contact Summary Screen. */
.crm-container .ui-tabs ul.ui-tabs-nav a em,
.crm-container .nav-tabs a .badge
{
	min-width: 1.1rem;
}



/* Boxes on Contact Summary Screen. */
#mainTabContainer .crm-summary-block .crm-container-snippet table
{
	width: 100%;

}

#mainTabContainer .crm-summary-block .crm-container-snippet table,
#mainTabContainer .crm-summary-block .crm-container-snippet tbody,
#mainTabContainer .crm-summary-block .crm-container-snippet tr
{
	border: none;
}

.location.vcard
{
    line-height: 2;
    margin-top: var(--crm-m1);
}
