body {
  background: #eee;
}

#All {
  font-family: Arial, sans-serif;
  width: auto;
  margin: 0.5em auto;
  padding: 1em;
  border: 1px #ccc solid;
  border-radius: 10px;
  background: #fff;
  max-width: 1200px;
}

.civicrm-logo {
  float: right;
}

form {
  margin: 0;
}

h1 {
  margin-top: 0;
}

li {
  padding-bottom: 1.5em;
}

label span {
  float: left;
  width: 14em;
}

.good td {
  color: green;
}

.warning td {
  color: orange;
}

.testResults .error td {
  background-color: #c00;
  border: 1px #700 solid;
  color: white;
}

p.error {
  padding: 0.5em;
  background-color: #c00;
  border: 1px #700 solid;
  color: white;
  clear: both;
}

p.warning {
  padding: 0.5em;
  background-color: #e70;
  border: 1px #a70 solid;
  color: white;
  clear: both;
}

p.good {
  padding: 0.5em;
  background-color: #0c0;
  border: 1px #070 solid;
  color: white;
  clear: both;
}

p.error a {
  color: #FFF;
  font-weight: bold;
}

.testResults {
  border-collapse: collapse;
  font-size: 80%;
}

.testResults td {
  border: 1px #ccc solid;
  width: 400px;
  padding: 0.2em;
}
