body {
  background: #EEE;
}
#All {
  font-family: Arial, sans-serif;
  width: auto;
  margin: 0.5em auto;
  padding: 1em;
  border: 1px #CCC solid;
  border-radius: 10px;
  background: #fff;
  max-width: 1200px;
}
form {
  margin: 0;
}
h1 {
  margin-top: 0;
}

li {
  padding-bottom: 1.5em;
}

label span {
  float: left;
  width: 12em;
}

.good td {
  color: green;
}

.warning td {
  color: orange;
}

.testResults .error td {
  background-color: #C00;
  border: 1px #700 solid;
  color: white;
}

p.error {
  padding: 0.5em;
  background-color: #C00;
  border: 1px #700 solid;
  color: white;
  clear: both;
}
p.warning {
  padding: 0.5em;
  background-color: #E70;
  border: 1px #A70 solid;
  color: white;
  clear: both;
}
p.good {
  padding: 0.5em;
  background-color: #0C0;
  border: 1px #070 solid;
  color: white;
  clear: both;
}

p.error a {
  color: #CCF;
}

.testResults {
  border-collapse: collapse;
  font-size: 80%;
}
.testResults td {
  border: 1px #CCC solid;
  width: 400px;
  padding: 0.2em;
}
