/* Minetta dark mode settings */
:root {
  --crm-c-focus: #8cd4cb;
  --crm-c-link: var(--crm-c-teal);
  --crm-c-link-hover: var(--crm-c-yellow);
  --crm-c-primary: var(--crm-c-gray-500);
  --crm-c-primary-hover: var(--crm-c-gray-600);
  --crm-c-primary-text: var(--crm-c-text);
  --crm-c-layer0-bg: var(--crm-c-gray-900);
  --crm-c-page-bg: var(--crm-c-gray-900);
  --crm-c-container-bg: var(--crm-c-gray-800);
  --crm-c-inverse-bg: var(--crm-c-gray-300);
  --crm-c-teal: #a3ebe6;
  --crm-c-gray-900: #363636;
  --crm-c-gray-800: #464646;
  --crm-c-gray-700: #535252;
  --crm-c-gray-600: #67676a;
  --crm-c-gray-300: #e1dfdf;
  --crm-c-gray-200: #bdbdbd;
  --crm-c-inactive: color-mix(in srgb,var(--crm-c-text) 95%,#000 5%);
  /* Emphasis colours */
  /* And others */
  --crm-block-shadow: 0;
  --crm-heading-bg: var(--crm-c-blue-dark);
  --crm-dashlet-bg: var(--crm-c-layer1-bg);
  --crm-dashlet-header-bg: var(--crm-c-layer2-bg);
  --crm-expand-header-bg: var(--crm-c-layer2-bg);
  --crm-expand-header-bg-active: var(--crm-c-gray-600);
  --crm-dash-header-bg: transparent;
  --crm-dash-block-bg: var(--crm-c-layer1-bg);
  --crm-dash-panel-bg: #414141;
  --crm-dropdown-bg: var(--crm-c-layer1-bg);
  --crm-dropdown-2-bg: var(--crm-c-layer1-bg);
  --crm-table-outside-border: var(--crm-c-divider);
  --crm-table-row-border: 1px solid var(--crm-c-gray-200);
  --crm-table-row-hover: var(--crm-c-amber);
  --crm-panel-border-col: var(--crm-c-gray-200);
  --crm-input-border-color: var(--crm-c-gray-200);
  --crm-input-radio-color: #38c4b4;
  --crm-dialog-header-bg: var(--crm-c-layer1-bg);
  --crm-dialog-body-bg: var(--crm-c-layer1-bg);
  --crm-notify-bg: var(--crm-c-darkest);
  --crm-wizard-active-bg: var(--crm-c-dark-teal);
  --crm-form-block-bg: var(--crm-c-layer1-bg);
  --crm-filter-item-bg: var(--crm-c-layer1-bg);
}
