<label ng-if="$ctrl.showLabel && $ctrl.field.label" for="{{:: $ctrl.domId }}">
  {{ $ctrl.field.label }}
  <span class="crm-marker" ng-if="!$ctrl.field.nullable || $ctrl.field.required">*</span>
</label>
<div ng-switch="$ctrl.op || ''" class="form-group" ng-form="{{ $ctrl.name || '' }}">

  <div ng-switch-when="BETWEEN|NOT BETWEEN" ng-switch-when-separator="|" class="form-group">
    <crm-search-input-val op="'&gt;'" ng-model="$ctrl.value[0]" class="form-group" label-id="{{:: $ctrl.domId }}"></crm-search-input-val>
    -
    <crm-search-input-val op="'&lt;'" ng-model="$ctrl.value[1]" class="form-group"></crm-search-input-val>
  </div>

  <div ng-switch-default class="form-group">
    <crm-search-input-val op="$ctrl.op" ng-model="$ctrl.value" class="form-group" label-id="{{:: $ctrl.domId }}"></crm-search-input-val>
  </div>

</div>
