/* Fix some cms themes which add margin to lists */
ul, ol {
  margin-left: 0;
  margin-right: 0;
}

/* Supports adding form-control class to the checkbox-inline class to achieve an outer border around the checkbox&label */
.form-control.checkbox-inline > label {
  margin-left: 9px;
}
/* Adds a nice effect if you place the checkbox label text inside a <span> it will only be bold if the checkbox is checked */
label input[type=checkbox]:not(:checked) + * {
  font-weight: normal;
}
/* Fix tagging-style select2 */
.select2-choices {
  margin-bottom: 0;
}
/* Fix for https://github.com/twbs/bootstrap/issues/5624 */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}
/* civicrm.css makes this too big */
.select2-container .select2-choice > .select2-chosen {
  font-size: inherit;
  font-weight: normal;
}
/* Bootstrap3 styles these as block which is non-compliant with html standards */
summary {
  display: list-item;
}
/* Reset breaky stuff from some cms themes: https://lab.civicrm.org/dev/core/-/issues/5561 */
legend {
  position: initial;
  text-transform: inherit;
  float: none;
}
