<li ng-if="$ctrl.canSaveAsBlock()"><a href ng-click="saveBlock()">{{:: ts('Save as block') }}</a></li>
<li ng-if="$ctrl.canSaveAsBlock()" role="separator" class="divider"></li>
<li ng-if="tags[$ctrl.node['#tag']]">
  <div class="af-gui-field-select-in-dropdown form-inline" ng-click="$event.stopPropagation()">
    {{:: ts('Element:') }}
    <select class="form-control" ng-model="$ctrl.node['#tag']" title="{{:: ts('Container type') }}">
      <option ng-repeat="(opt, label) in tags" value="{{ opt }}">{{ label }}</option>
    </select>
  </div>
</li>
<li><af-gui-menu-item-collapsible ng-if="!block && $ctrl.node['#tag'] === 'details'" node="$ctrl.node" class="af-gui-field-select-in-dropdown form-inline"></af-gui-menu-item-collapsible></li>
<li ng-if="isRepeatable()" ng-click="$event.stopPropagation()">
  <div class="af-gui-field-select-in-dropdown form-inline">
    <label ng-click="$ctrl.toggleRepeat()">
      <i class="crm-i fa-{{ $ctrl.node['af-repeat'] || $ctrl.node['af-repeat'] === '' ? 'check-' : '' }}square-o"></i>
      {{:: ts('Repeat') }}
    </label>
    <span ng-style="{visibility: $ctrl.node['af-repeat'] || $ctrl.node['af-repeat'] === '' ? 'visible' : 'hidden'}">
      <input type="number" class="form-control" ng-model="getSetMin" ng-model-options="{getterSetter: true}" placeholder="{{:: ts('min') }}" min="0" step="1" />
      - <input type="number" class="form-control" ng-model="getSetMax" ng-model-options="{getterSetter: true}" placeholder="{{:: ts('max') }}" min="2" max="{{:: getRepeatMax() }}" step="1" />
    </span>
  </div>
</li>
<li ng-click="$event.stopPropagation()" ng-if="!block">
  <div class="af-gui-field-select-in-dropdown form-inline">
    {{:: ts('Layout:') }}
    <div class="btn-group btn-group-sm" role="group">
      <button type="button" class="btn btn-default" ng-class="{active: opt === getLayout()}" ng-repeat="(opt, label) in layouts" ng-click="setLayout(opt)" title="{{ label }}">
        <i class="af-gui-layout-icon {{ opt }}"></i>
      </button>
    </div>
  </div>
</li>
<li ng-click="$event.stopPropagation()" ng-if="$ctrl.isJoin()">
  <div class="form-inline af-gui-field-select-in-dropdown">
    <div class="form-group">
      <label>{{:: ts('Allow:') }}</label>
      <div class="checkbox-inline">
        <label><input type="checkbox" ng-model="$ctrl.node.actions.update" ng-change="$ctrl.onChangeUpdateAction()">{{:: ts('Update') }}</label>
      </div>
      <div class="checkbox-inline">
        <label><input type="checkbox" ng-model="$ctrl.node.actions.delete" ng-disabled="!$ctrl.node.actions.update">{{:: ts('Delete') }}</label>
      </div>
    </div>
  </div>
</li>
<li><af-gui-menu-item-style node="$ctrl.node"></af-gui-menu-item-style></li>
<li><af-gui-menu-item-border node="$ctrl.node"></af-gui-menu-item-border></li>
<li><af-gui-menu-item-background node="$ctrl.node"></af-gui-menu-item-background></li>
<li af-gui-conditional-menu="$ctrl.node" ng-if="$ctrl.editor.getEntities().length"></li>

<li role="separator" class="divider"></li>
<li><a href ng-click="$ctrl.deleteThis()"><span class="text-danger"><i class="crm-i fa-trash"></i> {{ !block ? ts('Remove container') : ts('Remove block') }}</span></a></li>
