<li>
  <form ng-click="$event.stopPropagation()" class="af-gui-field-select-in-dropdown form-inline">
    <input class="form-control" ng-model="tab['title']" required title="{{:: ts('Tab title') }}" placeholder="{{:: ts('Tab title') }}">
  </form>
</li>
<li>
  <a href ng-click="$ctrl.pickIcon(tab)">
    <i class="crm-i fa-icons"></i> {{:: ts('Choose icon') }}
  </a>
</li>

<li role="separator" class="divider"></li>
<li><a href ng-click="$ctrl.deleteTab(tabIndex)"><span class="text-danger"><i class="crm-i fa-trash"></i> {{:: ts('Delete tab') }}</span></a></li>
