<div class="af-gui-bar">
  <div class="form-inline pull-right">
    <div class="btn-group pull-right" af-gui-menu>
      <button type="button" class="btn btn-default btn-xs dropdown-toggle af-gui-add-element-button" data-toggle="dropdown" title="{{:: ts('Configure') }}">
        <span><i class="crm-i fa-gear" role="img" aria-hidden="true"></i></span>
      </button>
      <ul class="dropdown-menu" ng-if="menu.open" ng-include="'~/afGuiEditor/elements/afGuiText-menu.html'"></ul>
    </div>
  </div>
</div>
<p class="af-gui-node-title {{ $ctrl.node['class'] + ' af-gui-text-' + $ctrl.node['#tag'] }}" >
  <span crm-ui-editable ng-model="$ctrl.node['#children'][0]['#text']">{{ $ctrl.node['#children'][0]['#text'] }}</span>
</p>
