<af-gui-edit-options ng-if="editingOptions" class="af-gui-content-editing-area"></af-gui-edit-options>
<div ng-if="!editingOptions" class="af-gui-element af-gui-field" >
  <div class="af-gui-bar" title="{{:: getOriginalLabel() }}">
    <div class="form-inline">
      <div class="btn-group pull-right" af-gui-menu >
        <button type="button" class="btn btn-default btn-xs dropdown-toggle af-gui-add-element-button" data-toggle="dropdown" title="{{:: ts('Configure') }}">
          <span><i class="crm-i fa-gear" role="img" aria-hidden="true"></i></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" ng-if="menu.open" ng-include="'~/afGuiEditor/elements/afGuiField-menu.html'"></ul>
      </div>
    </div>
  </div>
  <div class="af-gui-node-title" ng-show="$ctrl.showLabel()">
    <label ng-show="$ctrl.showLabel()" ng-class="{'af-gui-field-required': getProp('required')}">
      <span crm-ui-editable ng-model="getSet('label')" ng-model-options="{getterSetter: true}" default-value="$ctrl.getDefn().label">{{ getProp('label') }}</span>
    </label>
    <af-gui-token-select model="getSet" field="label" no-submission-tokens="true"></af-gui-token-select>
  </div>
  <div class="af-gui-field-help" ng-if="propIsset('help_pre')">
    <civi-rich-text-input token-picker crm-custom-element-model ng-model="getSet('help_pre')"></civi-rich-text-input>
  </div>
  <div class="af-gui-field-input af-gui-field-input-type-{{ getProp('input_type').toLowerCase() }}" ng-include="$ctrl.getInputTypeTemplate()"></div>
  <div class="af-gui-field-help" ng-if="propIsset('help_post')">
    <civi-rich-text-input token-picker crm-custom-element-model ng-model="getSet('help_post')"></civi-rich-text-input>
  </div>
</div>
