.standalone-page-padding {
  padding: 1px max(10px, 1vw) 1rem;
}

html.crm-standalone  nav.breadcrumb>ol {
  padding-inline-start: 0;
}

.standalone-auth-form {
  display: grid;
  grid-template-rows: 1fr auto 3fr;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.standalone-auth-box {
  /* box sizing */
  grid-row: 2;
  box-sizing: border-box;
  width: clamp(280px, 68vw, 45rem);
  margin: 0;
  border: none;
  border-radius: 3px;
  padding: clamp(1rem, 3vw, 2rem);
  background-color: var(--crm-standalone-auth-box-bg, #fff);
}
.standalone-auth-form .crm-logo {
  width: 100%;
  max-width: 400px;
  margin: 0 auto 2rem;
  display: block;
}
.standalone-auth-form .input-wrapper {
  margin-bottom: 1rem;
}
/* the div.crm-container is to beat the specificity of civicrm.css under Greenwich */
div.crm-container .standalone-auth-form label {
  display: block;
  margin-bottom: 0.25rem;
}
/* the div.crm-container is to beat the specificity of civicrm.css under Greenwich */
div.crm-container .standalone-auth-form input {
  box-sizing: border-box;
  width: 100%;
  height: 2rem;
  padding: 0.5rem;
}
.standalone-auth-form .login-or-forgot {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}
.standalone-auth-form .login-or-forgot>a {
  grid-column: 1;
}
.standalone-auth-form .login-or-forgot>button {
  grid-column: 2;
  place-self: end;
  margin-right: 0; /* override civicrm.css's 6px */
}
