/* Style rules for SearchKit Admin
   Forked on 12 June 24. Called on SearchKit Admin pages
   Status: not merged (theme edits at foot) */

.crm-search-nav-tabs {
    position: relative;
}
.crm-search-nav-tabs > div.btn-group {
    position: absolute;
    right: 0;
    top: 0;
}
#crm-saved-search-label {
    width: calc(100% - 1rem);
}
.crm-search-admin-search-listing-buttons {
    min-width: 66px;
} 
.crm-search .crm-search-admin-outer {
    margin-bottom: 20px;
} 
.crm-search .help-block.bg-warning {
    padding: 15px;
} 
.crm-search .form-control.huge {
    width: 275px;
} 
/* Style expires_date date/time width */
.crm-search #expires_date + input,
.crm-search #expires_date + input + input {
    width: calc(100% - 30px);
}
/* Hide time field if date & time are both empty */
.crm-search #expires_date + input:placeholder-shown + input:placeholder-shown {
    display: none;
}  
.crm-search div.form-control.disabled,
.crm-search div.form-control.disabled * {
    cursor: not-allowed;
} 
.crm-search input.ng-invalid::placeholder {
    color: var(--crm-c-warning);
}
.crm-search .crm-search-admin-main-tabs {
    margin-top: 10px;
}
.crm-search ul.nav-stacked li {
    cursor: default;
    margin: 0;
    padding: 0;
}
.crm-search ul.nav-stacked li.active {
    border-right: 0 none;
    width: calc(100% + 1px);
}
.crm-search ul.nav-stacked li.active a {
    background-color: white;
    color: inherit;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border: 1px solid lightgrey;
    border-right: 0 none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.crm-search ul.nav-stacked li[role=separator] {
    height: 12px;
    border-top: 1px solid lightgrey;
    margin-top: 8px;
    margin-left: 15px;
    margin-right: 30px;
} 
.crm-search ul.nav-stacked li a[disabled] {
    text-decoration: line-through !important;
    color: grey;
    cursor: default;
    pointer-events: none;
} 
.crm-search fieldset {
    padding: 6px;
    border-top: 1px solid lightgrey;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
} 
.crm-search fieldset fieldset {
    padding-top: 0;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}
.crm-search fieldset legend {
    background-color: white;
    font-size: 13px;
    margin: 0;
    width: auto;
    border: 0 none;
    padding: 2px 5px;
    text-transform: none;
}
.crm-search crm-search-clause > .btn-group {
    position: absolute;
    right: 0;
    top: 0;
}
.crm-search fieldset div.api4-input {
    margin-bottom: 10px;
} 
.crm-search fieldset div.api4-input.ui-sortable-helper {
    background-color: rgba(255, 255, 255, .9);
} 
.crm-search fieldset div.api4-input.ui-sortable-helper {
    background-color: rgba(255, 255, 255, .9);
} 
.crm-search .api4-clause-fieldset fieldset {
    float: right;
    width: calc(100% - 58px);
    margin-top: -8px;
} 
.crm-search .api4-clause-fieldset.api4-sorting fieldset .api4-clause-group-sortable {
    min-height: 3.5em;
} 
.crm-search .form-control label,
.crm-search legend[ng-click] {
    cursor: pointer;
} 
.crm-search .api4-input-group {
    display: inline-block;
} 
i.crm-i.crm-search-move-icon {
    opacity: .5;
}
.crm-draggable:hover > i.crm-i.crm-search-move-icon,
.crm-draggable:hover > * > i.crm-i.crm-search-move-icon {
    opacity: 1;
}
.crm-search .api4-clause-badge {
    width: 55px;
    display: inline-block;
    cursor: move;
}
.crm-search .api4-clause-badge .badge {
    opacity: .5;
    position: relative;
}
.crm-search .api4-clause-badge .caret {
    margin: 0;
}
  /* Icon only shown while dragging */
.crm-search .api4-clause-badge .crm-i {
    display: none;
    padding: 0 6px;
}
.crm-search .ui-sortable-helper .api4-clause-badge .badge span {
    display: none;
}
.crm-search .ui-sortable-helper .api4-clause-badge .crm-i {
    display: inline-block;
}
.crm-search .api4-operator {
    width: 235px;
}
.crm-search input[type=number] {
    width: 90px;
}
  /* For display.settings.limit field */
.crm-search .checkbox-inline.form-control input[type=number] {
    position: relative;
    top: -5px;
    right: -9px;
    vertical-align: top;
}
.crm-search .api4-add-where-group-menu {
    min-width: 80px;
    background-color: rgba(186, 225, 251, 0.94);
}
.crm-search .api4-add-where-group-menu a {
    padding: 5px 10px;
}
.crm-search .btn.form-control {
    height: 36px;
}
  
.crm-search-display-control {
    position: absolute;
    right: 0;
    top: 0;
}
.crm-search-display-control+.crm-search-display-control {
    right: 20px;
}
  
.crm-search-admin-edit-columns {
    height: 100%;
}
.crm-search-admin-edit-columns > fieldset {
    background-color: rgba(255, 255, 255, .8);
}
  
  /* A flex-row arranges elements inline, with the 'crm-flex-*' item(s) taking up all remaining space */
.crm-search-admin-flex-row {
    display: flex;
    align-items: center;
}
.crm-search-admin-flex-row > *:not(:first-child) {
    margin-left: 6px;
}
  
.crm-search-admin-unused-columns fieldset {
    min-height: 60px;
}
  
.crm-search .crm-editable-enabled {
    display: inline-block;
    padding: 0 4px !important;
    border: 2px solid transparent !important;
    min-width: 21px;
}
.crm-search .crm-editable-enabled:hover:not(:focus) {
    border: 2px dashed grey !important;
}
  /* Undo Shoreditch add-ons */
.crm-search .crm-editable-enabled:before,
.crm-search .crm-editable-enabled:after {
    content: '';
    display: none;
}
.crm-search-admin-icon-col {
    width: 24px;
}
tbody .crm-search-admin-icon-col {
    text-align: center;
}
.crm-search-admin-tag-color {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}
crm-search-admin-tags.btn-group-xs .crm-search-admin-tags-btn-label {
    display: none;
}
.crm-container .dropdown-menu li .form-inline {
    padding: 2px 19px 2px 21px;
    clear: both;
    font-weight: 400;
    line-height: 1.5384615385;
    color: #4d4d69;
    white-space: nowrap;
}
.dropdown-menu li > * > label {
    font-weight: normal;
    cursor: pointer;
}
.crm-container .crm-container .dropdown-menu li .form-inline > select {
    max-width: 120px;
    padding-left: 5px;
    padding-right: 5px;
}
.crm-container li .form-inline input[type=color] {
    width: 30px;
    padding: 2px 4px;
}
button.crm-search-admin-combo-button {
    min-width: 200px;
    text-align: left;
}
crm-search-admin-export,
crm-search-admin-import {
    display: block;
}
.crm-search-admin-relative {
    position: relative;
    display: block;
}
.crm-search-admin-right {
    position: absolute;
    top: 1px;
    right: 0;
    background-color: white;
}
.crm-search-admin-edit-columns details summary {
    font-size: inherit;
}

/* RiverLea additions (not merged) */

.crm-search-admin-search-listing-buttons {
	display: flex !important; /* vs .crmSearchAdmin */
}
.crm-search-admin-search-listing-buttons .btn-primary {
	background-color: var(--crm-c-secondary);
	color: var(--crm-c-secondary-text);
}
.crm-search-admin-search-listing-buttons .btn-primary:hover {
	background-color: var(--crm-c-secondary-hover);
}
.crm-search .crm-search-nav-tabs > div.btn-group {
    top: calc(-1 * var(--crm-m));
}

.crm-search .dropdown-menu li .form-inline {
	padding: 0;
}
.crm-search .crm-search-admin-relative textarea {
    width: 100%;
}
.crm-search .crm-search-admin-relative .api4-clause-group-sortable {
    margin: var(--crm-r) 0;
}
.crm-search .crm-search-admin-relative details { /* only way to target settings accordions */
    border: var(--crm-expand-body-border);
    border-radius: var(--crm-roundness);
}
.crm-search .crm-search-admin-relative details > summary {
    background: var(--crm-expand-header-bg);
    color: var(--crm-expand-header-color);
    padding: var(--crm-padding-small) var(--crm-padding-reg);
}
.crm-search .crm-search-admin-relative details > fieldset {
    padding: 0;
    border: 0 solid transparent;
}
.crm-search fieldset legend {
	padding: 0 !important /* vs crmSearchAdmin.css */;
	font-size: inherit !important;
	background-color: transparent !important;
}
.crm-search .crm-search-admin-relative details > fieldset .form-inline:not(td) {
    background: var(--crm-c-drag-background);
    border-radius: var(--crm-roundness);
    margin-bottom: var(--crm-s2);
    padding: var(--crm-padding-small) var(--crm-padding-reg);
}
.crm-search .crm-search-admin-relative details > fieldset fieldset,
.crm-search crm-search-admin-display fieldset .form-inline > fieldset {
    margin: 0;
    padding: 0;
    border: 0 solid transparent;
}
.crm-search crm-search-admin-link-group {
    background: var(--crm-c-background2);
}
.crm-search crm-search-admin-link-group table {
    margin: var(--crm-padding-reg);
	max-width: calc(100% - var(--crm-padding-reg) - var(--crm-padding-reg));
	box-shadow: none;
}
.crm-search ul.nav-stacked li:last-of-type {
    margin-top: var(--crm-r);
}
.crm-search ul.nav-stacked li:has(.btn-xs) a {
    padding-right: 5ch;
}
.crm-search .crm-search-admin-edit-columns {
    padding: 0;
    border: 0 solid transparent;
}
.crm-search fieldset.crm-draggable {
    background-color: var(--crm-c-drag-background) !important;
    border-radius: var(--crm-roundness);
    border: 0 solid transparent !important;
    padding: var(--crm-padding-small) !important;
    margin: var(--crm-m)0 ;
}
.crm-search .crm-search-admin-edit-columns details {
    background-color: var(--crm-c-page-background);
    border-radius: var(--crm-roundness);
    border: 0;
}
.crm-search .crm-search-admin-edit-columns details summary {
    background: var(--crm-expand-header2-bg);
    color: var(--crm-expand-header2-color);
    padding: var(--crm-padding-reg);
}
.crm-search .crm-search-admin-edit-columns details > *:not(summary) {
    padding-inline: var(--crm-padding-reg);
}
.crm-search .crm-search-admin-edit-columns details > *:first-child {
    padding-bottom: var(--crm-padding-reg);
}
.crm-search .crm-search-admin-edit-columns details > *:last-child {
    padding-bottom: var(--crm-padding-reg);
}
.crm-search details label {
    min-width: var(--crm-input-label-width);
}
.crm-search details label:has(~ a.helpicon) {
	min-width: calc(var(--crm-input-label-width) - 19px);
}
.crm-search-admin-main-tabs button.btn-xs {
	background: transparent;
	color: var(--crm-c-text);
	font-size: var(--crm-font-size);
}
#bootstrap-theme .crm-search-display-control {
	right: 4px !important;
}
#bootstrap-theme .crm-search-display-control + .crm-search-display-control {
	right: 28px !important;
}
#bootstrap-theme.crm-search .api4-clause-badge,
#bootstrap-theme.crm-search .api4-clause-badge .btn {
	font-size: var(--crm-input-font-size);
}