.crm-search-task-fields {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
  align-items: start;
}
.crm-search-task-fields .form-inline {
  display: contents;
}
.crm-search-task-fields .description {
  grid-column: 1 / -1;
}
#bootstrap-theme .crm-search-task-fields crm-search-input[show-label="true"] {
  display: contents;
}
#bootstrap-theme .crm-search-task-fields .form-inline > crm-search-input.form-group:not([show-label="true"]) {
  display: flex;
  align-items: center;
  align-self: stretch;
}
#bootstrap-theme .crm-search-task-fields crm-search-input .form-group {
  display: flex;
  align-items: center;
}
.crm-search-task-progress {
  padding: 10px;
  margin-top: 10px;
  border: 1px solid lightgrey;
}

.crm-search-display.crm-search-display-table td > crm-search-display-editable,
.crm-search-display.crm-search-display-table td > .crm-editable-disabled,
.crm-search-display.crm-search-display-table td > .crm-editable-enabled {
  display: block !important;
}

.crm-search-display crm-search-display-editable {
  position: relative;
}

.crm-search-display .crm-search-display-editable-buttons {
  position: absolute;
  bottom: -24px;
  left: 0;
  min-width: 50px;
}
