#bootstrap-theme .crm-search-task-fields {
  padding-top: 1rem;
  transition: opacity 0.15s ease;
}
#bootstrap-theme .crm-search-task-fields .crm-i.fa-exclamation-triangle {
  margin-inline: var(--crm-l-small, 0.25rem);
  opacity: .8;
  color: var(--crm-link-color, #2c789b);
}
.crm-search-task-refreshing {
  opacity: 0.4;
  pointer-events: none;
}
.crm-search-task-progress {
  padding: 10px;
  margin-top: 10px;
  border: 1px solid lightgrey;
}

.crm-search-display.crm-search-display-table td > crm-search-display-editable,
.crm-search-display.crm-search-display-table td > .crm-editable-disabled,
.crm-search-display.crm-search-display-table td > .crm-editable-enabled {
  display: block !important;
}

.crm-search-display crm-search-display-editable {
  position: relative;
}

.crm-search-display .crm-search-display-editable-buttons {
  position: absolute;
  bottom: -24px;
  left: 0;
  min-width: 50px;
}
