.crm-search-task-progress {
  padding: 10px;
  margin-top: 10px;
  border: 1px solid lightgrey;
}

#bootstrap-theme .crm-search-display-table > table.table > thead > tr > th.crm-search-result-select {
  vertical-align: middle;
}

.crm-search-display.crm-search-display-table td > crm-search-display-editable,
.crm-search-display.crm-search-display-table td > .crm-editable-enabled {
  display: block !important;
}

.crm-search-display crm-search-display-editable {
  position: relative;
}

.crm-search-display crm-search-display-editable + span {
  display: none !important;
}

.crm-search-display .crm-search-display-editable-buttons {
  position: absolute;
  bottom: -22px;
  left: 0;
}
#bootstrap-theme .crm-search-display th[ng-click] {
  cursor: pointer;
}
#bootstrap-theme .crm-search-display th i.fa-sort-desc,
#bootstrap-theme .crm-search-display th i.fa-sort-asc {
  color: #1a5a82;
}
#bootstrap-theme .crm-search-display th:not(:hover) i.fa-sort {
  opacity: .5;
}
