#bootstrap-theme.crm-search-admin-list th[ng-click] {
  cursor: pointer;
}
#bootstrap-theme.crm-search-admin-list th i.fa-sort-desc,
#bootstrap-theme.crm-search-admin-list th i.fa-sort-asc {
  color: #1a5a82;
}
#bootstrap-theme.crm-search-admin-list th:not(:hover) i.fa-sort {
  opacity: .5;
}

#bootstrap-theme .crm-search-criteria-column {
  min-width: 500px;
}

#bootstrap-theme #crm-search-results-page-size {
  width: 5em;
}
#bootstrap-theme .crm-search-results {
  min-height: 200px;
}

#bootstrap-theme.crm-search .nav-stacked {
  margin-left: 0;
  margin-right: 20px;
}

#bootstrap-theme.crm-search ul.nav-stacked {
  margin-top: 20px;
}

#bootstrap-theme.crm-search .form-control.huge {
  width: 275px;
}

#bootstrap-theme.crm-search input.ng-invalid {
  border-color: #8A1F11;
}
#bootstrap-theme.crm-search input.ng-invalid::placeholder {
  color: #8A1F11;
}

#bootstrap-theme.crm-search ul.nav-stacked li {
  cursor: default;
}

#bootstrap-theme.crm-search ul.nav-stacked li a[disabled] {
  text-decoration: line-through !important;
  color: grey;
  cursor: default;
  pointer-events: none;
}

#bootstrap-theme.crm-search fieldset {
  padding: 6px;
  border-top: 1px solid lightgrey;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}

#bootstrap-theme.crm-search fieldset fieldset {
  padding-top: 0;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

#bootstrap-theme.crm-search fieldset legend {
  background-color: white;
  font-size: 13px;
  margin: 0;
  width: auto;
  border: 0 none;
  padding: 2px 5px;
  text-transform: capitalize;
}
#bootstrap-theme.crm-search crm-search-clause > .btn-group {
  position: absolute;
  right: 0;
  top: 0;
}

#bootstrap-theme.crm-search fieldset div.api4-input {
  margin-bottom: 10px;
}

#bootstrap-theme.crm-search fieldset div.api4-input.ui-sortable-helper {
  background-color: rgba(255, 255, 255, .9);
}

#bootstrap-theme.crm-search fieldset div.api4-input.ui-sortable-helper {
  background-color: rgba(255, 255, 255, .9);
}

#bootstrap-theme.crm-search .api4-clause-fieldset fieldset {
  float: right;
  width: calc(100% - 58px);
  margin-top: -8px;
}

#bootstrap-theme.crm-search .api4-clause-fieldset.api4-sorting fieldset .api4-clause-group-sortable {
  min-height: 3.5em;
}

#bootstrap-theme.crm-search .api4-input-group {
  display: inline-block;
}

#bootstrap-theme.crm-search i.crm-search-move-icon {
  opacity: .5;
}
#bootstrap-theme.crm-search .crm-draggable:hover > * > i.crm-search-move-icon {
  opacity: 1;
}

#bootstrap-theme.crm-search .api4-clause-badge {
  width: 55px;
  display: inline-block;
  cursor: move;
}
#bootstrap-theme.crm-search .api4-clause-badge .badge {
  opacity: .5;
  position: relative;
}
#bootstrap-theme.crm-search .api4-clause-badge .caret {
  margin: 0;
}
/* Icon only shown while dragging */
#bootstrap-theme.crm-search .api4-clause-badge .crm-i {
  display: none;
  padding: 0 6px;
}
#bootstrap-theme.crm-search .ui-sortable-helper .api4-clause-badge .badge span {
  display: none;
}
#bootstrap-theme.crm-search .ui-sortable-helper .api4-clause-badge .crm-i {
  display: inline-block;
}

#bootstrap-theme.crm-search .api4-operator {
  width: 110px;
}

#bootstrap-theme.crm-search input[type=number] {
  width: 90px;
}
/* For display.settings.limit field */
#bootstrap-theme.crm-search .checkbox-inline.form-control input[type=number] {
  position: relative;
  top: -5px;
  right: -9px;
}

#bootstrap-theme.crm-search .api4-add-where-group-menu {
  min-width: 80px;
  background-color: rgba(186, 225, 251, 0.94);
}
#bootstrap-theme.crm-search .api4-add-where-group-menu a {
  padding: 5px 10px;
}

#bootstrap-theme.crm-search .btn.form-control {
  height: 36px;
}

#bootstrap-theme.crm-search th.crm-search-result-select {
  padding-right: 10px;
}

#bootstrap-theme .crm-search-delete-display {
  position: absolute;
  right: 0;
  top: 0;
}

#bootstrap-theme .crm-search-admin-edit-columns {
  height: 100%;
}
#bootstrap-theme .crm-search-admin-edit-columns > fieldset {
  background-color: rgba(255, 255, 255, .8);
}

/* A flex-row arranges elements inline, with the 'crm-flex-*' item(s) taking up all remaining space */
#bootstrap-theme .crm-search-admin-flex-row {
  display: flex;
  align-items: center;
}
#bootstrap-theme .crm-search-admin-flex-row > *:not(:first-child) {
  margin-left: 6px;
}

#bootstrap-theme .crm-search-admin-unused-columns fieldset {
  min-height: 60px;
}

#bootstrap-theme.crm-search .crm-editable-enabled {
  display: inline-block;
  padding: 0 4px !important;
  border: 2px solid transparent !important;
  min-width: 21px;
}
#bootstrap-theme.crm-search .crm-editable-enabled:hover:not(:focus) {
  border: 2px dashed grey !important;
}
#bootstrap-theme.crm-search .crm-editable-enabled:before,
#bootstrap-theme.crm-search .crm-editable-enabled:after {
  content: '';
  display: none;
}

#bootstrap-theme .crm-search-admin-icon-col {
  width: 24px;
}
#bootstrap-theme tbody .crm-search-admin-icon-col {
  text-align: center;
}

#bootstrap-theme input[type=search]::placeholder {
  font-family: FontAwesome;
  text-align: right;
}
#bootstrap-theme input[type=search]:-ms-input-placeholder {
  font-family: FontAwesome;
  text-align: right;
}
#bootstrap-theme input[type=search]::-ms-input-placeholder {
  font-family: FontAwesome;
  text-align: right;
}
