#bootstrap-theme .crm-search-nav-tabs {
  position: relative;
}
#bootstrap-theme .crm-search-nav-tabs > div.btn-group {
  position: absolute;
  right: 0;
  top: 0;
}

#bootstrap-theme #crm-saved-search-label {
  width: calc(100% - 1rem);
}

#bootstrap-theme .crm-search-admin-search-listing-buttons {
  min-width: 66px;
}

#bootstrap-theme.crm-search .crm-search-admin-outer {
  margin-bottom: 20px;
}

#bootstrap-theme.crm-search .help-block.bg-warning {
  padding: 15px;
}

#bootstrap-theme.crm-search .form-control.huge {
  width: 275px;
}

/* Style expires_date date/time width */
#bootstrap-theme.crm-search #expires_date + input,
#bootstrap-theme.crm-search #expires_date + input + input {
  width: calc(100% - 30px);
}
/* Hide time field if date & time are both empty */
#bootstrap-theme.crm-search #expires_date + input:placeholder-shown + input:placeholder-shown {
  display: none;
}

#bootstrap-theme.crm-search div.form-control.disabled,
#bootstrap-theme.crm-search div.form-control.disabled * {
  cursor: not-allowed;
}

#bootstrap-theme.crm-search input.ng-invalid::placeholder {
  color: #8a1f11;
}

#bootstrap-theme.crm-search .crm-search-admin-main-tabs {
  margin-top: 10px;
}

#bootstrap-theme.crm-search ul.nav-stacked li {
  cursor: default;
  margin: 0;
  padding: 0;
}

#bootstrap-theme.crm-search ul.nav-stacked li.active {
  border-right: 0 none;
  width: calc(100% + 1px);
}
#bootstrap-theme.crm-search ul.nav-stacked li.active a {
  background-color: white;
  color: inherit;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border: 1px solid lightgrey;
  border-right: 0 none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

#bootstrap-theme.crm-search ul.nav-stacked li[role=separator] {
  height: 12px;
  border-top: 1px solid lightgrey;
  margin-top: 8px;
  margin-left: 15px;
  margin-right: 30px;
}

#bootstrap-theme.crm-search ul.nav-stacked li a[disabled] {
  text-decoration: line-through !important;
  color: grey;
  cursor: default;
  pointer-events: none;
}

#bootstrap-theme.crm-search fieldset {
  padding: 6px;
  border-top: 1px solid lightgrey;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}

#bootstrap-theme.crm-search fieldset fieldset {
  padding-top: 0;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

#bootstrap-theme.crm-search fieldset legend {
  background-color: white;
  font-size: 13px;
  margin: 0;
  width: auto;
  border: 0 none;
  padding: 2px 5px;
  text-transform: none;
}
#bootstrap-theme.crm-search crm-search-clause > .btn-group {
  position: absolute;
  right: 0;
  top: 0;
}

#bootstrap-theme.crm-search fieldset div.api4-input {
  margin-bottom: 10px;
}

#bootstrap-theme.crm-search fieldset div.api4-input.ui-sortable-helper {
  background-color: rgba(255, 255, 255, .9);
}

#bootstrap-theme.crm-search fieldset div.api4-input.ui-sortable-helper {
  background-color: rgba(255, 255, 255, .9);
}

#bootstrap-theme.crm-search .api4-clause-fieldset fieldset {
  float: right;
  width: calc(100% - 58px);
  margin-top: -8px;
}

#bootstrap-theme.crm-search .api4-clause-fieldset.api4-sorting fieldset .api4-clause-group-sortable {
  min-height: 3.5em;
}

#bootstrap-theme.crm-search .form-control label,
#bootstrap-theme.crm-search legend[ng-click] {
  cursor: pointer;
}

#bootstrap-theme.crm-search .api4-input-group {
  display: inline-block;
}

#bootstrap-theme i.crm-i.crm-search-move-icon {
  opacity: .5;
}
#bootstrap-theme .crm-draggable:hover > i.crm-i.crm-search-move-icon,
#bootstrap-theme .crm-draggable:hover > * > i.crm-i.crm-search-move-icon {
  opacity: 1;
}

#bootstrap-theme.crm-search .api4-clause-badge {
  width: 55px;
  display: inline-block;
  cursor: move;
}
#bootstrap-theme.crm-search .api4-clause-badge .badge {
  opacity: .5;
  position: relative;
}
#bootstrap-theme.crm-search .api4-clause-badge .caret {
  margin: 0;
}
/* Icon only shown while dragging */
#bootstrap-theme.crm-search .api4-clause-badge .crm-i {
  display: none;
  padding: 0 6px;
}
#bootstrap-theme.crm-search .ui-sortable-helper .api4-clause-badge .badge span {
  display: none;
}
#bootstrap-theme.crm-search .ui-sortable-helper .api4-clause-badge .crm-i {
  display: inline-block;
}

#bootstrap-theme.crm-search .api4-operator {
  width: 235px;
}

#bootstrap-theme.crm-search input[type=number] {
  width: 90px;
}
/* For display.settings.limit field */
#bootstrap-theme.crm-search .checkbox-inline.form-control input[type=number] {
  position: relative;
  top: -5px;
  right: -9px;
  vertical-align: top;
}

#bootstrap-theme.crm-search .api4-add-where-group-menu {
  min-width: 80px;
  background-color: rgba(186, 225, 251, 0.94);
}
#bootstrap-theme.crm-search .api4-add-where-group-menu a {
  padding: 5px 10px;
}

#bootstrap-theme.crm-search .btn.form-control {
  height: 36px;
}

#bootstrap-theme .crm-search-display-control {
  position: absolute;
  right: 0;
  top: 0;
}
#bootstrap-theme .crm-search-display-control+.crm-search-display-control {
  right: 20px;
}

#bootstrap-theme .crm-search-admin-edit-columns {
  height: 100%;
}
#bootstrap-theme .crm-search-admin-edit-columns > fieldset {
  background-color: rgba(255, 255, 255, .8);
}

/* A flex-row arranges elements inline, with the 'crm-flex-*' item(s) taking up all remaining space */
#bootstrap-theme .crm-search-admin-flex-row {
  display: flex;
  align-items: center;
}
#bootstrap-theme .crm-search-admin-flex-row > *:not(:first-child) {
  margin-left: 6px;
}

#bootstrap-theme .crm-search-admin-unused-columns fieldset {
  min-height: 60px;
}

#bootstrap-theme.crm-search .crm-editable-enabled {
  display: inline-block;
  padding: 0 4px !important;
  border: 2px solid transparent !important;
  min-width: 21px;
}
#bootstrap-theme.crm-search .crm-editable-enabled:hover:not(:focus) {
  border: 2px dashed grey !important;
}
/* Undo Shoreditch add-ons */
#bootstrap-theme.crm-search .crm-editable-enabled:before,
#bootstrap-theme.crm-search .crm-editable-enabled:after {
  content: '';
  display: none;
}

#bootstrap-theme .crm-search-admin-icon-col {
  width: 24px;
}
#bootstrap-theme tbody .crm-search-admin-icon-col {
  text-align: center;
}
#bootstrap-theme .crm-search-admin-tag-color {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

#bootstrap-theme crm-search-admin-tags.btn-group-xs .crm-search-admin-tags-btn-label {
  display: none;
}

#bootstrap-theme .dropdown-menu li .form-inline {
  padding: 2px 19px 2px 21px;
  clear: both;
  font-weight: 400;
  line-height: 1.5384615385;
  color: #4d4d69;
  white-space: nowrap;
}

#bootstrap-theme .dropdown-menu li > * > label {
  font-weight: normal;
  cursor: pointer;
}

#bootstrap-theme .dropdown-menu li .form-inline > select {
  max-width: 120px;
  padding-left: 5px;
  padding-right: 5px;
}

#bootstrap-theme li .form-inline input[type=color] {
  width: 30px;
  padding: 2px 4px;
}

#bootstrap-theme button.crm-search-admin-combo-button {
  min-width: 200px;
  text-align: left;
}

search-admin-placeholder-config,
search-admin-css-rules,
search-admin-tasks-config,
search-admin-toolbar-config,
search-admin-pager-config,
crm-search-admin-export,
crm-search-admin-import {
  display: block;
}

#bootstrap-theme .crm-search-admin-relative {
  position: relative;
  display: block;
}

#bootstrap-theme .crm-search-admin-right {
  position: absolute;
  top: 1px;
  right: 0;
  background-color: white;
}

#bootstrap-theme .crm-search-admin-edit-columns details summary {
  font-size: inherit;
}

#bootstrap-theme .crm-search-admin-outer details summary ~ * {
  padding: 0.75rem 1rem;
}
