<table class="crm-search-select-fields crm-search-entity-set-select table table-bordered">
  <thead>
    <tr>
      <th ng-repeat="set in $ctrl.apiParams.sets">
        <span class="form-inline">
          <select ng-if="$index > 0" class="form-control crm-auto-width" ng-model="set[0]" ng-options="k as v for (k, v) in $ctrl.setOperations" title="{{:: ts('Set Operation')}}"></select>
          {{ getEntity(set[1]).title_plural }}
          <button ng-if="$ctrl.apiParams.sets.length > 1" type="button" class="btn btn-xs btn-danger-outline pull-right" ng-click="$ctrl.removeEntitySet($index)" title="{{:: ts('Remove Search') }}">
            <span class="sr-only">{{:: ts('Remove Search') }}</span>
            <i class="crm-i fa-trash" role="img" aria-hidden="true"></i>
          </button>
        </span>
      </th>
      <th>
        <label for="add-entity-set" class="sr-only">{{:: ts('Add Search') }}</label>
        <input id="add-entity-set" class="form-control crm-auto-width crm-action-menu fa-plus"
               crm-ui-select="{placeholder: ' ', data: mainEntitySelect}"
               on-crm-ui-select="$ctrl.addEntitySet(selection)" >
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="col in $ctrl.apiParams.sets[0][3].select track by $index" ng-init="rowIndex = $index">
      <td ng-repeat="set in $ctrl.apiParams.sets" ng-init="colIndex = $index">
        <div class="form-inline">
          <crm-search-function ng-if="set[3].select[rowIndex] && $ctrl.isGroupBySupported(set[1])" class="form-group" mode="select" expr="set[3].select[rowIndex]" api-entity="set[1]" api-params="set[3]" hide-label="true"></crm-search-function>
          <span ng-if="!$ctrl.hasFunction(set[3].select[rowIndex])">
            <input class="form-control" ng-model="set[3].select[rowIndex]"
                   ng-change="set[3].select[rowIndex] = set[3].select[rowIndex] || null"
                   crm-ui-select="{placeholder: ' ', data: $ctrl.fieldsForEntitySet(colIndex), allowClear: !!colIndex}">
            </input>
          </span>
        </div>
      </td>
      <td>
        <button type="button" class="btn btn-xs btn-danger-outline"
                ng-click="$ctrl.removeEntitySetRow(rowIndex)"
                title="{{:: ts('Remove row') }}">
          <i class="crm-i fa-times" role="img" aria-hidden="true"></i>
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="{{ $ctrl.apiParams.sets.length + 1 }}">
        <input class="form-control crm-action-menu fa-plus"
               crm-ui-select="{placeholder: ts('Add Field'), data: $ctrl.fieldsForEntitySet(0)}"
               on-crm-ui-select="$ctrl.addEntitySetRow(selection)">
      </td>
    </tr>
  </tfoot>
</table>
