<label>
  {{:: ts('Description') }}
  <a crm-ui-help="hs({id: 'description', title: ts('Description')})"></a>
  <textarea class="form-control" rows=3 placeholder="{{:: ts('None') }}" ng-model="$ctrl.savedSearch.description"></textarea>
</label>
<label>
  {{:: ts('Query Timeout (seconds)') }}
  <a crm-ui-help="hs({id: 'timeout', title: ts('Query Timeout (seconds)')})"></a>
  <div class="form-group">
    <input type="number" min="0" class="form-control six" ng-model="$ctrl.savedSearch.timeout"
           placeholder="{{:: ts('Site default') }}">
  </div>
</label>
<label>
  {{:: ts('Search Expiry Date') }}
  <a crm-ui-help="hs({id: 'expires_date', title: ts('Search Expiry Date')})"></a>
  <div class="input-group">
    <div class="input-group-addon"><i class="crm-i fa-calendar-times-o" role="img" aria-hidden="true"></i></div>
    <input id="expires_date" class="form-control" crm-ui-datepicker="{time: true}" ng-model="$ctrl.savedSearch.expires_date" placeholder="{{:: ts('Never') }}">
  </div>
</label>
<div class="form-group">
  <crm-search-admin-tags tag-ids="$ctrl.savedSearch.tag_id" class="btn-group btn-group-sm"></crm-search-admin-tags>
</div>
<label ng-if=":: $ctrl.canBeEntitySet()">
  {{:: ts('Combine Searches (advanced)') }}
  <a crm-ui-help="hs({id: 'entity_set', title: ts('Combine Searches (advanced)')})"></a>
  <div class="crm-form-toggle-container">
    <input type="checkbox" class="crm-form-toggle" ng-click="$ctrl.toggleEntitySet()" ng-checked="$ctrl.savedSearch.api_entity === 'EntitySet'">
    <span class="crm-form-toggle-text crm-form-toggle-text-off">{{:: ts('Disabled') }}</span>
    <span class="crm-form-toggle-text crm-form-toggle-text-on">{{:: ts('Enabled') }}</span>
  </div>
</label>
