<div id="bootstrap-theme" class="crm-search crm-search-admin-list">
  <h1 crm-page-title>{{:: ts('Saved Searches') }}</h1>
  <div class="form-inline">
    <label for="search-list-filter">{{:: ts('Filter') }}</label>
    <input class="form-control" type="search" id="search-list-filter" ng-model="$ctrl.searchFilter" placeholder="&#xf002">
    <a class="btn btn-primary pull-right" href="#/create/Contact/">
      <i class="crm-i fa-plus"></i>
      {{:: ts('New Search') }}
    </a>
  </div>
  <table>
    <thead>
      <tr>
        <th title="{{:: ts('Click to sort') }}" ng-click="$ctrl.sortBy('label')">
          <i class="crm-i fa-sort disabled" ng-if="$ctrl.sortField !== 'label'"></i>
          <i class="crm-i fa-sort-{{ $ctrl.sortDir ? 'asc' : 'desc' }}" ng-if="$ctrl.sortField === 'label'"></i>
          {{:: ts('Label') }}
        </th>
        <th title="{{:: ts('Click to sort') }}" ng-click="$ctrl.sortBy('entity_title')">
          <i class="crm-i fa-sort disabled" ng-if="$ctrl.sortField !== 'entity_title'"></i>
          <i class="crm-i fa-sort-{{ $ctrl.sortDir ? 'asc' : 'desc' }}" ng-if="$ctrl.sortField === 'entity_title'"></i>
          {{:: ts('For') }}
        </th>
        <th title="{{:: ts('Click to sort') }}" ng-click="$ctrl.sortBy('display_name.length')">
          <i class="crm-i fa-sort disabled" ng-if="$ctrl.sortField !== 'display_name.length'"></i>
          <i class="crm-i fa-sort-{{ $ctrl.sortDir ? 'asc' : 'desc' }}" ng-if="$ctrl.sortField === 'display_name.length'"></i>
          {{:: ts('Displays') }}
        </th>
        <th title="{{:: ts('Click to sort') }}" ng-click="$ctrl.sortBy('groups[0]')">
          <i class="crm-i fa-sort disabled" ng-if="$ctrl.sortField !== 'groups[0]'"></i>
          <i class="crm-i fa-sort-{{ $ctrl.sortDir ? 'asc' : 'desc' }}" ng-if="$ctrl.sortField === 'groups[0]'"></i>
          {{:: ts('Smart Group') }}
        </th>
        <th ng-if="$ctrl.afformEnabled" ng-click="$ctrl.sortBy('afform_count')">
          <i class="crm-i fa-sort disabled" ng-if="$ctrl.sortField !== 'afform_count'"></i>
          <i class="crm-i fa-sort-{{ $ctrl.sortDir ? 'asc' : 'desc' }}" ng-if="$ctrl.sortField === 'afform_count'"></i>
          {{:: ts('Forms') }}
        </th>
        <th title="{{:: ts('Click to sort') }}" ng-click="$ctrl.sortBy('created_date')">
          <i class="crm-i fa-sort disabled" ng-if="$ctrl.sortField !== 'created_date'"></i>
          <i class="crm-i fa-sort-{{ $ctrl.sortDir ? 'asc' : 'desc' }}" ng-if="$ctrl.sortField === 'created_date'"></i>
          {{:: ts('Created') }}
        </th>
        <th title="{{:: ts('Click to sort') }}" ng-click="$ctrl.sortBy('modified_date')">
          <i class="crm-i fa-sort disabled" ng-if="$ctrl.sortField !== 'modified_date'"></i>
          <i class="crm-i fa-sort-{{ $ctrl.sortDir ? 'asc' : 'desc' }}" ng-if="$ctrl.sortField === 'modified_date'"></i>
          {{:: ts('Last Modified') }}
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="search in $ctrl.savedSearches | filter:$ctrl.searchFilter | orderBy:$ctrl.sortField:$ctrl.sortDir">
        <td>{{:: search.label }}</td>
        <td>{{:: search.entity_title }}</td>
        <td>
          <div class="btn-group">
            <button type="button" disabled ng-if="!search.display_name" class="btn btn-xs dropdown-toggle btn-primary-outline">
              {{:: ts('0 Displays') }}
            </button>
            <button type="button" ng-if="search.display_name" class="btn btn-xs dropdown-toggle btn-primary-outline" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{:: search.display_name.length === 1 ? ts('1 Display') : ts('%1 Displays', {1: search.display_name.length}) }} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" ng-if=":: search.display_name.length">
              <li ng-repeat="display_name in search.display_name">
                <a href="{{:: $ctrl.searchPath + '#/display/' + search.name + '/' + display_name }}" target="_blank">
                  <i class="fa {{:: search.display_icon[$index] }}"></i>
                  {{:: search.display_label[$index] }}
                </a>
              </li>
            </ul>
          </div>
        </td>
        <td>{{:: search.groups.join(', ') }}</td>
        <td ng-if="::$ctrl.afformEnabled">
          <div class="btn-group">
            <button type="button" ng-click="$ctrl.loadAfforms()" ng-if="search.display_name" class="btn btn-xs dropdown-toggle btn-primary-outline" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ $ctrl.afforms ? (search.afform_count === 1 ? ts('1 Form') : ts('%1 Forms', {1: search.afform_count})) : ts('Forms...') }}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li ng-repeat="display_name in search.display_name" ng-if="::$ctrl.afformAdminEnabled">
                <a href="{{:: $ctrl.afformPath + '#/create/search/' + search.name + '.' + display_name }}">
                  <i class="fa fa-plus"></i> {{:: ts('Create form for %1', {1: search.display_label[$index]}) }}
                </a>
              </li>
              <li class="divider" role="separator" ng-if="::$ctrl.afformAdminEnabled"></li>
              <li ng-if="!search.afform_count" class="disabled">
                <a href>
                  <i ng-if="!$ctrl.afforms" class="crm-i fa-spinner fa-spin"></i>
                  <em ng-if="$ctrl.afforms && !$ctrl.afforms[search.name]">{{:: ts('None Found') }}</em>
                </a>
              </li>
              <li ng-if="$ctrl.afforms" ng-repeat="afform in $ctrl.afforms[search.name]" title="{{:: ts('Edit form') }}">
                <a href="{{:: $ctrl.afformPath + '#/edit/' + afform.name }}">
                  <i class="crm-i fa-pencil-square-o"></i>
                  {{:: afform.title }}
                </a>
              </li>
            </ul>
          </div>
        </td>
        <td title="{{:: formatDate(search.created_date, null, true) }}">
          {{:: search['created.display_name'] ? ts('%1 by %2', {1: formatDate(search.created_date), 2: search['created.display_name']}) : formatDate(search.created_date) }}
        </td>
        <td title="{{:: formatDate(search.modified_date, null, true) }}">
          {{:: search['modified.display_name'] ? ts('%1 by %2', {1: formatDate(search.modified_date), 2: search['modified.display_name']}) : formatDate(search.modified_date) }}
        </td>
        <td class="text-right">
          <a class="btn btn-xs btn-default" href="#/edit/{{:: search.id }}">{{:: ts('Edit') }}</a>
          <a class="btn btn-xs btn-default" href="#/create/{{:: search.api_entity + '?params=' + $ctrl.encode(search.api_params) }}">{{:: ts('Clone') }}</a>
          <a href class="btn btn-xs btn-danger" crm-confirm="{type: 'delete', obj: search}" on-yes="$ctrl.deleteSearch(search)">{{:: ts('Delete') }}</a>
        </td>
      </tr>
      <tr ng-if="$ctrl.savedSearches.length === 0">
        <td colspan="9">
          <p class="messages status no-popup text-center">
            {{:: ts('No saved searches.')}}
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
