<tr ng-repeat="(rowIndex, row) in $ctrl.resultsPage">
  <td>{{ (($ctrl.page - 1) * $ctrl.limit) + rowIndex + 1 }}</td>
  <td ng-repeat="(colIndex, col) in $ctrl.settings.columns" class="crm-search-col-type-{{:: col.type + ($ctrl.results.editable[col.key] && $ctrl.results.editable[col.key].input_type !== 'DisplayOnly' ? ' crm-search-field-editable crm-search-field-editing' : '') }}">
    <span class="crm-search-field-value" ng-if="!$ctrl.results.editable[col.key] || $ctrl.results.editable[col.key].input_type === 'DisplayOnly'">{{ row.data[col.key] }}</span>
    <crm-search-input ng-if="$ctrl.results.editable[col.key] && $ctrl.results.editable[col.key].input_type !== 'DisplayOnly'" class="form-inline" field="$ctrl.results.editable[col.key]" name="{{ $ctrl.getFieldName(rowIndex, col.key) }}" ng-model="row.data[col.spec.name]" ng-change="$ctrl.onChangeData(row)" crm-search-input-focus="false"></crm-search-input>
  </td>
  <td>
    <button type="button" class="btn btn-primary btn-xs" ng-click="$ctrl.deleteRow(rowIndex)">
      <i class="crm-i fa-trash"></i>
      <span class="sr-only">{{:: ts('Remove Row') }}</span>
    </button>
  </td>
</tr>
