<div id="bootstrap-theme">
  <form ng-controller="crmSearchTaskDownload as $ctrl">
    <p>
      <strong ng-if="$ctrl.ids.length">{{:: ts('Download %1 %2', {1: $ctrl.ids.length, 2: $ctrl.entityTitle}) }}</strong>
      <strong ng-if="!$ctrl.ids.length">{{:: ts('Download %1 %2', {1: $ctrl.displayController.rowCount, 2: $ctrl.entityTitle}) }}</strong>
    </p>
    <div class="form-inline">
      <label for="crmSearchTaskDownload-format">{{:: ts('Format') }}</label>
      <select id="crmSearchTaskDownload-format" class="form-control" ng-model="$ctrl.format">
        <option value="csv">{{:: ts('CSV File') }}</option>
      </select>
    </div>
    <hr />
    <div ng-if="$ctrl.progress !== null" class="crm-search-task-progress">
      <h5>{{:: ts('Downloading...') }}</h5>
      <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" ng-style="{width: '' + $ctrl.progress + '%'}"></div>
      </div>
    </div>
    <hr />
    <div class="buttons text-right">
      <button type="button" ng-click="$ctrl.cancel()" class="btn btn-danger" ng-hide="$ctrl.run">
        <i class="crm-i fa-times"></i>
        {{:: ts('Cancel') }}
      </button>
      <button ng-click="$ctrl.download()" class="btn btn-primary" ng-disabled="$ctrl.run">
        <i class="crm-i fa-{{ $ctrl.run ? 'spin fa-spinner' : 'download' }}"></i>
        {{:: ts('Download') }}
      </button>
    </div>
  </form>
</div>
