<div id="bootstrap-theme" crm-dialog="crmSearchTask">
  <form name="crmSearchTaskApiBatchForm" ng-controller="crmSearchTaskApiBatch as $ctrl">
    <p><strong ng-if="apiBatch.confirmMsg">{{:: ts(apiBatch.confirmMsg, {1: $ctrl.ids.length, 2: $ctrl.entityTitle}) }}</strong></p>
    <div class="form-inline" ng-repeat="field in apiBatch.fields">
      <crm-search-input class="form-group" ng-model="apiBatch.params.values[field.name]" field="field" show-label="true"></crm-search-input>
    </div>
    <hr />
    <div ng-if="$ctrl.run" class="crm-search-task-progress">
      <h5>{{:: ts(apiBatch.runMsg, {1: $ctrl.ids.length, 2: $ctrl.entityTitle}) }}</h5>
      <crm-search-batch-runner entity="$ctrl.entity" action="{{:: apiBatch.action }}" params="$ctrl.run" ids="$ctrl.ids" success="$ctrl.onSuccess(result)" error="$ctrl.onError()" id-field="{{:: $ctrl.entityInfo.primary_key[0] }}" display-ctrl="$ctrl.displayCtrl" is-link="$ctrl.isLink"></crm-search-batch-runner>
    </div>

    <crm-dialog-button text="ts('Cancel')" icons="{primary: 'fa-times'}" on-click="$ctrl.cancel()" disabled="$ctrl.run" ></crm-dialog-button>
    <crm-dialog-button ng-if="apiBatch.confirmMsg || apiBatch.fields" text="$ctrl.task.title" icons="{primary: $ctrl.run ? 'fa-spin fa-spinner' : 'fa-check'}" on-click="$ctrl.start(apiBatch.params)" disabled="$ctrl.run || !crmSearchTaskApiBatchForm.$valid" ></crm-dialog-button>
  </form>
</div>
