<!-- will use Controller: browse -->
<body>
	<table>
	  <tr>
	    <td class="label">Attach Files</td>
		<td>
		  <input type="file" data-file="param.file"/>
		</td>
		<td>
		  <button ng-click="upload()" >Upload</button> 
		</td>
	  </tr>
	  <tr>
	    <td class="label">Attach Files</td>
		<td>
		  <input type="file" data-file="param.file_2"/>
		</td>
		<td>
		  <button ng-click="upload_2()" >Upload</button> 
		</td>
	  </tr>
	  <tr>
	    <td class="label">Attach Files</td>
		<td>
		  <input type="file" data-file="param.file_3"/>
		</td>
		<td>
		  <button ng-click="upload_3()" >Upload</button> 
		</td>
	  </tr>
	  
	</table>

</body>

