<!--
Controller: mailingListCtrl
Required vars: mailingList
-->
<div id="help">
  All partially completed and completed mail are listed here
</div>

<table class="form-layout">
  <thead>
  <tr>
    <th>Mailing Name</th>
<!--    <th>Status</th>  -->
    <th>Created By</th>
    <th>Created Date</th>
    <th>Sent By</th>
	<th></th>
  </tr>
  </thead>
  <tr ng-repeat="mail in mailingList">
    <td>{{mail.name}}</td>
<!--    <td>{{mailStatus[{{$index}}]}}</td>  -->
    <td>{{mail.from_email}}</td>
    <td>{{mail.created_date}}</td>
    <td>{{mail.from_email}}</td>
    <td><a ng-href="#/mailing/{{mail.id}}">Edit</a</td>
  </tr>
</table>

<div class="action-link">
  <a ng-href="#/mailing/new" class="button"><span>New Mailing</span></a>
</div>
