<!--
Controller: MailCtrl
Required vars: groupNamesList 
MailingGroup api needs to be improved to bind the chosen groups
-->

<br>
<select multiple chsgroup ng-model="incGroup">
	<option id= "1" ng-repeat="grp in groupNamesList| filter: isGrp" value="{{grp.id}} group include" > {{grp.title}} </option>
	<option ng-repeat="grp in groupNamesList| filter: isGrp" value="{{grp.id}} group exclude" > {{grp.title}} </option>
	<option ng-repeat="ml in mailList| filter:isCompMail" value="{{ml.id}} mail include" > {{ml.name}} </option>
	<option ng-repeat="ml in mailList| filter:isCompMail" value="{{ml.id}} mail exclude" > {{ml.name}} </option>
</select>
<br> <br>


<!--<a class="crm-add-entity crm-hover-button" href="/siddhant/drupal-7.27/civicrm/profile/create?reset=1&context=dialog&gid=4">
<span class="icon Individual-profile-icon"></span>
New Individual
</a>-->
