<!--
Controller: MailCtrl
Submit Mailing is not functional yet
-->


	<div ui-jq="tabs" id="alltabs" class="crmMailingTabs">
		<ul>
			<li><a href="#tab-0" ng-click= "recclicked()">Recipients</a></li>
			<li><a href="#tab-1" ng-click= "conclicked()">Content</a></li>
			<li><a href="#tab-2" ng-click= "schedclicked()">Schedule and Send</a></li>
		</ul>

		<div id="tab-0">
			<div ng-include="partialUrl('recipient.html')"></div>
		</div>

		<div id="tab-1">
			<div ng-include="partialUrl('content.html')"></div>
		</div>

		<div id="tab-2">
			<div ng-include="partialUrl('send.html')"></div>
		</div>
	</div>
