<!--
Controller: MailCtrl
-->

<!--<br>
{{preview}}
<h3 ng-click= "settrue()"> Preview </h3> 

  <previewmail>
        <div>
				{{previewa}}
        </div>
      </previewmail><br>-->
<br>     
<div class="crm-accordion-wrapper collapsed" ng-click = "preview_update()" >
  <div class="crm-accordion-header">Preview</div>
  <div class="crm-accordion-body" ng-include="partialUrl('previewMailing.html')"></div>
</div>      
      

<div class="crm-accordion-wrapper collapsed" >
  <div class="crm-accordion-header">Test</div>
  <div class="crm-accordion-body" ng-include="partialUrl('test.html')"></div>
</div>


<div class="crm-accordion-wrapper collapsed" >
  <div class="crm-accordion-header">Schedule and Send</div>
  <div class="crm-accordion-body" ng-include="partialUrl('sched.html')"></div>
</div>
