<br>

<div class="crm-accordion-wrapper collapsed" >
  <div class="crm-accordion-header">Preview Mailing</div>
  <div class="crm-accordion-body" ng-include="partialUrl('mailingGroup.html')"></div>
</div>

<div class="crm-accordion-wrapper collapsed" >
  <div class="crm-accordion-header">Test</div>
  <div class="crm-accordion-body" ng-include="partialUrl('mailingGroup.html')"></div>
</div>


<div class="crm-accordion-wrapper collapsed" >
  <div class="crm-accordion-header">Schedule and Send</div>
  <div class="crm-accordion-body" ng-include="partialUrl('mailingGroup.html')"></div>
</div>
