<span ng-controller="MsgTemplateCtrl">
  <select
    name="msg_template_id"
    crm-ui-select="{dropdownAutoWidth : true, allowClear: true, placeholder: ts('Message Template')}"
    ng-model="mailing.msg_template_id"
    ng-change="loadTemplate(mailing.msg_template_id)"
    >
    <option value=""></option>
    <option ng-repeat="frm in crmMsgTemplates.getAll() | orderBy:'msg_title'" ng-value="frm.id">{{frm.msg_title}}</option>
  </select>
  <a ng-click="saveTemplate()" class="crm-hover-button action-item" title="{{ts('Save As')}}"><span class="icon ui-icon-disk"></span></a>
</span>
