<!--
Controller: EditMailingCtrl
Required vars: mailing, crmMailingConst
-->
<div ng-controller="EditRecipCtrl">
  <div style="float: right;">
    <div class='crmMailing2-recip-est'>
      <a href="" ng-click="previewRecipients()">{{getRecipientsEstimate()}}</a>
    </div>
    <div>
      <input name='dedupe_email' type='checkbox' ng-model='mailing.dedupe_email'  ng-true-value="1" ng-false-value="0" id="recipients-dedupe-email" />
      <label for="recipients-dedupe-email">
        {{ts('Dedupe')}}
      </label>
    </div>
  </div>

  <select crm-mailing-recipients
          crm-mailing="mailing"
          crm-avail-groups="crmMailingConst.groupNames | filter:{visibility:'Public pages'}"
          crm-avail-mailings="crmMailingConst.civiMails | filter:{is_completed:1}"
          name="recipients"
          crm-ui-id="subform.recipients"
          required
          multiple>
  </select>
</div>
