/* HackneyBrook dark mode settings */
:root {
  --crm-c-text: #fff;
  --crm-c-link: #f5c929;
  --crm-c-link-hover: #f2d465;
  --crm-c-background: var(--crm-c-gray-900);
  --crm-c-page-background: var(--crm-c-gray-900);
  --crm-c-background2: var(--crm-c-gray-800);
  --crm-c-background3: var(--crm-c-gray-700);
  --crm-c-background4: var(--crm-c-gray-600);
  --crm-c-code-background: var(--crm-c-gray-200);
  --crm-c-primary: var(--crm-c-background);
  --crm-c-primary-text: var(--crm-c-text);
  --crm-c-primary-hover: var(--crm-c-darkest);
  --crm-c-secondary: var(--crm-c-gray-800);
  --crm-c-secondary-hover: var(--crm-c-gray-900);
  --crm-c-inactive: var(--crm-c-gray-400);
  --crm-c-amber: #993b00;
  --crm-c-red: #b3001b;
  --crm-c-red-dark: #a11b1f;
  --crm-c-red-light: #f1b6bd;
  --crm-c-blue-light: #195e80;
  --crm-c-teal: #a3ebe6;
  --crm-c-green-light: #1d3d1d;
  --crm-c-green: #236225;
  --crm-c-green-dark: #dff0d8;
  --crm-c-success: var(--crm-c-green-light);
  --crm-c-gray-900: #2a2a2a;
  --crm-c-gray-800: #3b3b3b;
  --crm-c-gray-700: #535252;
  --crm-c-gray-600: #67676a;
  --crm-c-gray-500: #6c6c6c;
  --crm-c-gray-300: #e1dfdf;
  --crm-c-gray-200: #bdbdbd;
  --crm-c-divider: 1px solid var(--crm-c-gray-500);
  --crm-checkbox-list-bg: #665800;
  --crm-checkbox-list-bg2: #525209;
  --crm-checkbox-list-col: var(--crm-c-text-light);
  /* And others */
  --crm-c-focus: #00a3a5;
  --crm-btn-icon-bg: var(--crm-c-gray-700);
  --crm-block-shadow: 0;
  --crm-popup-shadow: 0 3px 18px 0 rgb(0,0,0);
  --crm-heading-bg: #354b55;
  --crm-heading-col: var(--crm-c-text-light);
  --crm-dashlet-bg: var(--crm-c-background2);
  --crm-dashlet-header-bg: var(--crm-c-background3);
  --crm-dashlet-tabs-border: 0;
  --crm-btn-border: 1px solid var(--crm-c-gray-500);
  --crm-expand-header-bg: var(--crm-c-background3);
  --crm-expand-header-bg-active: var(--crm-c-background4);
  --crm-expand-body-bg: var(--crm-c-background2);
  --crm-expand-body-border: 0;
  --crm-dash-header-bg: transparent;
  --crm-dash-block-bg: var(--crm-c-background2);
  --crm-dash-label-bg: transparent;
  --crm-dash-panel-bg: #414141;
  --crm-dash-tab-bg-hover: var(--crm-c-background2);
  --crm-dash-summary-row-bg: var(--crm-c-background);
  --crm-dropdown-bg: var(--crm-c-background2);
  --crm-dropdown-2-bg: var(--crm-c-background2);
  --crm-tabs-bg: var(--crm-c-background3);
  --crm-panel-border-col: var(--crm-c-gray-500);
  --crm-input-border-color: var(--crm-c-gray-500);
  --crm-table-odd-row: var(--crm-c-gray-800);
  --crm-table-odd-hover: var(--crm-c-gray-700);
  --crm-table-even-row: var(--crm-c-gray-700);
  --crm-table-even-hover: var(--crm-c-gray-600);
  --crm-alert-text-help: var(--crm-c-text-light);
  --crm-alert-text-warning: var(--crm-c-text-light);
  --crm-alert-text-info: var(--crm-c-text-light);
  --crm-alert-background-info: var(--crm-c-blue-dark);
  --crm-alert-background-danger: #fcf3f5;
  --crm-input-color: var(--crm-c-text);
  --crm-input-description: var(--crm-c-gray-300);
  --crm-dialog-header-border-col: transparent;
  --crm-dialog-header-bg: var(--crm-c-background2);
  --crm-dialog-body-bg: var(--crm-c-background2);
  --crm-notify-background: var(--crm-c-darkest);
  --crm-notify-col: var(--crm-c-text);
  --crm-wizard-active-bg: var(--crm-c-blue-dark);
  --crm-form-block-background: var(--crm-c-background2);
  --crm-c-code-background: var(--crm-c-background2);
  --crm-filter-item-background: var(--crm-c-background2);
  --crm-icon-alert-color: #ef415a;
  --crm-icon-info-color: #39deff;
  --crm-icon-success-color: #4dc447;
  --crm-icon-warning-color: #fab488;
}
