:root {
/* Fonts '--crm-font-' */
/* Colour names, e.g. green, red, blue '--crm-c-' */
  --crm-c-dkblue-01: #050b0d;
  --crm-c-dkblue-02: #0c191e;
  --crm-c-dkblue-03: #1a292f;
  --crm-c-dkblue-04: #1e323b;
  --crm-c-dkblue-08: #2ea4ff;
  --crm-c-green: #335417;
/* Practical colours, e.g. text, link '--crm-c-' */
  --crm-text-color: var(--crm-c-blue-overlay2);
  --crm-link-color: var(--crm-c-dkblue-08);
  --crm-link-hover-color: color-mix(in srgb, white, var(--crm-c-dkblue-08) 70%);
  --crm-border-color: var(--crm-c-dkblue-04);
  --crm-paper: var(--crm-c-dkblue-01);
/* Backgrounds, '--crm-c-*-bg' */
  --crm-page-bg-color: var(--crm-c-dkblue-01);
  --crm-container-bg-color: var(--crm-c-dkblue-02);
  --crm-layer1-bg-color: var(--crm-c-dkblue-02);
  --crm-layer2-bg-color: var(--crm-c-dkblue-02);
  --crm-code-bg-color: var(--crm-c-dkblue-04);
  --crm-drag-bg-color: var(--crm-c-dkblue-04);
/* Emphasis colours, e.g. warning, danger, info '--crm-c-' */
  --crm-info-ink-color: var(--crm-secondary-color);
  --crm-danger-ink-color: var(--crm-btn-danger-bg-color);
  --crm-primary-ink-color: var(--crm-secondary-color);
  --crm-secondary-ink-color: var(--crm-secondary-color);
  --crm-warning-text-color: black;
/* Shadows */
/* Sizes */
/* Type */
/* Mouse events */
/* Buttons '--crm-btn-' */
/* Tables '--crm-table-' */
  --crm-table-outside-border: var(--crm-border);
  --crm-table-row-bg-color: var(--crm-c-dkblue-02);
  --crm-table-row-hover-color: var(--crm-c-dkblue-03);
/* Panels '--crm-panel-' */
  --crm-panel-bg-color: var(--crm-c-dkblue-02);
/* Accordions '--crm-accordion-' and '--crm-accordion2-' for .crm-accrdion-light */
  --crm-accordion-body-bg-color: var(--crm-c-dkblue-03);
  --crm-accordion-header-color: var(--crm-c-blue-light);
  --crm-accordion-header-bg-color: var(--crm-c-dkblue-03);
  --crm-accordion-header-bg-active-color: var(--crm-c-dkblue-04);
/* Alerts '--crm-alert' */
  --crm-alert-success-bg-color: var(--crm-c-dkblue-03);
  --crm-alert-warning-bg-color: #383124;
  --crm-alert-info-bg-color: var(--crm-c-blue-darker);
  --crm-alert-info-text-color: var(--crm-c-blue-light);
/* Form '--crm-form-' '--crm-input-' '--crm-inline-' '--crm-fieldset-' '--crm-checkbox' */
  --crm-form-block-bg-color: var(--crm-c-dkblue-02);
  --crm-input-bg-color: var(--crm-c-blue-darker);
  --crm-input-color: var(--crm-c-blue); /* text */
  --crm-input-description: var(--crm-input-label-color);
  --crm-checkbox-list-col: var(--crm-input-label-color);
  --crm-form-checkbox-list-bg-color: var(--crm-c-dkblue-01);
  --crm-input-inline-edit-bg-color: var(--crm-c-dkblue-01);
/* Tabs '--crm-tabs' */
  --crm-tabs-bg-color: var(--crm-dkblue-01);
  --crm-tabs-border: var(--crm-dkblue-01);
  --crm-tab-bg-active: var(--crm-c-dkblue-02);
  --crm-tab-hover-bg-color: var(--crm-c-dkblue-02);
  --crm-tab-bg-color: transparent;
/* Contact layout '--crm-contact-' */
  --crm-contact-header-color: var(--crm-c-blue-light);
  --crm-contact-tabs-bg-color: var(--crm-c-dkblue-03);
  --crm-contact-tab-count-bg-color: var(--crm-c-blue-darker);
  --crm-contact-tab-hover-bg-color: var(--crm-c-dkblue-02);
  --crm-contact-panel-bg-color: var(--crm-c-dkblue-02);
  --crm-contact-block-bg-color: var(--crm-c-dkblue-03);
  --crm-contact-summary-row-bg-color: transparent;
/* Dialog '--crm-dialog-' */
/* Dashlet for main dashboard '--crm-dashlet-' */
  --crm-dashlet-bg-color: var(--crm-c-dkblue-02);
/* Button dropdowns '--crm-dropdown-' */
  --crm-dropdown-color: var(--crm-text-color);
/* Notifications '--crm-notify-' */
  --crm-notify-bg-color: var(--crm-c-dkblue-02);
/* Icons '--crm-icon-' */
/* Wizard '--crm-wizard-' */
/* Alpha filter '--crm-filter-' */
  --crm-filter-bg-color: var(--crm-c-dkblue-02);
/* Frontend '--crm-f- */
}

.crm-container div.crm-summary-row div.crm-label {
  --crm-c-blue-darker: var(--crm-c-blue);
}

/* todo variablize this */
.crm-container .ui-tabs:not(#mainTabContainer) {
  background: var(--crm-c-dkblue-01);
  --crm-tabs-border: solid 4px var(--crm-c-dkblue-01);
}

.crm-container .crm-accordion-bold>summary:is(:hover,
:focus) {
  background-color: var(--crm-c-dkblue-01);
}

/* Get rid of the ugly black overlay during loading */
@keyframes aahblockoverlay-dark {
  0% {
    background-color: var(--crm-c-dkblue-01);
  }

  50% {
    background-color: var(--crm-c-dkblue-03);
  }

  100% {
    background-color: var(--crm-c-dkblue-01);
  }
}

.crm-container .blockUI.blockOverlay {
  animation: aahblockoverlay-dark 10s infinite;
}

.crm-container .crm-dashlet-content {
  background: var(--crm-c-dkblue-00) !important;
}
.crm-container .crm-dashlet-header {
  background: var(--crm-c-dkblue-01) !important;
}
.crm-container summary {
  /* background: var(--crm-c-dkblue-03); */
  color: var(--crm-accordion-header-color);
}
.crm-container summary:hover,
.crm-container summary:focus {
  background: var(--crm-c-blue-overlay4);
}
.crm-container details {
  background-color: var(--crm-c-dkblue-02);
}
.standalone-errors {
  background: #3e0a01;
}
/* .crm-container .crm-search-nav-tabs { border-color: var(--crm-c-dkblue-01); } */

/* override standalone.css */
#login-form {
  --crm-input-width: 100%;
}
/* Override _fixes.scss */
.crm-container del,
.crm-container .ui-icons_deleted,
.crm-container table.caseSelector td.status-urgent,
.crm-container .font-red,
.crm-container .status-removed,
.crm-container .status-overdue,
.crm-container .status-fatal,
.crm-container .status-hold,
.crm-container .status-past,
.crm-contact-deceased,
.crm-container .status-warning {
  --crm-danger-color: var(--crm-c-red);
}
#civicrm-footer a,
nav.breadcrumb a {
  --crm-link-color: var(--crm-c-dkblue-08);
  --crm-link-hover-color: var(--crm-c-blue);
}

/* eg. Frontend theme selection */
.select2-drop.select2-drop-active.crm-container .select2-results > li {
  --crm-c-blue-dark: var(--crm-c-blue);
}
