<!--
Controller: CaseTypeCtrl
Required vars: caseType

The original form used table layout; don't know if we have an alternative, CSS-based layout
-->
<table class="form-layout-compressed">
  <tbody>
  <tr>
    <td class="label">Label</td>
    <td>
      <input type="text" ng-model="caseType.title"/>
    </td>
  </tr>
  <tr>
    <td class="label">Name</td>
    <td>
      <input type="text" ng-model="name"/> <!-- FIXME lock -->
    </td>
  </tr>
  <tr>
    <td class="label">Description</td>
    <td>
      <textarea ng-model="caseType.description"></textarea>
    </td>
  </tr>
  <tr>
    <td class="label">Enabled?</td>
    <td>
      <input type="checkbox" ng-model="caseType.is_active" ng-true-value="1" ng-false-value="0"/>
    </td>
  </tr>
  </tbody>
</table>
