<!--
Controller: CaseTypeCtrl
Required vars: caseType
-->
<div class="crm-block crm-form-block">
  <div ng-include="partialsUrl + '/caseTypeDetails.html'"></div>

  <h2>Roles</h2>

  <div ng-include="partialsUrl + '/rolesTable.html'"></div>

  <h2>Activities</h2>

  <div ui-jq="tabs">
    <ul>
      <li><a href="#acttab-actType">Activity Types</a></li>
      <li ng-repeat="activitySet in caseType.definition.activitySets">
        <a href="#acttab-{{$index}}">{{ activitySet.label }}</a>
      </li>
    </ul>

    <div id="acttab-actType">
      <div ng-include="partialsUrl + '/activityTypesTable.html'"></div>
    </div>

    <div ng-repeat="activitySet in caseType.definition.activitySets" id="acttab-{{$index}}">
      <div ng-include="activityTableTemplate(activitySet)"></div>

      <div ui-jq="accordion" ui-options="{collapsible: true, active: false}">
        <h3>Advanced</h3>
        <div ng-include="partialsUrl + '/activitySetDetails.html'" style="display:none;"></div>
      </div>
    </div>
  </div>

  <button ng-click="dump()">Log</button>
</div>
