<!--
Controller: CaseTypeCtrl
Required vars: caseType
-->
<div class="crm-block crm-form-block">
  <div ng-include="partialsUrl + '/caseTypeDetails.html'"></div>

  <h2>Roles</h2>
  <div ng-include="partialsUrl + '/rolesTable.html'"></div>

  <h2>Activities</h2>

  <div class="vertical-tabset">
    <fieldset class="vertical-tab">
      <legend>Activity Types</legend>

      <div ng-include="partialsUrl + '/activityTypesTable.html'"></div>
    </fieldset>

    <fieldset class="vertical-tab" ng-repeat="activitySet in caseType.definition.activitySets">
      <legend>{{ activitySet.label }}</legend>

      <div ng-include="activityTableTemplate(activitySet)"></div>

      <fieldset class="collapsible">
        <legend>Advanced</legend>
        <div ng-include="partialsUrl + '/activitySetDetails.html'"></div>
      </fieldset>

    </fieldset>
  </div>

  <button ng-click="dump()">Log</button>
</div>
