<!--
Controller: CaseTypeListsCtrl
Required vars: caseTypes
-->
<div id="help">
  A Case Type describes a group of related tasks, interactions, or processes.
</div>

<table class="display">
  <thead>
	  <tr>
	    <th>Title</th>
	    <th>Name</th>
	    <th>Description</th>
	    <th>Enabled?</th>
	    <th></th>
	  </tr>
  </thead>
	<tbody>
	  <tr ng-repeat="caseType in caseTypes" ng-class-even="'crm-entity even-row even'" ng-class-odd="'crm-entity odd-row odd'">
	    <td>{{caseType.title}}</td>
	    <td>{{caseType.name}}</td>
	    <td>{{caseType.description}}</td>
	    <td>{{caseType.is_active == 1 ? 'Yes' : 'No'}}</td>
	    <td><a ng-href="#/caseType/{{caseType.id}}">Edit</a></td>
  	</tr>
	</tbody>
</table>

<div class="crm-submit-buttons">
  <a ng-href="#/caseType/new" class="button"><span><div class="icon add-icon"></div>New Case Type</span></a>
</div>