<!--
Controller: CaseTypeListsCtrl
Required vars: caseTypes
-->
<div id="help">
  A Case Type describes a group of related tasks, interactions, or processes.
</div>

<table class="form-layout">
  <thead>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Description</th>
    <th>Enabled?</th>
    <th></th>
  </tr>
  </thead>
  <tr ng-repeat="caseType in caseTypes">
    <td>{{caseType.name}}</td>
    <td>{{caseType.title}}</td>
    <td>{{caseType.description}}</td>
    <td>{{caseType.is_active}}</td>
    <td><a ng-href="#/caseType/{{caseType.id}}">Edit</a</td>
  </tr>
</table>

<div class="action-link">
  <a ng-href="#/caseType/new" class="button"><span>&raquo; New Case Type</span></a>
</div>