<!--
Controller: CaseTypeCtrl
Required vars: activitySet
-->
<table>
  <thead>
  <tr>
    <th>Activity</th>
    <th></th>
  </tr>
  </thead>

  <tbody ui-sortable ng-model="activitySet.activityTypes">
  <tr ng-repeat="activity in activitySet.activityTypes">
    <td>
      <span class="icon ui-icon-grip-dotted-vertical"></span>
      {{ activity.name }}
    </td>
    <td>
      <a class="crm-hover-button" ng-click="removeItem(activitySet.activityTypes, activity)">
        <span class="icon delete-icon" title="Remove"></span>
      </a>
    </td>
  </tr>
  </tbody>

  <tfoot>
  <tr class="addRow">
    <td colspan="3">
      Add activity:
      <span crm-add-name
           crm-options="activityTypeNames"
           crm-var="newActivity"
           crm-on-add="addActivity(activitySet, newActivity)"
              />
    </td>
  </tr>
  </tfoot>
</table>
