<!--
Controller: CaseTypeCtrl
Required vars: activitySet
-->
<table>
  <thead>
  <tr>
    <th>Activity Type</th>
    <th>Status</th>
    <th>Reference</th>
    <th>Offset</th>
    <th>Select</th>
    <th></th>
  </tr>
  </thead>

  <tbody ui-sortable ng-model="activitySet.activityTypes">
  <tr ng-repeat="activity in activitySet.activityTypes">
    <td>
      <span class="icon ui-icon-grip-dotted-vertical"></span>
      {{ activity.name }}
    </td>
    <td>
      <!-- <select ng-model="activity.status" ng-options="value for (key,value) in activityStatuses|orderBy:'value'"> -->
      <select ng-model="activity.status" ng-options="actStatus.name as actStatus.name for actStatus in activityStatuses|orderBy:'name'">
        <option value=""></option>
      </select>
    </td>
    <td>
      <select ng-model="activity.reference_activity" ng-options="actType.name as actType.name for actType in activityTypes|orderBy:'name'">
        <option value=""></option>
      </select>
    </td>
    <td>
      <input type="number" ng-model="activity.reference_offset" />
    </td>
    <td>
      <select ng-model="activity.reference_select" ng-options="key as value for (key,value) in {newest: 'Newest', oldest: 'Oldest'}">
        <option value=""></option>
      </select>
    </td>
    <td>
      <a class="crm-hover-button" ng-click="removeItem(activitySet.activityTypes, activity)">
        <span class="icon delete-icon" title="Remove"></span>
      </a>
    </td>
  </tr>
  </tbody>

  <tfoot>
  <tr class="addRow">
    <td colspan="6">
      <div crm-add-name
           crm-options="activityTypeNames"
           crm-var="newActivity"
           crm-on-add="addActivity(activitySet, newActivity)"
              />
    </td>
  </tr>
  </tfoot>
</table>
