<span ng-if=":: !$ctrl.isArray(colData.val)">
  <i ng-if=":: colData.icons.left[0]" class="crm-i {{:: colData.icons.left[0] }}"></i>
  <span class="crm-search-field-value">{{:: colData.val }}</span>
  <i ng-if=":: colData.icons.right[$index]" class="crm-i {{:: colData.icons.right[$index] }}"></i>
</span>
<span ng-if=":: $ctrl.isArray(colData.val)">
  <span ng-repeat="val in colData.val track by $index">
    <i ng-if=":: colData.icons.left[$index]" class="crm-i {{:: colData.icons.left[$index] }}"></i>
      <span class="crm-search-field-value">{{:: val }}</span><i ng-if="colData.icons.right[$index]" class="crm-i {{:: colData.icons.right[$index] }}"> </i><span ng-if="!$last">,
    </span>
  </span>
</span>
