<div class="btn-group">
  <button type="button" class="dropdown-toggle {{:: col.size }} btn-{{:: col.style }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="col.open = true">
    <i ng-if=":: col.icon" class="crm-i {{:: col.icon }}"></i>
    {{:: col.text }}
  </button>
  <ul class="dropdown-menu {{ col.alignment === 'text-right' ? 'dropdown-menu-right' : '' }}" ng-if=":: col.open">
    <li ng-repeat="item in col.links" class="bg-{{:: item.style }}">
      <a href="{{:: displayUtils.getUrl(item.path, row) }}" target="{{:: item.target }}">
        <i ng-if=":: item.icon" class="crm-i {{:: item.icon }}"></i>
        {{:: item.text }}
      </a>
    </li>
  </ul>
</div>
